---
title: rewards-details-o2
---

{% include "./_includes/account-logged-in.njk" -%}


<ns-landmark type="lakeside">
  <h1 slot="heading">
    <span class="h5">British Gas Rewards.</span>
    <span class="h1 enlighten"><b>Win tickets to The O2</b> for events this August and September</span>
  </h1>
  <div slot="paragraph">
    <p>Enter this month's prize draw for your chance to win a pair of tickets to an event of your choice at The O2 this August and September.</p>
  </div>
  <a slot="cta" href="../rewards-details-o2-event-selection">
    <ns-cta type="direct">Choose events</ns-cta>
  </a>
</ns-landmark>

<ns-editorial reverse="" image="https://user-images.githubusercontent.com/52657167/76956558-2cc73c00-690c-11ea-9909-3c7985be2ad9.jpg">
  <p>Enjoy the show from the Rewards terrace with balcony-level views and acces to a private bar and in-seat food and drink service.</p>
  <p>All you need to do is choose the events you want to be in with a chance of winning tickets for and enter before the 21st July.</p>

  <h2>Artists include:</h2>
  <ul class="ul-bullet">
    <li>Electric Soul Festival</li>
    <li>Professor Brian Cox</li>
    <li>Marvel Universe LIVE!</li>
    <li>... and many more!</li>
  </ul>
  <p>The prize draw is for tickets only. All tickets are subject to <a href="https://www.britishgas.co.uk/aem6/content/dam/britishgas/downloads/rewards/CLUB10130-01-Hive-Active-Heating-35Feb20.pdf"><ns-icon style="width: 1em; height: 1em; position: relative; top: 0.15em;" type="download"></ns-icon>terms and conditions of The O2 (<abbr title="Portable Document Format">PDF</abbr> 46<abbr title="Kilobytes">kB</abbr>)</a>. See below for our prize draw terms and conditions.</p>
  <p>Read the terms and conditions for<a href="https://www.britishgas.co.uk/aem6/content/dam/britishgas/downloads/rewards/CLUB10130-01-Hive-Active-Heating-35Feb20.pdf"><ns-icon style="width: 1em; height: 1em; position: relative; top: 0.15em;" type="download"></ns-icon>Tickets to The O2 (<abbr title="Portable Document Format">PDF</abbr> 46<abbr title="Kilobytes">kB</abbr>)</a></p>
</ns-editorial>
      
<ns-panel>
<ns-accordion>
  <h3 slot="heading">Frequently asked questions</h3>
  <ns-expander open="false">
    <h4 slot="heading">What's included in the prize?</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam orci leo, dapibus at tempus quis, maximus et velit. Sed vitae neque a erat ullamcorper posuere. Fusce elit lorem, congue id sapien sodales, vestibulum eleifend erat. Integer ultrices, est 
    </p>
  </ns-expander>
  <ns-expander open="false">
    <h4 slot="heading">What is the Rewards terrace?</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam orci leo, dapibus at tempus quis, maximus et velit. Sed vitae neque a erat ullamcorper posuere. Fusce elit lorem, congue id sapien sodales, vestibulum eleifend erat. Integer ultrices, est 
    </p>
  </ns-expander>
  <ns-expander open="false">
    <h4 slot="heading">how do i get my tickets if i win?</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam orci leo, dapibus at tempus quis, maximus et velit. Sed vitae neque a erat ullamcorper posuere. Fusce elit lorem, congue id sapien sodales, vestibulum eleifend erat. Integer ultrices, est 
    </p>
  </ns-expander>
  <ns-expander open="false">
    <h4 slot="heading">How do i get more information about The O2?</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam orci leo, dapibus at tempus quis, maximus et velit. Sed vitae neque a erat ullamcorper posuere. Fusce elit lorem, congue id sapien sodales, vestibulum eleifend erat. Integer ultrices, est 
    </p>
  </ns-expander>
</ns-accordion>
</ns-panel>

<ns-panel decoration="" class="">
  <div class="splash">
    <h2 class="">All your offers</h2>
  </div>

  <div class="splash triple">
  {% include "./_includes/ns-card-cheque.njk" -%}
  {% include "./_includes/ns-card-loyalty.njk" -%}
  {% include "./_includes/ns-card-hive.njk" -%}
  </div>
</ns-panel>

<ns-tabs>
  <ns-tab slot="tab">Summary</ns-tab>

  <ns-panel slot="panel">
    <div class="splash">
      <ns-table>
        <table>
          <tbody>
            <tr>
              <td>Offers you've chosen</td>
              <td>1</td>
            </tr>
            <tr>
              <td>Estimated savings so far</td>
              <td>£0</td>
            </tr>
            <tr>
              <td>Free loyalty days</td>
              <td>0</td>
            </tr>
            <tr>
              <td>Prize draws entered</td>
              <td>0</td>
            </tr>
          </tbody>
        </table>
      </ns-table>
    </div>
  </ns-panel>

  <ns-tab slot="tab">Claimed offers</ns-tab>

  <ns-panel slot="panel">
    <div class="splash triple" role="list">
      {% include "./_includes/ns-card-claimed-local-heroes.njk" -%}
    </div>
  </ns-panel>

  <ns-tab slot="tab">Expired offers</ns-tab>
  <ns-panel slot="panel">
    <div class="splash triple" role="list">
      <ns-card role="listitem" type="support">
        <h3 slot="heading">20% discount on Local Heroes jobs</h3>
        <div slot="paragraph">
          <p><b>Ended 3 January 2020</b></p>
        </div>
      </ns-card>
      <ns-card role="listitem" type="support">
        <h3 slot="heading">Wilbur giveaway</h3>
        <div slot="paragraph">
          <p><b>Ended 1 Decemeber 2019</b></p>
        </div>
      </ns-card>
      <ns-card role="listitem" type="support">
        <h3 slot="heading">Win 'An evening with Dee' tickets</h3>
        <div slot="paragraph">
          <p><b>Ended 15 November 2019</b></p>
        </div>
      </ns-card>
      <ns-card role="listitem" type="support">
        <h3 slot="heading">Buy one get one Dee</h3>
        <div slot="paragraph">
          <p><b>Ended 3 November 2019</b></p>
        </div>
      </ns-card>
    </div>
  </ns-panel>

</ns-tabs>

{% include "./_includes/ns-card-leave.njk" -%}