---
title: rewards-details-cheque
---

{% include "./_includes/account-logged-in.njk" -%}


<ns-landmark type="lakeside">
  <h1 slot="heading">
    <span class="h5">British Gas Rewards.</span>
    <span class="h1 enlighten">Kickstart the New Year with a <b>cheque worth £1,157</b></span>
  </h1>
  <div slot="paragraph">
    <p>We’re giving <b>10 lucky members</b> the chance to start the New Year with a bang! Enter our prize draw today and you could win a cheque <b>worth £1,157</b>.</p>
    <p>That’s equivalent to <b>free energy for a whole year</b>. <a href="#caveat">1</a></p>
    <p>Make sure you don’t miss out.</p>
  </div>
  <a slot="cta" href="../rewards-confirm-cheque">
    <ns-cta type="direct">Enter prize draw</ns-cta>
  </a>
</ns-landmark>

<ns-panel decoration="" class="">
  <div class="splash">
    <h2 class="">All your offers</h2>
  </div>

  <div class="splash triple">

    <ns-card type="support" image="https://user-images.githubusercontent.com/52657167/74230845-20244800-4cbd-11ea-96db-cacf26274105.jpg">
      <h3 slot="heading">Get free electricity with Loyalty Days</h3>
      <p slot="paragraph">To thank you for being a customer we're giving you 6 days of free daytime electricity, over a year.</p>
      <p slot="paragraph"><b>Ends Friday 28 February</b></p>
      <div slot="cta">
        <ns-cta type="text" href="../rewards-details-free">Find out more about Loyalty Days</ns-cta>
      </div>
    </ns-card>

    <ns-card type="support" image="https://user-images.githubusercontent.com/52657167/76956333-b9bdc580-690b-11ea-95c8-fb1b2864d944.jpg">
      <h3 slot="heading">Win tickets to The O2</h3>
      <p slot="paragraph">Enter this month's prize draw for your chance to win a pair of tickets to an event of your choice at The O2.</p>
      <p slot="paragraph"><b>Ends Sunday 1 March</b></p>
      <div slot="cta">
        <ns-cta type="text" href="../rewards-details-o2">Find out more about O2 offer</ns-cta>
      </div>
    </ns-card>

    <ns-card type="support" image="https://user-images.githubusercontent.com/52657167/75148341-4d2e1d00-56f7-11ea-96a1-a64d9dbef212.jpg">
      <h3 slot="heading">Get 35% off Hive Active Heating</h3>
      <p slot="paragraph">We’ll also send one of our trusted British Gas engineers to do your installation.</p>
      <p slot="paragraph"><b>Ends Thursday 30 April</b></p>
      <div slot="cta">
        <ns-cta type="text" href="../rewards-details-hive">Find out more about Hive Heating offer</ns-cta>
      </div>
    </ns-card>
  </div>
</ns-panel>
      ​

<ns-tabs>
  <ns-tab slot="tab">Summary</ns-tab>
    <ns-panel slot="panel">
      <div class="splash">
        <ns-table>
          <table>
            <tbody>
              <tr>
                <td>Offers you've chosen</td>
                <td>1</td>
              </tr>
              <tr>
                <td>Estimated savings so far</td>
                <td>£0</td>
              </tr>
              <tr>
                <td>Free loyalty days</td>
                <td>0</td>
              </tr>
              <tr>
                <td>Prize draws entered</td>
                <td>0</td>
              </tr>
            </tbody>
          </table>
        </ns-table>
      </div>
    </ns-panel>

    <ns-tab slot="tab">Claimed offers</ns-tab>
      <ns-panel slot="panel">
        <div class="splash triple" role="list">
          <ns-card role="listitem" type="support">
            <h3 slot="heading">20% discount on Local Heroes jobs</h3>
            <div slot="paragraph">
              <p><a href="https://www.britishgas.co.uk/aem6/content/dam/britishgas/downloads/rewards/CLUB10131-01-TandC-Local-Heroes-20-off.pdf"><ns-icon style="width: 1em; height: 1em; position: relative; top: 0.15em;" type="download"></ns-icon>Terms and conditions (<abbr title="Portable Document Format">PDF</abbr> 32<abbr title="Kilobytes">kB</abbr>)</a></p>
              <p>Get 20% off as many jobs as you like, as long as the work is completed and paid for by 4th August 2020.</p>
              <p>Click the link below and enter <b>LOCALHEROES20FEB20002</b> at the checkout to get your discount.</p>
              <p><b>Ends today 11:59pm</b></p>
            </div>
            <a slot="cta" href="https://www.localheroes.com/?utm_source=Google&utm_medium=cpc&utm_campaign=Brand&gclid=EAIaIQobChMImJXq7vXD5gIVhbTtCh3jNAk1EAAYASAAEgKTkfD_BwE&gclsrc=aw.ds">
              <ns-cta type="text">Visit Local Heroes to use your offer</ns-cta>
            </a>
          </ns-card>
        </div>
      </ns-panel>

      <ns-tab slot="tab">Expired offers</ns-tab>
        <ns-panel slot="panel">
          <div class="splash triple" role="list">
            <ns-card role="listitem" type="support">
              <h3 slot="heading">20% discount on Local Heroes jobs</h3>
              <div slot="paragraph">
                <p><b>Ended 3 January 2020</b></p>
              </div>
            </ns-card>
            <ns-card role="listitem" type="support">
              <h3 slot="heading">Wilbur giveaway</h3>
              <div slot="paragraph">
                <p><b>Ended 1 Decemeber 2019</b></p>
              </div>
            </ns-card>
            <ns-card role="listitem" type="support">
              <h3 slot="heading">Win 'An evening with Dee' tickets</h3>
              <div slot="paragraph">
                <p><b>Ended 15 November 2019</b></p>
              </div>
            </ns-card>
            <ns-card role="listitem" type="support">
              <h3 slot="heading">Buy one get one Dee</h3>
              <div slot="paragraph">
                <p><b>Ended 3 November 2019</b></p>
              </div>
            </ns-card>
          </div>
        </ns-panel>
</ns-tabs>

<ns-panel slot="panel">
  <ns-card type="flat" alt="">
    <h3 slot="heading">Want to leave our rewards programme?</h3>
    <p slot="paragraph">You'll no longer get access to exclusive offers and giveaways.</p>
    <a slot="cta" href="../rewards-leave">
      <ns-cta type="text">Yes, I'd like to leave</ns-cta>
    </a>
  </ns-card>
</ns-panel>

<ns-caveat>
  <h2>Additional information</h2>
  <div slot="caveat">
    <ol>
      <li>
        <p>This prize draw ends <b>27th February 2020</b>. For more information on how the £1,157 is calculated, take a look at our <a href="#" class="">terms and conditions</a>.</p>
      </li>
    </ol>
  </div>
</ns-caveat>


​