<ns-panel>
  <div class="splash">
    <ns-accordion>
      <h3 slot="heading">Where can I find my reference number?</h3>
      <ns-expander>
        <h4 slot="heading">HomeCare customer?</h4>
        <div class="image-container" style="width:300px; float: left;">
          <ns-image background="" backgroundsize="contain" src="https://dl.dropboxusercontent.com/s/kl52yy9bkxli0qb/HomeCare_image.png?dl=0"></ns-image>
        </div>
        <dl class="dl-stacked" style="float: left;">
          <div>
            <dt>A 12-digit number starting with ’91’</dt>
            <dd>Find it at the top of HomeCare emails and letters from us.</dd>
          </div>
        </dl>
      </ns-expander>
      <ns-expander>
        <h4 slot="heading">Energy customer?</h4>
        <div class="image-container" style="width:300px; float: left;">
          <ns-image background="" backgroundsize="contain" src="https://dl.dropboxusercontent.com/s/r70useknpltrx0q/Energy_image.png?dl=0"></ns-image>
        </div>
        <dl class="dl-stacked" style="float: left;">
          <div>
            <dt>A 12-digit number starting with ’85’</dt>
            <dd>Find it at the top of energy bills, emails and letters from us.</dd>
          </div>
        </dl>
      </ns-expander>
      <ns-expander>
        <h4 slot="heading">New to British Gas?</h4>
        <div class="image-container" style="width:300px; float: left;">
          <ns-image background="" backgroundsize="contain" src="https://dl.dropboxusercontent.com/s/ncmelp3jn78545x/Sales_order_image.png?dl=0"></ns-image>
        </div>
        <dl class="dl-stacked" style="float: left;">
          <div>
            <dt>On your welcome letter</dt>
            <dd>Find your sales order reference number on the first page of your welcome letters from us.</dd>
          </div>
        </dl>
      </ns-expander>
    </ns-accordion>
  </div>
</ns-panel>
