<ns-tab icon="rewards" slot="tab">Rewards</ns-tab>
  <ns-panel slot="panel">
    <div class="splash">
     <ns-lockup type="lockjaw" decoration="">
  <h2 slot="heading">
    <span class="h5">Your Rewards.</span>
    <span class="h1 enlighten">Wow,<b> look at you go!</b></span>
  </h2>
  <p slot="paragraph">Looks like you’ve snapped up all our offers! But don’t worry, we’ll be adding some new ones soon. So be sure to check back.</p>
  <a slot="cta" href="#!">
    <ns-cta type="direct">View Rewards</ns-cta>
  </a>
  <ns-image slot="image" ratio="4x3" src="https://user-images.githubusercontent.com/49559070/72909820-84439400-3d2f-11ea-90fa-b23c98d6e3ee.jpg"></ns-image>
      </ns-lockup>
    </div>
  </ns-panel>
</ns-tabs>