 <ns-panel decoration="" class="">
      <ns-lockup type="lockbox">
        <h2 slot="heading">
          <span class="h5">Smart meters</span>
          <span class="h1 enlighten"><b>Start saving</b> on energy with smart meters</span>
        </h2>
        <p slot="paragraph">Smart meters automatically send your meter readings to us, so you’ll get more accurate bills without having to lift a finger.</p>
        <a slot="cta" href="#!">
          <ns-cta type="direct">Get your smart meters</ns-cta>
        </a>
        <ns-image slot="image" ratio="4x3" src="https://user-images.githubusercontent.com/47324496/73614886-4bdb6a00-45fb-11ea-9438-b4669f93d917.jpg"></ns-image>
      </ns-lockup>
    </ns-panel>