 <ns-panel decoration="" class="">
      <ns-lockup type="lockbox">
        <h2 slot="heading">
          <span class="h5">Upgrade your cover</span>
          <span class="h1 enlighten"><b>Add home electrical cover</b> from just £2.50 a month</span>
        </h2>
        <p slot="paragraph">Repairs to electrical wiring, fuse boards and electrical fittings inside and outside your property</p>
        <a slot="cta" href="#!">
          <ns-cta type="direct">Upgrade your cover</ns-cta>
        </a>
        <ns-image slot="image" ratio="4x3" src="https://user-images.githubusercontent.com/47324496/73546218-c0b07780-4434-11ea-8063-dd45d2dbbbad.jpg"></ns-image>
      </ns-lockup>
    </ns-panel>