---
layout: nucleus-header-logged-in.njk
title: Smart meter frequency 02
eleventyNavigation:
  key: Smart meter frequency 02
  parent: smart-settings
  title: Smart meter frequency 02
  excerpt: SEPT 2020 - Dual fuel example using tabs
---

{% include "./_includes/ns-landmark.njk" -%}

<ns-form class="splash" nf-model="model.smart-meter-settings">

<ns-tabs>
  <ns-tab icon="gas" slot="tab">Gas meter</ns-tab>
    <ns-panel slot="panel">
      <div class="splash">

    {% include "./_includes/ns-selector-gas.njk" -%}

    <ns-cta>Save gas frequency</ns-cta>
      </div>
    </ns-panel>
    <ns-tab icon="electricity" slot="tab">Electricity meter</ns-tab>
    <ns-panel slot="panel">
      <div class="splash">

    {% include "./_includes/ns-selector-elec.njk" -%}

    <ns-cta nf-href="DYNAMIC">Save electricity frequency</ns-cta>
      </div>
    </ns-panel>

</ns-tabs>

</ns-form>

<script>
  function getDynamicURL() {
    var data = document.querySelector('ns-inputter[name="elec-selector"]').value;

    if (data = 'half-hourly') {
      return 'dual-fuel-success';
    }

  }
</script>

