<ns-card role="listitem" type="support">
	<h3 slot="heading">Kickstart the New Year with a cheque worth £1,157</h3>
	<div slot="paragraph">
	  <p><a href="https://www.britishgas.co.uk/aem6/content/dam/britishgas/downloads/rewards/CLUB10131-01-TandC-Local-Heroes-20-off.pdf"><ns-icon style="width: 1em; height: 1em; position: relative; top: 0.15em;" type="download"></ns-icon>Terms and conditions (<abbr title="Portable Document Format">PDF</abbr> 32<abbr title="Kilobytes">kB</abbr>)</a></p>
	  <p>You could soon be the lucky winner of a cheque worth £1,157 – that’s equivalent to free energy for a whole year.</p>
	  <p>We’ll randomly choose 10 winners after the prize draw closes on 27th February 2020. And if you’re one of them, we’ll contact you by 7th March 2020.</p>
	  <p><b>Prize draw entered 26 February</b></p>
	</div>
</ns-card>