---
title: Moving Home
eleventyNavigation:
  key: mh
  title: Moving Home title
  excerpt: Moving Home excerpt
---

<ns-landmark type="summit" image="https://user-images.githubusercontent.com/28779/75573555-00c74200-5a55-11ea-86db-66a1ff253b57.jpg">
  <h1 slot="heading">
    <span class="h5">How cool is this.</span>
    <span class="h1 enlighten"><b>{{teamname}}</b>, get ready to be awesome</span>
  </h1>
  <div slot="paragraph">
    <p>This is the index page of <b>{{title}}</b>. When you're ready, move on.</p>
  </div>
</ns-landmark>

  {% set navPages = collections.all | eleventyNavigation("mh") | reverse %}
  <ns-panel>
    <div class="splash">
      <h2>{{teamname}} projects</h2>
    </div>
    <div class="splash triple">
      {%- for entry in navPages %}
        <ns-card type="support">
          <h3 slot="heading">{{entry.title}}</h3>
          <p slot="paragraph">{{entry.excerpt}}</p>
          <a slot="cta" href="{{entry.url | url}}">
            <ns-cta type="text">{{entry.title}}</ns-cta>
          </a>
        </ns-card>
      {%- endfor %}
    </div>
  </ns-panel>
