/* .np-toggled
This is used in `ns-inputter` to show the `.np-toggled` when the checkbox is checked.

```markup
<input type="checkbox" id="my-checkbox" class="np-toggler">
<label for="my-checkbox">My checkbox</label>
<div class="np-toggled">
  <p>This div can be any element with the .np-toggled class
</div>
```

[1] When the associated checkbox is checked, show the element with the `.np-toggled` class
[2] Apply some margin top and bottom
[3] By default. hide the element with the `.np-toggled` class
*/
.np-toggler:checked + label + .np-toggled {
  display: block; /* [1] */
  margin: 1.5em 0; /* [2] */
}

.np-toggled {
  display: none; /* [3] */
}


/* .np-swap
This is used in `ns-inputter` to show the `.np-swap` when the checkbox is checked.

```markup
<input type="checkbox" id="my-checkbox" class="np-swapper">
<label for="my-checkbox">My checkbox</label>
<div class="np-swap-a">
  <p>This div can be any element with the .np-swap class
</div>
<div class="np-swap-b">
  <p>This div can be any element with the .np-swap class
</div>
```

[1] When the associated checkbox is checked, show the element with the `.np-swap` class
[2] Apply some padding top and bottom
[3] By default. hide the element with the `.np-swap-b` class
*/
.np-swapper:checked ~ .np-swap-b {
  display: block; /* [1] */
}

.np-swapper:checked ~ .np-swap-a {
  display: none;
}

.np-swap-a,
.np-swap-b {
  padding: 1.5em 0; /* [2] */
}

.np-swap-b {
  display: none; /* [3] */
}


/* .psr-option
When adding the `.psr-option` class to the `<ns-panel>` the `.psr-promise` container displays and the `.psr-option` container is hidden. 

```markup
<ns-panel id="psr-option">
  <div class="splash extra-help">
    {% include "./_includes/extra-help.njk" %}
  </div>
  <div class="splash psr-promise">
    {% include "./_includes/psr-promise.njk" %}
  </div>
</ns-panel>
```

[1] Hide the `.psr-promise` class initially
[2] Ensure that the `.extra-help` element is displayed
[3] Show `.psr-promise` when `.psr-option` is present
[4] Hide `.extra-help` when `.psr-promise` is present
*/

.psr-promise {
  display: none; /* [1] */
}

.extra-help {
  display: block; /* [2] */
}

.continue {
  display: none;
}

.psr-option .extra-help {
  display: none; /* [4] */
}

.psr-option2 .psr-promise {
  display: none; /* [3] */
}

.psr-option2 .extra-help {
  display: none; /* [4] */
}

.psr-option .psr-promise {
  display: block; /* [3] */
}

.psr-option2 .continue {
  display: block; /* [4] */
}

.psr-option.psr-option2 .continue {
  display: none; /* [4] */
}
