---
title: make-a-complaint-webform-confirm
---

<ns-landmark type="hillside">
  <h1 slot="heading">
    <span class="h5">Making a complaint.</span>
    <span class="h1 enlighten"><b>Your complaint</b> has been sent. Thanks for getting in touch.
    </span>
  </h1>
  <div slot="paragraph">
    <p>Your reference number is: <b>25823</b>.<br>We have also emailed this to you.</p>
  </div>
</ns-landmark>

<ns-panel>
  <div class="splash">
    <h3 class="h5 enlighten">One of our team will take a look and get back to you.</h3>
    <h3 class="h5 enlighten">The average time to respond is currently <b>seven days</b>, but in some cases it could take up to 21 days.</h3> 
  </div>
</ns-panel>
