---
title: Hello World
eleventyNavigation:
  key: Hello World
  parent: ben
  title: Playground
  excerpt: Free to play sandbox to wuickly test something
---

<ns-landmark type="hillside">
  <h1 slot="heading">
    <span class="h5">Talent directory.</span>
    <span class="h1 enlighten">Some of <b>the very talented people</b> who have worked at Centrica</span>
  </h1>
  <div slot="paragraph">
    <p>This is the Centrica talent directory. It lists some of the people who have contributed to our work and might be looking for their next challenge.</p>
  </div>
</ns-landmark>

<div>
  <!-- Only here to keep the decoration -->
</div>





<ns-panel decoration="">
  <div class="splash triple">

        <ns-form onsubmit="submittedForm(event)">       
            <ns-inputter validation="" heading="Location" helper="" name="select-an-option" value="">
              <label slot="label" for="nsid-1jbebprkru8j-input">Location</label>

              <select name="select" id="nsid-1jbebprkru8j-input">
                <option value="">Filter by location</option>
                <option value="value-04">Copenhagen</option>
                <option value="value-02">Leeds</option>
                <option value="value-01">London</option>
                <option value="value-03">Manchester</option>

              </select>
            </ns-inputter>
        </ns-form>
        
        <ns-form onsubmit="submittedForm(event)">       
            <ns-inputter validation="" heading="Function" helper="" name="select-an-option" value="">
              <label slot="label" for="nsid-1jbebprkru8j-input">Filter by function</label>

              <select name="select" id="nsid-1jbebprkru8j-input">
                <option value="">Please Select</option>
                <option value="value-04">Data Science</option>
                <option value="value-01">Design</option>
                <option value="value-02">Engineering</option>
                <option value="value-03">Research</option>
              </select>
            </ns-inputter>
        </ns-form>
        
        <ns-form onsubmit="submittedForm(event)">       
            <ns-inputter validation="" heading="Engagement type" helper="" name="select-an-option" value="">
              <label slot="label" for="nsid-1jbebprkru8j-input">Engagement type</label>

              <select name="select" id="nsid-1jbebprkru8j-input">
                <option value="">Filter by engagement type</option>
                <option value="value-01">Permanent full time</option>
                <option value="value-02">Permanent part time</option>
                <option value="value-03">Contracting</option>
              </select>
            </ns-inputter>
        </ns-form>
        
        <ns-form onsubmit="submittedForm(event)">       
            <ns-inputter mask="" separator="" validation="" heading="Location flexibility" helper="" name="gas" value="">

              <input type="checkbox" id="question-relocate" name="relocate" value="relocateOK">
              <label for="question-relocate">willing to relocate</label>

              <input type="checkbox" id="question-remote" name="remote" value="remoteOK">
              <label for="question-elec">willing to work remotely</label>
            </ns-inputter>
        </ns-form>       




  </div>
</ns-panel>
<div>
  <!-- Only here to keep the decoration -->
</div>


<div>
  <!-- Only here to keep the decoration -->
</div>



<ns-panel  class="splash">

<p>
  Use code LEGAL9R and get 
  <ns-pill colour="yellow" icon="rewards">2 months + Legal Expense Cover free</ns-pill>

</p>
</ns-panel>

<ns-panel  class="splash">

<p>
  Use code LEGAL9R and get 
  <ns-pill colour="yellow" icon="">2 months + Legal Expense Cover free</ns-pill>

</p>
</ns-panel>


<ns-panel decoration="">
  <div class="splash triple">
    <ns-card type="support">
      <h3 slot="heading">Benjamin Franck</h3>
      <p slot="paragraph">
          Head of Design Operations (Digital)</br>
          <em>Worked as full-time</em></br>
          <em>London (open to remote)</em>
      </p>
      <p slot="paragraph">I run design operations for teams. I have a strong background in User Experience in agency and client side.</p>
      <a slot="cta" href="#!">
        <ns-cta type="text">My LinkedIn profile</ns-cta>
      </a>
      <a slot="cta" href="#!">
        <ns-cta type="text">Contact me on email</ns-cta>
      </a>
    </ns-card>
    <ns-card type="support">
      <h3 slot="heading">Benjamin Franck</h3>
      <p slot="paragraph">
          Head of Design Operations (Digital)</br>
          <em>Worked as full-time</em></br>
          <em>London (open to remote)</em>
      </p>
      <p slot="paragraph">I run design operations for teams. I have a strong background in User Experience in agency and client side.</p>
      <a slot="cta" href="#!">
        <ns-cta type="text">My LinkedIn profile</ns-cta>
      </a>
      <a slot="cta" href="#!">
        <ns-cta type="text">Contact me on email</ns-cta>
      </a>
    </ns-card>
    <ns-card type="support">
      <h3 slot="heading">Benjamin Franck</h3>
      <p slot="paragraph">
          Head of Design Operations (Digital)</br>
          <em>Worked as full-time</em></br>
          <em>London (open to remote)</em>
      </p>
      <p slot="paragraph">I run design operations for teams. I have a strong background in User Experience in agency and client side.</p>
      <a slot="cta" href="#!">
        <ns-cta type="text">My LinkedIn profile</ns-cta>
      </a>
      <a slot="cta" href="#!">
        <ns-cta type="text">Contact me on email</ns-cta>
      </a>
    </ns-card>
  </div>
</ns-panel>
<div>
  <!-- Only here to keep the decoration -->
</div>

<div>
  <!-- Only here to keep the decoration -->
</div>
<ns-panel decoration="">
  <div class="splash triple">
    <ns-card type="support">
      <h3 slot="heading">Benjamin Franck</h3>
      <p slot="paragraph">
          Head of Design Operations (Digital)</br>
          <em>Worked as full-time</em></br>
          <em>London (open to remote)</em>
      </p>
      <p slot="paragraph">I run design operations for teams. I have a strong background in User Experience in agency and client side.</p>
      <a slot="cta" href="#!">
        <ns-cta type="text">My LinkedIn profile</ns-cta>
      </a>
      <a slot="cta" href="#!">
        <ns-cta type="text">Contact me on email</ns-cta>
      </a>
    </ns-card>
    <ns-card type="support">
      <h3 slot="heading">Benjamin Franck</h3>
      <p slot="paragraph">
          Head of Design Operations (Digital)</br>
          <em>Worked as full-time</em></br>
          <em>London (open to remote)</em>
      </p>
      <p slot="paragraph">I run design operations for teams. I have a strong background in User Experience in agency and client side.</p>
      <a slot="cta" href="#!">
        <ns-cta type="text">My LinkedIn profile</ns-cta>
      </a>
      <a slot="cta" href="#!">
        <ns-cta type="text">Contact me on email</ns-cta>
      </a>
    </ns-card>
    <ns-card type="support">
      <h3 slot="heading">Benjamin Franck</h3>
      <p slot="paragraph">
          Head of Design Operations (Digital)</br>
          <em>Worked as full-time</em></br>
          <em>London (open to remote)</em>
      </p>
      <p slot="paragraph">I run design operations for teams. I have a strong background in User Experience in agency and client side.</p>
      <a slot="cta" href="#!">
        <ns-cta type="text">My LinkedIn profile</ns-cta>
      </a>
      <a slot="cta" href="#!">
        <ns-cta type="text">Contact me on email</ns-cta>
      </a>
    </ns-card>
  </div>
</ns-panel>
<div>
  <!-- Only here to keep the decoration -->
</div>

<div>
  <!-- Only here to keep the decoration -->
</div>
<ns-panel decoration="">
  <div class="splash triple">
    <ns-card type="support">
      <h3 slot="heading">Benjamin Franck</h3>
      <p slot="paragraph">
          Head of Design Operations (Digital)</br>
          <em>Worked as full-time</em></br>
          <em>London (open to remote)</em>
      </p>
      <p slot="paragraph">I run design operations for teams. I have a strong background in User Experience in agency and client side.</p>
      <a slot="cta" href="#!">
        <ns-cta type="text">My LinkedIn profile</ns-cta>
      </a>
      <a slot="cta" href="#!">
        <ns-cta type="text">Contact me on email</ns-cta>
      </a>
    </ns-card>
    <ns-card type="support">
      <h3 slot="heading">Benjamin Franck</h3>
      <p slot="paragraph">
          Head of Design Operations (Digital)</br>
          <em>Worked as full-time</em></br>
          <em>London (open to remote)</em>
      </p>
      <p slot="paragraph">I run design operations for teams. I have a strong background in User Experience in agency and client side.</p>
      <a slot="cta" href="#!">
        <ns-cta type="text">My LinkedIn profile</ns-cta>
      </a>
      <a slot="cta" href="#!">
        <ns-cta type="text">Contact me on email</ns-cta>
      </a>
    </ns-card>
    <ns-card type="support">
      <h3 slot="heading">Benjamin Franck</h3>
      <p slot="paragraph">
          Head of Design Operations (Digital)</br>
          <em>Worked as full-time</em></br>
          <em>London (open to remote)</em>
      </p>
      <p slot="paragraph">I run design operations for teams. I have a strong background in User Experience in agency and client side.</p>
      <a slot="cta" href="#!">
        <ns-cta type="text">My LinkedIn profile</ns-cta>
      </a>
      <a slot="cta" href="#!">
        <ns-cta type="text">Contact me on email</ns-cta>
      </a>
    </ns-card>
  </div>
</ns-panel>
<div>
  <!-- Only here to keep the decoration -->
</div>

<div>
  <!-- Only here to keep the decoration -->
</div>
<ns-panel decoration="">
  <div class="splash triple">
    <ns-card type="support">
      <h3 slot="heading">Benjamin Franck</h3>
      <p slot="paragraph">
          Head of Design Operations (Digital)</br>
          <em>Worked as full-time</em></br>
          <em>London (open to remote)</em>
      </p>
      <p slot="paragraph">I run design operations for teams. I have a strong background in User Experience in agency and client side.</p>
      <a slot="cta" href="#!">
        <ns-cta type="text">My LinkedIn profile</ns-cta>
      </a>
      <a slot="cta" href="#!">
        <ns-cta type="text">Contact me on email</ns-cta>
      </a>
    </ns-card>
    <ns-card type="support">
      <h3 slot="heading">Benjamin Franck</h3>
      <p slot="paragraph">
          Head of Design Operations (Digital)</br>
          <em>Worked as full-time</em></br>
          <em>London (open to remote)</em>
      </p>
      <p slot="paragraph">I run design operations for teams. I have a strong background in User Experience in agency and client side.</p>
      <a slot="cta" href="#!">
        <ns-cta type="text">My LinkedIn profile</ns-cta>
      </a>
      <a slot="cta" href="#!">
        <ns-cta type="text">Contact me on email</ns-cta>
      </a>
    </ns-card>
    <ns-card type="support">
      <h3 slot="heading">Benjamin Franck</h3>
      <p slot="paragraph">
          Head of Design Operations (Digital)</br>
          <em>Worked as full-time</em></br>
          <em>London (open to remote)</em>
      </p>
      <p slot="paragraph">I run design operations for teams. I have a strong background in User Experience in agency and client side.</p>
      <a slot="cta" href="#!">
        <ns-cta type="text">My LinkedIn profile</ns-cta>
      </a>
      <a slot="cta" href="#!">
        <ns-cta type="text">Contact me on email</ns-cta>
      </a>
    </ns-card>
  </div>
</ns-panel>
<div>
  <!-- Only here to keep the decoration -->
</div>


