<ns-form>
  <ns-inputter validation="[&quot;isRequired&quot;]" heading="Don't require extra help?" name="name-b">
    <input type="checkbox" id="answer-2a" name="name-b" value="a">
    <label for="answer-2a">There's no household circumstances you want to share</label>
  </ns-inputter>
  <ns-cta>Continue to next step</ns-cta>
</ns-form>
