<ns-highlighter type="warning" class="np-toggled">
  <h2 slot="heading">Let’s have a chat about your specific needs</h2>
  <p>We understand that life events can be quite complex and may require more of a personal touch. <a href="#!">Start a webchat now</a> to help us understand more about your situation.</p>
</ns-highlighter>
