<ns-highlighter type="info" class="np-toggled">
  <h2 slot="heading">We can personalise how we communicate with you</h2>
  <p>We can send you bills, letters and booklets in large print, Braille or on CD and more.</p>
  <p>Or we can call you every quarter to talk you through your bills.</p>
</ns-highlighter>
