<ns-highlighter type="info" class="np-toggled">
  <h2 slot="heading">SignVideo</h2>
  <p>SignVideo provides our deaf customers access to an online interpreter enabling you to communicate with us using sign language.</p>
  <p>You can <a href="#!">start a SignVideo</a> or if you prefer, <a href="#!">chat with one of our agents</a>.</p>
</ns-highlighter>
