<h3>Priority Services Register</h3>

<p>Our Priority Services Register is a free support service for people who may be vulnerable – perhaps because of their age, health or disability, or if they’re going through a difficult time in their lives.</p>
<p>You maybe eligible for additional services, priority treatment or advanced warning when there's a planned interruption of supply.</p>
<p>We will also share your data with your network operator, who will get in touch if your electricity supply is going to be interrupted. They’ll help you figure out what to do to stay safe.</p>

<ns-form>
  <ns-inputter>
    <input type="checkbox" id="psr-promise" value="psr-promise" class="np-swapper">
    <label for="psr-promise">You consent to being added to the Priority Services Register and sharing your information with your network operator</label>
    <ns-cta class="np-swap-a">Continue without registering</ns-cta>
    <ns-cta class="np-swap-b">Continue with selected options</ns-cta>
  </ns-inputter>
</ns-form>
