{% import "./../inputters.njk" as inputter %}
    {{ inputter.radio('cover-type', 'How would you like to receive your policy documents?', '["isRequired"]', ['Email', 'Post'], 'undefined', 'undefined') }}
      