{% import "./../inputters.njk" as inputter %}
    {{ inputter.radio('ownership', 'Do you own or rent your home?', '["isRequired"]', ['Own', 'Mortgage', 'Rent'], 'undefined', 'undefined', 'undefined', 'undefined', 'undefined') }}
      