<ns-form class="loginForm" id="loginForm" nf-model="model.form2">
      
    {% include "./form-fields2.njk" %}

    <ns-cta id="submit-button" role="button" loadingmessage="Loading..." nf-href="../start-date">
    Next
    </ns-cta>

</ns-form>