<ns-form class="loginForm" id="loginForm" nf-model="model.form1">
      
    {% include "./form-fields1.njk" %}

    <ns-cta id="submit-button" role="button" loadingmessage="Loading..." nf-href="../ownership">
    Next
    </ns-cta>

</ns-form>