<ns-form class="loginForm" id="loginForm" nf-model="MODEL_PATH">
      
    FORM_FIELDS_PATH

    <ns-cta id="submit-button" role="button" loadingmessage="Loading..." nf-href="../NEXT_FORM">
    Next
    </ns-cta>

</ns-form>