---
title: Home Insurance
eleventyNavigation:
  key: Home Insurance
  title: This is the example
  excerpt: To start with, take a look at this project and use it to create one of your own.
---

<ns-landmark type="hillside" gradient="invert-ramp-cyan">
    <h1 slot="heading">
        <span class="h1 enlighten"><b>Get a quote</b> for Home Insurance</span>
    </h1>
    <p slot="paragraph">Protect the things you love with home insurance from the people who've been taking care of Britain's homes for over 200 years.</p>
</ns-landmark>

<ns-panel>

  <div class="splosh">
      
      <ns-form nf-model="model.intro">

        <ns-inputter mask="" separator="" validation="[&quot;isRequired&quot;]" heading="Before we get started, please confirm:" helper="" name="agree" value="">

        <ul class="ul-ticked">
          <li>Your home doesn’t have any ongoing building work</li>
          <li>There are no trees within 5m of your home that are taller than 10m</li>
          <li>Your home is not marketed and rented out as a holiday home</li>
          <li>Business use at your home is for administrative purposes only</li>
          <li>Your home is not let, sub-let or shared by non-family members</li>
          <li>Your home is not marketed and rented out as a holiday home</li>
        </ul>
            
        <input type="checkbox" name="correct" id="correct" value="yes">
        <label for="correct">The information above is correct</label>
        </ns-inputter>
        <ns-cta id="submit-button" role="button" loadingmessage="Loading..." nf-href="intro">
        Let's get started
        </ns-cta>
      </ns-form>

  </div>
</ns-panel>

<script src="/proto.js"></script>