---
title: Your personal details
description: 
---
<ns-panel>
  <div class="splash">
    {% if title %}
    <h1 class="h2">{{ title }}</h1>
    {% endif %}
    {% if description %}
    <p>{{ description }}</p>
    {% endif %}
    {% include "./form5.njk" %}
  </div>
</ns-panel>

<script src="../personal.js"></script>
