---
title: Starting your cover
description: 
---
<ns-panel>
  <div class="splash">
    <div>
      <ns-cta id="back-button" type="text" href="javascript:history.back()" icon="arrow-left">Go back</ns-cta>
    </div><br><br>
    {% if title %}
    <h1 class="h2">{{ title }}</h1>
    {% endif %}
    {% if description %}
    <p>{{ description }}</p>
    {% endif %}
    {% include "./form3.njk" %}
  </div>
</ns-panel>

<script src="../start-date.js"></script>
