---
title: Page two
---

<!-- LANDMARK -->

<ns-landmark type="hillside" gradient="invert-ramp-cyan">
    <h1 slot="heading">
    <span class="h5">Home Insurance Summary.</span>
    <span class="h1 enlighten"> <b>We’ve received your insurance details</b></span>
    </h1>
    <p slot="paragraph">Keep your eyes peeled for an email containing all your details.</p>
</ns-landmark>


