---
layout: nucleus-header-logged-out-v04.njk
title: Check your contact details
---

<ns-landmark type="lakeside">
  <h1 slot="heading">
    <span class="h5">My account.</span>
    <span class="h1">{{title}}</span>
  </h1>
  <p slot="paragraph">Please check that we have your contact details correct in case we need to get in touch about your account.</p>
</ns-landmark>

<ns-panel>

  <div class="splash">
    <dl class="dl-row">

      {% include "./_includes/account-email.njk" -%}

      {% include "./_includes/account-mobile.njk" -%}

    </dl>

    <ns-cta nf-href="DYNAMIC">Continue to my account</ns-cta>
  </div>

  </ns-panel>
