---
title: Account details
eleventyNavigation:
  key: Account details 02
  parent: account-details
  title: Account details 02
  excerpt: Sept 2020 - Chunked data, In-line editing
---

<ns-landmark type="lakeside">
  <h1 slot="heading">
    <span class="h5">My account.</span>
    <span class="h1">Account details</span>
  </h1>
  <p slot="paragraph">Account management, personal information, password and marketing settings.</p>
</ns-landmark>

<ns-panel>
      <div class="splash">
    <h3>Personal</h3>
    </div>

      <div class="splash">

  <ns-highlighter type="success">
        <h2 slot="heading">Details saved</h2>
        <p>You've successfully updated your personal details.</p>
      </ns-highlighter>
 </div>

      <div class="splash">
    <dl class="dl-row">
      <div>
        <dt>Name</dt>
        <dd>
        <span nf-model="model.oam-03.first-name">Steve</span> <span nf-model="model.oam-03.surname">Jobs</span></dd>
        <dd>
          <a href="../update-name">Update name</a>
        </dd>
      </div>
      <div>
        <dt>Correspondence address</dt>
        <dd><span nf-model="model.oam-03.postcode">One Infinite Loop<br>Cupertino<br>CA 95014<br>United States</span></dd>
        <dd>
          <a href="../update-address">Change address</a>
        </dd>
      </div>
      <div>
        <dt>Contact details</dt>
        <dd>
          <span nf-model="model.oam-03.mobile-number">
          <p>07123 456789</p>
          <p>01123 456789</p>
          </span>
        </dd>
        <dd>
          <a href="../update-contact-details">Update contact details</a>
        </dd>
      </div>
      </dl>
      </div>



  <div class="splash">
   <h3>Account security</h3>
    <dl class="dl-row">
      <div>
        <dt>Login details</dt>
        <dd>
          <span nf-model="model.oam-03.email-address">
          <p>steve@jobs.com</p>
          </span>
          <p>**********</p>
        </dd>
        <dd>
          <a href="#!">Edit login details</a>
        </dd>
      </div>
      <div>
        <dt>Marketing</dt>
        <dd>
          <ul class="ul-ticked">
            <li>Email</li>
            <li>SMS</li>
          </ul>
        </dd>
        <dd>
          <a href="#!">Change marketing preferences</a>
        </dd>
      </div>
      </dl>
      </div>




       <div class="splash">
   <h3>Your home</h3>
 
   <ns-inputter class="style-hack" validation="[&quot;isRequired&quot;]" heading="Select which home" helper="" name="select-an-option" value="">
  <label slot="label" for="nsid-po8bsnjnbu-input">Select which home</label>
  <div slot="tip-details">..........</div>
  <select name="select" id="nsid-po8bsnjnbu-input">
    <option value=""><span nf-model="model.oam-03.postcode">One Infinite Loop, Cupertino</span></option>
    <option value="value-01">Buckingham palace</span></option>
  </select>
</ns-inputter>

    <dl class="dl-row">
      <div>
        <dt>Smart meter frequency</dt>
        <dd>
          <p>You can <a href="../../../meter-readings">update the frequency</a> of your smart meter readings, though we recommend that you keep it set at every 30 minutes for effectiveness and accuracy. </p> 
        </dd>
      </div>
      <div>
        <dt>Household vulnerabilities</dt>
        <dd>
          <p>You can join the Priority Services Register and <a href="#!">let us know any specific cuscumstances</a> relating to your household so that we can provide a better service specific to your needs.</p>
        </dd>
      </div>
    </dl>
  </div>

</ns-panel>
