---
title: Account details
---

<ns-landmark type="lakeside">
  <h1 slot="heading">
    <span class="h5">My account.</span>
    <span class="h1">Account details</span>
  </h1>
  <p slot="paragraph">Account management, personal information, password and marketing settings.</p>
</ns-landmark>

<ns-panel>

    <div class="splash">
    <h3>Personal</h3>
    </div>

      <div class="splash">
    <dl class="dl-row">
      <div>
        <dt>Name</dt>
        <dd><span nf-model="model.oam-02.first-name">Steve</span> <span nf-model="model.oam-02.surname">Jobs</span></dd>
        <dd>
          <a href="../update-name">Update name</a>
        </dd>
      </div>
      <div>
        <dt>Correspondence address</dt>
        <dd>
         <ns-form class="splash style-hack" nf-model="model.oam-02">
    <ns-fieldset>
      <ns-inputter validation="[&quot;isRequired&quot;,&quot;isPostcode&quot;]" name="postcode" value="">
        <label slot="label">Postcode</label>
        <input autocomplete="postal-code" type="text">
      </ns-inputter>
    </ns-fieldset>
    <ns-cta  nf-href="../success">Save correspondence address</ns-cta>
  </ns-form>
        </dd>
      </div>
      <div>
        <dt>Contact details</dt>
        <dd>
          <span nf-model="model.oam-02.mobile-number">
          <p>07123 456789</p>
          <p>01123 456789</p>
          </span>
        </dd>
        <dd>
          <a href="../update-contact-details">Update contact details</a>
        </dd>
      </div>
      </dl>
      </div>



  <div class="splash">
   <h3>Account security</h3>
    <dl class="dl-row">
      <div>
        <dt>Login details</dt>
        <dd>
          <span nf-model="model.oam-02.email-address">
          <p>steve@jobs.com</p>
          </span>
          <p>**********</p>
        </dd>
        <dd>
          <a href="#!">Edit login details</a>
        </dd>
      </div>
      <div>
        <dt>Marketing</dt>
        <dd>
          <ul class="ul-ticked">
            <li>Email</li>
            <li>SMS</li>
          </ul>
        </dd>
        <dd>
          <a href="#!">Change marketing preferences</a>
        </dd>
      </div>
      </dl>
      </div>




       <div class="splash">
   <h3>Your home</h3>
    <dl class="dl-row">
      <div>
        <dt>Smart meter frequency</dt>
        <dd>
          <p>Every 30 minutes (recommended)</p>
        </dd>
        <dd>
          <a href="../../meter-readings">Change frequency</a>
        </dd>
      </div>
      <div>
        <dt>Household vulnerabilities</dt>
        <dd>
          <p>None set</p>
        </dd>
        <dd>
          <a href="#!">Add household vulnerabilities</a>
        </dd>
      </div>
    </dl>
  </div>

</ns-panel>
