---
title: Hello World
eleventyNavigation:
  key: Hello World
  parent: ben
  title: Talent Directory - datalist
  excerpt: Early ideation for a talent directory
---

<ns-landmark type="hillside">
  <h1 slot="heading">
    <span class="h5">Talent directory</span>
    <span class="h1 enlighten">Some of <b>the very talented people</b> who have worked at Centrica</span>
  </h1>
  <div slot="paragraph">
    <p>This is the Centrica talent directory. It lists some of the people who have contributed to our work and might be looking for their next challenge.</p>
  </div>
</ns-landmark>


<div>
  <!-- Only here to keep the decoration -->
</div>
<ns-panel decoration="">
  <div class="splash triple">

        <ns-form onsubmit="submittedForm(event)">       
            <ns-inputter validation="" heading="Location" helper="" name="select-an-option" value="">
              <label slot="label" for="nsid-1jbebprkru8j-input">Location</label>

              <select name="select" id="nsid-1jbebprkru8j-input">
                <option value="">Filter by location</option>
                <option value="value-04">Copenhagen</option>
                <option value="value-02">Leeds</option>
                <option value="value-01">London</option>
                <option value="value-03">Manchester</option>

              </select>
            </ns-inputter>
        </ns-form>
        
        <ns-form onsubmit="submittedForm(event)">       
            <ns-inputter validation="" heading="Function" helper="" name="select-an-option" value="">
              <label slot="label" for="nsid-1jbebprkru8j-input">Filter by function</label>

              <select name="select" id="nsid-1jbebprkru8j-input">
                <option value="">Please Select</option>
                <option value="value-04">Data Science</option>
                <option value="value-01">Design</option>
                <option value="value-02">Engineering</option>
                <option value="value-03">Research</option>
              </select>
            </ns-inputter>
        </ns-form>
        
        <ns-form onsubmit="submittedForm(event)">       
            <ns-inputter validation="" heading="Engagement type" helper="" name="select-an-option" value="">
              <label slot="label" for="nsid-1jbebprkru8j-input">Engagement type</label>

              <select name="select" id="nsid-1jbebprkru8j-input">
                <option value="">Filter by engagement type</option>
                <option value="value-01">Permanent full time</option>
                <option value="value-02">Permanent part time</option>
                <option value="value-03">Contracting</option>
              </select>
            </ns-inputter>
        </ns-form>
        
        <ns-form onsubmit="submittedForm(event)">       
            <ns-inputter mask="" separator="" validation="" heading="Location flexibility" helper="" name="gas" value="">

              <input type="checkbox" id="question-relocate" name="relocate" value="relocateOK">
              <label for="question-relocate">willing to relocate</label>

              <input type="checkbox" id="question-remote" name="remote" value="remoteOK">
              <label for="question-elec">willing to work remotely</label>
            </ns-inputter>
        </ns-form>       




  </div>
</ns-panel>
<div>
  <!-- Only here to keep the decoration -->
</div>







<div>
  <!-- Only here to keep the decoration -->
</div>
<ns-panel decoration="">
  <div class="splash">
    <dl class="dl-row">
      <div>
        <dt>Benjamin Franck</dt>
        <dd>
          <ul class="ul-bullet">
            <li><b>Head of Design Operations (Digital)</b></li>
            <li>Worked as full-time permanent</li>
            <li>London (open to remote)</li>
          </ul>  
        </dd>
        <dd>I run design operations for teams. I have a strong background in User Experience in agency and client side.</dd>
        <dd><ns-cta type="text" href="" icon="arrow-right" onclick="action()" loading="false" loadingmessage="Loading...">My LinkedIn profile</ns-cta></dd>
        <dd><ns-cta type="text" href="" icon="arrow-right" onclick="action()" loading="false" loadingmessage="Loading...">Contact me on email</ns-cta></dd>
      </div>
    </dl>


    <dl class="dl-row">
      <div>
        <dt>Benjamin Franck</dt>
        <dd>
          <ul class="ul-bullet">
            <li><b>Head of Design Operations (Digital)</b></li>
            <li>Worked as full-time permanent</li>
            <li>London (open to remote)</li>
          </ul>  
        </dd>
        <dd>I run design operations for teams. I have a strong background in User Experience in agency and client side.</dd>
        <dd><ns-cta type="text" href="" icon="arrow-right" onclick="action()" loading="false" loadingmessage="Loading...">My LinkedIn profile</ns-cta></dd>
        <dd><ns-cta type="text" href="" icon="arrow-right" onclick="action()" loading="false" loadingmessage="Loading...">Contact me on email</ns-cta></dd>
      </div>
    </dl>


    <dl class="dl-row">
      <div>
        <dt>Benjamin Franck</dt>
        <dd>
          <ul class="ul-bullet">
            <li><b>Head of Design Operations (Digital)</b></li>
            <li>Worked as full-time permanent</li>
            <li>London (open to remote)</li>
          </ul>  
        </dd>
        <dd>I run design operations for teams. I have a strong background in User Experience in agency and client side.</dd>
        <dd><ns-cta type="text" href="" icon="arrow-right" onclick="action()" loading="false" loadingmessage="Loading...">My LinkedIn profile</ns-cta></dd>
        <dd><ns-cta type="text" href="" icon="arrow-right" onclick="action()" loading="false" loadingmessage="Loading...">Contact me on email</ns-cta></dd>
      </div>
    </dl>


    <dl class="dl-row">
      <div>
        <dt>Benjamin Franck</dt>
        <dd>
          <ul class="ul-bullet">
            <li><b>Head of Design Operations (Digital)</b></li>
            <li>Worked as full-time permanent</li>
            <li>London (open to remote)</li>
          </ul>  
        </dd>
        <dd>I run design operations for teams. I have a strong background in User Experience in agency and client side.</dd>
        <dd><ns-cta type="text" href="" icon="arrow-right" onclick="action()" loading="false" loadingmessage="Loading...">My LinkedIn profile</ns-cta></dd>
        <dd><ns-cta type="text" href="" icon="arrow-right" onclick="action()" loading="false" loadingmessage="Loading...">Contact me on email</ns-cta></dd>
      </div>
    </dl>


    <dl class="dl-row">
      <div>
        <dt>Benjamin Franck</dt>
        <dd>
          <ul class="ul-bullet">
            <li><b>Head of Design Operations (Digital)</b></li>
            <li>Worked as full-time permanent</li>
            <li>London (open to remote)</li>
          </ul>  
        </dd>
        <dd>I run design operations for teams. I have a strong background in User Experience in agency and client side.</dd>
        <dd><ns-cta type="text" href="" icon="arrow-right" onclick="action()" loading="false" loadingmessage="Loading...">My LinkedIn profile</ns-cta></dd>
        <dd><ns-cta type="text" href="" icon="arrow-right" onclick="action()" loading="false" loadingmessage="Loading...">Contact me on email</ns-cta></dd>
      </div>
    </dl>


    <dl class="dl-row">
      <div>
        <dt>Benjamin Franck</dt>
        <dd>
          <ul class="ul-bullet">
            <li><b>Head of Design Operations (Digital)</b></li>
            <li>Worked as full-time permanent</li>
            <li>London (open to remote)</li>
          </ul>  
        </dd>
        <dd>I run design operations for teams. I have a strong background in User Experience in agency and client side.</dd>
        <dd><ns-cta type="text" href="" icon="arrow-right" onclick="action()" loading="false" loadingmessage="Loading...">My LinkedIn profile</ns-cta></dd>
        <dd><ns-cta type="text" href="" icon="arrow-right" onclick="action()" loading="false" loadingmessage="Loading...">Contact me on email</ns-cta></dd>
      </div>
    </dl>

    <dl class="dl-row">
      <div>
        <dt>Benjamin Franck</dt>
        <dd>
          <ul class="ul-bullet">
            <li><b>Head of Design Operations (Digital)</b></li>
            <li>Worked as full-time permanent</li>
            <li>London (open to remote)</li>
          </ul>  
        </dd>
        <dd>I run design operations for teams. I have a strong background in User Experience in agency and client side.</dd>
        <dd><ns-cta type="text" href="" icon="arrow-right" onclick="action()" loading="false" loadingmessage="Loading...">My LinkedIn profile</ns-cta></dd>
        <dd><ns-cta type="text" href="" icon="arrow-right" onclick="action()" loading="false" loadingmessage="Loading...">Contact me on email</ns-cta></dd>
      </div>
    </dl>


  </div>
</ns-panel>
<div>
  <!-- Only here to keep the decoration -->
</div>



