<ns-inputter validation="[]" heading="Cognitive and Learning" name="learning">
  <input type="checkbox" id="autism" value="autism">
  <label for="autism">Autism/Asperger's</label>
  <input type="checkbox" id="dementia" value="dementia">
  <label for="dementia">Dementia</label>
  <input type="checkbox" id="dyslexia" value="dyslexia">
  <label for="dyslexia">Learning Difficulties (Inc. dyslexia)</label>
  <input type="checkbox" id="mental-health" value="mental-health">
  <label for="mental-health">Mental Health</label>
  <input type="checkbox" id="tourette" value="tourette">
  <label for="tourette">Tourette Syndrome</label>
</ns-inputter>
