<h3 slot="heading">Medical and illnesses</h3>
<ns-form>
  <ns-inputter validation="[]" heading="Medical conditions and illnesses" name="illnesses">
    <input type="checkbox" id="arthritis" value="arthritis">
    <label for="arthritis">Arthritis</label>
    <input type="checkbox" id="asthma" value="asthma">
    <label for="asthma">Asthma</label>
    <input type="checkbox" id="cancer" value="cancer">
    <label for="cancer">Cancer</label>
    <input type="checkbox" id="COPD" value="COPD">
    <label for="COPD">COPD</label>
    <input type="checkbox" id="fibrosis" value="fibrosis">
    <label for="fibrosis">Cystic fibrosis</label>
    <input type="checkbox" id="diabetes" value="diabetes">
    <label for="diabetes">Diabetes</label>
    <input type="checkbox" id="heart" value="heart">
    <label for="heart">Heart condition</label>
    <input type="checkbox" id="leukaemia" value="leukaemia">
    <label for="leukaemia">Leukaemia</label>
    <input type="checkbox" id="lung" value="lung">
    <label for="lung">Lung disease</label>
  </ns-inputter>
  <ns-inputter validation="[]" heading="Medical equipment" name="equipment">
    <input type="checkbox" id="careline" value="careline">
    <label for="careline">Careline or Telecare system</label>
    <input type="checkbox" id="dialysis" value="dialysis">
    <label for="dialysis">Dialysis, feeding pump and automated medication</label>
    <input type="checkbox" id="ventilator" value="ventilator">
    <label for="ventilator">Heart, lung and ventilator</label>
    <input type="checkbox" id="dependent" value="dependent">
    <label for="dependent">Medical dependent electric showering</label>
    <input type="checkbox" id="refrigeration" value="refrigeration">
    <label for="refrigeration">Medicine refrigeration</label>
    <input type="checkbox" id="nebuliser" value="nebuliser">
    <label for="nebuliser">Nebuliser and apnoea monitor</label>
    <input type="checkbox" id="concentrator" value="concentrator">
    <label for="concentrator">Oxygen concentrator</label>
    <input type="checkbox" id="oxygen" value="oxygen">
    <label for="oxygen">Oxygen use</label>
    <input type="checkbox" id="hoist" value="hoist">
    <label for="hoist">Stair lift, hoist, electric bed</label>
  </ns-inputter>
</ns-form>
