<ns-inputter validation="[]" heading="Medical conditions and illnesses" name="illnesses">
  <input type="checkbox" id="arthritis" value="arthritis">
  <label for="arthritis">Arthritis</label>
  <input type="checkbox" id="asthma" value="asthma">
  <label for="asthma">Asthma</label>
  <input type="checkbox" id="breathing" value="breathing">
  <label for="breathing">Breathing Difficulties</label>
  <input type="checkbox" id="cancer" value="cancer">
  <label for="cancer">Cancer</label>
  <input type="checkbox" id="COPD" value="COPD">
  <label for="COPD">COPD</label>
  <input type="checkbox" id="fibrosis" value="fibrosis">
  <label for="fibrosis">Cystic Fibrosis</label>
  <input type="checkbox" id="diabetes" value="diabetes">
  <label for="diabetes">Diabetes</label>
  <input type="checkbox" id="heart" value="heart">
  <label for="heart">Heart Condition</label>
  <input type="checkbox" id="leukaemia" value="leukaemia">
  <label for="leukaemia">Leukaemia</label>
  <input type="checkbox" id="lung" value="lung">
  <label for="lung">Lung Disease</label>
</ns-inputter>
<ns-inputter validation="[]" heading="Medical equipment" name="equipment">
  <input type="checkbox" id="careline" value="careline">
  <label for="careline">Careline/Telecare System</label>
  <input type="checkbox" id="dialysis" value="dialysis">
  <label for="dialysis">Dialysis, Feeding Pump and Automated Medication</label>
  <input type="checkbox" id="ventilator" value="ventilator">
  <label for="ventilator">Heart, Lung and Ventilator</label>
  <input type="checkbox" id="dependent" value="dependent">
  <label for="dependent">Medical Dependent Electric Showering</label>
  <input type="checkbox" id="refrigeration" value="refrigeration">
  <label for="refrigeration">Medicine Refrigeration</label>
  <input type="checkbox" id="nebuliser" value="nebuliser">
  <label for="nebuliser">Nebuliser and Apnoea Monitor</label>
  <input type="checkbox" id="concentrator" value="concentrator">
  <label for="concentrator">Oxygen Concentrator</label>
  <input type="checkbox" id="oxygen" value="oxygen">
  <label for="oxygen">Oxygen Use</label>
  <input type="checkbox" id="hoist" value="hoist">
  <label for="hoist">Stair Lift, Hoist, Electric Bed</label>
</ns-inputter>
