<ns-inputter validation="[]" heading="Medical conditions and Illnesses" name="illnesses">
  <input type="checkbox" id="arthritis">
  <label for="arthritis">Arthritis</label>
  <input type="checkbox" id="asthma">
  <label for="asthma">Asthma</label>
  <input type="checkbox" id="breathing">
  <label for="breathing">Breathing Difficulties</label>
  <input type="checkbox" id="cancer">
  <label for="cancer">Cancer</label>
  <input type="checkbox" id="COPD">
  <label for="COPD">COPD</label>
  <input type="checkbox" id="fibrosis">
  <label for="fibrosis">Cystic Fibrosis Diabetes</label>
  <input type="checkbox" id="diabetes">
  <label for="diabetes">Diabetes</label>
  <input type="checkbox" id="heart">
  <label for="heart">Heart Condition</label>
  <input type="checkbox" id="leukaemia">
  <label for="leukaemia">Leukaemia</label>
  <input type="checkbox" id="lung">
  <label for="lung">Lung Disease</label>
</ns-inputter>
<ns-inputter validation="[]" heading="Medical equipment" name="equipment">
  <input type="checkbox" id="careline">
  <label for="careline">Careline/Telecare System</label>
  <input type="checkbox" id="dialysis">
  <label for="dialysis">Dialysis, Feeding Pump and Automated Medication</label>
  <input type="checkbox" id="ventilator">
  <label for="ventilator">Heart, Lung and Ventilator</label>
  <input type="checkbox" id="dependent">
  <label for="dependent">Medical Dependent Electric Showering</label>
  <input type="checkbox" id="refrigeration">
  <label for="refrigeration">Medicine Refrigeration</label>
  <input type="checkbox" id="nebuliser">
  <label for="nebuliser">Nebuliser and Apnoea Monitor</label>
  <input type="checkbox" id="concentrator">
  <label for="concentrator">Oxygen Concentrator</label>
  <input type="checkbox" id="oxygen">
  <label for="oxygen">Oxygen Use</label>
  <input type="checkbox" id="hoist">
  <label for="hoist">Stair Lift, Hoist, Electric Bed</label>
</ns-inputter>