<ns-inputter validation="[]" heading="Personal circumstances" helper="This can include any temporary changes could include bereavement, that could make it hard coping with everyday life situations." name="personal">
  <input type="checkbox" id="bereavement" value="bereavement">
  <label for="bereavement">Bereavement</label>
  <input type="checkbox" id="child" value="child">
  <label for="child">Children under 5 live at the property</label>
  <input type="checkbox" id="covid" value="covid">
  <label for="covid">COVID 19 (effected by)</label>
  <input type="checkbox" id="divorce" value="divorce">
  <label for="divorce">Divorce</label>
  <input type="checkbox" id="hospital" value="hospital">
  <label for="hospital">Post Hospital Recovery</label>
  <input type="checkbox" id="redundancy" value="redundancy">
  <label for="redundancy">Redundancy</label>
  <input type="checkbox" id="young" value="young">
  <label for="young">Young adult household</label>
  <input type="checkbox" id="temporary" value="temporary">
  <label for="temporary">Other Temporary Life Changes</label>
</ns-inputter>
