<ns-highlighter type="info" class="np-toggled">
  <h2 slot="heading">Carers UK</h2>
  <p>We’re working with Carers UK to create a world where every carer feels recognised, valued and supported.</p>
  <p>If you’d like more information about this please visit the <a href="#!">Carers UK website</a> where you can access the helpline phone number and other great resources.</p>
</ns-highlighter>
