<ns-form>
  <ns-inputter heading="British Gas have signed up to the Priority Services Register (PSR) Promise" helper="What is the Priority Services Register?">
    <div slot="tip-details">
      <p>This has been made by all participating energy companies in the UK. If you or someone living with you has specific needs, you maybe eligible for additional services, priority treatment or advanced warning when there's a planned interruption of supply.</p>
      <p>We'll only share details about your personal situation as agreed with you so that our trusted partners can tailor their services to help you, and you’ll get extra support when you need it.</p>
    </div>
    <input type="checkbox" id="psr-promise" value="psr-promise" class="np-swapper">
    <label for="psr-promise">You consent to being added to the PSR and sharing your information - with those who need to know, like gas transporters and electricity distributors</label>
    <div class="note">
      <p>We will always follow privacy laws and your PSR information <strong>will never be used for marketing</strong>.</p>
      <p>If your situation changes, or you don’t want to be on the PSR anymore, you can <strong>update your details</strong> through your account online. </p>
    </div>
    <ns-cta class="np-swap-a">Continue without registering for PSR</ns-cta>
    <ns-cta class="np-swap-b">Continue with selected options</ns-cta>
  </ns-inputter>
</ns-form>
