---
title: appliances-and-electrical-cover
---

<ns-panel>
  <ns-lockup type="lockjaw">
    <h2 slot="heading">
      <span class="h5">Appliance and electrical cover.</span>
      <span class="h1 enlighten"><b>Appliance and electrical cover</b></span>
    </h2>
    <div slot="paragraph">
      <p>If your washing machine, fireplace, or electric radiator need repairs, or your electrics are playing up, we’ve always got an expert engineer ready to help.</p>
      <p><b>Each set of cover includes:</b></p>
      <ul class="ul-ticked">
        <li>Parts and labour included <a type="atom" href="#caveat">1</a></li>
        <li>Unlimited callouts</li>
        <li>A 24/hr customer helpline</li>
        <li>Trusted expert engineers</li>
      </ul>
    </div>
    <ns-image slot="image" src="https://user-images.githubusercontent.com/28779/97545863-870c9d00-19c3-11eb-8bc4-cddc6dd8e6b7.png"></ns-image>
  </ns-lockup>
</ns-panel>

<!-- Plumbing and drains repair, plus ongoing cover -->

<ns-panel id="products" decoration="invert-concave-grey-light">

  <div class="splash">
    <h2>Cover your kitchen & gas appliances and electricals</h2>
    <p class="p-feature">With electrics and appliance cover, you can relax. There’s no need to put your plans on hold when something goes wrong – give us a call and we’ll be there to get your weekend back on track.</p>
  </div>

  <div class="splash triple" role="list">
    <ns-product-card role="listitem">
      <ns-image slot="image" src="https://user-images.githubusercontent.com/28779/97545884-8d027e00-19c3-11eb-9107-19a4f0cea554.jpg" alt="Description of image"></ns-image>
      <h2 slot="name">Kitchen Appliance Cover</h2>
      <h3 slot="price-heading">Estimated price (£99 excess)</h3>
      <div slot="price">
        <p><b>
            <ns-price pence="250"></ns-price>
          </b><span style="font-size:0.6em;"> / month</span></p>

      </div>
      <div slot="description">
        <p class="p-feature">You can protect those important, every-day appliances, such as your cooker or fridge. </p>
      </div>

      <ns-expander slot="expander">
        <h3 slot="heading">What's included</h3>
        <ul class="ul-bullet">
          <li>All repairs to the kitchen appliance(s) shown on your statement</li>

          <li>A contribution towards a replacement if we can’t repair it or we decide it will cost less to replace than to repair. We’ll source the replacement from our approved supplier and make the following contribution based on their current retail selling price: • 100% if your appliance is less than three years old • 30% if your appliance is three years old or more. You may use our contribution towards an alternative model of your choice from our approved supplier. There is no cash alternative</li>

          <li>Accidental Damage</li>
        </ul>
      </ns-expander>

      <ns-expander slot="expander">
        <h3 slot="heading">What's not included</h3>
        <ul class="ul-bullet">
          <li>Anything that happens in the first 14 days of you taking out the product</li>
          <li>Wine coolers, cooker hoods and other extractor fans</li>
          <li>Disconnecting and disposing of your old appliance, or unpacking or installing new ones</li>
          <li>Any appliance(s) that weren’t bought in the UK</li>
          <li>Any appliances(s) that weren’t new when you bought them, unless they are appliance(s) that were in the property when you moved in</li>
        </ul>
      </ns-expander>

      <ns-cta href="../add-address" slot="cta">Get a quote</ns-cta>
    </ns-product-card>

    <ns-product-card role="listitem">
      <ns-image slot="image" src="https://user-images.githubusercontent.com/28779/97545880-8bd15100-19c3-11eb-9a74-aa39c5e18f3d.jpg" alt="Description of image"></ns-image>
      <h2 slot="name">Gas Appliance Cover</h2>
      <h3 slot="price-heading">Estimated price (£99 excess)</h3>
      <div slot="price">
        <p><b>
            <ns-price pence="1067"></ns-price>
          </b> <span style="font-size:0.6em;"> / month</span></p>

      </div>
      <div slot="description">
        <p class="p-feature">This gives you complete cover for your gas-fed appliances, such as your gas heater or cooker.</p>
      </div>

      <ns-expander slot="expander">
        <h3 slot="heading">What's included</h3>
        <ul class="ul-bullet">
          <li>All repairs to: The gas appliance(s) shown on your statement. The flue including the flue terminal up to one metre in length</li>
          <li>A replacement if we can’t repair it because it caught fire or exploded, providing you gave us access to carry out your annual service within every period of agreement since we first covered you</li>
          <li>An annual service</li>
          <li>Accidental Damage</li>
          <li>A replacement of the flue including the flue terminal up to one metre in length for the gas appliance(s) on your statement if we can’t repair it</li>
          <li>Costs of up to £500 for alternative accommodation and travel if your home is unfit to live in as a result of your gas appliance catching fire or exploding</li>
        </ul>
      </ns-expander>
      <ns-expander slot="expander">
        <h3 slot="heading">What's not included</h3>
        <ul class="ul-bullet">
          <li>Repairing or replacing the flue including the flue terminal for any open flued appliances or if the flue is over one metre in length</li>
          <li>Damage caused by limescale</li>
        </ul>
      </ns-expander>

      <ns-cta href="#" slot="cta">Get a quote</ns-cta>
    </ns-product-card>

    <ns-product-card role="listitem">
      <ns-image slot="image" src="https://user-images.githubusercontent.com/28779/97545883-8c69e780-19c3-11eb-8c3a-9a99f41d0d4d.jpg" alt="Description of image"></ns-image>
      <h2 slot="name">Home Electrics Cover</h2>
      <h3 slot="price-heading">Estimated price (£99 excess)</h3>
      <div slot="price">
        <p><b>
            <ns-price pence="250"></ns-price>
          </b> <span style="font-size:0.6em;"> / month</span></p>

      </div>
      <div slot="description">
        <p class="p-feature">We can fix faulty wiring, switches, sockets and fittings.</p>
      </div>

      <ns-expander slot="expander">
        <h3 slot="heading">What's included</h3>
        <ul class="ul-bullet">
          <li>Repairs to the mains electrical system and wiring in your home and outbuildings</li>
          <li>Accidental Damage</li>
          <li>Up to £1,000 to gain access and make good for each repair</li>
        </ul>
      </ns-expander>
      <ns-expander slot="expander">
        <h3 slot="heading">What's not included</h3>
        <ul class="ul-bullet">
          <li>Showers and their parts, shower pumps, sanitary ware and sealant</li>
          <li>Faults caused by someone else you used for repairs or design faults</li>
          <li>Electrical appliances, cooker hoods or extractor fans over 15cm diameter</li>
        </ul>
      </ns-expander>

      <ns-cta href="#" slot="cta">Get a quote</ns-cta>
    </ns-product-card>

  </div>
  <div class="splash important-documents">
    <h2 class="h4">Some important documents to read</h2>
    <ul class="download-list">
      <li>
        <ns-download href="https://www.britishgas.co.uk/content/dam/british-gas/documents/home_services/HomeCare_Range_Terms_and_Conditions.pdf" filesize="2MB">Terms and Conditions</ns-download>
      </li>
      <li>
        <ns-download href="https://www.britishgas.co.uk/content/dam/british-gas/documents/home_services/About_our_insurance_services.pdf" filesize="113Kb">About our insurance services</ns-download>
      </li>
    </ul>
  </div>
</ns-panel>

<ns-panel decoration="invert-concave-yellow">
  <ns-lockup type="lockbox" reverse="">
    <h2 slot="heading">
      <span class="h5">Or there’s HomeCare.</span>
      <span class="h1 enlighten"><b>Complete home cover</b> that’s hard to beat</span>
    </h2>
    <div slot="paragraph">
      <p>Our HomeCare range offers total protection for your home. As well as an initial call-in where our expert engineer gives your home a good once-over, we also include an Annual Boiler Service later in the year. And that’s all for just a little extra each month.</p>
    </div>
    <a slot="cta" href="https://www.britishgas.co.uk/home-services/boilers-and-heating/boiler-and-heating-cover.html">
      <ns-cta type="direct" loading="false">View full HomeCare range</ns-cta>
    </a>
    <ns-image slot="image" src="https://user-images.githubusercontent.com/28779/97545882-8c69e780-19c3-11eb-8a9e-5abf3cecd4db.jpg" alt=""></ns-image>
  </ns-lockup>
</ns-panel>

<ns-panel>
  <div class="trustpilot-widget" data-locale="en-GB" data-template-id="54ad5defc6454f065c28af8b" data-businessunit-id="48e8f675000064000503c319" data-style-height="240px" data-style-width="100%" data-theme="light" data-tags="NewBoiler" data-stars="4,5" data-review-languages="en" style="position: relative;"><iframe frameborder="0" scrolling="no" title="Customer reviews powered by Trustpilot" loading="auto" src="https://widget.trustpilot.com/trustboxes/54ad5defc6454f065c28af8b/index.html?templateId=54ad5defc6454f065c28af8b&amp;businessunitId=48e8f675000064000503c319#locale=en-GB&amp;styleHeight=240px&amp;styleWidth=100%25&amp;theme=light&amp;tags=NewBoiler&amp;stars=4%2C5&amp;reviewLanguages=en" style="position: relative; height: 240px; width: 100%; border-style: none; display: block; overflow: hidden;"></iframe>
  </div>
</ns-panel>

<ns-panel decoration="circle-yellow-right">
  <ns-lockup type="lockjaw">
    <h2 slot="heading">
      <span class="h5">Existing customers.</span>
      <span class="h1 enlighten">Got HomeCare? <b>Book an engineer</b></span>
    </h2>
    <div slot="paragraph">
      <p>From annual service visits, to keeping your boiler at peak performance or one-off repairs when your hot water has stopped working.</p>
    </div>
    <a slot="cta" href="/hs">
      <ns-cta type="direct" loading="false">Book an engineer</ns-cta>
    </a>
    <ns-image slot="image" src="https://user-images.githubusercontent.com/28779/97545881-8c69e780-19c3-11eb-88e1-51e46828c63e.jpg"></ns-image>
  </ns-lockup>
</ns-panel>

<!--Frequently asked questions-->
<ns-panel>
  <div class="splash">
    <ns-accordion>
      <h3 slot="heading">Frequently asked questions</h3>
      <ns-expander open="false">
        <h4 slot="heading">What happens to my renewal price after the first year?</h4>
        <P>The price you’ll pay at renewal is likely to increase as your introductory price will have ended, but it will be tailored to your specific details. If you’re paying by direct debit, you will automatically renew, however you can still choose to change or cancel your contract, we'll contact you before your renewal date to remind you.</p>
      </ns-expander>
      <ns-expander open="false">
        <h4 slot="heading">Can I control my account online?</h4>
        <p>Yes, with an online account you can arrange a service visit, find out what’s happening with your appointment, book an engineer and submit a meter reading if you have energy with us. We’ve even got a free smartphone app.</p>
      </ns-expander>
      <ns-expander open="false">
        <h4 slot="heading">Why am I getting a different price, after entering my address?</h4>
        <p>We use information about your location to tailor the price you pay for HomeCare cover. Factors such as water hardness and property type may influence claims costs, which is reflected in your price.</p>
      </ns-expander>
      <ns-expander open="false">
        <h4 slot="heading">What does an annual service include?</h4>
        <p>This is a visit we carry out in each contract year<a type="atom" href="#caveat">2</a> to check your boiler and central heating system or gas appliance (depending on what is included in your agreement) are safe and working correctly.</p>
      </ns-expander>
      <ns-expander open="false">
        <h4 slot="heading">Can I speak to someone if I have a question?</h4>
        <p class="p-small">You can call us on 0333 202 9604. Monday to Friday: 8am - 8pm, Saturday 8am - 6pm. We may record calls to help improve our service to you. Calls to 0330/0333 numbers will cost you no more than 01 or 02 numbers from landlines or mobiles. If you get 'inclusive minutes' with your package, calls to 0330/0333 numbers will be part of these.</p>
      </ns-expander>
      <ns-expander open="false">
        <h4 slot="heading">Do you provide service plans for businesses?</h4>
        <p class="p-small">Yes, if you are a business customer, please visit our <a href="https://www.britishgas.co.uk/business/energy-services/business-care?cid=UKHHCref" data-di-id="di-id-15145bfd-75b0edcc">business website</a>for details.</p>
      </ns-expander>
    </ns-accordion>
  </div>
</ns-panel>

<!--Additional information-->

<ns-caveat id="caveat">
  <h2 slot="heading">Additional information</h2>

  <div slot="caveat">
    <ol>
      <li>
        <p>Prices may vary depending on where you live.
        </p>
      </li>

      <li>
        <p>Your annual services may be more than 12 months apart.</p>
      </li>

    </ol>
  </div>
</ns-caveat>

<script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async=""></script>
