---
title: Home Services
eleventyNavigation:
  key: Home Services hub page
  parent: hs
  title: Home Services hub page
  excerpt: Home Services hub page excerpt
---

<ns-landmark image="https://www.britishgas.co.uk/aem6/content/dam/britishgas/images/home-services/home-services-landmark.jpg" type="summit">
  <h1 slot="heading">
    <span class="h5">Home services.</span>
    <span class="h1 enlighten"><b>One Month Free</b> on selected HomeCare products</span>
  </h1>
  <div slot="paragraph">
    <p>Offer ends 25th November 2020. <a href="#caveat">1</a></p>
  </div>
  <a href="../boiler-and-heating-cover" slot="cta" aira-label="View HomeCare cover">
    <ns-cta type="direct">Get HomeCare cover</ns-cta>
  </a>
</ns-landmark>

<ns-panel>
  <div class="splash">
    <h2>Need ongoing cover?</h2>
    <p class="p-feature">Worried about the boiler, heating, plumbing or electrics playing up? Our HomeCare cover lets you avoid the cost of those unexpected breakdowns.</p>
  </div>
  <div role="list" class="splash triple">
    <ns-card role="listitem" type="support">
      <h3 slot="heading">HomeCare boiler &amp; heating cover</h3>
      <div slot="paragraph">
        <p>Avoid the cost and hassle of finding a last-minute engineer with our HomeCare boiler and heating cover.</p>
      </div>
      <a href="../boiler-and-heating-cover" slot="cta" aria-label="Get heating cover">
        <ns-cta type="direct">Get boiler cover</ns-cta>
      </a>
    </ns-card>

    <ns-card role="listitem" type="support">
      <h3 slot="heading">Plumbing &amp; drains cover</h3>
      <div slot="paragraph">
        <p>Tired of splashing out on plumbers every time you have a plumbing problem? Let us take care of it for you.</p>
      </div>
      <a href="/aem6/content/britishgas/home-services/plumbing-and-drains/plumbing-and-drains-cover.html" slot="cta" aria-label="Get plumbing cover">
        <ns-cta type="direct">Get plumbing cover</ns-cta>
      </a>
    </ns-card>

    <ns-card role="listitem" type="support">
      <h3 slot="heading">Home electrical cover</h3>
      <div slot="paragraph">
        <p>Not a fan of electrical DIY? Cover your electrics and we’ll come to the rescue the next time you have a problem.</p>
      </div>
      <a href="../appliances-and-electrical-cover/" slot="cta" aria-label="Get electrical cover">
        <ns-cta type="direct">Get electrical cover</ns-cta>
      </a>
    </ns-card>
  </div>
</ns-panel>

<ns-panel>
  <div class="splash">
    <h2>Need a one-off repair?</h2>
    <p class="p-feature">Need something fixed? Book a fixed-price repair and we’ll give you a 12-month guarantee on our work.</p>
  </div>

  <div role="list" class="splash triple">
    <ns-card role="listitem" type="support">
      <h3 slot="heading">Boiler and heating repair</h3>
      <div slot="paragraph">
        <p>No hot water? Ice cold radiators? A British Gas engineer is just a click away.</p>
      </div>
      <a href="/aem6/content/britishgas/home-services/boilers-and-heating/boiler-and-heating-repair.html" slot="cta" aria-label="Book a boiler repair">
        <ns-cta type="direct">Book a boiler repair</ns-cta>
      </a>
    </ns-card>

    <ns-card role="listitem" type="support">
      <h3 slot="heading">Plumbing and drains repair</h3>
      <div slot="paragraph">
        <p>Burst pipe? Blocked drain? Book a plumber with us and we’ll get you home and dry.</p>
      </div>
      <a href="/aem6/content/britishgas/home-services/plumbing-and-drains/plumbing-and-drains-repairs.html" slot="cta" aria-label="Book a plumbing repair">
        <ns-cta type="direct">Book a plumbing repair</ns-cta>
      </a>
    </ns-card>

    <ns-card role="listitem" type="support">
      <h3 slot="heading">Electrics and appliances repair</h3>
      <div slot="paragraph">
        <p>Faulty electrics and appliances? We can fix them so you don’t have to buy new ones.</p>
      </div>
      <a href="/aem6/content/britishgas/home-services/appliances-and-electrical/appliance-and-home-electrical-repairs.html" slot="cta" aria-label="Book an electrics repair">
        <ns-cta type="direct">Book an electrics repair</ns-cta>
      </a>
    </ns-card>
  </div>
</ns-panel>

<ns-panel decoration="invert-concave-yellow">
  <div class="splash">
    <h2>We can also help you...</h2>
  </div>

  <div role="list" class="splash triple">
    <ns-card role="listitem" type="support">
      <h3 slot="heading">Book a boiler service</h3>
      <div slot="paragraph">
        <p>Your boiler is at the heart of your home. We can help keep it in tip-top shape with a service.</p>
      </div>
      <a href="../boiler-and-heating-cover#boiler-check-banner" slot="cta" aria-label="Book a boiler service">
        <ns-cta type="text">Book a boiler service</ns-cta>
      </a>
    </ns-card>

    <ns-card role="listitem" type="support">
      <h3 slot="heading">Find a new boiler</h3>
      <div slot="paragraph">
        <p>Book an appointment with an expert heating adviser and they’ll help you find the right boiler for your home.</p>
      </div>
      <a href="/aem6/content/britishgas/home-services/boilers-and-heating/new-boilers.html" slot="cta">
        <ns-cta type="text">Book a boiler quote</ns-cta>
      </a>
    </ns-card>

    <ns-card role="listitem" type="support">
      <h3 slot="heading">Get appliance cover</h3>
      <div slot="paragraph">
        <p>Get ongoing cover for your favourite appliances and we’ll pop round the next time they break down.</p>
      </div>
      <a href="../appliances-and-electrical-cover/" slot="cta" aria-label="Get appliance cover">
        <ns-cta type="text">Get appliance cover</ns-cta>
      </a>
    </ns-card>
  </div>
</ns-panel>

<ns-panel>
  <ns-lockup type="lockjaw" reverse decoration="home">
    <h2 slot="heading">
      <span class="h5">Home improvements.</span>
      <span class="h1 enlighten">Here to <b>spruce up the place</b></span>
    </h2>
    <div slot="paragraph">
      <p>Looking to give your home a new lease of life? We can help you carry out all sorts of home improvements with your heating, hot water and electrics.</p>
    </div>
    <a href="/aem6/content/britishgas/home-services/boilers-and-heating/home-improvements.html" slot="cta" aira-label="See our products">
      <ns-cta type="direct">Freshen up your home</ns-cta>
    </a>
    <ns-image slot="image" src="https://www.britishgas.co.uk/aem6/content/dam/britishgas/images/home-services/lockup1.jpg" alt="home improvements"></ns-image>
  </ns-lockup>
</ns-panel>

<ns-panel>
  <div class="splash">
    <h2>Other services</h2>
  </div>
  <div role="list" class="splash triple">
    <ns-card role="listitem" type="support">
      <h3 slot="heading">Home insurance</h3>
      <div slot="paragraph">
        <p>Protect what's important to you, with a little help from us.</p>
      </div>
      <a href="/aem6/content/britishgas/home-services/home-insurance.html" slot="cta" aria-label="Insurance for homes">
        <ns-cta type="text">Insurance for homes</ns-cta>
      </a>
    </ns-card>
    <ns-card role="listitem" type="support">
      <h3 slot="heading">Landlords</h3>
      <div slot="paragraph">
        <p>When your tenants call you with problems, we can help you find the solutions.</p>
      </div>
      <a href="/aem6/content/britishgas/home-services/landlords/landlord-cover.html" slot="cta" aria-label="Cover for landlords">
        <ns-cta type="text">Cover for landlords</ns-cta>
      </a>
    </ns-card>
    <ns-card role="listitem" type="support">
      <h3 slot="heading">Moving home</h3>
      <div slot="paragraph">
        <p>Let us know if you're moving and we'll keep things running smoothly.</p>
      </div>
      <a href="/discover/home-move/" slot="cta" aria-label="Help with moving">
        <ns-cta type="text">Help with moving</ns-cta>
      </a>
    </ns-card>
  </div>
</ns-panel>

<ns-panel>
  <ns-lockup type="lockjaw" decoration="bulb">
    <h2 slot="heading">
      <span class="h5">Existing customers.</span>
      <span class="h1 enlighten"><strong>Book an engineer, pay bills,</strong>
        join Rewards and more</span>
    </h2>
    <div slot="paragraph">
      <p>Sign in to your account and access a range of features.</p>
    </div>
    <a href="/aem6/content/britishgas/my-account.html" slot="cta" aira-label="Access your account">
      <ns-cta type="direct">Access your account</ns-cta>
    </a>
    <ns-image slot="image" src="https://www.britishgas.co.uk/aem6/content/dam/britishgas/images/home-services/home-services-existing-customers.jpg" alt="home improvements"></ns-image>
  </ns-lockup>
</ns-panel>

<ns-panel>
  <div class="splash">
    <ns-accordion>
      <h3 slot="heading">Frequently asked questions</h3>
      <ns-expander>
        <h4 slot="heading">Can I control my account online?</h4>
        <p>Yes you can. Just <a adhocenable="false" data-toggle="none" href="/my-account.html">click here</a> to access your account. Then follow the instructions.<br>
          <br>
          To discover the benefit(s) of having an online account, <a adhocenable="false" data-toggle="none" aria-label="Opens in new window" href="https://www.youtube.com/watch?v=7bjRekjQp4Y&amp;list=PLUbxnTyy5NQkFDQ56Cm-0I_2NFya4WaGr&amp;index=1" target="_blank">watch this video</a>.</p>
      </ns-expander>

      <ns-expander>
        <h4 slot="heading">What does an annual service include*?</h4>
        <p>Your service includes a series of check(s) to make sure your boiler and central heating are running safely and efficiently.</p>
        <p>Your engineer will check for water leak(s), damage and wear and tear. They’ll also carry out a few safety inspections, such as making sure your boiler is using the right amount of gas and not letting off carbon monoxide and other harmful gases.</p>
        <p>If a service is included in your cover, we will let you know when it’s due. If it isn’t included, <a href="/../apps/home-services/product-catalog/GAK" adhocenable="false" data-toggle="none">click here</a> to buy a one-off service.</p>
        <p>*Your annual services may be more than 12 months apart.</p>
      </ns-expander>

      <ns-expander>
        <h4 slot="heading">Can I speak to someone if I have a question about buying HomeCare?</h4>
        <p>You can call us on 0333 202 9604 on Monday to Friday, 8am to 8pm, or on Saturday, 8am to 6pm. Or you can speak to one of our live chat team. Just click on the ‘Chat’ button in the corner of the screen.</p>
        <p>We may record calls to help improve our service to you. Calls to 0330/0333 numbers will cost you no more than 01 or 02 numbers from landlines or mobiles. If you get 'inclusive minutes' with your package, calls to 0330/0333 numbers will be part of these.</p>
      </ns-expander>

      <ns-expander>
        <h4 slot="heading">How do I book my annual service visit*?</h4>
        <p>You can book an annual service visit using your <u><a href="/my-account.html" adhocenable="false" data-toggle="none">online account</a></u> or through our app.</p>
        <p>If your service isn't due for some time, you might not be able to book it just yet.</p>
        <p>For more information, <a href="https://www.youtube.com/watch?v=cjXXbizi4_U&amp;list=PLUbxnTyy5NQkFDQ56Cm-0I_2NFya4WaGr&amp;index=15&amp;t=0s" target="_blank" adhocenable="false" data-toggle="none" aria-label="Opens in new window">watch this video</a>.</p>
        <p>*Your annual services may be more than 12 months apart.</p>
      </ns-expander>

      <ns-expander>
        <h4 slot="heading">How do I book a repair?</h4>
        <p><a href="/my-account.html" adhocenable="false" data-toggle="none">Click here</a> to access your account and book a repair in just a few click(s). Or book it on our app.</p>
        <p>For more information, <a href="https://www.youtube.com/watch?v=cjXXbizi4_U&amp;list=PLUbxnTyy5NQkFDQ56Cm-0I_2NFya4WaGr&amp;index=15&amp;t=0s" target="_blank" adhocenable="false" data-toggle="none" aria-label="Opens in new window">watch this video</a>.</p>
      </ns-expander>

      <ns-expander>
        <h4 slot="heading">Why has my HomeCare price changed?</h4>
        <p>Your HomeCare price can change for a number of reasons, our <a adhocenable="false" data-toggle="none" href="/home-services/boilers-and-heating/pricing.html">pricing guide</a> provides all the info on how we calculate things.</p>
      </ns-expander>

      <ns-expander>
        <h4 slot="heading">How much is the excess? </h4>
        <p>Excess is the amount you’ll pay for every completed repair. You can usually choose the amount of excess you’d like to pay when you buy your cover. Our excess options tend to be £0, £60 and £99.</p>
        <p>If you have a £0 excess, you won’t pay any excess for a completed repair. If you have a £60 excess, you'll pay £60 for every completed repair. If you don't have a repair, you won't pay any excess. The same goes for £99 excess.</p>
        <p>If you’ve already got cover with us, you can find your excess amount in your online account.</p>
      </ns-expander>
    </ns-accordion>
  </div>
</ns-panel>

<ns-caveat type="standard">
  <h2 slot="heading">Additional information</h2>
  <div slot="caveat">
    <ol>
      <li>
        <p>Offer is available to new to brand domestic homeowners and landlords who buy HomeCare Two, HomeCare Three or HomeCare Four online between 29th September and 25th November 2020. Offer is for the first year only and is not available with any other offer or promotion, other than Refer A Friend. You may not be eligible for the offer if you have had a HomeCare product with similar features in the last 3 months, or more than once in the last 3 years. Offer excludes HomeCare One, Multi-Premise Landlords, and existing HomeCare One to Four customers. This offer can be withdrawn at any time. This is an online only offer.</p>
      </li>
    </ol>
  </div>
</ns-caveat>
