---
title: boiler-and-heating-cover
---

<ns-panel class="banner">
  <ns-lockup type="lockjaw" banner="gift-card">
    <h1 slot="heading">
      <span class="h5">Ready for the unexpected?</span>
      <span class="h1 enlighten"><b>Plumbing and drains cover</b></span>
    </h1>
    <div slot="paragraph">
      <p>From blocked drains to problem pipes, choose from our range of cover and we’ll get your home flowing in no time.</p>
    </div>
    <div slot="paragraph">
      <ul class="ul-ticked">
        <li>Help for those everyday emergencies – even a drippy tap</li>
        <li>Fixing any all your home plumbing, including outbuildings and water supply pipes within the property boundary</li>
        <li>Unblocking or repairing your drains and waste pipes</li>
        <li>Accidental damage</li>
      </ul>
    </div>
    <ns-image slot="image" src="https://user-images.githubusercontent.com/56305396/97699218-aa0d7e80-1aa1-11eb-8933-a54fb14e95d7.png"></ns-image>
  </ns-lockup>
</ns-panel>

<ns-panel decoration="invert-concave-grey-light" class="homecare-packages">
  <div class="splash">
    <h2>Choose the cover that’s right for you</h2>
  </div>
  <div class="splash">
    <p class="p-normal">From single drain and plumbing cover to complete home protection, we can help. To get started, see which excess option’s right for you.</p>
  </div>
  <ns-form class="splash">
    <ns-inputter heading="Choose your excess" helper="What does excess mean?" class="excess" value="60">
      <div slot="tip-details">
        <p>This is the fee you will pay once for each completed repair. The higher the excess fee you select, the lower the monthly or annual price you pay.</p>
      </div>
      <input type="radio" id="excess-1" name="excess" value="60">
      <label for="excess-1">
        <ns-price pence="6000"></ns-price>
      </label>
      <input type="radio" id="excess-2" name="excess" value="zero">
      <label for="excess-2">
        <ns-price pence="0"></ns-price>
      </label>
    </ns-inputter>
  </ns-form>
  <div class="splash">
    <ns-column squashcourt="1" tenniscourt="1" basketballcourt="2" hockeypitch="3" rugbypitch="4" polofield="4">
      <ns-product-card keyline="green-light">
        <h2 slot="name">Plumbing & Drains</h2>
        <h3 slot="price-heading">Estimated price</h3>
        <div slot="price">
          <p><b>
              <ns-price pence="350"></ns-price>
            </b><span> / month</span></p>
          <p>
            <ns-price pence="4200"></ns-price> / year
          </p>
        </div>
        <div slot="description">
          <ul class="ul-ticked">
            <li>Plumbing</li>
            <li>Drains</li>
          </ul>
        </div>
        <ns-expander slot="expander">
          <h3 slot="heading">What's included?</h3>
          <ul class="ul-ticked">
            <li>Repairs to the plumbing system in your home and outbuildings and the water supply pipe within the boundary of your property</li>
            <li>Unblocking and repairing your drains and waste pipes to restore flow</li>
            <li>Accidental Damage</li>
            <li>Up to £1,000 to gain access and make good for each repair</li>
          </ul>
        </ns-expander>
        <ns-expander slot="expander">
          <h3 slot="heading">What's not included?</h3>
          <ul class="ul-crossed">
            <li>Showers and their parts, shower pumps, sanitary ware and sealant</li>
            <li>Shared drains</li>
            <li>Faults caused by someone else you used for repairs or design faults</li>
          </ul>
        </ns-expander>
        <ns-cta href="/hs" slot="cta">Get a quote</ns-cta>
      </ns-product-card>
      
      <ns-product-card keyline="yellow">
        <h2 slot="name">HomeCare Three</h2>
        <h3 slot="price-heading">Estimated price</h3>
        <div slot="price">
          <p><b>
              <ns-price pence="2100"></ns-price>
            </b><span> / month</span></p>
          <p>
            <ns-price pence="24000"></ns-price> / year
          </p>
        </div>
        <div slot="description">
          <ul class="ul-ticked">
            <li>Plumbing</li>
            <li>Drains</li>
            <li>Full boiler service</li>
            <li>Boiler and controls</li>
            <li>Central heating</li>
           
          </ul>
        </div>
        <ns-expander slot="expander">
          <h3 slot="heading">What's included?</h3>
          <ul class="ul-ticked">
            <li>Repairs to your gas central heating system, including boiler, controls, radiators and hot water cylinder</li>
            <li>Full service of your boiler to make sure it's running safely and efficiently</li>
            <li>Repairs to the plumbing system in your home and outbuildings and the water supply pipe within the boundary of your property.</li>
            <li>Unblocking and repairing your drains and waste pipes to restore flow</li>
            <li>Accidental Damage</li>
            <li>Up to £1,000 to gain access and make good for each repair</li>
          </ul>
        </ns-expander>
        <ns-expander slot="expander">
          <h3 slot="heading">What's not included?</h3>
          <ul class="ul-crossed">
            <li>Removing sludge or scale or repairing the damage it causes if we tell you it might be a problem for your system or boiler</li>
            <li>Showers and their parts, shower pumps, sanitary ware and sealant</li>
            <li>Shared drains</li>
            <li>Faults caused by someone else you used for repairs or design faults</li>
          </ul>
        </ns-expander>
        <ns-cta href="/hs" slot="cta">Get a quote</ns-cta>
      </ns-product-card>
      <ns-product-card keyline="red">
        <h2 slot="name">HomeCare Four</h2>
        <h3 slot="price-heading">Estimated price</h3>
        <div slot="price">
          <p><b>
              <ns-price pence="2350"></ns-price>
            </b><span> / month</span></p>
          <p>
            <ns-price pence="27000"></ns-price> / year
          </p>
        </div>
        <div slot="description">
          <ul class="ul-ticked">
            <li>Plumbing</li>
            <li>Drains</li>
            <li>Full boiler service</li>
            <li>Boiler and controls</li>
            <li>Central heating</li>
            <li>Home electrics</li>
          </ul>
        </div>
        <ns-expander slot="expander">
          <h3 slot="heading">What's included?</h3>
          <ul class="ul-ticked">
            <li>Repairs to your gas central heating system, including boiler, controls, radiators and hot water cylinder</li>
            <li>Full service of your boiler to make sure it's running safely and efficiently</li>
            <li>Repairs to the plumbing system in your home and outbuildings and the water supply pipe within the boundary of your property.</li>
            <li>Unblocking and repairing your drains and waste pipes to restore flow</li>
            <li>Repairs to the mains electrical system and wiring in your home and outbuildings</li>
            <li>Accidental Damage</li>
            <li>Up to £1,000 to gain access and make good for each repair</li>
          </ul>
        </ns-expander>
        <ns-expander slot="expander">
          <h3 slot="heading">What's not included?</h3>
          <ul class="ul-crossed">
            <li>Removing sludge or scale or repairing the damage it causes if we tell you it might be a problem for your system or boiler</li>
            <li>Showers and their parts, shower pumps, sanitary ware and sealant</li>
            <li>Shared drains</li>
            <li>Faults caused by someone else you used for repairs or design faults</li>
            <li>Electrical appliances, cooker hoods or extractor fans over 15cm diameter</li>
          </ul>
        </ns-expander>
        <ns-cta href="/hs" slot="cta">Get a quote</ns-cta>
      </ns-product-card>
    </ns-column>
  </div>
  <div class="splash">
    <h2 class="h4">Important documents</h2>
    <ul class="download-list">
      <li>
        <ns-download href="//www.britishgas.co.uk/content/dam/british-gas/documents/home_services/HomeCare_Range_Terms_and_Conditions.pdf" filesize="2MB">Terms and Conditions</ns-download>
      </li>
      <li>
        <ns-download href="//www.britishgas.co.uk/content/dam/british-gas/documents/home_services/About_our_insurance_services.pdf" filesize="113Kb">About our insurance services</ns-download>
      </li>
    </ul>
  </div>
</ns-panel>

<ns-panel>
  <div class="trustpilot-widget" data-locale="en-GB" data-template-id="54ad5defc6454f065c28af8b" data-businessunit-id="48e8f675000064000503c319" data-style-height="240px" data-style-width="100%" data-theme="light" data-tags="NewBoiler" data-stars="4,5" data-review-languages="en" style="position: relative;"><iframe frameborder="0" scrolling="no" title="Customer reviews powered by Trustpilot" loading="auto" src="https://widget.trustpilot.com/trustboxes/54ad5defc6454f065c28af8b/index.html?templateId=54ad5defc6454f065c28af8b&amp;businessunitId=48e8f675000064000503c319#locale=en-GB&amp;styleHeight=240px&amp;styleWidth=100%25&amp;theme=light&amp;tags=NewBoiler&amp;stars=4%2C5&amp;reviewLanguages=en" style="position: relative; height: 240px; width: 100%; border-style: none; display: block; overflow: hidden;"></iframe>
  </div>
</ns-panel>

<ns-panel decoration="circle-yellow-right">
  <ns-lockup type="lockjaw">
    <h2 slot="heading">
      <span class="h5">Need a repair?</span>
      <span class="h1 enlighten"><b>Book an engineer</b></span>
    </h2>
    <div slot="paragraph">
      <p>If you’ve got a blocked drain, dripping tap or burst pipe, expert help is just a few clicks away.</p>
    </div>
    <a slot="cta" href="/hs">
      <ns-cta type="direct" loading="false">Book an engineer</ns-cta>
    </a>
    <ns-image slot="image" src="https://user-images.githubusercontent.com/28779/97545881-8c69e780-19c3-11eb-88e1-51e46828c63e.jpg"></ns-image>
  </ns-lockup>
</ns-panel>



<ns-panel>
  <div class="splash">
    <ns-accordion>
      <h2 slot="heading">Frequently asked questions</h2>
      <ns-expander>
        <h3 slot="heading">What happens to my renewal price after the first year?</h3>
        <p>The price you’ll pay at renewal is likely to increase as your introductory price will have ended, but it will be tailored to your specific details. If you’re paying by direct debit, you will automatically renew, however you can still choose to change or cancel your contract, we'll contact you before your renewal date to remind you.</p>
      </ns-expander>

      <ns-expander>
        <h3 slot="heading">Can I control my account online?</h3>
        <p>Yes you can. Just <a href="/hs" data-di-id="di-id-76741e74-edae2c70">click here</a> to access your account. Then
          follow the instructions. To discover the benefit(s) of having an online account, <a aria-label="Opens in new window" href="https://www.youtube.com/watch?v=bW6LGBSfDSE&amp;list=PLUbxnTyy5NQkFDQ56Cm-0I_2NFya4WaGr&amp;index=3" target="_blank" class=" " data-di-id="di-id-d39c61b4-3e37c08e">watch this video</a>.</p>
      </ns-expander>
      <ns-expander>
        <h3 slot="heading">Why am I getting a different price after entering my address?</h3>
        <p>We use information about your location to tailor the price you pay for HomeCare cover. Factors such as water hardness and property type may influence claims costs, which is reflected in your price.</p>
      </ns-expander>
      <ns-expander>
        <h3 slot="heading">What does an annual service include?</h3>
        <p>This is a visit we carry out in each contract year<a type="atom" href="#caveat">1</a> to check your boiler and central heating system or gas appliance (depending on what is included in your agreement) are safe and working correctly.</p>
      </ns-expander>
      <ns-expander>
        <h3 slot="heading">Can I speak to someone if I have a question?</h3>
        <p>You can call us on 0333 202 9604. Monday to Friday: 8am - 8pm, Saturday 8am - 6pm. We may record calls to help improve our service to you. Calls to 0330/0333 numbers will cost you no more than 01 or 02 numbers from landlines or mobiles. If you get 'inclusive minutes' with your package, calls to 0330/0333 numbers will be part of these.</p>
      </ns-expander>
    </ns-accordion>
  </div>
</ns-panel>

<ns-caveat>
  <h2 slot="heading">Additional information</h2>
  <div slot="caveat">
    <ol>
      <li>
        <p>Your annual services may be more than 12 months apart.</p>
      </li>
    </ol>
  </div>
</ns-caveat>
<script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async=""></script>