---
title: renters-insurance
---

<ns-landmark image="https://www1.bgo.bgdigitaltest.co.uk/aem6//content/dam/britishgas/images/ns/services/home-insurance/fp-landmark-summit-girl-guitar.jpg" type="summit">
  <h1 slot="heading">
    <span class="h5">Renters insurance.</span>
    <span class="h1 enlighten">We’ve got you <b>covered</b></span>
  </h1>
  <div slot="paragraph">
    <p>We’re here to look after the things you love with our specially designed renters insurance that includes tenant’s liability cover.</p>
  </div>
</ns-landmark>

<ns-panel>
  <ns-lockup type="lockjaw" reverse decoration="home">
    <h2 slot="heading">
      <span class="h5">Renters insurance explained.</span>
      <span class="h1 enlighten"><b>What is renters insurance?</b></span>
    </h2>
    <div slot="paragraph">
      <p>When you rent your home, your landlord usually takes care of the buildings insurance – leaving you to protect your belongings with the right contents cover. That includes insurance for loss or damage to your contents by fire, flood, escape of water and theft.</p>
      <p>The good news is, renters insurance is already included with your current energy tariff at no extra cost. And there's no annual insurance contract either – you're covered for as long as we supply your energy.</p>
    </div>
    <ns-image slot="image" src="https://www1.bgo.bgdigitaltest.co.uk/aem6//content/dam/britishgas/images/ns/services/home-insurance/Hands.jpg" alt="Image showing holding hands"></ns-image>
  </ns-lockup>
</ns-panel>

<ns-panel>
  <ns-lockup type="locknut">
    <h2 slot="heading">
      <span class="h5">Renters insurance.</span>
      <span class="h1 enlighten"><b>What we cover</b></span>
    </h2>
    <div slot="paragraph">
      <ul class="ul-ticked">
        <li>Loss or damage caused by fire, smoke, storm, flood, theft, escape of water (e.g. from burst pipes or tanks) or oil up to £20,000</li>
        <li>Single item limit of £1,000</li>
        <li>Money up to £250</li>
        <li>Alternative accommodation up to £5,000</li>
        <li>Frozen food up to £500</li>
        <li>Theft of contents in garages up to £3,000</li>
        <li>Bicycles cover up to £1,000 and up to £2,500 in total</li>
        <li>Tenant’s liability up to £5,000</li>
        <li>Occupier’s and public liability up to £2,000,000</li>
        <li>Any one claim for valuables up to £7,000</li>
        <li>Legal Assistance helpline for advice on any private legal problem including employment disputes and personal injury</li>
      </ul>
    </div>
    <ns-image slot="image" src="https://www1.bgo.bgdigitaltest.co.uk/aem6//content/dam/britishgas/images/ns/services/home-insurance/roundal_sofa.png" alt="Kid playing with dog on sofa"></ns-image>
  </ns-lockup>
</ns-panel>

<ns-panel decoration="invert-concave-grey-light">
  <ns-lockup type="lockbox" reverse>
    <h2 slot="heading">
      <span class="h5">Renters insurance.</span>
      <span class="h1 enlighten"><b>What's not covered</b></span>
    </h2>
    <div slot="paragraph">
      <ul class="ul-crossed">
        <li>Loss or damage occurring after the home has been unoccupied or unfurnished, by theft, malicious acts or loss or escape of water or oil</li>
        <li>Accidental damage except for tenants’ liability</li>
        <li>Loss or damage to contents including valuables, money or business equipment outside of the home</li>
        <li>Theft of contents in gardens, communal areas or any outbuildings (except garages if you have one as part of your tenancy agreement, where cover is provided up to £3,000)</li>
        <li>Exclusions which form part of the policy Terms and Conditions </li>
        <li>Each claim has a £50 excess to be paid by you (escape of water claims have £350 excess)</li>
        <li>Insurance benefits are secondary. This insurance will only pay amounts under this policy if they are not covered by other insurance or other agreements.</li>
      </ul>
    </div>
    <ns-image slot="image" src="https://www1.bgo.bgdigitaltest.co.uk/aem6//content/dam/britishgas/images/ns/services/home-insurance/kids-jump.jpg" alt="Kids jumping in bed"></ns-image>
  </ns-lockup>
</ns-panel>

<ns-panel>
  <div role="list" class="splash triple ">
    <ns-card role="listitem" type="flat">
      <h3 slot="heading">Important information</h3>
      <div slot="paragraph">
        <p>Find out how we earn commission for selling insurance.</p>
      </div>
      <ns-download href="https://www1.bgo.bgdigitaltest.co.uk/aem6//content/dam/britishgas/downloads/insurance/Insurance-Services-Important-Information.pdf" slot="cta" filesize="38.63KB">Important Information about our insurance services</ns-download>
    </ns-card>
    <ns-card role="listitem" type="flat">
      <h3 slot="heading">Terms &amp; Conditions</h3>
      <div slot="paragraph">
        <p>See what's covered by your insurance policy in our T&amp;Cs.</p>
      </div>
      <ns-download href="https://www1.bgo.bgdigitaltest.co.uk/aem6//content/dam/britishgas/downloads/insurance/British-Gas-Renters-Insurance-Terms-and-Conditions.pdf" slot="cta" filesize="239.54KB">Renters Insurance - Terms &amp; Conditions</ns-download>
    </ns-card>

    <ns-card role="listitem" type="flat">
      <h3 slot="heading">Product information document</h3>
      <div slot="paragraph">
        <p>Read about what's covered and what's not.</p>
      </div>
      <ns-download href="https://www1.bgo.bgdigitaltest.co.uk/aem6//content/dam/britishgas/downloads/insurance/IPID-Home-Contents-Cover.pdf" slot="cta" filesize="1.61MB">Contents Insurance - Product Information</ns-download>
    </ns-card>
  </div>
</ns-panel>

<ns-panel>
  <div class="splash">
    <h2 class="h3">Your eligibility</h2>
    <p class="p-normal">Your cover starts from the date we begin supplying your energy, and ends either when the tariff finishes, if you no longer meet our criteria, or if we withdraw or cancel this benefit.</p>
    <p class="p-normal">If you or someone you live with no longer meets the eligibility criteria below, get in touch and we'll help you find another tariff without renters insurance.</p>
    <ns-accordion>
      <h3 slot="heading">Eligibility criteria</h3>
      <ns-expander>
        <h4 slot="heading">You or anyone you live with must not have</h4>
        <ul class="ul-bullet">
          <li>Made more than two claims in the past five years  </li>
          <li>Had a previous home insurance policy refused, cancelled or declared void   </li>
          <li>Any unspent criminal convictions (other than motoring offences) according to the rehabilitation of offenders act</li>
          <li>Unsatisfied county court judgements or undeclared bankruptcy</li>
        </ul>
      </ns-expander>
      <ns-expander>
        <h4 slot="heading">Your home must not</h4>
        <ul class="ul-bullet">
          <li>Be left unoccupied for more than 30 consecutive days </li>
          <li>Be used for business purposes other than clerical business use</li>
        </ul>
      </ns-expander>
    </ns-accordion>
  </div>
</ns-panel>

<ns-panel decoration="invert-concave-yellow">
  <ns-lockup type="lockbox">
    <h2 slot="heading">
      <span class="h5">Five star insurance.</span>
      <span class="h1 enlighten">Need more cover? <b>Choose home insurance</b></span>
    </h2>
    <div slot="paragraph">
      <p>Our renters insurance covers contents up to £20,000. So if you need more cover, or if you want to protect your belongings outside your home, or you're no longer renting, take a look at our home insurance policies instead. We've got lots of options and extras to make sure you're fully covered.</p>
      <p>We've been taking care of Britain's homes for over 200 years, so we know what it takes to look after the things you love. In fact, our home insurance has earned a Five Star rating by Moneyfacts, a group of independent financial experts.</p>
      <p>And as a British Gas customer, you'll get two months' completely free. Just use the code RENTXXX when you buy a new policy online.</p>
    </div>
    <a href="https://www.britishgas.co.uk/home-services/insurance/home-insurance/eligibility-check" slot="cta">
      <ns-cta type="direct">Start your quote</ns-cta>
    </a>
    <ns-image slot="image" src="https://www1.bgo.bgdigitaltest.co.uk/aem6//content/dam/britishgas/images/ns/services/home-insurance/girl_with_cup_moneyfacts.jpg" alt="Girl with cup of tea"></ns-image>
  </ns-lockup>
</ns-panel>

<ns-panel>
  <div class="splash">
    <ns-accordion>
      <h3 slot="heading">Questions about convictions</h3>
      <ns-expander>
        <h4 slot="heading">Which convictions are need to be declared?</h4>
        <p>Under the Rehabilitation of Offenders Act, some convictions will become ‘spent’ after a certain amount of time has elapsed.</p>
        <p>There is no requirement to disclose the conviction when it is spent. How long the rehabilitation period will last depends on the length of the sentence handed down for a crime, rather than the crime itself.</p>
        <p>The rehabilitation period does not being until the end of the custodial sentence. Custodial sentences lasting over four years never become spent. For sentences shorter than this, consult the table below.</p>
        <h4>Should you declare your conviction?</h4>
        <p>You should declare your conviction if any of the following apply in relation to your sentence:</p>
        <h5>Rehab period - 18 or over when convicted</h5>
        <dl class="dl-row">
          <div>
            <dt>Prison sentences [1] of 6 months or fewer</dt>
            <dd>2 years</dd>
          </div>
          <div>
            <dt>Prison sentences [1] of more than 6 months to 2 and a half years</dt>
            <dd>4 years</dd>
          </div>
          <div>
            <dt>Prison sentences [1] of more than 2 and a half years to 4 years</dt>
            <dd>7 years</dd>
          </div>
          <div>
            <dt>Prison sentences [1] of more than 4 years</dt>
            <dd>Cannot be spent</dd>
          </div>
          <div>
            <dt>Fines</dt>
            <dd>1 year</dd>
          </div>
          <div>
            <dt>Compensation orders</dt>
            <dd>Spent once paid in full</dd>
          </div>
          <div>
            <dt>Absolute discharge</dt>
            <dd>Spent immediately</dd>
          </div>
          <div>
            <dt>Probation [2], supervision, care order, conditional discharge or bind-over</dt>
            <dd>Spent at end of the order</dd>
          </div>
          <div>
            <dt>Hospital orders (with or without a restriction order)</dt>
            <dd>Spent at end of the order</dd>
          </div>
        </dl>
        <h5>Rehab period - 17 and under when convicted</h5>
        <dl class="dl-row">
          <div>
            <dt>Prison sentences [1] of 6 months or fewer</dt>
            <dd>18 months</dd>
          </div>
          <div>
            <dt>Prison sentences [1] of more than 6 months to 2 and a half years</dt>
            <dd>2 years</dd>
          </div>
          <div>
            <dt>Prison sentences [1] of more than 2 and a half years to 4 years</dt>
            <dd>3.5 years</dd>
          </div>
          <div>
            <dt>Prison sentences [1] of more than 4 years</dt>
            <dd>Cannot be spent</dd>
          </div>
          <div>
            <dt>Fines</dt>
            <dd>6 months</dd>
          </div>
          <div>
            <dt>Compensation orders</dt>
            <dd>Spent once paid in full</dd>
          </div>
          <div>
            <dt>Youth Rehabilitation Orders</dt>
            <dd>6 months</dd>
          </div>
          <div>
            <dt>Absolute discharge</dt>
            <dd>Spent immediately</dd>
          </div>
          <div>
            <dt>Probation [2], supervision, care order, conditional discharge or bind-over</dt>
            <dd>Spent at end of the order</dd>
          </div>
          <div>
            <dt>Hospital orders (with or without a restriction order)</dt>
            <dd>Spent at end of the order</dd>
          </div>
        </dl>
        <ol class="ol-numbered">
          <li>Including suspended sentences, corrective training, detention in a young offender institution, and youth custody (abolished in 1988).</li>
          <li>For people convicted before 3 February 1995.</li>
        </ol>
      </ns-expander>
      <ns-expander>
        <h4 slot="heading">What happens if you have an unspent criminal conviction?</h4>
        <p>Unfortunately, we would not be able to provide you cover under this policy.</p>
        <p>You may be able to get insurance protection through organisations such as the charity Unlock, which supports people with convictions, or the British Insurance Brokers Association (BIBA) ‘Find a Broker’ helpline.</p>
      </ns-expander>
    </ns-accordion>
  </div>
</ns-panel>

<ns-caveat type="standard">
  <h2 slot="heading">Additional information</h2>
  <div slot="caveat">
    <ol>
      <li>The contents cover provided by this renters insurance policy is only available if you're on a tariff that includes this cover (as shown in your Energy Contract Pack) at the time you suffer a loss that's covered by the policy. The benefits outlined in this policy may be changed, withdrawn or cancelled at any time – but we'll give you at least one month's notice if so. This notice period may be extended and you'll always benefit from this cover for a minimum of 12 months. If you change your tariff, either to another supplier or to a different British Gas tariff, you'll no longer be eligible for the benefits of this cover and you won't be able to make a claim.</li>
    </ol>
  </div>
</ns-caveat>
