---
title: Page one
message: Testing123
---

<ns-panel>
  <div class="splash">
    <ns-form-summary title="Personal details" >

        <ns-form nf-model="model.details">

          <ns-inputter validation="[&quot;isRequired&quot;]" name="title" value="">
            <label slot="label">Title</label>

            <select autocomplete="honorific-prefix" name="select">
              <option value="">Please Select</option>
              <option value="Mr">Mr</option>
              <option value="Mrs">Mrs</option>
              <option value="Ms">Ms</option>
              <option value="Miss">Miss</option>
              <option value="Dr">Dr</option>
              <option value="Sir">Sir</option>
              <option value="Reverend">Reverend</option>
              <option value="Dame">Dame</option>
              <option value="Lady">Lady</option>
              <option value="Professor">Professor</option>
              <option value="Lord">Lord</option>
            </select>
          </ns-inputter>

          <ns-inputter validation="[&quot;isRequired&quot;,&quot;isFirstName&quot;]" name="first-name" value="">
            <label slot="label">First name</label>
            <input autocomplete="given-name" type="text">
          </ns-inputter>

          <ns-inputter validation="[&quot;isRequired&quot;,&quot;isLastName&quot;]" name="surname" value="">
            <label slot="label">Surname</label>
            <input autocomplete="family-name" type="text">
          </ns-inputter>

        </ns-form>
      </ns-form-summary>

  </div>
</ns-panel>
