---
title: Page two
---

<!-- LANDMARK -->

<ns-landmark type="hillside" gradient="invert-ramp-cyan">
    <h1 slot="heading">
    <span class="h5">Custom Summary. We hope your move goes well. </span>
    <span class="h1 enlighten"> <b>We’ve received your moving details</b></span>
    </h1>
    <p slot="paragraph">Keep your eyes peeled for an email containing all your moving details.</p>
    <p slot="paragraph">We’ll email over your final statements within the next couple of days.</p>
</ns-landmark>


