---
title: Hello World
eleventyNavigation:
  key: Hello World
  parent: ben
  title: Hello World
  excerpt: Sandbox for Ben
---

<ns-landmark type="hillside">
  <h1 slot="heading">
    <span class="h5">How cool is this.</span>
    <span class="h1 enlighten">Ben is <b>messing around</b></span>
  </h1>
  <div slot="paragraph">
    <p>This is the index page of <b>{{title}}</b>.</p>
  </div>
</ns-landmark>