---
title: Proto one
eleventyNavigation:
  key: Prototype one
  parent: rpa
  title: Proto one
  excerpt: Experiment with Prototype one
---

<ns-landmark type="hillside">
  <h1 slot="heading">
    <span class="h5">How cool is this.</span>
    <span class="h1 enlighten">{{teamname}}'s <b>{{title}}</b></span>
  </h1>
  <div slot="paragraph">
    <p>This is the index page of <b>{{title}}</b>.</p>
  </div>
</ns-landmark>

<ns-panel>
  <div class="splish triple" >
    <ns-card type="section" decoration="gas">
      <h3 slot="heading">Energy</h3>
      <p slot="paragraph">Power your world with our products and services.</p>
      <a slot="cta" href="#!">
        <ns-cta type="direct">Start saving</ns-cta>
      </a>
    </ns-card>
    <ns-card  type="section" decoration="boiler">
      <h3 slot="heading">Home Services</h3>
      <p slot="paragraph">Protect your boiler, heating, drains and more.</p>
      <a slot="cta" href="#!">
        <ns-cta type="direct">Get covered</ns-cta>
      </a>
    </ns-card>
    <ns-card  type="section" decoration="home">
      <h3 slot="heading">Smart Homes</h3>
      <p slot="paragraph">Life can be hectic, so get connected with the latest tech.</p>
      <a slot="cta" href="#!">
        <ns-cta type="direct">Get smart</ns-cta>
      </a>
    </ns-card>
  </div>
</ns-panel>

<ns-panel decoration="circle-yellow-left">
  <ns-lockup reverse ratio="4x3" type="lockjaw" decoration="gas">
    <h2 slot="heading">
      <span class="h5">Bespoke squid wolf.</span>
      <span class="h1 enlighten"><b>Lovely kinfolk</b> ready made</span>
    </h2>
    <div slot="paragraph">
      <ul class="ul-ticked">
        <li>Blue bottle neutra franzen</li>
        <li>3 wolf moon</li>
        <li>Leggings la croix</li>
        <li>Vegan next level cliche occupy before</li>
        <li>They sold out jean shorts chicharrones</li>
      </ul>
    </div>
    <a slot="cta" href="#!">
      <ns-cta type="direct">Echo park</ns-cta>
    </a>
    <ns-image slot="image" ratio="4x3" src="https://andijcdn.sirv.com/nds/testcard-4x3.png?scale.width&#x3D;768&amp;text.0.text&#x3D;768x576&amp;text.0.position&#x3D;center&amp;text.0.outline.width&#x3D;2"></ns-image>
  </ns-lockup>
</ns-panel>
