---
title: Page two
---
<ns-landmark type="hillside" gradient="invert-ramp-blue">
  <h1 slot="heading">
    <span class="h5">You're ready.</span>
    <span class="h1 enlighten"><b>Summary</b></span>
  </h1>
  <div slot="paragraph">
    <ul>
      <li>Payment: <span nf-model="model.form1.energy-type">Surname</span></li>
      <li>Meter Type: <span nf-model="model.form2.meter-type">Meter Type</span></li>
    </ul>
  </div>
</ns-landmark>
