---
title: Anonymous meter reading not required
---


<ns-landmark type="lakeside">
  <h1 slot="heading">
    
    <span class="h1">No meter readings required
</span>
  </h1>
  <p slot="paragraph">The customer account you entered doesn’t need any meter readings right now thanks.</p>
</ns-landmark>
