---
layout: nucleus-header-logged-in.njk
title: Anonymous meter reading input
eleventyNavigation:
  key: Anonymous meter reading input
  parent: meter-readings
  title: Anonymous meter reading input
  excerpt: Anonymous meter reading input
---

<ns-landmark type="lakeside">
  <h1 slot="heading">
    <span class="h5">Meter readings.</span>
    <span class="h1">Submit the latest readings
</span>
  </h1>
  <p slot="paragraph">Please enter the latest readings from the customer's meters. If you're not sure how to read a meter our help and support pages can guide you through the process.</p>
  <p slot="paragraph">Account holder:
  <span nf-model="model.oam-01.meter-firstname">[HERE]</span>
  <span nf-model="model.oam-01.meter-surname">[HERE]</span></p>
  <p slot="paragraph">Reference number: <b>851234567890</b></p>

</ns-landmark>


<ns-panel>
  <div class="splash">
    <ns-form>

      <ns-fieldset legend="Enter the customer's latest readings:">

<span class="h5">Previous reading</span>
<span class="h6">estinamted on 28th August 2020</span>

<ns-inputter mask="00---" separator="" validation="[&quot;isRequired&quot;]" value="" helper="How do I give my gas meter reading?" name="customer-reference-number">
  <div slot="tip-details">Enter your gas meter reading into the box below, including any zeros at the beginning. Don't worry abou the red numbers or anything after the decimal point.</div>
  <label slot="label">Gas meter reading</label>
  <input type="text">
</ns-inputter>

<ns-inputter mask="00---" separator="" validation="[&quot;isRequired&quot;]" value="" helper="How do I give my electricity meter reading?" name="customer-reference-number">
  <div slot="tip-details">Enter your electricity meter reading into the box below, including any zeros at the beginning. Don't worry abou the red numbers or anything after the decimal point.</div>
  <label slot="label">Electricity meter reading</label>
  <input type="text">
</ns-inputter>

 </ns-fieldset>

      <ns-cta onclick="submitForm()">Submit readings</ns-cta>
    </ns-form>
  </div>
</ns-panel>
