---
title: Anonymous meter reading
eleventyNavigation:
  key: Anonymous meter reading
  parent: meter-readings
  title: Anonymous meter reading
  excerpt: Anonymous meter reading
---

<ns-landmark type="hillside" gradient="invert-ramp-cyan">
  <h1 slot="heading">
    <span class="h5">Meter readings.</span>
    <span class="h1 enlighten">Submit a meter reading <b>for someone else.</b></span>
  </h1>
</ns-landmark>


<ns-panel>
  <ns-form class="splash" nf-model="model.oam-meter-01">

  <ns-highlighter type="error">
      <h2 slot="heading">These details do not match a customer account</h2>
      <p>Unfortunately there is a problem with some of the information you have submitted. Please check that you have all of the details correct.</p>
  </ns-highlighter>

    <ns-fieldset legend="Please enter the Customer's account details:">
        <ns-inputter validation="[&quot;isRequired&quot;,&quot;isFirstName&quot;]" name="firstname" value="">
          <label slot="label">Customer's first name</label>
          <input autocomplete="given-name" type="text">
        </ns-inputter>

        <ns-inputter validation="[&quot;isRequired&quot;,&quot;isLastName&quot;]" name="surname" value="">
          <label slot="label">Customer's surname</label>
          <input autocomplete="family-name" type="text">
        </ns-inputter>

<ns-inputter mask="85----------" separator="" validation="[&quot;isRequired&quot;]" value="" helper="Where can I find this?" name="reference-number">
  <div slot="tip-details">The customer reference number can be found at the top of any letter or email we have sent to the account holder. The customer reference number should be a minimum of 12 numbers starting with "85"</div>
  <label slot="label">Customer's reference number</label>
  <input type="text">
</ns-inputter>

      </ns-fieldset>

      <ns-cta nf-href="DYNAMIC">Continue</ns-cta>
    </ns-form>
</ns-panel>

<script>
  function getDynamicURL() {
    var data = document.querySelector('ns-inputter[name="reference-number"]').value;
    if (data === '851234567890') {
      return 'anonymous-input';
    }
    else {
      return 'anonymous-input-fail';
    }
  }
</script>
