---
title: Paying-for-your-energy
eleventyNavigation:
  key: Paying for your energy
  parent: rpa
  title: Paying for your energy
  excerpt: Paying for your energy journey for Help & Support
---

    <ns-landmark type="lakeside">
      <h1 slot="heading">
        <span class="h5">Help with billing & payments.</span>
        <span class="h1 enlighten"><b>Paying</b> for your energy</span>
      </h1>
      <div slot="paragraph">
        <p>We want to make it as easy as possible to pay for your energy. So whether you pay via Direct Debit, online banking, debit or credit card, or Pay As You Go – we're here to help.</p>
        <p>We'll just need to ask you a few questions to make sure we give you the best advice and support. This will only take a minute.</p>
      </div>
      <a slot="cta" href="paying-your-energy-bill-L1">
        <ns-cta>Let's get started</ns-cta>
      </a>
    </ns-landmark>
