---
title: paying-for-your-energy-bill-summary-fuel-direct
---

<ns-landmark type="lakeside">
  <h1 slot="heading">
    <span class="h5">Paying for your energy.</span>
    <span class="h1 enlighten">Help if you use <b>Fuel Direct</b>
    </span>
  </h1>
  <div slot="paragraph">
    <p>If you pay for your energy directly out of your benefits payments. This is sometimes called ‘third party deductions’.</p>
    <p>British Gas aim to reassess Fuel Direct plans at least twice a year. We will contact the Department for Work and Pensions (DWP) if your payments need to change, and the DWP will notify you.</p>
  </div>
</ns-landmark>

<ns-panel>
  <div class="splash triple">

    <ns-card id="post-office" type="support">
      <h3 slot="heading">Switch to Pay As You Go</h3>
      <p slot="paragraph">Switching to Pay As You Go meter means you'll pay for your energy before you use it – making it easier to stay in budget.</p>
      <div slot="cta">
        <ns-cta type="text" href="#">Is Pay As You Go right for me? (PDF 854.0KB) </ns-cta>
      </div>
    </ns-card>

    <ns-card id="payzone" type="support">
      <h3 slot="heading">Change your tariff</h3>
      <p slot="paragraph">We may have a cheaper tariff for you. You can choose from our full range of tariffs (except Direct Debit only tariffs) to find one that's right for you.</p>
      <div slot="cta">
        <ns-cta type="text" href="#">Chat to us</ns-cta>
      </div>
    </ns-card>

   
  </div>
</ns-panel>


<ns-panel>
  <div class="splash">
    <ns-accordion role="tablist">
      <h3 slot="heading">Further information</h3>

      <ns-expander role="tab">
        <h4 slot="heading">Help if you're struggling to pay for your energy</h4>
        <p>We know it's not always easy to pay your bill – and that everyone's circumstances are different.
        <p>Last year, we helped over 300,000 customers manage their debt, and we're here for you too.</p>
        <p>We now have a dedicated page to help our customers <a href="https://www.britishgas.co.uk/help-and-support/bills-and-payments/help-if-youre-struggling-to-pay">take control of their energy debt</a> – including any financial hardships caused by Covid-19.</p>
      </ns-expander>

      <ns-expander role="tab">
        <h4 slot="heading">Free advice if you’re struggling financially</h4>
        <p>If you struggling to pay your bills, you can get free independent advice from a number of organisations.</p>
        <h3>Need debt or money advice?</h3>
        <p>Income Max offers free independent money advice to help you stay on top of your finances. <a class="external-link-icon" aria-label="Opens in new window" href="http://www.incomemax.co.uk/" target="_blank">Visit the Income Max website</a>.</p>

        <p>And if you're looking for free debt advice, <a class="external-link-icon" aria-label="Opens in new window" href="https://www.tully.co.uk/british-gas" target="_blank">visit the Tully website</a>. There you can build a budget online in minutes and get independent support to get you back on track.</p>

        <h3>Energy efficiency and fuel poverty</h3>

        <p>Agility Eco offer energy efficiency advice as well as free boilers and white goods for people struggling financially. <a class="external-link-icon" aria-label="Opens in new window" href="https://www.agilityeco.co.uk/our-solutions/" target="_blank">Visit the Agility Eco website</a>.</p>

        <p>Or take a look at our own <a>Struggling to Pay page</a> to find out how we can make your energy bills more manageable.</p>
      </ns-expander>

      <ns-expander role="tab">
        <h4 slot="heading">Cancelling your Fuel Direct scheme</h4>
        <p>If you'd like to cancel your Fuel Direct, you'll need to get in touch with the Department for Work and Pensions. They'll let us know and we'll cancel the scheme for you.</p>
      </ns-expander>

      <ns-expander role="tab">
        <h4 slot="heading">Protecting you against scammers</h4>
        <p>We work with National Trading Standards on a programme called <b>Friends Against Scams</b> to keep you and you loved ones safe from scams and fraud. <a class="external-link-icon" aria-label="Opens in new window" href="https://www.friendsagainstscams.org.uk/" target="_blank">Visit the Friends Against Scams website</a>.</p>
      </ns-expander>

      <ns-expander role="tab">
        <h4 slot="heading">Need help with your water bills?</h4>

        <p>Utility bills can stack up. So if you're struggling to pay for your water bill too, you may be eligible for your water supplier's Priority Services Register. Not sure who your supplier is?  <a class="external-link-icon" aria-label="Opens in new window" href="https://www.water.org.uk/advice-for-customers/find-your-supplier/" target="_blank">Use our handy tool</a>.</p>
      </ns-expander>
    </ns-accordion>
  </div>
</ns-panel>

<ns-panel decoration="invert-concave-cyan">
  <div class="splash">
    <h2><br>Related help and guidance</h2>     
  </div>  

  <div role="list" class="splash triple ">
    <ns-card role="listitem" type="support">
      <h3 slot="heading" role="heading" aria-level="3">Get help from the British Gas Energy Trust</h3>
      <div slot="paragraph">
        <p>If you need help paying your energy bills, you may be eligible for a grant from the British Gas Energy Trust.</p>
      </div>
      <a href="https://britishgasenergytrust.org.uk/" slot="cta" aria-label="Book a boiler service">
        <ns-cta type="text">See if you're eligible</ns-cta>
      </a>  
    </ns-card>

    <ns-card role="listitem" type="support">
      <h3 slot="heading" role="heading" aria-level="3">Priority Services Register</h3>
      <div slot="paragraph">
        <p>We offer products - services and additional support for people in difficult or vulnerable circumstances, from letters in Braille to supporting customers living with dementia.</p>
      </div>
      <a href="https://www.britishgas.co.uk/Priority-Service-Register" slot="cta">
        <ns-cta type="text">Find out more about Priority Services Register</ns-cta>
      </a>
    </ns-card>

    <ns-card role="listitem" type="support">
      <h3 slot="heading" role="heading" aria-level="3">Warm Home Discount Scheme</h3>
      <div slot="paragraph">
        <p>The Warm Home Discount scheme offers a one-off payment of £140 (including VAT) towards the energy bills of those who need it most in England, Scotland and Wales.</p>
      </div>
      <a href="https://www.britishgas.co.uk/energy/energy-saving/warm-home-discount.html" slot="cta" aria-label="Get appliance cover">
        <ns-cta type="text">Learn more about the Warm Home Discount Scheme</ns-cta>
      </a>
    </ns-card>
  </div>
</ns-panel>


<ns-panel>
  <ns-highlighter type="info">
    <h2 slot="heading">
    Need more help?</h2>
    <p>The quickest way to get in touch with us is via <a href="#!">Live Chat</a>.</p>
    <p>Or you can call us on <a href="tel:+44">0333 333 3333</a> <a href="#caveat" aria-label="Additional information 1">1</a></p>
  </ns-highlighter>
</ns-panel>

<ns-caveat>
  <h2 slot="heading">Additional information</h2>
  <div slot="caveat">
    <ol>
      <li>
        Lines are open Monday to Friday, from 8am to 8pm, and on weekends and bank holidays from 9am to 5pm (excluding Christmas Day).
      </li>
    </ol>
  </div>
</ns-caveat>
​