---
title: paying-for-your-energy-bill-summary-top-up-smart
---

<ns-landmark type="lakeside">
  <h1 slot="heading">
    <span class="h5">Paying for your energy.</span>
    <span class="h1 enlighten">Help if you're a <b>smart Pay As You Go</b> customer
    </span>
  </h1>
  <div slot="paragraph">
    <p>If you pay for your energy by topping up your smart meter, read our tailored help and advice.</p>
  </div>
</ns-landmark>

<ns-panel>
  <div class="splash">
    <h5>Contents</h5>
    <ul class="ul-bullet">
      <li>
        <a href="#online">Top up with your online account</a>
      </li>
      <li>
        <a href="#guest">Top up someone else's account</a>
      </li>
      <li>
        <a href="#app">Top up using our app</a>
      </li>
      <li>
        <a href="#post-office">Top up at a Post Office</a>
      </li>
      <li>
        <a href="#payzone">Top up at a Payzone</a>
      </li>
      <li>
        <a href="#phone">Top up over the phone</a>
      </li>
      <li>
        <a href="#faq">Frequently asked questions</a>
      </li>
    </ul>
  </div>
</ns-panel>

<ns-panel id="online" decoration="">
  <ns-lockup>
    <h2 slot="heading">
      <span class="h5">It's easier online.</span>
      <span class="h2 enlighten">Top up with your <b>online account</b></span>
    </h2>
      <div slot="paragraph">
        <p>It's quick and easy to top up online – you don't even need to give your meter number. And you can save your card details to make future top ups in an instant.</p>
        <p>You don’t need your smart meter number, and if you save your debit/credit card, future top ups will take you just a few clicks.</p>
        <p>Don't have an online account? <a href="https://www.britishgas.co.uk/identity/">Set one up</a> in a few clicks.</p>
    </div>
    <a href="#!" slot="cta">
      <ns-cta type="direct" href="#!" icon="arrow-right" loading="false" loadingmessage="Loading...">Top up online</ns-cta>
    </a>
    <div slot="image">
      <ns-image src="https://user-images.githubusercontent.com/49559070/86804714-10900c00-c06f-11ea-94b9-c0ff512abba3.jpg"></ns-image>
    </div>
  </ns-lockup>
</ns-panel>

<ns-panel id="guest" decoration="">
  <ns-lockup reverse>
    <h2 slot="heading">
      <span class="h5">A helping hand.</span>
      <span class="h2 enlighten">Top up <b>someone else's smart meter</b></span>
    </h2>
      <div slot="paragraph">
        <p>You can easily top up someone else's British Gas smart meter online.</p>
        <p>You don't need their meter number and you can save your card details to make future top ups in an instant.</p>
    </div>
    <a href="#!" slot="cta">
      <ns-cta type="direct" href="https://www.britishgas.co.uk/my-account/guest-smart-meter-top-up/" icon="arrow-right" loading="false" loadingmessage="Loading...">Top-up someone else's meter</ns-cta>
    </a>
    <div slot="image">
      <ns-image src="https://user-images.githubusercontent.com/49559070/86804792-27cef980-c06f-11ea-8852-ef3174f0ee84.jpg"></ns-image>
    </div>
  </ns-lockup>
</ns-panel>

<ns-panel id="app" decoration="">
  <ns-lockup>
    <h2 slot="heading">
      <span class="h5">Tap the app.</span>
      <span class="h2 enlighten">Top up using <b>our app</b></span>
    </h2>
      <div slot="paragraph">
        <p>Download the British Gas app to top up easily, whenever and wherever you want. You'll just need an online account.</p>
        <p>Don't have one? It only takes a minute to <a href="#">set up.</a></p>
    </div>
    <a href="#!" slot="cta">
      <ns-cta type="text" href="#!" icon="arrow-right" loading="false" loadingmessage="Loading...">Download the British Gas app</ns-cta>
    </a>
    <div slot="image">
      <ns-video id="bW6LGBSfDSE" ratio="16x9" title="Pay bills, track your spending or arrange a visit with the British Gas App"></ns-video>
    </div>
  </ns-lockup>
</ns-panel>

<ns-panel>
  <div class="splash triple">

    <ns-card id="post-office" type="support">
      <h3 slot="heading">Top up at the Post Office</h3>
      <p slot="paragraph">You can top up at your local Post Office using your smart meter card.</p>
      <p slot="paragraph">You'll need to top up at least £1 each time – and to the nearest whole pound. So you can't add £8.50, but you could do £8 or £9.</p>
      <div slot="cta">
        <ns-cta type="text" href="#">Find your nearest Post Office</ns-cta>
      </div>
    </ns-card>

    <ns-card id="payzone" type="support">
      <h3 slot="heading">Top up at a Payzone</h3>
      <p slot="paragraph">You can top up anywhere with the Payzone symbol using your smart meter card.</p>
      <p slot="paragraph">You'll need to top up at least £1 each time – and to the nearest whole pound. So you can't add £8.50, but you could do £8 or £9.</p>
      <div slot="cta">
        <ns-cta type="text" href="#">Find your nearest Payzone</ns-cta>
      </div>
    </ns-card>

    <ns-card id="phone" type="support">
      <h3 slot="heading">Top up over the phone</h3>
      <p slot="paragraph">You can call our automated top up line Monday to Friday, 9am to 5pm.</p>
      <p slot="paragraph">You can call our automated top up line Monday to Friday, 9am to 5pm</p>
      <div slot="cta">
         <ns-cta type="text" href="#">Call 0330 100 0303</ns-cta>
      </div>
    </ns-card>       
  </div>
</ns-panel>


<ns-panel id="faq">
  <ns-accordion role="tablist">
    <h3 slot="heading">Frequently asked questions</h3> 
    
    <ns-expander role="tab">
      <h4 slot="heading">I'm leaving British Gas. What happens next?</h4>

      <p>We're sorry to see you go. Here's what will happen.</p>

      <p>1. We'll close your account on a date of your choice.</p>

      <p>2. Your new supplier should ask you for your final meter reading, which they'll send to us.</p>

      <p>3. We'll then give you a final bill based on this meter reading. But if we don't get one, we'll estimate it.</p>

      <p>4. If we owe you money, we'll send it to you via cheque.</p>

      <p>You can start your home move <a href="https://www.britishgas.co.uk/discover/home-move/#/hub-anonymous">here</a>.</p>
    </ns-expander>

    <ns-expander role="tab">
      <h4 slot="heading">Why is the money not showing on my meter after I’ve topped up?</h4>
      <p>Every so often, we carry out maintenance on our system which might slightly delay your top up.</p>
      <p>If yours isn't showing up straight away, give it an hour and it should appear as normal.</p>
      <p>But if it doesn't show up after an hour, or if you need it straight away, you can use the Vend Code on your receipt/payment confirmation to manually add it to your meter.</p>
    </ns-expander>

    <ns-expander role="tab">
      <h4 slot="heading">How do I manually add my top up?</h4>
      <p>If your top up hasn't appeared automatically, just follow <a href="https://www.britishgas.co.uk/help-and-support/meters/help-with-smart-pay-as-you-go">our guide to topping up manually</a>.</p>
    </ns-expander>

    <ns-expander role="tab">
      <h4 slot="heading">My new house has a prepayment meter installed. What should I do?</h4>
      <p>If you've just moved house and your new home already has a Pay As You Go meter, call our <a href="#">24-hour automated line</a> to find out what to do next.
      </p>
    </ns-expander>

    <ns-expander role="tab">
      <h4 slot="heading">Can I switch from a prepayment meter to a regular (credit) meter?</h4>
      <p>If you want to switch to a regular meter, just call our <a href="#">24-hour automated line</a> to get it sorted.
      </p>
    </ns-expander>

    <ns-expander role="tab">
      <h4 slot="heading">What do I do if the credit from my old meter isn’t showing?</h4>
      <p>Once you've had a smart meter installed, it can take up to 24 hours for any credit left on your old meter to transfer over.</p>
    </ns-expander>

    <ns-expander role="tab">
      <h4 slot="heading">How does emergency credit work?</h4>
      <p>We never want to leave you without any gas and electricity – even when you can't top up. So every British Gas meter has £5 of Emergency Credit for when you've run out of credit but you're unable to top up.</p>
      <p>To find out how it works, go to our <a href="https://www.britishgas.co.uk/help-and-support/meters/using-emergency-credit"> Emergency Credit page</a>.</p>
    </ns-expander>

    <ns-expander role="tab">
      <h4 slot="heading">How can I control how much I spend?</h4>
      <p>Smart meters make it easy to control how much you spend on powering your home. And you can even set budgets and check your tariff with a smart energy monitor.</p>
    </ns-expander>
  </ns-accordion>
</ns-panel>

<ns-panel decoration="invert-concave-cyan">
  <div class="splash">
    <h2><br>Related help and guidance</h2>     
  </div>  

  <div role="list" class="splash triple ">
    <ns-card role="listitem" type="support">
      <h3 slot="heading" role="heading" aria-level="3">If you're struggling to pay for your energy</h3>
      <div slot="paragraph">
        <p>If you're struggling to pay for your energy or you just want a better deal, we may have a cheaper tariff for you. Take a look at all our available tariffs to find one that's right for you.</p>
      </div>
      <a href="/aem6/content/britishgas/home-services/boilers-and-heating/boiler-and-heating-cover.html#boiler-check-banner" slot="cta" aria-label="Book a boiler service">
        <ns-cta type="text">I need help with my payments</ns-cta>
      </a>  
    </ns-card>


    <ns-card role="listitem" type="support">
      <h3 slot="heading" role="heading" aria-level="3">Upgrade to a smart Pay As You Go meter</h3>
      <div slot="paragraph">
        <p>It’s easy to upgrade to a smart Pay As You Go meter. <a href="#">Access your online account</a> and we'll help you book an appointment.</p>
      </div>
      <a href="/aem6/content/britishgas/home-services/boilers-and-heating/boiler-and-heating-cover.html#boiler-check-banner" slot="cta" aria-label="Book a boiler service">
        <ns-cta type="text">Upgrade to a smart Pay As You Go meter</ns-cta>
      </a>  
    </ns-card>

    <ns-card role="listitem" type="support">
      <h3 slot="heading" role="heading" aria-level="3">Report a scam bill</h3>
      <div slot="paragraph">
        <p>We're aware of a series of scam emails that are claiming to be from British Gas – but they're not. If you think you've received one, please report it to us as soon as possible.</p>
      </div>
      <a href="/aem6/content/britishgas/home-services/appliances-and-electrical/appliances-and-electrical-cover.html" slot="cta" aria-label="Get appliance cover">
        <ns-cta type="text">Report a scam bill</ns-cta>
      </a>
    </ns-card>
  </div>
</ns-panel>

<ns-panel>
  <ns-highlighter type="info">
    <h2 slot="heading">
    Need more help?</h2>
    <p>The quickest way to get in touch with us is via <a href="#!">Live Chat</a>.</p>
    <p>Or you can call us on <a href="tel:+44">0333 333 3333</a> <a href="#caveat" aria-label="Additional information 1">1</a></p>
  </ns-highlighter>
</ns-panel>

<ns-caveat>
  <h2 slot="heading">Additional information</h2>
  <div slot="caveat">
    <ol>
      <li>
        Lines are open Monday to Friday, from 8am to 8pm, and on weekends and bank holidays from 9am to 5pm (excluding Christmas Day).
      </li>
    </ol>
  </div>
</ns-caveat>
​