---
title: paying-for-your-energy-bill-summary-top-up-non-smart
---

<ns-landmark type="lakeside">
  <h1 slot="heading">
    <span class="h5">Paying for your energy.</span>
    <span class="h1 enlighten">Help if you're a <b>Pay As You Go</b> customer</b>
    </span>
  </h1>
  <div slot="paragraph">
    <p>If you pay for your energy by topping up your meter, read our tailored help and advice.</p>
  </div>
</ns-landmark>

<ns-panel>
  <div class="splash">
    <h5>Contents</h5>
    <ul class="ul-bullet">
      <li>
        <a href="#replace">Getting a new or replacement card or key</a>
      </li>
      <li>
      <li>
        <a href="#first-time">Topping up for the first time</a>
      </li>
    </ul>
  </div>
</ns-panel>

<ns-panel id="replace" decoration="">
  <ns-lockup reverse="">
    <h2 slot="heading">
      <span class="h5">Order a new card or key.</span>
      <span class="h2 enlighten">Getting a <b>new or replacement card or key</b></span>
    </h2>
    <div slot="paragraph">
      <p>If your gas card or electricity key is lost or stolen, or if it isn't working – don't worry. You can get a new one from your nearest <a href="https://www.payzone.co.uk/consumers/">Payzone</a>.</p>

      <p>Or tell us on <a href="">Live Chat</a> and we'll send you a new one in three working days.</p>
    </div>
    <div slot="image">
      <ns-image src="https://user-images.githubusercontent.com/49559070/86804945-5056f380-c06f-11ea-88b6-43d6143c8ece.jpg"></ns-image>
    </div>
  </ns-lockup>
</ns-panel>


<ns-panel id="first-time" decoration="">
  <ns-lockup>
    <h2 slot="heading">
      <span class="h5">Topping up for the first time.</span>
      <span class="h2 enlighten">How to <b>top up for the first time</b></span>
    </h2>
      <div slot="paragraph">
        <p>You'll need to activate your key or card in your meter first.</p>
        <ul class="ul-bullet">
          <li>Put your key or card into the meter for at least a minute to activate it</li>
          <li>Take your key or card to a <a href="#payzone">Payzone</a> or <a href="#post-office">Post Office</a> to top up</li>
          <li>Put the key or card into your meter (electricity credit will transfer automatically)</li>
          <li>For gas, press and hold the red button 'A' to transfer the credit to the meter.</li>     
        </ul>
      </div>      
    <div slot="image">
      <ns-image src="https://user-images.githubusercontent.com/52657167/84566809-0c244c00-ad6c-11ea-90ee-02e215429b21.jpg"></ns-image>
    </div>
  </ns-lockup>
</ns-panel>

<ns-panel>
  <div class="splash triple">

    <ns-card id="post-office" type="support">
      <h3 slot="heading">Top-up at the Post Office</h3>
      <p slot="paragraph">You’ll need the smart card that is linked to your meter to top up like this. A mininmum top up of £1 is required, and you'll always need to top up to the nearest pound.</p>
      <p slot="paragraph">So you can't add £8.50, but you could add £8 or £9.</p>
      <div slot="cta">
        <ns-cta type="text" href="#">Find your nearest Post Office</ns-cta>
      </div>
    </ns-card>

    <ns-card id="payzone" type="support">
      <h3 slot="heading">Top up at a Payzone</h3>
      <p slot="paragraph">You can top up anywhere with the Payzone symbol using your card or key.</p>
      <p slot="paragraph">You'll need to top up at least £1 each time – and to the nearest whole pound. So you can't add £8.50, but you could do £8 or £9.</p>
      <div slot="cta">
        <ns-cta type="text" href="#">Find your nearest Payzone</ns-cta>
      </div>
    </ns-card>

  </div>
</ns-panel>


<ns-panel id="faq">
  <ns-accordion role="tablist">
    <h3 slot="heading">Frequently asked questions</h3> 
    
    <ns-expander role="tab">
      <h4 slot="heading">I'm leaving British Gas. What happens next?</h4>

      <p>We're sorry to see you go. Here's what will happen.</p>

      <p>1. We'll close your account on a date of your choice.</p>

      <p>2. Your new supplier should ask you for your final meter reading, which they'll send to us.</p>

      <p>3. We'll then give you a final bill based on this meter reading. But if we don't get one, we'll estimate it.</p>

      <p>4. If we owe you money, we'll send it to you via cheque.</p>

    </ns-expander>

    <ns-expander role="tab">
      <h4 slot="heading">What should I do if my gas card isn't working?</h4>
      <p>Your meter or card could be broken - wipe the gold chip on the card and try again. Check your meter for error messages too. If there is one, check <a href="#">Understanding messages on your meter</a>.</p>

      <p>If there's no error message on your meter and your card isn't working at your local <a href="#">Payzone</a> then you need a new card. Just ask the shopkeeper and they should give you one for free.</p>

      <p>If you think your meter's broken, <a href="#">start a Live Chat</a> with one of our advisers to get a new one. You'll need your meter's serial number handy – it should be next to the barcode under the screen. But don't worry if you can't find it, we'll help you when you chat to us. You'll need to be near your meter and please make a note of any error messages on the screen.</p>
    </ns-expander>

    <ns-expander role="tab">
      <h4 slot="heading">What should I do if my electricity key isn't working?</h4>
      <p>Your meter or or key could be broken. Blow any dust off the gold contacts on the key and try again. Check your meter for error messages too. And if there is one, check our guide to <a href="#">understanding messages on your meter</a>.</p>

      <p>If there isn't an error message on your meter and your key isn't working at your local Payzone, then you'll need a new key.</p>

      <p>We can get it sorted over <a href="#">Live Chat</a> – you'll just need your meter's serial number which begins with S or F (it's usually next to the barcode under the screen). We'll give you a reference number and ask you to wait at least half an hour. Then you'll be able to collect your new key from your local <a href="#">Payzone</a>.</p>

    </ns-expander>

    <ns-expander role="tab">
      <h4 slot="heading">Can I get my lost credit back?</h4>
      <p>Yes, we can give you back any money left on your key or card when you lost it. You might have to give us proof of buying the credit before we refund you though.</p>

      <p>How to get a credit refund.</p>

      <ul class="ul-bullet">
        <li>Ask us for a refund using <a href="#">Live Chat</a> (you can order a new key or card at the same time)</li>
        <li>Tell us how much was on your lost card or key - We'll check our system to see if it's right </li>
        <li>If it is, we'll transfer the credit onto your new card or key.</li>   
      </ul>

    </ns-expander>

    <ns-expander role="tab">
      <h4 slot="heading">My new house has a prepayment meter installed. What should I do?</h4>
      <p>If you've just moved house and your new home already has a Pay As You Go meter, call our <a href="#">24-hour automated line</a> to find out what to do next.</p>
    </ns-expander>

    <ns-expander role="tab">
      <h4 slot="heading">Can I switch from a prepayment meter to a regular (credit) meter?</h4>
      <p>If you want to switch to a regular meter, just call our <a href="#">24-hour automated line</a> to get it sorted.</p>
    </ns-expander>

    <ns-expander role="tab">
      <h4 slot="heading">What do I do if the credit from my old meter isn’t showing?</h4>
      <p>Once you've had a new meter installed, it can take up to 24 hours for any credit left on your old meter to transfer over.</p>
    </ns-expander>

    <ns-expander role="tab">
      <h4 slot="heading">How does emergency credit work?</h4>
      <p>We never want to leave you without any gas and electricity – even when you can't top up. So every British Gas meter has £5 of Emergency Credit for when you've run out of credit but you're unable to top up.</p>
      <p>To find out how it works, go to our <a href="https://www.britishgas.co.uk/help-and-support/meters/using-emergency-credit"> Emergency Credit page</a>.</p>
    </ns-expander>

    <ns-expander role="tab">
      <h4 slot="heading">How can I control how much I spend?</h4>
      <p>Your Pay As You Go meter gives you ultimate control over how much you're spending on your energy – making it easier to stay in budget.</p>
      <p>By paying for your energy before you use it, you won't be faced with unexpected bills or late payment fees. Just the energy you need, when you need it.</p>
    </ns-expander>
  </ns-accordion>
</ns-panel>

<ns-panel decoration="invert-concave-cyan">
  <div class="splash">
    <h2><br>Related help and guidance</h2>     
  </div>  
  <div role="list" class="splash triple ">
    <ns-card role="listitem" type="support">
      <h3 slot="heading" role="heading" aria-level="3">If you're struggling to pay for your energy</h3>
      <div slot="paragraph">
        <p>If you're struggling to pay for your energy or you just want a better deal, we may have a cheaper tariff for you. Take a look at all our available tariffs to find one that's right for you.</p>
      </div>
      <a href="/aem6/content/britishgas/home-services/boilers-and-heating/boiler-and-heating-cover.html#boiler-check-banner" slot="cta" aria-label="Book a boiler service">
        <ns-cta type="text">I need help with my payments</ns-cta>
      </a>  
    </ns-card>


    <ns-card role="listitem" type="support">
      <h3 slot="heading" role="heading" aria-level="3">Upgrade to a smart Pay As You Go meter</h3>
      <div slot="paragraph">
        <p>It’s easy to upgrade to our smart Pay As You Go meters. Access your online account and we'll help you book an appointment.</p>
      </div>
      <a href="/aem6/content/britishgas/home-services/boilers-and-heating/boiler-and-heating-cover.html#boiler-check-banner" slot="cta" aria-label="Book a boiler service">
        <ns-cta type="text">Get a smart meter</ns-cta>
      </a>  
    </ns-card>

    <ns-card role="listitem" type="support">
      <h3 slot="heading" role="heading" aria-level="3">Report a scam bill</h3>
      <div slot="paragraph">
        <p>We're aware of a series of scam emails that are claiming to be from British Gas – but they're not. If you think you've received one, please report it to us as soon as possible.</p>
      </div>
      <a href="/aem6/content/britishgas/home-services/appliances-and-electrical/appliances-and-electrical-cover.html" slot="cta" aria-label="Get appliance cover">
        <ns-cta type="text">Report a scam bill</ns-cta>
      </a>
    </ns-card>
  </div>
</ns-panel>

<ns-panel>
  <ns-highlighter type="info">
    <h2 slot="heading">
    Need more help?</h2>
    <p>The quickest way to get in touch with us is via <a href="#!">Live Chat</a>.</p>
    <p>Or you can call us on <a href="tel:+44">0333 333 3333</a> <a href="#caveat" aria-label="Additional information 1">1</a></p>
  </ns-highlighter>
</ns-panel>

<ns-caveat>
  <h2 slot="heading">Additional information</h2>
  <div slot="caveat">
    <ol>
      <li>
        Lines are open Monday to Friday, from 8am to 8pm, and on weekends and bank holidays from 9am to 5pm (excluding Christmas Day).
      </li>
    </ol>
  </div>
</ns-caveat>