---
title: paying-for-your-energy-bill-L3
---

<ns-landmark type="lakeside">
  <h1 slot="heading">
    <span class="h5">Paying for your energy.</span>
    <span class="h1">Top up a meter</span>
  </h1>
</ns-landmark>

<ns-panel>
  <ns-form nf-model="model.L5-pay">
    <ns-fieldset legend="Do you have a smart meter?">
      <ns-inputter validation='["isRequired"]' name="inputter-a" helper="">
        <input type="radio" name="radio" value="yes" id="radio-a">
        <label for="radio-a">Yes - I top up using the British Gas app, website or phone</label>

        <input type="radio" name="radio" value="no" id="radio-b">
        <label for="radio-b">No - I top up using a gas card or electricity key</label>
      </ns-inputter>
    </ns-fieldset>
    <ns-cta nf-href="DYNAMIC">Continue</ns-cta>
  </ns-form>
</ns-panel>

<script>
function getDynamicURL() {
  var data = document.querySelector('ns-inputter[name="inputter-a"]').value;

  if (data === 'yes') {
    return '../paying-your-energy-bill-summary-top-up-smart';
  }

  if (data === 'no') {
    return '../paying-your-energy-bill-summary-top-up-non-smart';
  }

}
</script>