<!doctype html>
<html lang="en">
  <head>
    <title>Help and support - Paying For Your Energy – Receive a bill</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <style type="text/css">
      .p-bullet {
        margin-bottom: 0;
        padding-bottom: 0;
      }
      .ul-bullet {
        margin-top: 0;
        padding-top: 0;
      }
    </style>
  </head>
  <body>
    <div class="ndsn">
      <nsx-header></nsx-header>
      <main>
        <!--   ____       _                                _                     -->
        <!--  | __ )  ___| |___      _____  ___ _ __      | |__   ___ _ __ ___   -->
        <!--  |  _ \ / _ \ __\ \ /\ / / _ \/ _ \ '_ \     | '_ \ / _ \ '__/ _ \  -->
        <!--  | |_) |  __/ |_ \ V  V /  __/  __/ | | |    | | | |  __/ | |  __/  -->
        <!--  |____/ \___|\__| \_/\_/ \___|\___|_| |_|    |_| |_|\___|_|  \___|  -->

        <ns-landmark type="lakeside">
          <h1 slot="heading">
            <span class="h5">Paying for your energy.</span>
            <span class="h1 enlighten">Help if you get <b>regular bills</b>
            </span>
          </h1>
          <div slot="paragraph">
            <p>If you get regular energy bills from us and pay them off each time, read our tailored help and advice.</p>
          </div>
        </ns-landmark>

        <ns-panel>
          <div class="splash">
            <h5>Contents</h5>
            <ul class="ul-bullet">
              <li>
                <a href="#online">Pay using your online account</a>
              </li>
              <li>
                <a href="#direct-debit">Set up a Direct Debit</a>
              </li>
              <li>
                <a href="#bank-transfer">Make a bank transfer</a>
              </li>
              <li>
                <a href="#phone">Pay over the phone</a>
              </li>
              <li>
                <a href="#bank">Pay at your bank</a>
              </li>
              <li>
                <a href="#cheque">Post a cheque</a>
              </li>
              <li>
                <a href="#abroad">Pay from abroad</a>
              </li>
              <li>
                <a href="#payzone">Pay at a Payzone</a>
              </li>
              <li>
                <a href="#post-office">Pay at a Post Office</a>
              </li>      
              <li>
                <a href="#faq">Frequently asked questions</a>
              </li>     
            </ul>
          </div>
        </ns-panel>

        <ns-panel id="online" decoration="">
          <ns-lockup reverse="">
            <h2 slot="heading">
              <span class="h5">It's easier online.</span>
              <span class="h2 enlighten">Pay using your <b>online account</b></span>
            </h2>
            <div slot="paragraph">
              <p>Pay your bill in just a few clicks using your online account. You can even do it on the <a href="#">British Gas app</a>.</p>
            </div>
            <a href="#!" slot="cta">
              <ns-cta type="direct" href="#!" icon="arrow-right" loading="false" loadingmessage="Loading...">Make a payment</ns-cta>
            </a>
            <div slot="image">
              <ns-image src="https://user-images.githubusercontent.com/52657167/85289008-a97b3080-b48e-11ea-8140-f3b7f088edd0.jpg"></ns-image>
            </div>
          </ns-lockup>
        </ns-panel>

		<ns-panel id="direct-debit" decoration="">
          <ns-lockup>
            <h2 slot="heading">
              <span class="h5">Pay automatically.</span>
              <span class="h2 enlighten">Set up a <b>Direct Debit</b></span>
            </h2>
              <div slot="paragraph">
                <p>Set up a Direct Debit to pay your energy bills without lifting a finger.</p>
              </div>
              <a href="#!" slot="cta">
                <ns-cta type="direct" href="#!" icon="arrow-right" loading="false" loadingmessage="Loading...">Set up a Direct Debit</ns-cta>
              </a>
            <div slot="image">
              <ns-image src="https://user-images.githubusercontent.com/52657167/84566808-0c244c00-ad6c-11ea-96c5-8e17705f8e7b.jpg"></ns-image>
            </div>
          </ns-lockup>
        </ns-panel>

        <ns-panel id="bank-transfer" decoration="">
          <ns-lockup reverse>
            <h2 slot="heading">
              <span class="h5">Pay by bank transfer.</span>
              <span class="h2 enlighten">Make a <b>bank transfer</b> payment</span>
            </h2>
              <div slot="paragraph">
                <p>It's easy to pay direct from your bank account – you'll just need your Customer Reference Number handy.</p>
                <ul class="ul-bullet">
                  <li>Go to your online banking account</li>
                  <li>Put your Customer Reference Number as the reference</li>
                  <li>Pay into our account.
                    <br>Account Number: 71584685<br>
                    Sort Code: 40-05-30</li>       
                </ul>
              </div>    
            <div slot="image">
              <ns-image src="https://user-images.githubusercontent.com/52657167/84566805-0af31f00-ad6c-11ea-8adc-b3c1c6186e8b.jpg"></ns-image>
            </div>
          </ns-lockup>
        </ns-panel>

        <ns-panel id="phone" decoration="">
          <ns-lockup>
            <h2 slot="heading">
              <span class="h5">Give us a call.</span>
              <span class="h2 enlighten">Pay <b>over the phone</b></span>
            </h2>
              <div slot="paragraph">
                <p>Call us anytime to pay your bill – 24 hours a day, 7 days a week.</p>
            </div>
            <a href="#!" slot="cta">
              <ns-cta type="text" href="#!" icon="arrow-right" loading="false" loadingmessage="Loading...">Call 0333 202 9524</ns-cta>
            </a>
            <div slot="image">
              <ns-image src="https://user-images.githubusercontent.com/52657167/84566807-0b8bb580-ad6c-11ea-8328-a3ce4d2f688f.jpg"></ns-image>
            </div>
          </ns-lockup>
        </ns-panel>


        <ns-panel>
          <div class="splash triple">

            <ns-card id="bank" type="support">
              <h3 slot="heading">Pay at the bank</h3>
              <p slot="paragraph">You can pop to your local bank to pay by cash or cheque.</p>
              <p slot="paragraph">Just remember, some banks may charge you and your payment can take up to three working days to reach us.</p>
              <div slot="paragraph">
                <ul class="ul-bullet">
                  <li>Write a cheque for your bill amount and make it payable to: British Gas Trading Ltd</li>
                  <li>Put your Customer Reference Number on the back</li>
                  <li>Get your payment slip from your bill</li>       
                  <li>Take your cheque and payment slip to the bank</li>    
                </ul>
              </div>
            </ns-card>

           
 
            <ns-card id="cheque" type="support">
              <h3 slot="heading">Post us a cheque</h3>
              <p slot="paragraph">You can post your cheque to us, but bear in mind that they can take around five working days to reach us. And you'll need to allow extra time for busy periods like Christmas and bank holidays.</p>
              <div slot="paragraph">
                <ul class="ul-bullet">
                  <li>Write a cheque for your bill amount and make it payable to: British Gas Trading Ltd</li>
                  <li>Put your Customer Reference Number on the back</li>
                  <li>Get your payment slip from your bill</li>       
                  <li>Send your cheque and payment slip to:<br>
                      BGT Area 55 (IPSL), Blaise Pascal House, 100 Pavilion Drive, NORTHAMPTON, NN4 7YP</li>    
                </ul>
              </div>
            </ns-card>

            <ns-card id="abroad" type="support">
              <h3 slot="heading">Pay from abroad</h3>
              <p slot="paragraph">If you're not in the country, you can still make a transfer from your account to ours.</p>
              <p slot="paragraph">You'll just need your Customer Reference Number handy.</p>
              <p slot="paragraph">Remember, your payment will take five working days to reach us.</p>
              <div slot="paragraph">
                <ul class="ul-bullet">
                  <li>Use your Customer Reference Number as the reference. It's really important that you use that and nothing else.</li>
                  <li>Give these details:<br>
                    IBAN number: GB80 MIDL 4005 3071 5846 85<br>
                    SWIFT Code: MIDLGB2141W<br>
                    Bank Name: HSBC</li> 
                </ul>
              </div>
            </ns-card>


            <ns-card id="payzone" type="support">
              <h3 slot="heading">Pay at a Payzone</h3>
              <p slot="paragraph">You can also pay anywhere that has the Payzone symbol. Your payment will take three working days to reach us.</p>
              <div slot="paragraph">
                <ul class="ul-bullet">
                  <li>Take your bill to your local Payzone</li>
                  <li>You'll need to pay by cash</li> 
                </ul>
              </div>
              <div slot="cta">
                <ns-cta type="text" href="#">Find your nearest Payzone</ns-cta>
              </div>
            </ns-card>

            

           <ns-card id="post-office" type="support">
              <h3 slot="heading">Pay at the Post Office</h3>
              <p slot="paragraph">You can pop to your local Post Office to pay your energy bill. Just remember that your payment will take three working days to reach us.</p>
              <div slot="paragraph">
                <ul class="ul-bullet">
                  <li>Write a cheque for your bill amount and make it payable to: Post Office Ltd</li>
                  <li>Put your Customer Reference Number on the back</li>
                  <li>Get your payment slip from your bill</li>       
                  <li>Take your cheque and payment slip to the Post Office</li>       
                </ul>
              </div>
              <div slot="cta">
                <ns-cta type="text" href="#">Find your nearest Post Office</ns-cta>
              </div>
            </ns-card>
           
          </div>
        </ns-panel>



    <ns-panel id="faq">
      <ns-accordion role="tablist">
        <h3 slot="heading">Frequently asked questions</h3> 

        <ns-expander role="tab">
          <h4 slot="heading">I'm moving house, but I'm staying with British Gas. What will happen to my payment?</h4>

          <p>Let us know about your house move and we'll get things sorted. Here's what will happen.</p>

          <p>1. We'll close your account on the date you move out.</p>

          <p>2. When the big day comes, we'll ask for your final meter reading which we'll use to create your final bill.</p>

          <p>3. We'll then send you a final bill for your old house based on your meter reading. But if we don't have one, we'll estimate it.</p>

          <p>4. But if we already supply your new home, then we might be able to transfer your account for you.</p>

          <p>You can start your home move <a href="https://www.britishgas.co.uk/discover/home-move/#/hub-anonymous">here</a>.</p>

        </ns-expander>

        <ns-expander role="tab">
          <h4 slot="heading">I'm leaving British Gas. What will happen with my payment?</h4>

          <p>We're sorry to see you go. If you're leaving us because you're moving house, please let us know. Here's what will happen.</p>

          <p>1. We'll close your account on a date of your choice.</p>

          <p>2. Your new supplier should ask you for your final meter reading, which they'll send to us.</p>

          <p>3. We'll then give you a final bill based on this meter reading. But if we don't get one, we'll estimate it.</p>

          <p>4. If we owe you money, we'll send it to you via cheque.</p>

          <p>You can start your home move <a href="https://www.britishgas.co.uk/discover/home-move/#/hub-anonymous">here</a>.</p>

        </ns-expander>

        <ns-expander role="tab">
          <h4 slot="heading">I can't afford to pay my bill. Can I pay by instalments instead?</h4>
          <p>If you're struggling to pay your bill, we're here to help. And we've got lots of options for you, including repayment plans and extra support.</p>
          <p>Take a look at our <a href="https://www.britishgas.co.uk/help-and-support/bills-and-payments/help-if-youre-struggling-to-pay">Struggling to Pay page</a> to find out more.</p>
          <p>But if you've already left British Gas and you'd like to set up a repayment plan for your final bill, <a href="#">call our dedicated team</a> to talk through your options.</p>
        </ns-expander>

        <ns-expander role="tab">
          <h4 slot="heading">I think my energy bill is wrong. What can I do?</h4>
          <p>If you think something's not quite right with your bill, head to our <a href="https://www.britishgas.co.uk/help-and-support/bills-and-payments/if-your-bills-wrong">dedicated page</a> to find out how to check it and what to do next.</p>
        </ns-expander>

        <ns-expander role="tab">
          <h4 slot="heading">How can I make sure my payments reach you on time?</h4>
          <p>The best way to pay your energy bills and avoid unnecessary late fees is by paying online. It’s quick, easy and secure – all you need to do is set up an online account.</p>
          <p>You can even securely save your card details to pay your bills in an instant. And you'll save money on postal costs. It's quick and easy to <a href="#">set up an online account</a>. You'll just need to answer a few questions and choose a password to get started.</p>
          <p>If you still want to pay by post, you’ll need to send your payments before they’re due to avoid late fees. That’s because they can take between 3–5 days to reach us.</p>
          <p>To find out how long each payment method can take, check our paying your bill section.</p>
        </ns-expander>

        <ns-expander role="tab">
          <h4 slot="heading">I don't understand my bill?</h4>
          <p>We’ve given your bill a fresh new look. <a href="#">Take a look at our handy guide</a> to see what’s changed.</p>
        </ns-expander>

        <ns-expander role="tab">
          <h4 slot="heading">Why should I send meter readings?</h4>
          <p>Submitting regular meter readings means we can send you more accurate bills. So, you’ll only pay for what you’ve used.</p>
          <p>Depending on when you send your meter readings, we’ll either adjust your current bill and send it back to you, or we’ll make sure it’s taken into account on your next bill.</p>
          <p>It’s easy to submit a meter reading – just go to britishgas.co.uk/meterreads and follow the instructions.</p>
          <p>If you pay by cash, cheque, debit or credit card, we’ll send you a quarterly bill to help you stay on top of your payments. If you pay by Direct Debit, we’ll send you regular statements to let you know how much you’re spending.</p>
          <p>A smart meter takes away the hassle of sending regular meter readings, and you’ll only ever pay for the energy you’ve used. <a href="#">Find out if you’re eligible for a smart meter</a>.</p>
        </ns-expander>

        <ns-expander role="tab">
          <h4 slot="heading">What is a standing charge?</h4>
          <p>A standing charge is the minimum you’ll pay for gas or electricity – it’s like a phone line rental for energy. This covers the cost of delivering energy to your home through cables, pipes and meters.</p>
          <p>Standing charges are flat fees, which mean they stay the same every day, no matter how much energy you use. You can find out how much your standing charge costs in the summary section on your fuel bills.</p>
        </ns-expander>

        <ns-expander role="tab">
          <h4 slot="heading">How is my gas calculated?</h4>
          <p>The amount of energy produced by gas can fluctuate. So to work out a consistent price, we convert the units you’ve used into kilowatt hours of energy, or KWh. To do this, we use the standard formula below – all energy companies measure energy this way.</p>
          <p>Gas units used (as shown on your statement) x caloric value (as shown on your statement) x 1.02264 volume correction ÷ 3.6 kWh conversion = kWh used</p>
          <p>If you pay for your gas and electricity at the same time, we’ll work out how much you’ve used separately, then add them together to give you your total.</p>
          <p>Did you know you can save money and do your bit for the planet by using less energy? There are lots of simple ways you can cut down – <a href="#">read our energy-saving tips</a> to find out how.</p>
        </ns-expander>

        <ns-expander role="tab">
          <h4 slot="heading">What do I do if I get a scam bill?</h4>
          <p>If you think you've received a scam bill claiming to be from British Gas, <a href="https://www.britishgas.co.uk/help-and-support/my-account/if-you-get-a-suspicious-email">please let us know</a>. You can find out how to spot fake phishing emails and what to do next on our dedicated page.</p>
        </ns-expander>
        
      </ns-accordion>
    </ns-panel>

     <ns-panel decoration="invert-concave-cyan">
      <div class="splash">
        <h2><br>Related help and guidance</h2>     
      </div>  

      <div role="list" class="splash triple ">
        <ns-card role="listitem" type="support">
          <h3 slot="heading" role="heading" aria-level="3">If you're struggling to pay for your energy</h3>
          <div slot="paragraph">
            <p>If you're struggling to pay for your energy or you just want a better deal, we may have a cheaper tariff for you. Take a look at all our available tariffs to find one that's right for you.</p>
          </div>
          <a href="/aem6/content/britishgas/home-services/boilers-and-heating/boiler-and-heating-cover.html#boiler-check-banner" slot="cta" aria-label="Book a boiler service">
            <ns-cta type="text">I need help with my payments</ns-cta>
          </a>  
        </ns-card>

        <ns-card role="listitem" type="support">
          <h3 slot="heading" role="heading" aria-level="3">Change your tariff</h3>
          <div slot="paragraph">
            <p>If you're struggling to pay for your energy or you just want a better deal, we may have a cheaper tariff for you. Take a look at all our available tariffs to find one that's right for you.</p>
          </div>
          <a href="/aem6/content/britishgas/home-services/boilers-and-heating/new-boilers.html" slot="cta">
            <ns-cta type="text">See our tarriffs</ns-cta>
          </a>
        </ns-card>

        <ns-card role="listitem" type="support">
          <h3 slot="heading" role="heading" aria-level="3">Report a scam bill</h3>
          <div slot="paragraph">
            <p>We're aware of a series of scam emails that are claiming to be from British Gas – but they're not. If you think you've received one, please report it to us as soon as possible.</p>
          </div>
          <a href="/aem6/content/britishgas/home-services/appliances-and-electrical/appliances-and-electrical-cover.html" slot="cta" aria-label="Get appliance cover">
            <ns-cta type="text">Report a scam bill</ns-cta>
          </a>
        </ns-card>
      </div>
    </ns-panel>

    <ns-panel>
      <ns-highlighter type="info">
        <h2 slot="heading">
        Need more help?</h2>
        <p>The quickest way to get in touch with us is via <a href="#!">Live Chat</a>.</p>
        <p>Or you can call us on <a href="tel:+44">0333 333 3333</a> <a href="#caveat" aria-label="Additional information 1">1</a></p>
      </ns-highlighter>
    </ns-panel>

    <ns-caveat>
      <h2 slot="heading">Additional information</h2>
      <div slot="caveat">
        <ol>
          <li>
            Lines are open Monday to Friday, from 8am to 8pm, and on weekends and bank holidays from 9am to 5pm (excluding Christmas Day).
          </li>
        </ol>
      </div>
    </ns-caveat>


        

        <!--      _              _      _                     -->
        <!--     / \   _ __   __| |    | |__   ___ _ __ ___   -->
        <!--    / _ \ | '_ \ / _` |    | '_ \ / _ \ '__/ _ \  -->
        <!--   / ___ \| | | | (_| |    | | | |  __/ | |  __/  -->
        <!--  /_/   \_\_| |_|\__,_|    |_| |_|\___|_|  \___|  -->

      </main>
      <nsx-footer></nsx-footer>
    </div>
    <script type="text/javascript" src="https://www.britishgas.co.uk/nucleus/nucleus.min.js"></script>
    <script type="text/javascript" src="https://www.britishgas.co.uk/nucleus-experiences/only.components.min.js"></script>
  </body>
</html>

​