---
title: paying-for-your-energy-bill-summary-direct-debit
---

<ns-landmark type="lakeside">
  <h1 slot="heading">
    <span class="h5">Paying for your energy.</span>
    <span class="h1 enlighten">Help if you pay by <b>Direct Debit</b>
    </span>
  </h1>
  <div slot="paragraph">
    <p>If you pay for your energy by Direct Debit, read our tailored help and advice.</p>
  </div>
</ns-landmark>

<ns-panel id="online" decoration="">
  <ns-lockup reverse="">
    <h2 slot="heading">
      <span class="h5">Managing your Direct Debit.</span>
      <span class="h2 enlighten"><b>Changing</b> your monthly payment</span>
    </h2>
    <div slot="paragraph">
      <p>You can change the amount you pay each month in your online account.</p>
      <p>But if you'd like to change your payment date, start a <a href="">live chat with us</a>.</p>
    </div>
    <a href="#!" slot="cta">
      <ns-cta type="direct" href="#!" icon="arrow-right" loading="false" loadingmessage="Loading...">Change your Direct Debit amount</ns-cta>
    </a>
    <div slot="image">
      <ns-image src="https://user-images.githubusercontent.com/49559070/86804945-5056f380-c06f-11ea-88b6-43d6143c8ece.jpg"></ns-image>
    </div>
  </ns-lockup>
</ns-panel>

<ns-panel>
  <div class="splash triple">

    <ns-card id="bank" type="support">
      <h3 slot="heading">Moved house?</h3>
      <p slot="paragraph">If we supply your new home, you'll need to set up an account with us. Don't worry, it won't take long.</p>
      <div slot="cta">
        <ns-cta type="text" href="https://www.britishgas.co.uk/new-home/#/move-in/energy-quote">Set up a new account</ns-cta>
      </div>
    </ns-card>

    <ns-card id="payzone" type="support">
      <h3 slot="heading">Help with your final bill</h3>
      <p slot="paragraph">We're sorry to see you go. Find out more about paying your final bill.</p>
      <div slot="cta">
        <ns-cta type="text" href="#final-bill">Learn about your final bill</ns-cta>
      </div>
    </ns-card>
   
  </div>
</ns-panel>

<ns-panel id="app" decoration="">
  <div class="splash">
    <h2>Understanding your Direct Debit</h2>
    <p class="p-feature">In a rush? Watch our quick videos to learn more about your Direct Debit.</p>          
  </div>

  <div class="splash">
    <h5>Watch our advice</h5>
    <ul class="ul-bullet">
      <li>
        <a href="https://www.youtube.com/watch?v=ufvnEt1Y2RQ">Is an energy payment plan right for me? [YouTube]</a>
      </li>
      <li>
        <a href="https://www.youtube.com/watch?v=jwBSr55oMew">How does a variable Direct Debit work? [YouTube]</a>
      </li>
      <li>
        <a href="https://www.youtube.com/watch?v=7U3484kKkW8">How might my Direct Debit estimate change? [YouTube]</a>
      </li>
      <li>
        <a href="https://www.youtube.com/watch?v=Zj1XgM5MHRo">How can I make sure my bills are accurate? [YouTube]</a>
      </li>
    </ul>
  </div>

  <ns-lockup>
    <h2 slot="heading">
      <span class="h5">Understanding your payments.</span>
      <span class="h2 enlighten">Why has my <b>payment amount changed?</b></span>
    </h2>
      <div slot="paragraph">
        <p>If your monthly payment has changed and you're not sure why, watch our video to find out.</p>
    </div>
    <ul class="ul-bullet">
      <li>Put your key or card into the meter for at least a minute to activate it</li>
      <li>Top-up your key or card at a <a href="#payzone">Payzone</a> or <a href="#post-office">Post Office</a></li>
      <li>Put the key or card into your meter (electricity credit will transfer automatically)</li>
      <li>For gas, press and hold the red button 'A' to transfer the credit to the meter.</li>     
    </ul>
    <div slot="image">
      <ns-video id="kSfCGov6JAo" ratio="16x9" title="Why has my monthly payment amount changed"></ns-video>
    </div>
  </ns-lockup>
</ns-panel>


<ns-panel>
  <ns-accordion role="tablist">

    <h3 slot="heading">Frequently asked questions</h3>

    <ns-expander id="final-bill" role="tab">
      <h4 slot="heading">I'm moving house, but I'm staying with British Gas. What will happen to my Direct Debit?</h4>

      <p><b>Let us know about your house move and we'll get things sorted. Here's what will happen.</p>

      <p>1. We'll close your account on the date you move out.</p>

      <p>2. When the big day comes, we'll ask for your final meter reading which we'll use to create your final bill.</p>

      <p>3. We'll then send you a final bill for your old house based on your meter reading. But if we don't have one, we'll estimate it.</p>

      <p>4. But if we already supply your new home, then we might be able to transfer your account for you.</p>

       <p>You can start your home move <a href="https://www.britishgas.co.uk/discover/home-move/#/hub-anonymous">here</a>.</p>
    </ns-expander>

    <ns-expander id="final-bill" role="tab">
      <h4 slot="heading">I'm leaving British Gas. What happens to my Direct Debit?</h4>

      <p>We're sorry to see you go. If you're leaving us because you're moving house, please let us know. Here's what will happen</p>

      <p>1. We'll close your account on a date of your choice.</p>

      <p>2. Your new supplier should ask you for your final meter reading, which they'll send to us.</p>

      <p>3. We'll then give you a final bill based on your meter reading. But if we don't have one, we'll estimate it.</p>

      <p>4. Once we've sent your final bill, we'll collect the payment via Direct Debit.</p>

      <p>5. If we owe you money, we'll sort out your refund and pay it directly into your bank account.</p>

      <p>6. We'll cancel your Direct Debit as soon as we've taken your final payment. But if you've paid your final bill and your Direct Debit hasn't stopped, you <a>you can cancel it here</a>.</p>

      <p>You can start your home move <a href="https://www.britishgas.co.uk/discover/home-move/#/hub-anonymous">here</a>.</p>
    </ns-expander>

    <ns-expander role="tab">
      <h4 slot="heading">Why should I send meter readings?</h4>
      <p>Submitting regular meter readings means we can send you more accurate bills. So, you’ll only pay for what you’ve used.</p>
      <p>Depending on when you send your meter readings, we’ll either adjust your current bill and send it back to you, or we’ll make sure it’s taken into account on your next bill.</p>
      <p>It’s easy to submit a meter reading – just go to britishgas.co.uk/meterreads and follow the instructions.</p>
      <p>If you pay by cash, cheque, debit or credit card, we’ll send you a quarterly bill to help you stay on top of your payments. If you pay by Direct Debit, we’ll send you regular statements to let you know how much you’re spending.</p>
      <p>A smart meter takes away the hassle of sending regular meter readings, and you’ll only ever pay for the energy you’ve used. Find out if you’re eligible for a <a>smart meter</a>.</p>
    </ns-expander>

    <ns-expander role="tab">
      <h4 slot="heading">What is a standing charge?</h4>
      <p>A standing charge is the minimum you’ll pay for gas or electricity – it’s like a phone line rental for energy. This covers the cost of delivering energy to your home through cables, pipes and meters.</p>
      <p>Standing charges are flat fees, which mean they stay the same every day, no matter how much energy you use. You can find out how much your standing charge costs in the summary section on your fuel bills.</p>
    </ns-expander>

    <ns-expander role="tab">
      <h4 slot="heading">How is my gas calculated?</h4>
      <p>The amount of energy produced by gas can fluctuate. So to work out a consistent price, we convert the units you’ve used into kilowatt hours of energy, or KWh. To do this, we use the standard formula below – all energy companies measure energy this way.</p>
      <p>Gas units used (as shown on your statement) x caloric value (as shown on your statement) x 1.02264 volume correction ÷ 3.6 kWh conversion = kWh used</p>
      <p>If you pay for your gas and electricity at the same time, we’ll work out how much you’ve used separately, then add them together to give you your total.</p>
      <p>Did you know you can save money and do your bit for the planet by using less energy? There are lots of simple ways you can cut down – read our <a>energy-saving tips</a> to find out how.</p>
    </ns-expander>

    <ns-expander role="tab">
      <h4 slot="heading">What do I do if I get a scam bill?</h4>
      <p>If you think you've received a scam bill claiming to be from British Gas, please let us know. You can find out how to spot fake phishing emails and what to do next <a href="https://www.britishgas.co.uk/help-and-support/my-account/if-you-get-a-suspicious-email">here</a></p>
    </ns-expander>

  </ns-accordion>
</ns-panel>
    
<ns-panel decoration="invert-concave-cyan">
  <div class="splash">
    <h2><br>Related help and guidance</h2>     
  </div>  

  <div role="list" class="splash triple ">
    <ns-card role="listitem" type="support">
      <h3 slot="heading" role="heading" aria-level="3">If you're struggling to pay for your energy</h3>
      <div slot="paragraph">
        <p>We know paying your energy bills isn't always easy. So if you can't pay your next bill in one go, just let us know. We'll talk you through your options and find a payment plan that suits you.
      </div>
      <a href="/aem6/content/britishgas/home-services/boilers-and-heating/boiler-and-heating-cover.html#boiler-check-banner" slot="cta" aria-label="Book a boiler service">
        <ns-cta type="text">I need help with my payments</ns-cta>
      </a>  
    </ns-card>

    <ns-card role="listitem" type="support">
      <h3 slot="heading" role="heading" aria-level="3">Change your tariff</h3>
      <div slot="paragraph">
        <p>If you're struggling to pay for your energy or you just want a better deal, we may have a cheaper tariff for you. Take a look at all our available tariffs to find one that's right for you.</p>
      </div>
      <a href="/aem6/content/britishgas/home-services/boilers-and-heating/new-boilers.html" slot="cta">
        <ns-cta type="text">Change my tariff</ns-cta>
      </a>
    </ns-card>

    <ns-card role="listitem" type="support">
      <h3 slot="heading" role="heading" aria-level="3">Report a scam bill</h3>
      <div slot="paragraph">
        <p>We're aware of a series of scam emails that are claiming to be from British Gas – but they're not. If you think you've received one, please report it to us as soon as possible.</p>
      </div>
      <a href="/aem6/content/britishgas/home-services/appliances-and-electrical/appliances-and-electrical-cover.html" slot="cta" aria-label="Get appliance cover">
        <ns-cta type="text">Report a scam bill</ns-cta>
      </a>
    </ns-card>
  </div>
</ns-panel>


<ns-panel>
  <ns-highlighter type="info">
    <h2 slot="heading">
    Need more help?</h2>
    <p>The quickest way to get in touch with us is via <a href="#!">Live Chat</a>.</p>
    <p>Or you can call us on <a href="tel:+44">0333 333 3333</a> <a href="#caveat" aria-label="Additional information 1">1</a></p>
  </ns-highlighter>
</ns-panel>

<ns-caveat>
  <h2 slot="heading">Additional information</h2>
  <div slot="caveat">
    <ol>
      <li>
        Lines are open Monday to Friday, from 8am to 8pm, and on weekends and bank holidays from 9am to 5pm (excluding Christmas Day).
      </li>
    </ol>
  </div>
</ns-caveat>