---
title: Partnership template - Thames Water
eleventyNavigation:
  key: Join Energy
  parent: je
  title: Partnership
  excerpt: Template for Thames Water Partnership
layout: nucleus-partnership
---

<ns-landmark image="https://user-images.githubusercontent.com/34439889/110322501-20e7f480-800b-11eb-9453-60fa7f3465b0.jpg" alt="Lady and a man in a kitchen looking happy" type="summit">
  <h1 slot="heading">
    <span class="h5">This is an exclusive offer for Thames Water customers</span>
    <span class="h1 enlighten"><b>Peace of mind is…</b> not having to splash out on emergency plumbers</span>
  </h1>
  <p slot="paragraph">Leaks, drips and blockages fixed from 99p a month <a aria-label="Skip to caveat section" href="#caveat" data-di-id="#">1</a></p>
  <a slot="action" href="#!">
    <ns-cta type="direct">Get cover</ns-cta>
  </a>
</ns-landmark>


<ns-panel>
  <div class="panel ">
    <div class="splash">
      <h2>
        <span class="product__title">Plumbing & Drains cover from 99p a month for 12 months when you sign up by 30th June 2021</span>
      </h2>
    <article id="additional-legal-information">This is a commercial offer arranged through British Gas and is not Thames Water’s Ofwat regulated business.</article>
    </div>
  </div>
</ns-panel>


<ns-panel>
  <div role="list" class="splash triple">
    <ns-card role="listitem" type="section" decoration="tap">
      <h3 slot="heading" role="heading" aria-level="3">
        <span class="capitalize">Plumbing</span>
      </h3>
      <div slot="paragraph">
        <p>Our plumbing cover looks after all repairs to the plumbing system on your property. So whether you have a burst pipe or a faulty hot water cylinder, we're here to help</p>
      </div>
    </ns-card>
    <ns-card role="listitem" type="section" decoration="appliance">
      <h3 slot="heading" role="heading" aria-level="3">
        <span class="capitalize">Drains</span>
      </h3>
      <div slot="paragraph">
        <p>Our drains cover looks after repairs to blocked drains on your property</p>
      </div>
    </ns-card>
  </div>
</ns-panel>


<ns-panel>
  <div class="splash">
    <h3 class="h6 enlighten">You can get more detail from these documents</h3>
  <ns-download href="this-text-gets-ignored.pdf" filesize="123MB">Plumbing &amp; Drains Cover</ns-download>
  </div>
</ns-panel>


<ns-panel decoration="invert-concave-grey-light">
  <div class="splash">
    <h2 data-test-helper="someImportantBitsTitle">Some important bits</h2>
  </div>
  <div class="splash triple" role="list">
  <ns-card role="listitem" type="support">
    <h3 slot="heading" role="heading" aria-level="3" data-test-helper="inclusionHeading">
    What's included <a aria-label="Skip to caveat section" href="#caveat" data-di-id="di-id-405c0e9c-ef9743bf">2</a>
    </h3>
    <div slot="paragraph">
    <ul class="ul-ticked">
      <li data-test-helper="inclusionList">Repairs to the plumbing system in your home and outbuildings and the water supply pipe within the boundary of your property</li>
      <li data-test-helper="inclusionList">Unblocking and repairing your drains and waste pipes to restore flow</li>
      <li data-test-helper="inclusionList">Accidental Damage</li>
      <li data-test-helper="inclusionList">Up to £1,000 to gain access and make good for each repair</li>
    </ul>
    </div>
  </ns-card>
  <ns-card role="listitem" type="support">
    <h3 slot="heading" role="heading" aria-level="3" data-test-helper="exclusionHeading">What's not included</h3>
    <div slot="paragraph">
    <ul class="ul-crossed">
      <li data-test-helper="exclusionList">Showers and their parts, shower pumps, sanitary ware and sealant</li>
      <li data-test-helper="exclusionList">Shared drains</li>
      <li data-test-helper="exclusionList">Faults caused by someone else you used for repairs or design faults</li>
    </ul>
    </div>
  </ns-card>
  </div>
</ns-panel>


<ns-panel>
  <div class="splash">
    <h2 slot="heading">Check your eligibility</h2>
    <ul class="ul-ticked">
      <li data-test-helper="criteria">You own the home you're taking the cover out on.</li>
      <li data-test-helper="criteria">You have no other household or home emergency insurance that provides similar cover.</li>
    </ul>
  </div>
  <ns-cta role="button" id="page-get-covered" type="direct">Get cover</ns-cta>
</ns-panel>


<ns-panel>
  <div class="splash">
  <ns-accordion>
    <h3 slot="heading">Frequently asked questions</h3>
    <ns-expander open="false">
    <h4 slot="heading">How does the boiler service work?</h4>
    <p class="aboutyourboiler_text">
    Lorem Ipsum</p>
    </ns-expander>
    <ns-expander open="false">
    <h4 slot="heading">How do I cancel?</h4>
    <p class="cancelcover__copytext">
    You can cancel your agreement at any time.
    </p>
    <p class="cancelcover__copytext">
    We'll give you a full refund of your product if you cancel within 14 days
    unless you have made a claim. The 14 days begin from the start date or from
    the date you receive the policy documents if this is later. This is your cooling-off period.
    </p>
    <p class="cancelcover__copytext">
    If you cancel after your cooling-off period and you pay monthly by Direct Debit,
    your cover will continue to the end of the period your last payment is for.
    If you pay by annual Direct Debit, your cover will continue to
    the end of the month in which you tell us, and we'll refund you the remaining amount.
    </p>
    <p class="cancelcover__copytext">
    If we've carried out any work for you, you may have to pay cancellation charges.
    </p>
    </ns-expander>
    <div id="ember108" class="ember-view"><ns-expander open="false">
    <h4 slot="heading">What is the 'excess'</h4>
    <p>Excess is the amount you would pay towards each completed repair or replacement, for example if your excess was £99, you would pay that amount for each completed repair.</p>
    </ns-expander>
    </div>
  </ns-accordion>
  </div>
</ns-panel>


<ns-caveat id="caveat">
  <h2 slot="heading">Legal information</h2>
  <div slot="caveat">
    <ol>
      <li id="caveat1">Limits apply, please see full terms &amp; conditions.</li>
    </ol>
  </div>
</ns-caveat>
