---
title: Evolve Nucleus prototype
---

<ns-landmark type="lakeside">
  <h1 slot="heading">
    <span class="h1 enlighten">Contact us</span>
  </h1>
  <div slot="paragraph">
    <p>Need to get in touch?</p>
  </div>
</ns-landmark>

<ns-panel>
  <div class="splash">
    <h2 class="enlighten">We may already have an answer for you.</h2>
    <p class="p-normal">Be sure to take a look at our <a href="/faqs">Frequently Asked Questions</a> and <a href="/covid19">Covid-19</a> pages.</p>
  </div>
</ns-panel>

<ns-panel>
  <ns-column class="splash" basketballcourt="2">
    <ns-card type="support">
      <h3 slot="heading">
        <ns-pill colour="green-light" icon="gas">Fastest response</ns-pill>Chat online
      </h3>
      <p slot="paragraph">Our UK-based team are here to help you with any British Gas Evolve question you may have.</p>
      <div slot="paragraph">
        <dl class="dl-stack">
          <div>
            <dt>Chat available:</dt>
            <dd>9am to 5pm, Monday to Friday.</dd>
          </div>
        </dl>
      </div>
      <a slot="cta" href="#!">
        <ns-cta type="text" icon="gas">Chat with us</ns-cta>
      </a>
    </ns-card>
    <ns-card type="support">
      <h3 slot="heading">
        <ns-pill colour="red" icon="gas">Slowest response</ns-pill>Email
      </h3>
      <p slot="paragraph">If it isn't urgent then we are more than happy to help you with your questions over email.</p>
      <div slot="paragraph">
        <dl class="dl-stack">
          <div>
            <dt>Email response:</dt>
            <dd>5 working days.</dd>
          </div>
        </dl>
      </div>
      <a slot="cta" href="#!">
        <ns-cta type="text" icon="gas">Send email</ns-cta>
      </a>
    </ns-card>
  </ns-column>
</ns-panel>

<ns-panel>
  <ns-lockup type="locknut">
    <h2 slot="heading">
      <span class="h1 enlighten">Your British Gas Evolve account can help you</span>
    </h2>
    <div slot="paragraph">
      <ul class="ul-bullet">
        <li>Submit a meter reading</li>
        <li>View your bills</li>
        <li>Check your account balance</li>
        <li>View your documents</li>
      </ul>
    </div>
    <a slot="cta" href="#!">
      <ns-cta type="bare" icon="">Log in</ns-cta>
    </a>
    <ns-image slot="image" src="/assets/evolve/account-push.jpg" alt="Two people sat with a tablet"></ns-image>
  </ns-lockup>
</ns-panel>

<ns-panel>
  <div class="splash">
    <h2 class="enlighten">If you have a complaint</h2>
    <p class="p-normal">Our webchat team is ready to help you, so please log in to get in touch. If we can't sort out your complaint right away, we'll let you know what we plan to do next and when you can expect to hear from us.</p>
    <ul class="download-list">
      <li>
        <ns-download href="https://www.britishgasevolve.co.uk/assets/files/Were-listening-BG-Evolve-Energy.pdf" fileSize="123KB">Complaints handling procedure - energy</ns-download>
      </li>
      <li>
        <ns-download href="https://www.britishgasevolve.co.uk/assets/files/Were-listening-BGX-Home-Services.pdf" fileSize="123KB">Complaints handling procedure - home services</ns-download>
      </li>
    </ul>
    <p>For details on how we are performing on complaints, please see the <a href="https://www.britishgas.co.uk/complaints/performance.html">main British Gas website</a>.</p>
    <h3 class="enlighten">If you need independent advice</h3>
    <p>The Citizens Advice consumer service gives free, confidential and impartial advice. You can get in touch with them for advice at anytime during the complaints process:</p>
    <p>Call: <a href="tel:08082231133">0808 223 1133</a> (Welsh speaking service: <a href="tel:08082231144">0808 223 1144</a>)<a href="https://www.britishgas.co.uk/complaints.html"></a></p>
    <p><a href="https://www.citizensadvice.org.uk/energy/">citizensadvice.org.uk/energy/</a></p>
    <p><a href="https://www.citizensadvice.org.uk/consumer/get-more-help/if-you-need-more-help-about-a-consumer-issue/">Consumer energy query form</a></p>
    <h3 class="enlighten">Know your rights</h3>
    <p>It's easy to get free independent advice so that you "Know your rights" as an energy consumer. You might want to get a better deal, find out how to make a complaint, get advice about the quality of your electricity or gas supply, or ask for help if you’re struggling to pay your bills.</p>
    <p>The document produced by the Citizens Advice service provides more information about where energy consumers can get free independent information and advice about their energy supply and ways to reduce their energy bills.</p>
    <ul class="download-list">
      <li>
        <ns-download href="https://www.britishgasevolve.co.uk/assets/files/know_your_rights.pdf" fileSize="81.2KB">Know your rights</ns-download>
      </li>
    </ul>
    <h3 class="enlighten">We always aim to resolve complaints as quickly as possible</h3>
    <p>We'll make every effort to resolve your complaint within a day of receiving it. However, sometimes it can take a little longer, so if we haven't been able to sort things out within eight weeks, or if we can't agree a way forward with you (we call this 'deadlock'), we'll write and let you know that you have the right to pass your complaint to the Ombudsman Services: Energy.</p>
    <p>The Ombudsman is there to help sort out disputes between energy suppliers and their customers. It’s free to use their services and they’re totally independent - they don’t take sides and their decisions are based only on the information they have.</p>
    <p>You don’t have to accept their decision, but if you do, we’ll act on what they say. That might mean saying sorry, explaining what’s gone wrong, fixing the problem or paying you compensation.</p>
    <p>You'll find the Ombudsman’s factsheet, which gives you full details of their services and how they can help by contacting them in the following ways:</p>
    <p><a href="tel:03304401624">0330 440 1624</a> <a href="#caveat">1</a></p>
    <p><a href="tel:03304401600">0330 440 1600</a> <a href="#caveat">1</a> (Textphone)</p>
    <p><a href="https://www.ombudsman-services.org/sectors/energy">ombudsman-services.org/sectors/energy</a></p>
    <p>email: <a href="mailto:enquiry@ombudsman-services.org">enquiry@ombudsman-services.org</a></p>
    <p>If you would also like to view a copy of the "Gas & electricity (Consumer complaint handling standards) Regulations 2008", please visit <a href="http://www.legislation.gov.uk/">www.legislation.gov.uk</a></p>
  </div>
</ns-panel>

<ns-caveat>
  <h2 slot="heading">Legal information</h2>
  <div slot="caveat">
    <ol>
      <li>Legal ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
    </ol>
  </div>
</ns-caveat>
