---
title: Evolve Nucleus prototype
eleventyNavigation:
  key: tn
  title: Evolve Nucleus
  excerpt: Evolve Nucleus Demo excerpt
---

<ns-landmark type="lakeside">
  <h1 slot="heading">
    <span class="h1">{{teamname}} homepage</span>
  </h1>
  <div slot="paragraph">
    <p>This is the index page for {{title}}.</p>
  </div>
</ns-landmark>
