---
title: Rewards
eleventyNavigation:
  key: Help and Support
  parent: rpa
  title: Rewards
  excerpt: Nucleus redesigns of Rewards
---


<ns-landmark type="hillside">
  <h1 slot="heading">
    <span class="h5">Prototypes.</span>
    <span class="h1">Rewards</span>
  </h1>
  <div slot="paragraph">
    <p>This is the index page of <b>{{title}}</b>. When you're ready, move on.</p>
  </div>
</ns-landmark>

<ns-panel>
  <div class="splash triple">
     <ns-card type="support">
      <h3 slot="heading">Carers UK hubpage</h3>
      <a slot="cta" href="carers-uk-hubpage/rewards-hub">
        <ns-cta type="text">Carers UK hubpage</ns-cta>
      </a>
    </ns-card>

    <ns-card type="support">
      <h3 slot="heading">2020 Nucleus redesign</h3>
      <a slot="cta" href="rewards-nucleus/rewards-oam">
        <ns-cta type="text">Nucleus redesign</ns-cta>
      </a>
    </ns-card>

    <ns-card type="support">
      <h3 slot="heading">2020 Nucleus redesign (winner)</h3>
      <a slot="cta" href="rewards-nucleus-winner/rewards-oam">
        <ns-cta type="text">Nucleus redesign (winner)</ns-cta>
      </a>
    </ns-card>

    <ns-card type="support">
      <h3 slot="heading">2020 Nucleus offer not available</h3>
      <a slot="cta" href="rewards-offer-not-available/offer-not-available">
        <ns-cta type="text">Nucleus offer not available</ns-cta>
      </a>
    </ns-card>

    <ns-card type="support">
      <h3 slot="heading">2020 Nucleus something went wrong</h3>
      <a slot="cta" href="rewards-something-went-wrong/something-went-wrong">
        <ns-cta type="text">Nucleus something went wrong</ns-cta>
      </a>
    </ns-card>

    <ns-card type="support">
      <h3 slot="heading">Rewards product page</h3>
      <a slot="cta" href="rewards-product-page/product-page">
        <ns-cta type="text">Rewards product page</ns-cta>
      </a>
    </ns-card>
  </div>
</ns-panel>