---
title: Rewards Personalisation Assist
eleventyNavigation:
  key: rpa
  title: Rewards Personalisation Assist
  excerpt: Rewards Personalisation Assist excerpt
---

<ns-landmark type="summit" image="https://user-images.githubusercontent.com/28779/75573555-00c74200-5a55-11ea-86db-66a1ff253b57.jpg">
  <h1 slot="heading">
    <span class="h5">How cool is this.</span>
    <span class="h1 enlighten"><b>{{teamname}}</b>, get ready to be awesome</span>
  </h1>
  <div slot="paragraph">
    <p>This is the index page of <b>{{title}}</b>. When you're ready, move on.</p>
  </div>
</ns-landmark>

  {% set navPages = collections.all | eleventyNavigation("rpa") | reverse %}
  <ns-panel>
    <div class="splash">
      <h2>{{teamname}} projects</h2>
    </div>

    <div class="splash triple">
      {%- for entry in navPages %}
        <ns-card type="support">
          <h3 slot="heading">{{entry.title}}</h3>
          <p slot="paragraph">
            <a href="https://2020-04-20-rpa-help-with-your-meter--nucleus-prototype.netlify.app/rpa/help-with-your-meter/">Version 1</a> <small>(2020-04-20)</small>
            <br>
            <a href="https://2020-04-27-rpa-help-with-your-meter--nucleus-prototype.netlify.app/rpa/help-with-your-meter/">Version 2</a> <small>(2020-04-27)</small>
            <br>
            <a href="https://2020-04-28-rpa-help-with-your-meter--nucleus-prototype.netlify.app/rpa/help-with-your-meter/">Version 3</a> <small>(2020-04-28)</small>
          </p>
          <a slot="cta" href="{{entry.url | url}}">
            <ns-cta type="text">{{entry.title}}</ns-cta>
          </a>
        </ns-card>
      {%- endfor %}
    </div>
  </ns-panel>
