---
title: Triage - start
eleventyNavigation:
  key: Triage experiment
  title: Triage journey pattern
  excerpt: Putting together an example of a triage journey pattern to help facilitate the Stuggling to pay journey
---

<ns-landmark type="lakeside">
  <h1 slot="heading">
    <span class="h5">{{eleventyNavigation.title}}.</span>
    <span class="h1">Struggling to pay</span>
  </h1>
  <div slot="paragraph">
    <p>This is the index page of the Nucleus prototype. When you're ready, move on.</p>
  </div>
  <a slot="cta" href="step-01">
    <ns-cta>Start the journey</ns-cta>
  </a>
</ns-landmark>

