---
title: Triage - pay-promise
heading: "You can now <b>promise to pay</b>"
---

{% include "./_includes/ns-landmark.njk" -%}

<ns-panel>
  {% include "./_includes/go-back.njk" -%}
  <div class="splash">
    <h2>You can promise to pay if</h2>
    <ul class="ul-ticked">
      <li>[Pug drinking vinegar man braid chicharrones authentic fanny pack.]</li>
      <li>[Blog whatever trust fund freegan vice.]</li>
      <li>[Gochujang jean shorts succulents snackwave biodiesel shaman bespoke bushwick.]</li>
    </ul>
    <ns-highlighter type="info">
      <h2 slot="heading">Give us a call or chat online</h2>
      <p>Call us on <a href="tel:+44">0333 333 3333</a> if you need to. <a href="#caveat" aria-label="Additional information 1">1</a></p>
      <p>For a quick response consider using <a href="#!">Live chat</a>.</p>
    </ns-highlighter>
  </div>
</ns-panel>

<ns-caveat>
  <h2 slot="heading">Additional information</h2>
  <div slot="caveat">
    <ol>
      <li>Lines are open between 8am and 8pm Monday to Friday and between 9am and 5pm weekends and bank holidays excluding Christmas day.</li>
    </ol>
  </div>
</ns-caveat>
