---
title: Confirmation
---

<ns-landmark type="hillside" gradient="invert-ramp-green-light">
  <h1 slot="heading">
    <span class="h1">Thank you</span>
  </h1>
  <div slot="paragraph">
    <p>You're one step closer to finding a solution for your dept.</p>
    <p>It's in our best interest to give you piece of mind and get you on the road to dept recovery.</p>
  </div>
</ns-landmark>

<ns-panel>
  <ns-lockup type="lockjaw" reverse>
    <h2 slot="heading">
      <span class="h5">Struggling to pay</span>
      <span class="h2 enlighten">What will <b>happen next?</b></span>
    </h1>
    <div slot="paragraph">
      <p>One of our team members wil review this and get back to you in the next working day.</p>
      <p>We will then discuss your arrangement in more detail.</p>
    </div>
    <a slot="cta" href="#!">
      <ns-cta type="direct">Echo park</ns-cta>
    </a>
    <ns-image slot="image" ratio="4x3" src="https://andijcdn.sirv.com/nds/testcard-4x3.png?scale.width&#x3D;768&amp;text.0.text&#x3D;768x576&amp;text.0.position&#x3D;center&amp;text.0.outline.width&#x3D;2"></ns-image>
  </ns-lockup>
</ns-panel>
