---
title: Triage
heading: "Please tell us your <b>contact preference</b>"
paragraph: "<p>One of our team members will review this arrangement and get back to you in the next working day</p>"
---

{% include "./_includes/ns-landmark.njk" -%}

<ns-panel>
  <ns-form class="splash" nf-model="model.contact-preference">
    <ns-inputter name="question-a" validation="[&quot;isRequired&quot;]" value="">
      <input type="radio" name="radio" id="radio-a" value="Text">
      <label for="radio-a">By text</label>
      <input type="radio" name="radio" id="radio-b" value="Phone">
      <label for="radio-b">By phone</label>
      <input type="radio" name="radio" id="radio-c" value="Call">
      <label for="radio-c">I want to call British Gas</label>
    </ns-inputter>
    <ns-cta nf-href="DYNAMIC">Continue</ns-cta>
    {% include "./_includes/go-back.njk" -%}
  </ns-form>
</ns-panel>

<script>
  function getDynamicURL() {
    var data = document.querySelector('ns-inputter[name="question-a"]').value;

    if (data === 'Text') {
      return '../step-08';
    }

    if (data === 'Phone') {
      return '../step-08';
    }

    if (data === 'Call') {
      return '../step-08';
    }

  }
</script>
