---
title: Confirmation
---

<ns-landmark type="hillside" gradient="invert-ramp-green-light">
  <h1 slot="heading">
    <span class="h1">Thank you</span>
  </h1>
  <div slot="paragraph">
    <p>You're one step closer to finding a solution for your dept.</p>
    <p>It's in our best interest to give you piece of mind and get you on the road to dept recovery.</p>
  </div>
</ns-landmark>

<ns-panel>
  <ns-lockup type="lockjaw" reverse>
    <h2 slot="heading">
      <span class="h5">Struggling to pay</span>
      <span class="h1 enlighten">What will <b>happen next?</b></span>
    </h2>
    <div slot="paragraph">
      <p>One of our team members wil review this and get back to you in the next working day.</p>
      <p>We will then discuss your arrangement in more detail.</p>
    </div>
    <a slot="cta" href="#!">
      <ns-cta type="direct">[Navigate to somewhere relevant]</ns-cta>
    </a>
    <ns-image slot="image" ratio="4x3" src="https://user-images.githubusercontent.com/28779/84479871-8df07880-ac8b-11ea-86de-2607f64f0a48.jpg"></ns-image>
  </ns-lockup>
</ns-panel>
