---
title: Triage
---

{% include "./_includes/ns-landmark.njk" -%}

<ns-panel>
  <ns-form class="splash" nf-model="model.health-issues">
    <ns-inputter name="question-a" validation="[&quot;isRequired&quot;]" value="">
      <input type="radio" name="radio" id="radio-a" value="Carer">
      <label for="radio-a">I or a member of my household have a carer or support worker to help manage day to day tasks</label>
      <input type="radio" name="radio" id="radio-b" value="Medical">
      <label for="radio-b">I have a regular stays in hospital due to an ongoing medical condition</label>
      <input type="radio" name="radio" id="radio-c" value="Other">
      <label for="radio-c">Other</label>
    </ns-inputter>
    <ns-cta nf-href="DYNAMIC">Continue</ns-cta>
    {% include "./_includes/go-back.njk" -%}
  </ns-form>
</ns-panel>


<script>
  function getDynamicURL() {
    var data = document.querySelector('ns-inputter[name="question-a"]').value;

    if (data === 'Carer') {
      return '../step-05';
    }

    if (data === 'Medical') {
      return '../step-05';
    }

    if (data === 'Other') {
      return '../step-04c';
    }

  }
</script>
