---
layout: nucleus-header-logged-in-variant-booked.njk
title: Welcome to your account
---

<ns-panel decoration="invert-ramp-blue" class="">
  <div class="splash">
    <h5>Hi <span nf-model="model.oam-02.first-name">Mr</span> <span nf-model="model.oam-02.surname">Known</span>.</h5>
    <h1>{{title}}</h1>
  </div>
  <div class="splash triple">

    <div class="np-card notification type-a">
      <div class="icon-holder">
        <ns-icon type="boiler" aria-hidden="true"></ns-icon>
      </div>
      <div class="content">
        <div class="heading-holder">
          <h3 class="heading">Annual service</h3>
        </div>
        <div class="paragraph-holder">
          <p class="paragraph">Your appointment is booked</p>
        </div>
        <div class="cta-holder">
          <ns-cta class="cta" type="text" href="#appointment-detail">View details</ns-cta> 
        </div>
      </div>
    </div>

    <div class="np-card notification type-b">
      <div class="icon-holder">
        <ns-icon type="bill" aria-hidden="true"></ns-icon>
      </div>
      <div class="content">
        <div class="heading-holder">
          <h3 class="heading">Your bill</h3>
        </div>
        <div class="paragraph-holder">
          <p class="paragraph">Your energy bill of £120.41 is ready</p>
        </div>
        <div class="cta-holder">
          <ns-cta class="cta" type="text">Pay now</ns-cta>
        </div>
      </div>
    </div>

    <div class="np-card notification type-c">
      <div class="img-holder">
        <ns-image slot="image" ratio="4x3" src="https://user-images.githubusercontent.com/47324496/73546218-c0b07780-4434-11ea-8063-dd45d2dbbbad.jpg"></ns-image>
      </div>
      <div class="content">
        <div class="heading-holder">
          <h3 class="heading">Add plumbing & drains</h3>
        </div>
        <div class="paragraph-holder">
          <p class="paragraph">For just £4 per month</p>
        </div>
        <div class="cta-holder">
          <ns-cta class="cta" type="text">Upgrade cover</ns-cta>
        </div>
      </div>
    </div>

  </div>
</ns-panel>

<div id="your-products">
  <!-- Anchor to your-products -->
</div>

<ns-tabs>
  <ns-tab icon="home" slot="tab" selected="true">Home Services</ns-tab>
  <div slot="panel">
    <ns-panel>

<div id="appointment-detail">
  <!-- Anchor to your-products -->
</div>

      <div class="splash">
      <ns-highlighter type="success" role="alert">
   <h2 slot="heading" role="heading" aria-level="2">Annual Service booked</h2>
   <h2 class="h1 enlighten">Thur 10th December</h2>
   <ns-column basketballcourt="2">
     <div><p slot="paragraph">Your engineer will arrive between <strong>10am</strong> and <strong>2pm</strong>.</p>
     <a slot="cta" href="#!">
            <ns-cta type="text">Change appointment</ns-cta>
          </a>
<a slot="cta" href="#!">
            <ns-cta type="text">Track my engineer</ns-cta>
          </a>
          </div>

     <div><ul class="ul-ticked" style="margin-bottom: 0;">
      <li>Boiler service</li>
    </ul>
    <a slot="cta" href="#!">
            <ns-cta type="text">Add another problem</ns-cta>
          </a>
          </div>
   </ns-column>
</ns-highlighter>

      </div>
    </ns-panel>



 <!-- Products using columns -->

   <ns-panel>
      <div class="splash">
        <h2>Your HomeCare</h2>
      </div>


      <ns-column class="splash" basketballcourt="3" hockeypitch="3" rugbypitch="3" role="list">
    <ns-card role="listitem" type="flat">
          <h2 slot="heading">£21.00 monthly</h2>
          <p slot="paragraph"># 012345678912</p>
          <p slot="paragraph">Renewal date: <strong>22nd July 2020</strong></p>
          <a slot="cta" href="#!">
            <ns-cta type="text">Your invoices</ns-cta>
          </a>
             <p slot="cta"><ns-cta slot="cta" class="product-content-button-margin" href="../../annual-service-visit/step-01/">Book an engineer</ns-cta></p>
        </ns-card>
    <ns-card role="listitem" type="flat">
          <h3 slot="heading">What's covered</h3>
          <p slot="paragraph"><strong>HomeCare 200</strong></p>
          <ul slot="paragraph" class="ul-ticked"> 
            <li>Annual boiler service</li>
            <li>Boiler and controls</li>
            <li>Central heating</li>
          </ul>
          <p slot="paragraph"><strong>Gas and Kitchen appliances</strong></p>
          <ul slot="paragraph" class="ul-ticked"> 
            <li>Gas</li>
            <li>Kitchen appliances</li>
          </ul>
          <a slot="cta" href="#!">
            <ns-cta type="text">View policy documents</ns-cta>
          </a>

        </ns-card>
    
        
        <ns-card type="support" alt="">
  <h3 slot="heading">
    <ns-pill colour="slate" icon="">Upgrade?</ns-pill>
    What's not covered
  </h3>
          <ul slot="paragraph">
            <li>Plumbing</li>
            <li>Drains</li>
          </ul>
          <a slot="cta" href="#!">
            <ns-cta type="text">Add / remove cover</ns-cta>
          </a>
</ns-card>

</ns-column>
</ns-panel>




   {% include "./_includes/upsell-electrical-cover.njk" -%}
  </div>

  {% include "./_includes/energy-tab.njk" -%}

  {% include "./_includes/rewards-tab.njk" -%}
