---
layout: nucleus-header-logged-in-variant.njk
title: Welcome to your account
---

<ns-panel decoration="invert-ramp-blue" class="">
  <div class="splash">
    <h5>Hi <span nf-model="model.oam-02.first-name">Mr</span> <span nf-model="model.oam-02.surname">Known</span>.</h5>
    <h1>{{title}}</h1>
  </div>
  <div class="splash triple">

    <div class="np-card notification type-a">
      <div class="icon-holder">
        <ns-icon type="boiler" aria-hidden="true"></ns-icon>
      </div>
      <div class="content">
        <div class="heading-holder">
          <h3 class="heading">Annual service</h3>
        </div>
        <div class="paragraph-holder">
          <p class="paragraph">It's time to book your annual service visit</p>
        </div>
        <div class="cta-holder">
          <ns-cta class="cta" type="text">Book now</ns-cta>
        </div>
      </div>
    </div>

    <div class="np-card notification type-b">
      <div class="icon-holder">
        <ns-icon type="bill" aria-hidden="true"></ns-icon>
      </div>
      <div class="content">
        <div class="heading-holder">
          <h3 class="heading">Your bill</h3>
        </div>
        <div class="paragraph-holder">
          <p class="paragraph">Your energy bill of £120.41 is ready</p>
        </div>
        <div class="cta-holder">
          <ns-cta class="cta" type="text">Pay now</ns-cta>
        </div>
      </div>
    </div>

    <div class="np-card notification type-c">
      <div class="img-holder">
        <ns-image slot="image" ratio="4x3" src="https://user-images.githubusercontent.com/47324496/73546218-c0b07780-4434-11ea-8063-dd45d2dbbbad.jpg"></ns-image>
      </div>
      <div class="content">
        <div class="heading-holder">
          <h3 class="heading">Add plumbing & drains</h3>
        </div>
        <div class="paragraph-holder">
          <p class="paragraph">For just £4 per month</p>
        </div>
        <div class="cta-holder">
          <ns-cta class="cta" type="text">Upgrade cover</ns-cta>
        </div>
      </div>
    </div>

  </div>
</ns-panel>

<div id="your-products">
  <!-- Anchor to your-products -->
</div>

<ns-tabs>
  <ns-tab icon="home" slot="tab" selected="true">Home Services</ns-tab>
  <div slot="panel">
    







<!-- Products using columns -->


   <ns-panel>
      <div class="splash">
        <h2>Your HomeCare</h2>
      </div>


      <ns-column class="splash" basketballcourt="2" hockeypitch="3" rugbypitch="3" role="list">
    <ns-card role="listitem" type="flat">
          <h2 slot="heading">£21.00 monthly</h2>
          <p slot="paragraph"># 012345678912</p>
          <p slot="paragraph">Renewal date: <strong>22nd July 2020</strong></p>
          <a slot="cta" href="#!">
            <ns-cta type="text">Your invoices</ns-cta>
          </a>
             <p slot="cta"><ns-cta slot="cta" class="product-content-button-margin" href="../../annual-service-visit/step-01/">Book repair or service</ns-cta></p>
        </ns-card>
    <ns-card role="listitem" type="flat">
          <h3 slot="heading">What's covered</h3>
          <p slot="paragraph"><strong>HomeCare 200</strong></p>
          <ul slot="paragraph" class="ul-ticked"> 
            <li>Annual boiler service</li>
            <li>Boiler and controls</li>
            <li>Central heating</li>
          </ul>
          <p slot="paragraph"><strong>Gas and Kitchen appliances</strong></p>
          <ul slot="paragraph" class="ul-ticked"> 
            <li>Gas</li>
            <li>Kitchen appliances</li>
          </ul>
          <a slot="cta" href="#!">
            <ns-cta type="text">View policy documents</ns-cta>
          </a>

        </ns-card>


         <ns-card role="listitem" type="support">
          <h3 slot="heading">What's not covered</h3>
          <ul slot="paragraph">
            <li>Plumbing</li>
            <li>Drains</li>
          </ul>
          <a slot="cta" href="#!">
            <ns-cta type="text">Add / remove cover</ns-cta>
          </a>
        </ns-card>



</ns-column>
</ns-panel>




<!-- Products using columns -->


   <ns-panel>
      <div class="splash">
        <h2>Your Home Insurance</h2>
      </div>


      <ns-column class="splash" basketballcourt="2" hockeypitch="3" rugbypitch="3" role="list">
    <ns-card role="listitem" type="flat">
          <h2 slot="heading">£12.00 monthly</h2>
          <p slot="paragraph"># 012345678923</p>
          <p slot="paragraph">Renewal date: <strong>22nd July 2020</strong></p>
          <p slot="paragraph">You are covered until the end of 21st July 2020</p>
          <a slot="cta" href="#!">
            <ns-cta type="text">Your policy documents</ns-cta>
          </a>
            
        </ns-card>
        

</ns-column>
</ns-panel>






    <ns-panel decoration="" class="">
      <ns-lockup type="lockbox">
        <h2 slot="heading">
          <span class="h5">Upgrade your cover</span>
          <span class="h1 enlighten"><b>Add home electrical cover</b> from just £2.50 a month</span>
        </h2>
        <p slot="paragraph">Repairs to electrical wiring, fuse boards and electrical fittings inside and outside your property</p>
        <a slot="cta" href="#!">
          <ns-cta type="direct">Upgrade your cover</ns-cta>
        </a>
        <ns-image slot="image" ratio="4x3" src="https://user-images.githubusercontent.com/47324496/73546218-c0b07780-4434-11ea-8063-dd45d2dbbbad.jpg"></ns-image>
      </ns-lockup>
    </ns-panel>
    




  </div>

  <ns-tab icon="energy" slot="tab">Energy</ns-tab>
  <div slot="panel">

    <ns-panel>
      <div class="splash">
        <h2>Gas and electricity</h2>
      </div>
      <div class="splash triple">
        <ns-card type="flat">
          <h2 slot="heading">Your bill of £120.41 is due for payment</h2>
          <p slot="paragraph">To change the way you pay for your energy see your <a>payment options.</a></p>
          <a slot="cta" href="#!">
            <ns-cta type="direct">Pay now</ns-cta>
          </a>
        </ns-card>
        <ns-card type="flat">
          <h2 slot="heading">Your tariffs</h2>
          <p slot="paragraph"><b>Gas:</b> HomeEnergy Fix April 2020</p>
          <p slot="paragraph"><b>Electricity:</b> HomeEnergy Fix April 2020</p>
          <a slot="cta" href="#!">
            <ns-cta type="text">See tariff details</ns-cta>
          </a>
        </ns-card>
        <ns-card type="support">
          <h2 slot="heading">Meter readings</h2>
          <p slot="paragraph">Manage your smart meter settings and see your readings.</p>
          <a slot="cta" href="../meter-readings/smart-settings/readings/">
            <ns-cta type="text">View smart meter readings</ns-cta>
          </a>
        </ns-card>
      </div>
    </ns-panel>

    <ns-panel decoration="" class="">
      <ns-lockup type="lockbox">
        <h2 slot="heading">
          <span class="h5">Smart meters</span>
          <span class="h1 enlighten"><b>Start saving</b> on energy with smart meters</span>
        </h2>
        <p slot="paragraph">Smart meters automatically send your meter readings to us, so you’ll get more accurate bills without having to lift a finger.</p>
        <a slot="cta" href="#!">
          <ns-cta type="direct">Get your smart meters</ns-cta>
        </a>
        <ns-image slot="image" ratio="4x3" src="https://user-images.githubusercontent.com/47324496/73614886-4bdb6a00-45fb-11ea-9438-b4669f93d917.jpg"></ns-image>
      </ns-lockup>
    </ns-panel>
  </div>

  <ns-tab icon="rewards" slot="tab">Rewards</ns-tab>
  <ns-panel slot="panel">
    <div class="splash">
     <ns-lockup type="lockjaw" decoration="">
  <h2 slot="heading">
    <span class="h5">Your Rewards.</span>
    <span class="h1 enlighten">Wow,<b> look at you go!</b></span>
  </h2>
  <p slot="paragraph">Looks like you’ve snapped up all our offers! But don’t worry, we’ll be adding some new ones soon. So be sure to check back.</p>
  <a slot="cta" href="#!">
    <ns-cta type="direct">View Rewards</ns-cta>
  </a>
  <ns-image slot="image" ratio="4x3" src="https://user-images.githubusercontent.com/49559070/72909820-84439400-3d2f-11ea-90fa-b23c98d6e3ee.jpg"></ns-image>
      </ns-lockup>
    </div>
  </ns-panel>
</ns-tabs>
