---
title: Welcome to your account
---

<ns-landmark type="lakeside">
  <h1 slot="heading">
    <span class="h5">Hi <span nf-model="model.oam-02.first-name">Mr</span> <span nf-model="model.oam-02.surname">Known</span>.</span>
    <span class="h1">{{title}}</span>
  </h1>
  <p slot="paragraph">An example page to show the user has successfully logged in</p>
</ns-landmark>
<ns-panel>
<div class="splash">
<ns-cta type="text" href="../account-details/v02">Account details</ns-cta>
<ns-cta type="text" href="https://invis.io/RTYQL4UC4VM#/431423949_Future_MVP">Dashboard simulation</ns-cta>
</div>
</ns-panel>
