<ns-panel>

            <div class="splash">

              <ns-accordion>

                <h3 slot="heading">Having trouble accessing your account?</h3>

                <ns-expander open="false">
                  <h4 slot="heading">I’ve accessed my account online before</h4>
                  <p>If you’ve accessed an account online before it’s more than likely that you are trying to log in with a different email address from the one which was registered with us. Alternatively you may need to reset your password.<br>
                  <ns-cta type="text" href="#" icon="arrow-right" loading="false" loadingmessage="Loading...">Login using a different email address</ns-cta>
                  <br>
                  <ns-cta type="text" href="#" icon="arrow-right" loading="false" loadingmessage="Loading...">Reset your password</ns-cta>
</p>
                </ns-expander>

                <ns-expander open="false">
                  <h4 slot="heading">I am an existing customer but haven't accessed my account online before</h4>
                  <p>It’s possible that you had joined us pre-digital days or had just never wanted a digital account, but now you do. You’ll need to register for an online account.<br>
                  <ns-cta type="text" href="../reg-01-landing" icon="arrow-right" loading="false" loadingmessage="Loading...">Register for an online account</ns-cta>
                  <br>
                  <ns-cta type="text" href="../login-01-landing" icon="arrow-right" loading="false" loadingmessage="Loading...">Benefits of an online account</ns-cta>
</p>
                </ns-expander>

                <ns-expander open="false">
                  <h4 slot="heading">I am not yet a customer of British Gas </h4>
                  <p>Paragraph for the expander content.</p>
                </ns-expander>

                <ns-expander open="false">
                  <h4 slot="heading">I am moving into a new property already supplied by British Gas</h4>
                  <p>Paragraph for the expander content.</p>
                </ns-expander>

              </ns-accordion>

            </div>

          </ns-panel>