---
title: Frozen pipes
eleventyNavigation:
  key: frozen-pipes
  parent: blog
  title: Frozen pipes
  excerpt: How to deal with frozen pipes
---




</ns-landmark>

<ns-panel>
  <ns-article>
    <ns-content>

        <a href="#">Back to the Source</a>
        <h1>How to avoid and treat frozen pipes</h1>

        <figure>
            <ns-video id="h4I8XuvZL2s" ratio="16x9" title="The Mixergy Tank is: Faster, Smaller & More Efficient"></ns-video>
            <figcaption>Video: What to do if you have frozen or burst pipes?</figcaption>
        </figure>
        
        <p>As temperatures plummet, it’s worth keeping a close eye on your home’s water pipes. Read on to learn how a little prep work can help you keep frozen pipes at bay or watch the video below if you think your pipes might already be frozen.</p>        

        <h2>Why do frozen pipes sometimes burst?</h2>
        <p>Water expands as it freezes, pressurising the pipe from the inside out. Whether the pipe is strong enough to withstand the pressure without buckling comes down to the volume of water that’s frozen, the type, shape and age of the pipe, and whether corrosion was already present.</p>
        <p>The good news is that with a few simple precautions, it’s often preventable – and definitely worth the time. The Association of British Insurers (ABI) estimates that the cost of insurance claims for a burst pipe can rise to around £7,500 during freezing weather.</p>
        <figure>
            <ns-image src="https://www.britishgas.co.uk/aem6/content/dam/britishgas/the-source/frozen-or-burst-pipes/stop-pipes-freezing.jpg" ratio="16x9" alt=""></ns-image>
            <figcaption>Our engineers are experts and can advise you</figcaption>
        </figure>
       
        

        <h2>So how can I stop my pipes freezing?<h2>

        <h3>Have your boiler serviced</h3>
        <p>If your heating isn’t working efficiently, the cold spots in your system will be most vulnerable to the cold. So it’s a good idea to have your boiler serviced every year – preferably during the warmer months. It’s the best way to prep your pipes and keep your system ready for everything winter has in store.</p>

        <h3>Insulate</h3>
        <p>Insulating your pipes and water tanks is one of the best ways to prevent them from freezing. You can buy inexpensive pipe lagging and tank jackets from most DIY stores and fit them yourself for free. Just make sure you check the pipe and tank measurements first.</p>
        <p>Then focus on these key areas:</p>  
        
        <ul class="ul-bullet">
            <li><strong>Outside pipework</strong> – such as heating drainpipes and overflow pipes. As well as straight lengths of pipe, remember to cover bends, valves and fittings too. And don’t forget your outside taps. You should find insulated tap covers at your local home depo store.</li>
            <li><strong>Pipes located in colder areas of your home</strong> – like unused loft spaces, garages and basements. To protect them, use the same lagging described above.</li>
            <li><strong>Water tanks</strong> – often forgotten, but they’re one of the main problem areas during a cold snap – and a leading cause of burst pipes. Be sure to insulate tanks placed in colder areas, such as basements, garages and unused lofts.</li>
        </ul>



        <h3>Encourage warm air flow and shut out the cold</h3>
        <p>If you have pipes and tanks in unheated loft spaces, open the hatch during icy weather to allow the warm air from downstairs to rise and keep the chill off.</p>
        <p>If some of your pipes or tanks are located inside cupboards, open the cupboard doors so the air from warmer parts of your home can circulate around them.</p>
        <p>When it’s frosty outside, have the heating set for different times of the day – even if no-one’s home. Or keep the heating on a constant low temperature and increase as needed when you are home.</p>
        <p>Block out any chilly breezes by keeping windows closed, sealing draughty edges (<a href="https://www.britishgas.co.uk/the-source/beat-the-weather/warm-home-winter.html">we’ve more on this here</a>) and using draught excluders on doors.</p>

  

        <h3>Fix any leaking taps</h3>             
        <p>It’s a myth that leaving your tap dripping when it’s icy can stop your pipes from freezing up. In fact, leaky taps can cause your drains to freeze and water to back up to your sink, leading to an overflow.</p>
        <p>So make sure that your taps are always fully off and have them fixed if they’re persistent drippers.</p>
        <figure>
            <ns-image src="https://www.britishgas.co.uk/aem6/content/dam/britishgas/the-source/frozen-or-burst-pipes/avoid-frozen-pipes.jpg" ratio="16x9" alt=""></ns-image>
            <figcaption>A leaky tap does freeze.</figcaption>
        </figure> 

        <h3>Remind yourself where your stopcock is</h3>
        <p>It’s essential that you know how to stop the water flow to your home in case the worst happens.</p>
        <p>So familiarise yourself with the location of your stopcock, clear the area around it for easy access, and use it immediately if you spot a leaky pipe!</p>
        <figure>
            <ns-image src="https://www.britishgas.co.uk/aem6/content/dam/britishgas/the-source/frozen-or-burst-pipes/where-is-your-stopcock.jpg" ratio="16x9" alt=""></ns-image>
            <figcaption>Know where your stopcock is</figcaption>
        </figure> 
                

        <h3>Turn off the water if you’re going away</h3>
        <p>If your home will be unoccupied for more than a few days during the colder months, you might want to turn your water off at the stopcock. It might even be worth draining the water in your system by running the taps until they’re empty. Just remember to close them again once you’ve finished.</p>
        <p>Hopefully the above steps should keep your pipes toasty and your home safe. But if you’re still worried about your pipework when the cold weather rolls in, here are a few tell-tale signs to look out for:</p>
        <ul class="ul-bullet">
            <li>Little or no water coming from your taps or shower.</li>
            <li>Exposed pipes that appear frosty or wet.</li>
            <li>Unusual noises coming from your system when you flush the toilet or use your sink. Bubbling or whistling sounds could be a sign of air trying to escape your pipes through a blockage.</li>
            <li>Damp patches or rings on walls or ceilings.</li>
        </ul>
        <figure>
            <ns-image src="https://www.britishgas.co.uk/aem6/content/dam/britishgas/the-source/frozen-or-burst-pipes/turn-off-water.jpg" ratio="16x9" alt=""></ns-image>
            <figcaption>Shut the water off if you leave for more than a few days</figcaption>
        </figure>         
        <p>And that about covers it! But if you didn’t catch the pre-winter check in time, here’s a handy follow-up guide to help you deal with any immediate problems.</p>
        <p>And don’t forget, boiler cover that includes a service each year – like our very own HomeCare – could pick up any minor niggles or major faults ahead of the colder months, and keep your boiler in perfect working order during the busiest time of the year.</p>
        <p><a href="https://www.britishgas.co.uk/aem6/content/britishgas/home-services/boilers-and-heating/boiler-and-heating-cover.html">Find out more about our HomeCare range.</a></p>
        <p></p>

    </ns-content>
  </ns-article>
</ns-panel>

<div>
  <!-- Only here to keep the decoration -->
</div>
<ns-panel decoration="invert-concave-grey-light">
  <h2>Related articles</h2>
  <div class="triple">
    <ns-card type="support" decoration="">
      <h3 slot="heading">Frozen pipes?</h3>
      <p slot="paragraph">A burst pipe is a homeowner’s worst nightmare, and winter is when it’s most likely to strike. Follow our step-by-step advice on what to do should it happen.</p>
      <a slot="cta" href="#!">
        <ns-cta type="direct">Read our guide</ns-cta>
      </a>
    </ns-card>
    <ns-card type="support" decoration="">
      <h3 slot="heading">Heating breakdown?</h3>
      <p slot="paragraph">Get your central heating back up and running with 12 easy fixes.</p>
      <a slot="cta" href="#!">
        <ns-cta type="direct">Find out more</ns-cta>
      </a>
    </ns-card>
    <ns-card type="support" decoration="">
      <h3 slot="heading">No hot water?</h3>
      <p slot="paragraph">If your tap’s running cold, try our troubleshooting checklist to get things flowing again.</p>
      <a slot="cta" href="#!">
        <ns-cta type="direct">See our checklist</ns-cta>
      </a>
    </ns-card>
  </div>
</ns-panel>
<div>
  <!-- Only here to keep the decoration -->
</div>