---
title: Mixergy
eleventyNavigation:
  key: Mixergy
  parent: blog
  title: Mixergy
  excerpt: Hot water done even better - The Mixergy Hot Water Tank
---




</ns-landmark>

<ns-panel>
  <ns-article>
    <ns-content>
        <a href="#">Back to the Source</a>
        <h1>Hot water – done even better: The Mixergy Hot Water Tank </h1>
        <figure>
            <ns-image src="https://user-images.githubusercontent.com/7914977/107689529-d8a21480-6ca0-11eb-9168-2647c3a2eda7.png" ratio="16x9" alt=""></ns-image>
            <figcaption>The mixergy hot water tank</figcaption>
        </figure>
        <p>You probably don’t think about your hot water tank very often. It’s like the workhorse of your home, quietly doing its thing, pumping out litres of the steamy good stuff as and when you need it.</p>
        <p>But it’s likely that you’re heating water you don’t need or use – which means wasted energy and money down the plug hole every day.</p>

        <h2>Heating smarter</h2>
        <p>The Mixergy cylinder is up to 20% more efficient than conventional tanks, delivering the hot water you need with less energy. That means it’s kinder to the environment, too.</p>
        <p>And by actively learning when and how much hot water you typically use each day, it’s completely in tune with your routine –  but won’t waste time and energy heating water you don’t need.</p>

        <figure>
        <ns-video id="-PfXo2OralE" ratio="16x9" title="The Mixergy Tank is: Faster, Smaller & More Efficient"></ns-video>
        <figcaption>The Mixergy Tank is: Faster, Smaller & More Efficient</figcaption>
        </figure>

        <h2>All you need (plus extra)</h2>
        <p>In your first week with a Mixergy tank, it will learn how much hot water you use throughout the day. And then you can rely on it to deliver exactly what you need, when you need it – plus a little extra, just in case.</p>

        <h2>The Mixergy tank gives you:</h2>
        <p>In your first week with a Mixergy tank, it will learn how much hot water you use throughout the day. And then you can rely on it to deliver exactly what you need, when you need it – plus a little extra, just in case.</p>      
        <ul class="ul-bullet">
            <li>Useable hot water delivered up to five times faster</li>
            <li>Up to 20% reduction in hot water costs</li>
            <li>Up to 30% more usable hot water</li>
            <li>Excellent hot water flow through your hot taps at cold mains pressure</li>
            <li>Up to 21% reduction in gas consumption (<a href="https://energysavingtrust.org.uk/products/mixergy-hot-water-tank-cylinder/">EST verified</a>)</li>
        </ul>
        <h2>No comparison </h2>
        <p>Conventional tanks heat the whole volume of water each time – even for a quick shower in the morning. The hot water you don’t use then steadily cools throughout the day, only to need heating again later. But by combining clever technology with science knowhow, the Mixergy heats only what you need. </p>     
        <h2>Here’s how it works…</h2>             
        <h3>The science behind Mixergy</h3>
        <p>Have you ever noticed how, in a cosy-warm room, it’s noticeably   cooler closer to the ground? That’s because warmer air is lighter, so it rises, and cooler, heavier air falls below. And it’s the same with water. Water density changes depending on temperature, which in turn affects whether it’s higher or lower within a contained volume.</p>
        <h3>The heat is on (top)</h3>
        <p>It’s called thermal stratification. And whilst this may sound grandiose and complicated, it simply refers to the separate layers that form due to differences in temperature. Particularly interesting, is just how sharply distinct the difference in temperatures bands (or temperature groupings) can be.   </p>
        <h3>Hot water – reimagined </h3>
        <p>And that’s what makes the Mixergy tank so impressive. By using thermal stratification to our advantage, the Mixergy cleverly creates different water temperatures within a single tank. The inbuilt pump and diffuser enable hot water to ‘sit’ above cold, heating specific amounts of water in sections from the top down. And because it heats less water each a time, it’s up to 5x faster than a conventional cylinder.</p>
        <h3>Hot Stuff</h3>
        <p>And that’s great news for reducing your home’s energy use – and cutting your Co2 emissions. Now you no longer need to heat an entire tank for a small amount of hot water. And that’s how you make long-term savings whilst doing your bit for the planet.</p>
        <p><a href="https://www.britishgas.co.uk/energy/energy-saving/energy-saving-tips.html">Visit our energy-saving page</a> for more expert tips </p>
        <h3>You're in control</h3>
        <p>And the Mixergy tank is as hands-on (or off) as you want it to be. If you’re the type who likes to fine-tune your settings, the Mixergy app lets you roll your sleeves up and get involved. You’ll find a wealth of interesting facts about how much you use and when, so you can tinker ‘til your heart’s content. </p>
        <p>And if you prefer the more laid-back, simpler approach? Just let Mixergy do its thing. It’s ready to learn your schedule, so it fits easily into your lifestyle – quietly and reliably ticking along in the background and reducing your energy bills every year.</p>
        <h3>Booster heat</h3>
        <p>Both the app and control panel (which fits close to the tank itself) allow you to see how much hot water you have available at any time, and you can easily give it a boost if you’re expecting to need a little extra. And voice-assistance with a range of apps, including Alexa, mean you don’t even need to leave the comfort of your chair.</p>
        <h3>Think tank</h3>
        <p>Is it more expensive than your typical tank? It is a slightly higher initial outlay, yes – but over the many years of service you can expect, we think you’ll recoup it on your energy bills in the long run.</p>

        <p>Interested to find out more?</p> 
        <p><a href="https://www.mixergy.co.uk/mixergy-tank/">Head over to the Mixergy website</a> for more in-depth info.</p>








    </ns-content>
  </ns-article>
</ns-panel>