---
title: Nucleus prototype
---
<!doctype html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{title}}">
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" href="http://localhost:9001/styles.min.css">
  <title>{{title}}</title>
</head>
<body class="ndsn">

  {{content | safe}}

  <script src="http://localhost:9001/polyfill.js"></script>
  <script src="http://localhost:9001/components.js"></script>
  <script src="http://localhost:9002/only.components.min.js"></script>

  <!--<script src="https://www.britishgas.co.uk/nucleus/nucleus.min.js"></script>-->
  <!--<script src="https://www.britishgas.co.uk/nucleus-experiences/only.components.min.js"></script>-->
  <script src="/proto.js"></script>
</body>
</html>
