---
title: Nucleus prototype
nucleusbranch: 480c7125a6b55a8643ab76a612a9758eb0f9a8bf
experiencebranch: df77bc055b3aaed8bb0f9efe0916ea833aa7f9a6
---
<!doctype html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{title}}">
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" href="https://www5.bgo.bgdigitaltest.co.uk/nucleus/{{ nucleusbranch }}/styles.min.css">
  <title>{{title}}</title>
</head>
<body class="ndsn">

  
  <!-- ns-header needs skip links -->
  <div id="content"></div>
  <div id="footer"></div>
  <!-- skip links end -->
  
  {{content | safe}}

<!-- Local 
  <script src="http://localhost:9001/polyfill.js"></script>
  <script src="http://localhost:9001/components.js"></script>
  <script src="http://localhost:9002/only.components.min.js"></script>
-->
  
  <!-- Branch -->
  <script src="https://www5.bgo.bgdigitaltest.co.uk/nucleus/{{ nucleusbranch }}/polyfill.js"></script>
  <script src="https://www5.bgo.bgdigitaltest.co.uk/nucleus/{{ nucleusbranch }}/components.js"></script>
  <script src="https://www5.bgo.bgdigitaltest.co.uk/nucleus-experiences/{{ experiencebranch }}/only.components.min.js"></script>


  <!--<script src="https://www.britishgas.co.uk/nucleus/nucleus.min.js"></script>-->
  <!--<script src="https://www.britishgas.co.uk/nucleus-experiences/only.components.min.js"></script>-->
  <script src="/proto.js"></script>
</body>
</html>
