{% import "./../inputters.njk" as inputter %}
    {{ inputter.text('gas-meter', 'Gas meter reading', '["isRequired"]', undefined, '00---', 'undefined') }}
      {{ inputter.text('electricity-meter', 'Electricity meter reading', '["isRequired"]', undefined, '00---', 'undefined') }}
      