---
title: Your final meter readings
description: Please give us your last meter reading in your old home. We’ll estimate any meter readings that you don’t fill in.
---
<ns-panel>
  <div class="splash">
    <div>
      <ns-cta id="back-button" type="text" href="javascript:history.back()" icon="arrow-left">Go back</ns-cta>
    </div><br><br>
    {% if title %}
    <h1 class="h2">{{ title }}</h1>
    {% endif %}
    {% if description %}
    <p>{{ description }}</p>
    {% endif %}
    {% include "./form2.njk" %}
  </div>
</ns-panel>

<script src="../meter-read.js"></script>
