---
title: PAGE_TITLE
description: PAGE_DESCRIPTION
---
<ns-panel>
  <div class="splash">
    <h1 class="h3">{{ title }}</h1>
    {% if description %}
    <p>{{ description }}</p>
    {% endif %}
    FORM_INCLUDE_PATH
  </div>
</ns-panel>

<script src="CUSTOM_PAGE_SCRIPT"></script>
