---
title: Email simulation
layout: email
emailDetail:
  avatar: BG
  from: British Gas
  title: Access your account
  addressee: un-known@address.com
---

<ns-editorial>
  <p>
    <img style="width: 8em;" src="https://www.britishgas.co.uk/nucleus/images/logo.svg">
  </p>
  <h1 class="h3">Access your account</h1>
  <p>Hello <span nf-model="model.oam-01.first-name">Mr</span>,</p>
  <p>Click on the link below to access your account. <strong>It’s available for 10 minutes and can be used just once to get in.</strong></p>
  <p><ns-cta type="direct" href="../reg-05">Access your account</ns-cta></p>
  <p>If you’re not expecting to get an email from us, we’ll tell you how to spot a genuine British Gas email from a fake one.</p>
  <p>Click this link or copy and paste it into your browser to find out more: <a href="#">britishgas.co.uk/unexpected-email</a></p>
  <p>Thanks</p>
  <p><strong>David Kirwan</strong></p>
  <p>Managing Director, Customer Operations</p>
</ns-editorial>

<ns-caveat>
  <div slot="caveat">
    <ol>
      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sem velit, gravida vel nibh id, aliquet posuere lectus. Etiam at luctus felis. Morbi nec placerat lacus, non tincidunt nibh. Cras condimentum justo risus, vel fringilla purus dictum condimentum. Duis eu nisl quis erat efficitur blandit. Mauris venenatis convallis velit, vitae maximus velit iaculis at. Mauris varius dapibus ligula non luctus. Nam mollis at leo a pellentesque. Vivamus erat neque, facilisis vel diam at, interdum mattis tellus. Curabitur vel hendrerit lectus. Cras nec finibus enim. Donec tempor eleifend augue, sit amet aliquam nisl. Duis eu dictum mauris, sit amet ullamcorper nisi. Vivamus luctus rutrum massa bibendum ullamcorper.</li>
      <li>Etiam vitae mi et ex euismod sollicitudin. Mauris volutpat orci in iaculis semper. Morbi in aliquet elit. Aenean sed massa odio. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis placerat, libero nec efficitur tempor, leo tortor placerat ante, ac rutrum leo libero malesuada ex. Mauris sem magna, sagittis eu est in, mattis facilisis velit. Proin varius odio sed suscipit varius. Quisque lectus odio, iaculis eget varius vel, tristique nec turpis.</li>
      <li>Nulla ante augue, scelerisque ut lacinia at, fermentum in mi. Donec ut dictum massa. Donec dui ex, tincidunt eget aliquam vitae, cursus nec quam. Duis finibus, tellus accumsan laoreet tristique, nisi velit accumsan orci, in gravida ipsum tortor vitae dui. Sed dictum ipsum eu risus feugiat, at facilisis ex maximus. Nullam quis gravida odio. Duis viverra gravida risus, vel molestie nunc consequat et.</li>
    </ol>
  </div>
</ns-caveat>
