---
title: Please register
---

<ns-landmark type="lakeside">
  <h1 slot="heading">
    <span class="h5">My account online.</span>
    <span class="h1">{{title}}</span>
  </h1>
  <p slot="paragraph">We couldn’t find the email <strong><span nf-model="model.oam-01.email-address">[HERE]</span></strong>. Please check it’s the right one or register it for an account by entering your details as they appear on any bills or correspondence we've sent.</p>
  <ns-cta slot="cta" type="text" href="../login-01-landing">Use a different email</ns-cta>
</ns-landmark>

{% include "./_includes/ns-form-enter-details.njk" -%}

<script>
  function getDynamicURL() {
    var data = document.querySelector('ns-inputter[name="mobile-number"]').value;
    if (data === '07831234567') {
      return '../reg-04b-sms';
    }
    else {
      return '../reg-03';
    }
  }
</script>
