---
title: Check your email
---

<ns-landmark type="lakeside">
  <h1 slot="heading">
    <span class="h5">Reset password.</span>
    <span class="h1">{{title}}</span>
  </h1>
  <p slot="paragraph">We’ve sent a link to reset your password to <strong><a href="../email-reset"><span nf-model="model.oam-01.email-address">[HERE]</span></a></strong></p>
  <p slot="paragraph">Please check your inbox (and spam folder) for an email from us and click on the link inside to create a new password.</p>
  <ns-cta slot="cta" type="text" href="../login-01-landing">Back to start</ns-cta>
</ns-landmark>
