<h3>FORM CONTINER EXAMPLE START</h3>
<ns-form class="loginForm" id="loginForm" nf-model="MODEL_PATH">
    FORM_FIELDS_PATH
</ns-form>
<ns-cta data-test-helper="submit" role="button" loadingmessage="Loading..." nf-href="../NEXT_FORM">
Next
</ns-cta>
<h3>FORM CONTINER EXAMPLE END</h3>