---
layout: nucleus-header-logged-out-v04.njk
title: Let’s register you
---

<ns-landmark type="lakeside">
  <h1 slot="heading">
    <span class="h5">My account online.</span>
    <span class="h1">{{title}}</span>
  </h1>
  <p slot="paragraph">Registering for an online account will only take a few minutes.</p>
</ns-landmark>

<ns-panel>
  <ns-form class="splash" nf-model="model.oam-02">
    <ns-inputter validation="[&quot;isRequired&quot;]" name="email-address" value="">
      <label slot="label">Email address</label>
      <input type="email">
    </ns-inputter>
    <ns-cta nf-href="DYNAMIC">Register me</ns-cta>
  </ns-form>
</ns-panel>

<ns-panel>
  <div class="splash">
    <ns-card type="flat">
      <h2 slot="heading">Already got an online account?</h2>
      <p slot="paragraph">If you have a British Gas account you can login here.</p>
      <ns-cta slot="cta" type="text" href="../login-01-landing">Log in here</ns-cta>
    </ns-card>
  </div>
</ns-panel>

<!-- <ns-panel decoration="invert-concave-grey-light">
  <div class="splash">
    <h3>The benefits of an online account</h3>
    <ul class="ul-ticked" style="margin-bottom: 0;">
      <li>One letter</li>
      <li class="hide-ticks">One number</li>
      <li class="hide-ticks">8-20 characters</li>
    </ul>
    <p>If you aren’t yet yet a customer, join us by getting a quotation online.</p>
    <ns-cta type="text" href="" icon="arrow-right" onclick="action()" loading="false" loadingmessage="Loading...">Get a quote for energy</ns-cta>
    <br><br>
    <ns-cta type="text" href="" icon="arrow-right" onclick="action()" loading="false" loadingmessage="Loading...">Get a quote for HomeCare</ns-cta>
  </div>
</ns-panel>
-->

<ns-panel decoration="invert-concave-grey-light">
  <div class="splash">
    <h3>The benefits of an online account</h3>
  </div>
  <div class="splash triple" role="list">
    <ns-card type="support" image="https://britishgas.co.uk/nucleus/aem6/content/dam/britishgas/images/ns/homepage/fp-home-card1.jpg" role="listitem">
      <h3 slot="heading">Get rewards</h3>
      <p slot="paragraph">Our way of saying thank you. Treat the family (or yourself!) on us.</p>
      <ul slot="paragraph" class="ul-ticked" style="margin-bottom: 0;">
      <li>Discounts</li>
      <li class="hide-ticks">Giveaways</li>
      <li class="hide-ticks">Prize days</li>
    </ul>
    </ns-card>
    <ns-card type="support" image="https://britishgas.co.uk/nucleus/aem6/content/dam/britishgas/images/ns/homepage/fp-home-card2.jpg" role="listitem">
      <h3 slot="heading">Manage appointments</h3>
      <p slot="paragraph">From faulty boilers to blocked drains or 
broken light switches, you're just a 
few clicks away from booking an engineer.</p>
      <ul slot="paragraph" class="ul-ticked" style="margin-bottom: 0;">
      <li>Book a repair </li>
      <li class="hide-ticks">Book an annual service</li>
      <li class="hide-ticks">Track and manage a booking</li>
    </ul>
    </ns-card>
    <ns-card type="support" image="https://britishgas.co.uk/nucleus/aem6/content/dam/britishgas/images/ns/homepage/fp-home-card3.jpg" role="listitem">
      <h3 slot="heading">Take control</h3>
      <ul slot="paragraph" class="ul-ticked" style="margin-bottom: 0;">
      <li>Submit meter readings</li>
      <li class="hide-ticks">View your energy bills</li>
      <li class="hide-ticks">Monitor your usage</li>
      <li>Moving home</li>
    </ul>

    </ns-card>
        <ns-cta type="text" href="" icon="arrow-right" onclick="action()" loading="false" loadingmessage="Loading...">View more benefits</ns-cta>

  </div>
</ns-panel>

<script>
  function getDynamicURL() {
    var data = document.querySelector('ns-inputter[name="email-address"]').value;
    if (data === 'known@address.com') {
      return '../login-02b';
    }
    else {
      return '../reg-02a';
    }
  }
</script>
