---
title: Page two
---
<ns-landmark type="hillside" gradient="invert-ramp-blue">
  <h1 slot="heading">
    <span class="h5">You're ready.</span>
    <span class="h1 enlighten"><b>Thank you <span nf-model="model.form1.firstname">Firstname</span></b> your appointment has been set up</span>
  </h1>
  <div slot="paragraph">
    <ul>
      <li>Name: <span nf-model="model.form1.firstname">Firstname</span>&nbsp;<span nf-model="model.form1.surname">Surname</span></li>
      <li>Address: <span nf-model="model.form1.address">Address</span></li>
      <li>Appointment time: <span nf-model="model.form3.appointment-slot"">Energy</span></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</ns-landmark>
