---
title: Complaints
eleventyNavigation:
  key: Complaints
  parent: rpa
  title: Complaints V2
  excerpt: Nucleus redesign of the complaints journey
---

<ns-landmark type="lakeside">
  <h1 slot="heading">
    <span class="h5">Making a complaint.</span>
    <span class="h1">Did we get something wrong? Tell us about it.</span>
  </h1>
  <div slot="paragraph" style="padding-bottom: 20px;">
    <p>Tell us which product or service you’re unhappy about, and we’ll put you through to one of our team.</p>
    <p>Or if you have an <b>enquiry</b>, you can <b>start a webchat</b> with an advisor in our <a href="https://www.britishgas.co.uk/help-and-support/">Help and Support section</a>.</p>
  </div>
  <a slot="cta" href="make-a-complaint-what-type">
    <ns-cta>Make a complaint</ns-cta>
  </a>
</ns-landmark>

<ns-panel decoration="" class="">
  <div class="splash">
  </div>
  <div class="splash triple">
    <ns-card id="bank" type="support">
      <h3 slot="heading">Why has my Direct Debit changed?</h3>
      <p slot="paragraph">If there’s been any changes to your auto-payments recently, we can help you understand why.</p>
      <div slot="cta">
        <ns-cta type="text" href="https://www.britishgas.co.uk/help-and-support/bills-and-payments/changing-your-direct-debit">Why has my Direct Debit changed?</ns-cta>
      </div>
    </ns-card>

    <ns-card id="payzone" type="support">
      <h3 slot="heading">Help with your smart meter</h3>
      <p slot="paragraph">If you have a problem with your smart Pay As You Go meter, our guides and FAQs can help.</p>
      <div slot="cta">
        <ns-cta type="text" href="https://www.britishgas.co.uk/help-and-support/meters/help-with-smart-pay-as-you-go">Help with your smart PAYG meter</ns-cta>
      </div>
    </ns-card>

    <ns-card id="payzone" type="support">
      <h3 slot="heading">Book an engineer appointment</h3>
      <p slot="paragraph">And it’s not just boilers we look after. For help with electricals and heating or plumbing and drains, our expert engineers are here to solve.</p>
      <div slot="cta">
        <ns-cta type="text" href="https://www.britishgas.co.uk/home-services/book-engineer">Arrange a callout</ns-cta>
      </div>
    </ns-card>
   
  </div>
</ns-panel>

<ns-panel>
  <ns-accordion role="tablist">
    <h3 slot="heading">Additional complaints information</h3> 

    <ns-expander role="tab">
      <h4 slot="heading">Complaints handling procedure</h4>
      <p>View a copy of our complaints handling procedure <a href="https://www.britishgas.co.uk/aem6/content/dam/britishgas/complaints/we-are-listening.pdf">We're listening (PDF 2.6MB)</a></p>
      <p>If you would also like to view a copy of the "Gas & electricity (Consumer complaint handling standards) Regulations 2008", please visit <a href="https://www.legislation.gov.uk">www.legislation.gov.uk</a>.</p>
    </ns-expander>

    <ns-expander role="tab">
      <h4 slot="heading">If you need independent advice</h4>
      <p>The Citizens Advice consumer service can give you free, confidential and impartial advice on your home energy contracts and billing. You can get in touch with them for advice anytime during the complaints process:</p>
      <p>Telephone: <a href="#">0808 223 1133</a> Monday to Friday 9-5pm.<br>
        Website: <a href="https://www.citizensadvice.org.uk/energy">www.citizensadvice.org.uk/energy</a><br>
        Form: <a href="https://www.citizensadvice.org.uk/consumer/get-more-help/if-you-need-more-help-about-a-consumer-issue/">Consumer energy query form</a><br></p>
    </ns-expander>
  </ns-accordion>
</ns-panel>