---
title: make-a-complaint-ev
---

<ns-landmark type="lakeside">
  <h1 slot="heading">
    <span class="h5">Making a complaint.</span>
    <span class="h1 enlighten">Make a complaint about <b>Electric Vehicle charger installations</b></span>
  </h1>
  <div slot="paragraph">
    <p>As soon as we receive your complaint, we’ll do our best to resolve it quickly.</p>
    <p>If your case is complex or involves a number of issues, we may need more time to make sure we’ve covered everything. And if that’s the case, we’ll make sure we keep you up to date – either by telephone or in writing.</p>
    <p>Or if you have an <b>enquiry</b>, you can <b>start a webchat</b> with an advisor in our <a href="https://www.britishgas.co.uk/help-and-support/">Help and Support section</a>.</p>
  </div>
</ns-landmark>

<ns-editorial image="https://user-images.githubusercontent.com/52657167/88683199-752d0c80-d0eb-11ea-8c53-d7d1a3818448.jpg">
  <h2 slot="heading">Ways to contact us</h2>
  <p>Here are the ways to contact British Gas to make your complaint.</p>
  <h3>Telephone</h3>
  <p>Use the appropriate number depending on your manufacturer:</p>
  <p>Elli/Volkswagen Group: <a href="#" class="">0333 202 1055</a>. <a href="#caveat">1</a></p>
  <p>Ford: <a href="#" class="">0333 202 1054</a>. <a href="#caveat">1</a></p>
  <p>Hitachi: <a href="#" class="">0333 202 10565</a>. <a href="#caveat">1</a></p>
  
  <h3>Email</h3>
  <p>Send an email to <a href="#" class="">ev@britishgas.co.uk</a></p>
</ns-editorial>

<ns-caveat>
  <h2 slot="heading">Legal information</h2>
  <div slot="caveat">
    <ol>
      <li>We may record calls to help improve our service to you. Calls to 0330/0333 numbers will cost you no more than 01 or 02 numbers from landlines and mobiles. If you get 'inclusive minutes' with your package, calls to 0330/0333 numbers will be part of these.
      </li>
    </ol>
  </div>
</ns-caveat>