<ns-landmark type="lakeside">
  <h1 slot="heading">
    <span class="h5">{{subheading | safe}}</span>
    <span class="h1 enlighten" id="input-heading">{{heading | safe}}</span>
  </h1>
  {% if paragraph %}
  <div slot="paragraph">{{paragraph | safe}}</div>
  {% endif %}
</ns-landmark>
