---
layout: nucleus-header-logged-in.njk
title: Smart meter settings
eleventyNavigation:
  key: Smart meter settings
  parent: meter-readings
  title: Smart meter settings
  excerpt: Smart meter settings
---

<ns-landmark type="lakeside">
  <h1 slot="heading">
    <span class="h5">How cool is this.</span>
    <span class="h1 enlighten">{{teamname}}'s <b>{{title}}</b></span>
  </h1>
  <div slot="paragraph">
    <p>This is the index page of <b>{{title}}</b>.</p>
  </div>
</ns-landmark>

  {% set navPages = collections.all | eleventyNavigation("smart-settings") | reverse %}
  <ns-panel>
    <div class="splash">
      <h2>{{teamname}} projects</h2>
    </div>
    <div class="splash triple">
      {%- for entry in navPages %}
        <ns-card type="support">
          <h3 slot="heading">{{entry.title}}</h3>
          <p slot="paragraph">{{entry.excerpt}}</p>
          <a slot="cta" href="{{entry.url | url}}">
            <ns-cta type="text">{{entry.title}}</ns-cta>
          </a>
        </ns-card>
      {%- endfor %}
    </div>
  </ns-panel>
