---
layout: nucleus-header-logged-in.njk
title: Meter readings
---

<ns-landmark type="lakeside">
  <h1 slot="heading">
    <span class="h5">Meter readings.</span>
    <span class="h1">Your meter readings</span>
  </h1>
  <p slot="paragraph">You can choose how often your {{ metertype }} take readings.</p>
  <p slot="paragraph">To get the most out of your online account we recommend that you set your smart meters to take readings half-hourly.</p>
</ns-landmark>

<ns-panel>
<div class="splash">
  <ns-table>
  <table>
    <caption hidden="">Your past readings</caption>
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Reading</th>
        <th scope="col">Consumption</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>06/07/2020</td>
        <td>00935</td>
        <td>1596kWh</td>
      </tr>
      <tr>
        <td>Column - 0</td>
        <td>Column - 1</td>
        <td>Column - 2</td>
      </tr>
    </tbody>
  </table>
</ns-table>
</div>
</ns-panel>