---
layout: nucleus-header-logged-in.njk
title: Meter readings
---

<ns-landmark type="lakeside">
  <h1 slot="heading">
    <span class="h5">Meter readings.</span>
    <span class="h1">Your smart meter readings</span>
  </h1>
  <p slot="paragraph">YWe only show readings used to create your bill.</p>
</ns-landmark>

<ns-panel>
<div class="splash">
  <ns-table>
  <table>
    <caption hidden="">Your past readings</caption>
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Reading</th>
        <th scope="col">Consumption</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>06/07/2020</td>
        <td>04935</td>
        <td>1596kWh</td>
      </tr>
      <tr>
        <td>01/06/2020</td>
        <td>04635</td>
        <td>1596kWh</td>
      </tr>
      <tr>
        <td>08/05/2020</td>
        <td>00935</td>
        <td>1596kWh</td>
      </tr>
      <tr>
        <td>05/04/2020</td>
        <td>00935</td>
        <td>1596kWh</td>
      </tr>
      <tr>
        <td>03/03/2020</td>
        <td>00935</td>
        <td>1596kWh</td>
      </tr>
      <tr>
        <td>04/02/2020</td>
        <td>00935</td>
        <td>1596kWh</td>
      </tr>
      <tr>
        <td>01/01/2020</td>
        <td>00935</td>
        <td>1596kWh</td>
      </tr>
      <tr>
        <td>07/12/2020</td>
        <td>00935</td>
        <td>1596kWh</td>
      </tr>
      <tr>
        <td>05/11/2020</td>
        <td>00935</td>
        <td>1596kWh</td>
      </tr>
    </tbody>
  </table>
</ns-table>
</div>
</ns-panel>

<ns-panel decoration="invert-concave-grey-light">
    <div class="splash">
      <h2>Need help with something else?</h2>
    </div>
    <div role="list" class="splash triple ">
      <ns-card role="listitem" type="support">
        <h3 slot="heading" role="heading" aria-level="3">Book an engineer</h3>
        <div slot="paragraph">
          <p>Whether it’s a cold home or an even colder shower you’re dealing with, book an engineer and make your problem our problem.</p>
        </div>
        <a slot="cta" href="/home-services/book-engineer">
          <ns-cta type="text">Book an engineer</ns-cta>
        </a>
      </ns-card>
      <ns-card role="listitem" type="support">
        <h3 slot="heading" role="heading" aria-level="3">Book a one-off repair</h3>
        <div slot="paragraph">
          <p>Boiler on the blink but not a British Gas customer? Book a one-off repair and we’ll sort it from as little as <ns-price pence="9900"></ns-price>.</p>
        </div>
        <a slot="cta" href="/home-services/boilers-and-heating/boiler-and-heating-repair.html">
          <ns-cta type="text">Book a one-off repair</ns-cta>
        </a>
      </ns-card>
      <ns-card role="listitem" type="support">
        <h3 slot="heading" role="heading" aria-level="3">Moving home</h3>
        <div slot="paragraph">
          <p>Let us know you’re moving, and we’ll transfer your energy supply to your new home. That’s one less thing to worry about.</p>
        </div>
        <a slot="cta" href="/discover/home-move/#/hub">
          <ns-cta type="text">Let us know you’re moving</ns-cta>
        </a>
      </ns-card>
    </div>
  </ns-panel>