---
layout: nucleus-header-logged-in.njk
title: Meter readings
---

<ns-landmark type="lakeside">
  <h1 slot="heading">
    <span class="h5">Meter readings.</span>
    <span class="h1">Your smart meter readings</span>
    <p slot="paragraph">Manage all of your smart meter settings and see the readings used to create your monthly bills</p>
  </h1>
</ns-landmark>


<ns-panel>
    <div role="list" class="splash triple ">
      <ns-card role="listitem" type="support">
        <h3 slot="heading" role="heading" aria-level="3">Smart meter settings</h3>
        <div slot="paragraph">
          <p>Choose how often your smart meters take readings so that you get the most out of your online account.</p>
        </div>
        <a slot="cta" href="/home-services/book-engineer">
          <ns-cta type="text">Set smart meter frequency</ns-cta>
        </a>
      </ns-card>
      <ns-card role="listitem" type="support">
        <h3 slot="heading" role="heading" aria-level="3">Get a consumption report</h3>
        <div slot="paragraph">
          <p>Using data from your smart meter, we’ll show you a breakdown of your consumption history.</p>
        </div>
        <a slot="cta" href="">
          <ns-cta type="text">View smart data report</ns-cta>
        </a>
      </ns-card>
    </div>
  </ns-panel>


<ns-panel>
<div class="splash">
<main class="ndsn">
  <ns-table>
  <table>
    <caption hidden="">Your past readings</caption>
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Reading</th>
        <th scope="col">Consumption</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>06/07/2020</td>
        <td>04935</td>
        <td>1596kWh</td>
      </tr>
      <tr>
        <td>01/06/2020</td>
        <td>04635</td>
        <td>1596kWh</td>
      </tr>
      <tr>
        <td>08/05/2020</td>
        <td>00935</td>
        <td>1596kWh</td>
      </tr>
      <tr>
        <td>05/04/2020</td>
        <td>00935</td>
        <td>1596kWh</td>
      </tr>
      <tr>
        <td>03/03/2020</td>
        <td>00935</td>
        <td>1596kWh</td>
      </tr>
      <tr>
        <td>04/02/2020</td>
        <td>00935</td>
        <td>1596kWh</td>
      </tr>
      <tr>
        <td>01/01/2020</td>
        <td>00935</td>
        <td>1596kWh</td>
      </tr>
      <tr>
        <td>07/12/2020</td>
        <td>00935</td>
        <td>1596kWh</td>
      </tr>
      <tr>
        <td>05/11/2020</td>
        <td>00935</td>
        <td>1596kWh</td>
      </tr>
    </tbody>
  </table>
</ns-table>
</main>
</div>
</ns-panel>
