---
title: rewards-hub-v5
---

{% include "./_includes/account-logged-in.njk" -%}


<ns-landmark type="summit" image="https://user-images.githubusercontent.com/52657167/96879653-356c8b80-1474-11eb-8a55-d71a491ff5d6.jpg">
  <h1 slot="heading">
    <span class="h5">Our way of saying thank-you.</span>
    <span class="h1 enlighten">British Gas <b>Rewards</b></span>
  </h1>
  <div slot="paragraph">
    <p>Thank you for logging into your Rewards Hub and supporting <a href="https://www.britishgas.co.uk/about-us/making-a-difference/carersuk.html">Carers UK</a>, we’ve donated 10p on your behalf.</p>
  </div>
</ns-landmark>

<ns-panel decoration="" class="">
  <div class="splash">
    <h2 class="">Discounts, giveaways and prize draws</h2>
    <p class="p-feature">Not got much on for the weekend? Snap up great offers on restaurants, movie nights and family days out. Just for being with us.</p>
  </div>

  <div class="splash triple">
    {% include "./_includes/ns-card-cheque.njk" -%}
    {% include "./_includes/ns-card-loyalty.njk" -%}
    {% include "./_includes/ns-card-o2.njk" -%}
    {% include "./_includes/ns-card-hive.njk" -%}
  </div>
</ns-panel>    ​

<ns-tabs>
  <ns-tab slot="tab">Summary</ns-tab>
    <ns-panel slot="panel">
      <div class="splash">
        <ns-table>
          <table>
            <tbody>
              <tr>
                <td>Offers you've chosen</td>
                <td>1</td>
              </tr>
              <tr>
                <td>Estimated savings so far</td>
                <td>£0</td>
              </tr>
              <tr>
                <td>Free loyalty days</td>
                <td>0</td>
              </tr>
              <tr>
                <td>Prize draws entered</td>
                <td>0</td>
              </tr>
            </tbody>
          </table>
        </ns-table>
      </div>
    </ns-panel>

  <ns-tab slot="tab">Claimed offers</ns-tab>
    <ns-panel slot="panel">
      <div class="splash triple" role="list">
        {% include "./_includes/ns-card-claimed-local-heroes.njk" -%}
      </div>
    </ns-panel>

  <ns-tab slot="tab">Expired offers</ns-tab>
    <ns-panel slot="panel">
      <div class="splash triple" role="list">
      	<ns-card role="listitem" type="support">
      		<h3 slot="heading">20% discount on Local Heroes jobs</h3>
      		<div slot="paragraph">
      			<p><b>Ended 3 January 2020</b></p>
      		</div>
      	</ns-card>
      	<ns-card role="listitem" type="support">
      		<h3 slot="heading">Wilbur giveaway</h3>
      		<div slot="paragraph">
      			<p><b>Ended 1 Decemeber 2019</b></p>
      		</div>
      	</ns-card>
      	<ns-card role="listitem" type="support">
      		<h3 slot="heading">Win 'An evening with Dee' tickets</h3>
      		<div slot="paragraph">
      			<p><b>Ended 15 November 2019</b></p>
      		</div>
      	</ns-card>
      	<ns-card role="listitem" type="support">
      		<h3 slot="heading">Buy one get one Dee</h3>
      		<div slot="paragraph">
      			<p><b>Ended 3 November 2019</b></p>
      		</div>
      	</ns-card>
      </div>
    </ns-panel>
</ns-tabs>

{% include "./_includes/ns-card-leave.njk" -%}

<ns-caveat>
  <h2 slot="heading">Additional information</h2>
  <div slot="caveat">
    <ol>
      <li> If you hold a British Gas service or product in joint names, each person named on that account can hold a separate Rewards membership in their sole name. However, these memberships will be linked and the Benefits redeemed through one membership may affect the Benefits available to the other membership(s).</li>
    </ol>
  </div>
</ns-caveat>