<ns-card image="https://user-images.githubusercontent.com/52657167/74230843-1f8bb180-4cbd-11ea-9b01-e83b02977277.jpg" type="support" class="">
  <h3 slot="heading">Win free home cover</h3>
  <p slot="paragraph">Enter our prize draw today and you could win free home cover.</p>
  <p slot="paragraph"><b>Ends Friday 28 Feb</b></p>
  <div slot="cta">
    <ns-cta type="text" href="../rewards-details-cheque">Find out more about free hoem cover</ns-cta>
  </div>
</ns-card>