<ns-card image="https://user-images.githubusercontent.com/49559070/100624262-26061b00-331b-11eb-9bce-48b178c97a06.jpg" type="support" class="">
  <h3 slot="heading">Win a cheque for one year’s worth of energy</h3>
  <p slot="paragraph">Enter our prize draw today and you could win a cheque worth £1,157.</p>
  <p slot="paragraph"><b>Ends tomorrow 11:59pm</b></p>
  <div slot="cta">
    <ns-cta type="text" href="../rewards-details-cheque">Find out more about one year's worth of energy</ns-cta>
  </div>
</ns-card>