---
title: bleed-a-radiator
---

<ns-landmark type="hillside" gradient="invert-ramp-cyan">
  <h1 slot="heading">
    <span class="h5">The Source blog.</span>
    <span class="h1 enlighten">How to bleed a <b>radiator</b></span>
  </h1>
  <p slot="paragraph">Bleeding your radiators every so often keeps them working efficiently. That not only means a warmer home, but cheaper energy bills too.</p>
  <p slot="paragraph">But if you don’t do it regularly, your radiators could start taking longer to warm up. Or they may not give out as much heat as they should. So, you could end up using more energy to heat your home, which is worse for the environment – and for your wallet.</p>
</ns-landmark>

<ns-panel>
  <ns-lockup reverse type="lockjaw" decoration="help">
    <h2 slot="heading">
      <span class="h5">How to bleed a radiator.</span>
      <span class="h1 enlighten"><b>How do I know</b> if my radiators need bleeding?</span>
    </h2>
        <p slot="paragraph">If your home isn’t heating up like it used to, it could be time to bleed your radiators. But the good news is you might not need to bleed all of them to get things working as they should.</p>
        <p slot="paragraph">So, turn on your heating and wait for it to warm up – this should take around 5-10 minutes. Once it has, have a feel of your radiators to see which ones need bleeding.</p>
        <p slot="paragraph">If your radiator’s hot at the top and cold at the bottom, it doesn’t need bleeding. But if it’s hot at the bottom and cold at the top, that’s a sure sign that it does.</p>
    <ns-video slot="image" id="c-0ABc6dAF8" ratio="16x9" title="How to bleed your radiator"></ns-video>
  </ns-lockup>
</ns-panel>

<ns-editorial image="/aem6/content/dam/britishgas/images/ns/image4_3.png">
    <h2 slot="heading">How do I bleed my radiators?</h2>
    <p>To bleed your radiator, you’ll need a radiator key – these come in one standard size and are easily picked up at any hardware shop. You’ll also need a tissue or rag to catch any spills.</p>

    <h2>Follow these steps</h2>
    <ul class="ul-bullet">
      <li>Make sure your heating and hot water are <b>turned off</b> and the radiator has cooled down. <b>Never try and bleed your radiators while they’re still warm</b>, or you may end up spilling boiling water everywhere.</li>
      <li>Slot your radiator bleed key into the bleed point of your radiator, holding the tissue just underneath.</li>
      <li>Slowly turn the key <b>anti-clockwise</b> to open the radiator bleed valve slightly without removing it – you’ll hear the air escaping as a hissing sound. This is completely normal, so there’s no need to panic.</li>
      <li>Once you let out all the air (when the hissing stops), close the valve by turning the key clockwise, being sure not to over-tighten. After the air has gone, water will start coming up through the hole – so you’ll need to close it quickly to avoid any spillages.</li>
      <li>If the air stops and no water is coming out, please get in touch with us as there could be other issues preventing the radiator from filling with water.</li>
      <li>Feel the top of the radiator. You should start to feel it warming up again as normal.</li>
    </ul>

    <h2>And always check your boiler pressure afterwards</h2>
    <p>Bleeding your radiators reduces the pressure of the boiler system – which can make it less effective.</p>
    <p>After bleeding your radiators, check the pressure gauge on the front of your boiler. If it’s below 1 bar, you’ll need to re-pressurise it – but don’t worry, it’s a simple job you can do yourself.</p>
    <p>Check our step-by-step guide to <a href="#">find out how to re-pressurise your boiler</a>.</p>
</ns-editorial>

<ns-panel>
  <ns-highlighter type="info">
    <h2 slot="heading">
      Still need help?
    </h2>
    <p> Book an engineer at <a href="#!">insert url here</a>.</p>
  </ns-highlighter>
</ns-panel>

