---
title: deal-with-frozen-pipes
---

<ns-landmark type="hillside" gradient="invert-ramp-blue">
  <h1 slot="heading">
    <span class="h5">The Source blog.</span>
    <span class="h1 enlighten">How to <b>deal with frozen pipes</b></span>
  </h1>
  <p slot="paragraph">If recent years are anything to go by, we can expect plenty more icy winters. And that could spell trouble for our pipes – and ultimately, our homes.</p>
  <p slot="paragraph">Frozen pipes are a big problem. Not only can they stop your heating and hot water from working properly, they can also burst – causing leaks, or even flooding. So if you think your pipes have frozen over, you’ll need to act quickly to prevent any further damage.</p>
</ns-landmark>

<ns-editorial reverse image="https://user-images.githubusercontent.com/52657167/95571102-d04e7a00-0a1f-11eb-8771-6512afd2a05e.jpg">
    <h2 slot="heading">Why do pipes freeze in winter?</h2>
    <p>When temperatures drop below zero, the water in your pipes can freeze if they’re not insulated properly. And since water expands as it freezes, it can put pressure on the pipe itself – causing it to buckle and split.</p>

    <p>That’s why it’s a good idea to insulate your pipes (otherwise known as lagging) before frosty weather hits. And that’s just the start – read our tips to prevent frozen pipes here.</p>

    <p>Look out for the warning signs:</p>

    <ul class="ul-bullet">
      <li>Your central heating makes gurgling sounds when it’s on.</li>
      <li>Your boiler won’t turn on.</li>
      <li>There’s no water coming out of your taps, or just a trickle.</li>
      <li>Your sink is clogged and your toilet is flushing slowly.</li>
    </ul>
</ns-editorial>

<ns-editorial image="https://user-images.githubusercontent.com/52657167/95575718-15c27580-0a27-11eb-9c96-07bfc09254cc.jpg">
    <h2 slot="heading">What to do if your pipes freeze</h2>
    <p>If you think you’ve got a frozen pipe, don’t panic. There are a few things you can do to keep it from bursting and save yourself the hassle of a leak or flood.</p>

    <h2>Find the frozen pipe</h2>
    <p>First things first, you’ll need to find out which pipe is frozen. If you have a modern condensing boiler, it’ll most likely be your condensate pipe. This will be a plastic one that comes out of your boiler – find where it goes outside to see if it’s frosted over.</p>
    <p>Unfortunately, any outdoor pipe can be at risk during icy weather, as are the ones that pass through any cold spots in the house – like lofts, basements and cupboards that sit on external walls.</p>

    <h2>Thaw the pipe</h2>
    <p>Once you’ve found the culprit, you’ll need to thaw it out to get things flowing again. Slowly pour hot (but never boiling) water over the frozen pipe and place a hot water bottle over it to help melt away the ice. If you’re not sure, <a href="#">watch our step-by-step video</a>.</p>

    <h2>Finding a burst pipe</h2>
    <p>A burst pipe might not be as obvious as a kitchen full of water. You may have a slow leak which, left to its own devices, can cause just as much damage to your home and electrics.</p>

    <p>Here’s how to spot them:</p>
    <ul class="ul-bullet">
      <li>Problems with your water pressure or trouble with your water flow.</li>
      <li>Water marks or patches on your walls or ceilings.</li>
      <li>Bulging walls or ceilings.</li>
      <li>Damp patches on the floor.</li>
    </ul>
</ns-editorial>

<ns-editorial reverse image="https://user-images.githubusercontent.com/52657167/95571100-cfb5e380-0a1f-11eb-9411-6d68b9f24519.jpg">
    <h2 slot="heading">What to do if you have a leak or flood</h2>
    <p>Intro content here.</p>

    <h2>Turn off the water supply straight away</h2>
    <p>You’ll need to turn the stopcock valve to close off your water supply – and don’t turn it back on until a plumber has fixed things. If you’re not sure where your stopcock is, try looking under the kitchen sink or in a cupboard – possibly even one outdoors. You'll need to switch off your central heating too.</p>
    <p>If the leak is coming from outside your property and you can’t turn off the water supply, you’ll need to find and contact your water supplier.</p>

    <h2>Turn on all the taps</h2>
    <p>You'll need to get all the water out the pipes quickly so it can drain away without causing too much damage. Turn on all the taps in your home, allow the water to drain completely until there's nothing left, then turn them off.</p>

    <h2>Soak up any excess water</h2>
    <p>To limit the damage, get a few old towels and soak up any water that's escaped from the burst pipe. And if you’ve got standing water in your home, your insurance company will let you know what to do next. But we’ll get back to that shortly.</p>

    <h2>Make your electrics safe</h2>
    <p>If there’s a chance that any electrics have got wet, turn the power off at the mains. Let them dry off completely and have them checked by a qualified electrician before turning them back on.</p>

    <h2>Call your home insurance company</h2>
    <p>Most insurers have a 24-hour emergency helpline, so call them as soon you can. Take photos of any damage and find the receipts (or other proof of purchase, like bank statements) for damaged belongings. Then your insurer will tell you what to do next.</p>

    <h2>Call a registered plumber</h2>
    <p>Always find a fully qualified plumber to carry out repairs, otherwise it may cost you more time and money in the long run. <a href="www.water.org.uk">Water.org.uk</a> has an up to date list of registered emergency plumbers near you.</p>
    <p>While you wait, you can make a temporary repair by binding the pipe tightly with cloth or heavy-duty tape. But don't be tempted to do this in place of a professional repair – it won't last long.</p>
</ns-editorial>

<ns-editorial image="https://user-images.githubusercontent.com/52657167/95575718-15c27580-0a27-11eb-9c96-07bfc09254cc.jpg">
    <h2 slot="heading">Cleaning up afterwards</h2>
    <p>The scale of the clean-up job depends on how much water has leaked. If your home is flooded and your furniture or belongings are wet through, you'll probably need to wait for your insurer to send their loss adjuster to you.</p>

    <p>They'll then take care of drying out and repairing your home and contents. In the meantime, move everything out of harm's way to prevent further damage.</p>

    <p>If the leak isn't too bad, you can try to clean up yourself. Just make sure you don't throw away any damaged items before documenting them if you intend to make a claim. Proof of purchase, pictures and any serial numbers will help when it comes to making a claim.</p>

    <p>Remember, home insurance policies differ so it's best to speak to your insurance company if you have any worries about burst pipe claims.</p>

    <p>Want to find out how we can protect your home? Take a look at <a href="#">British Gas home insurance</a>.</p>
</ns-editorial>

















