---
title: Fix it yourself
eleventyNavigation:
  key: Help and Support
  parent: source-blog
  title: How to avoid frozen and burst pipes
  excerpt: As those winter months set in and temperatures plummet
---

<ns-landmark type="hillside" gradient="invert-ramp-blue">
  <h1 slot="heading">
    <span class="h5">The Source blog.</span>
    <span class="h1 enlighten">How to avoid <b>frozen and burst pipes</b></span>
  </h1>
  <p slot="paragraph"><span style="color: red;">Please reduce content here</span></p>
  <p slot="paragraph">As those winter months set in and temperatures plummet, it’s worth keeping a close eye on your home’s water pipes.</p>
  <p slot="paragraph">Because if one of your inlet pipes were to freeze over, there’s a high chance it could also burst.</p>
  <p slot="paragraph">At best you’ll face disruption and the cost of repairs. At worst? We could be talking thousands of pounds worth of flooding damage.</p>
  <p slot="paragraph">But fear not – for a little pre-winter prep can help you keep those frozen pipes at bay…</p>
</ns-landmark>

<ns-panel>
    <ns-lockup reverse type="lockjaw" decoration="tap">
      <h2 slot="heading">
        <span class="h5">How to avoid frozen and burst pipes.</span>
        <span class="h1 enlighten">Why do <b>frozen pipes sometimes burst?</b></span>
      </h2>
      <p slot="paragraph"><span style="color: red;">Please reduce content here</span></p>
      <p slot="paragraph">Water expands as it freezes, pressurising the pipe from the inside out.  Whether the pipe is strong enough to withstand the pressure without buckling comes down to the volume of water that’s frozen, the type, shape and age of the pipe, and whether corrosion was already present.</p>
      <p slot="paragraph">The good news is that with a few simple precautions, it’s often preventable – and definitely worth the time. The Association of British Insurers (ABI) estimates that the cost of insurance claims for a burst pipe can rise to around £7,500 during freezing weather.</p>
      <ns-image slot="image" ratio="4x3" src="https://user-images.githubusercontent.com/52657167/95486093-7e0f4980-098a-11eb-8d3e-844b690ec8e5.jpg"></ns-image>
    </ns-lockup>
</ns-panel>

<ns-editorial image="https://user-images.githubusercontent.com/52657167/95486080-7b145900-098a-11eb-907f-9b304a92593f.jpg">
    <h2 slot="heading">So how can I stop my pipes freezing?</h2>
    <p><span style="color: red;">Insert intro paragraph here.</span></p>

    <h2>Have your boiler serviced</h2>
    <p>If your heating isn’t working efficiently, the cold spots in your system will be most vulnerable to the cold. So it’s a good idea to have your boiler serviced every year – preferably during the warmer months. It’s the best way to prep your pipes and keep your system ready for everything winter has in store.</p>

    <h2>Insulate</h2>
    <p>Insulating your pipes and water tanks is one of the best ways to prevent them from freezing. You can buy inexpensive pipe lagging and tank jackets from most DIY stores and fit them yourself for free. Just make sure you check the pipe and tank measurements first.</p>
    <p>Then focus on these key areas:</p>
    <ul class="ul-bullet">
      <li><b>Outside pipework</b> – such as heating drainpipes and overflow pipes. As well as straight lengths of pipe, remember to cover bends, valves and fittings too. And don’t forget your outside taps. You should find insulated tap covers at your local home depo store.</li>
      <li><b>Pipes located in colder areas of your home</b> – like unused loft spaces, garages and basements. To protect them, use the same lagging described above.</li>
      <li><b>Water tanks</b> – often forgotten, but they’re one of the main problem areas during a cold snap – and a leading cause of burst pipes. Be sure to insulate tanks placed in colder areas, such as basements, garages and unused lofts.</li>
    </ul>
</ns-editorial>

<ns-editorial reverse image="https://user-images.githubusercontent.com/52657167/95486084-7c458600-098a-11eb-87ea-490f7f44e62d.jpg">
    <h2 slot="heading">Encourage warm air flow and shut out the cold</h2>
    <p>If you have pipes and tanks in unheated loft spaces, open the hatch during icy weather to allow the warm air from downstairs to rise and keep the chill off.</p>
    <p>If some of your pipes or tanks are located inside cupboards, open the cupboard doors so the air from warmer parts of your home can circulate around them.</p>
    <p>When it’s frosty outside, have the heating set for different times of the day – even if no-one’s home. Or keep the heating on a constant low temperature and increase as needed when you are home.</p>
    <p>Block out any chilly breezes by keeping windows closed, sealing draughty edges (<a href="#">we’ve more on this here</a>) and using draught excluders on doors.</p>
</ns-editorial>

<ns-panel decoration="">
  <ns-lockup type="lockbox" decoration="">
    <h2 slot="heading">
      <span class="h5">How to avoid frozen and burst pipes.</span>
      <span class="h1 enlighten">Fix any <b>leaking taps</b></span>
    </h2>
    <div slot="paragraph">
        <p>It’s a myth that leaving your tap dripping when it’s icy can stop your pipes from freezing up. In fact, leaky taps can cause your drains to freeze and water to back up to your sink, leading to an overflow.</p>
        <p>So make sure that your taps are always fully off and have them fixed if they’re persistent drippers.</p>
    </div>
    <ns-image slot="image" src="https://user-images.githubusercontent.com/52657167/95486086-7cde1c80-098a-11eb-807e-ac08cdbf9933.jpg" alt="British Gas - Switch energy tariff"></ns-image>
  </ns-lockup>
</ns-panel>

<ns-panel decoration="">
  <ns-lockup reverse type="lockbox" decoration="">
    <h2 slot="heading">
      <span class="h5">How to avoid frozen and burst pipes.</span>
      <span class="h1 enlighten">Remind yourself <b>where your stopcock is</b></span>
    </h2>
    <div slot="paragraph">
        <p>It’s essential that you know how to stop the water flow to your home in case the worst happens.</p>
        <p>So familiarise yourself with the location of your stopcock, clear the area around it for easy access, and use it immediately if you spot a leaky pipe!</p>
    </div>
    <ns-image slot="image" src="https://user-images.githubusercontent.com/52657167/95486090-7d76b300-098a-11eb-83f2-69aee5047141.jpg" alt="British Gas - Switch energy tariff"></ns-image>
  </ns-lockup>
</ns-panel>

<ns-editorial image="https://user-images.githubusercontent.com/52657167/95486083-7bacef80-098a-11eb-8174-7f4b685eb092.jpg">
    <h2 slot="heading">Turn off the water if you’re going away</h2>
    <p>If your home will be unoccupied for more than a few days during the colder months, you might want to turn your water off at the stopcock. It might even be worth draining the water in your system by running the taps until they’re empty. Just remember to close them again once you’ve finished.</p>
    <p>Hopefully the above steps should keep your pipes toasty and your home safe. But if you’re still worried about your pipework when the cold weather rolls in, here are a few tell-tale signs to look out for:</p>

    <ul class="ul-bullet">
        <li>Little or no water coming from your taps or shower.</li>
        <li>Exposed pipes that appear frosty or wet.</li>
        <li>Unusual noises coming from your system when you flush the toilet or use your sink. Bubbling or whistling sounds could be a sign of air trying to escape your pipes through a blockage.</li>
        <li>Damp patches or rings on walls or ceilings.</li>
      </ul>
    <p>And that about covers it! But if you didn’t catch the pre-winter check in time, here’s a handy follow-up guide to help you deal with any immediate problems.</p>
    <p>And don’t forget, boiler cover that includes a service each year – like our very own HomeCare – could pick up any minor niggles or major faults ahead of the colder months, and keep your boiler in perfect working order during the busiest time of the year.</p>
    <p><a href="https://www.britishgas.co.uk/home-services/boilers-and-heating/boiler-and-heating-cover.html">Find out more about our HomeCare range</a>.</p>
</ns-editorial>





