---
title: heavy-snowfall
---

<ns-landmark type="hillside" gradient="invert-ramp-blue">
  <h1 slot="heading">
    <span class="h5">The Source blog.</span>
    <span class="h1 enlighten">How to get ready for <b>heavy snowfall</b></span>
  </h1>
  <p slot="paragraph">There’s nothing like that first snow day. But the reality of a heavy drift soon hits if you’re unprepared.</p>
  <p slot="paragraph">So we’ve put together our checklist to help you get your home ready for the white stuff.</p>
</ns-landmark>

<ns-panel>
    <ns-lockup reverse type="lockjaw" decoration="boiler-repair">
      <h2 slot="heading">
        <span class="h5">Get your home snow ready.</span>
        <span class="h1 enlighten">Book a <b>boiler service</b></span>
      </h2>
      <p slot="paragraph">It’s actually best to do this during the summer months, ready for when things cool down.</p>
      <p slot="paragraph">But if you’re running a little late, don’t worry. Just try and have your boiler serviced by a Gas Safe engineer before the really cold weather strikes.</p>
      <p slot="paragraph">They’ll make sure it’s in good working order and carry out any repairs if need be.</p>
      <ns-image slot="image" ratio="4x3" src="https://user-images.githubusercontent.com/52657167/94664592-f9c22400-0302-11eb-962d-df2b183f2c33.jpg"></ns-image>
    </ns-lockup>
</ns-panel>

<ns-panel decoration="">
  <ns-lockup type="lockjaw" decoration="">
    <h2 slot="heading">
      <span class="h5">Get your home snow ready.</span>
      <span class="h1 enlighten">Improve your <b>insulation</b></span>
    </h2>
    <div slot="paragraph">
        <p>It goes without saying that proper loft insulation is a big part of a warm and an efficient home.</p>
        <p>But you should also think about weatherproofing the gaps around your windows and doors with weather stripping tape – you’ll find it at most DIY stores.</p>
        <p>Or you can use plastic insulation backing on your windows to keep the cold out – and your energy bills down.</p>
    </div>
    <ns-image slot="image" src="https://user-images.githubusercontent.com/52657167/94666355-47d82700-0305-11eb-9057-9311fe05085a.jpg" alt="British Gas - Switch energy tariff"></ns-image>
  </ns-lockup>
</ns-panel>

<ns-panel decoration="">
  <ns-lockup reverse type="lockjaw" decoration="home">
    <h2 slot="heading">
      <span class="h5">Get your home snow ready.</span>
      <span class="h1 enlighten">Turn up your <b>thermostat</b></span>
    </h2>
    <div slot="paragraph">
        <p>There’s nothing better than coming back to a warm and cosy home when it’s bitterly cold out. So programme your thermostat to get it winter-ready.</p>
        <p>It’s a good idea to set it to come on for at least part of every day during the chilly season, even if you’re not home. That way, your pipes will be less likely to freeze over and your home won’t get too cold.</p>
    </div>
    <ns-image slot="image" src="https://user-images.githubusercontent.com/52657167/94664959-781ec600-0303-11eb-9b8d-693c525e4ba7.jpg" alt="British Gas - Switch energy tariff"></ns-image>
  </ns-lockup>
</ns-panel>

<ns-panel decoration="circle-yellow-right">
  <ns-lockup type="lockjaw" decoration="tap">
    <h2 slot="heading">
      <span class="h5">Get your home snow ready.</span>
      <span class="h1 enlighten"><b>Protect</b> your pipes</span>
    </h2>
    <div slot="paragraph">
        <p>Insulate your pipes with tubing to stop them freezing solid when temperatures fall below zero.</p>
        <p>And don’t forget to fix any leaky taps – even a small trickle can cause a big problem with the weather drops.</p>
        <p><a href="#">Read our guide</a> for other ways to keep your pipes safe during the winter.</p>
    </div>
    <ns-image slot="image" src="/aem6/content/dam/britishgas/homepage/nucleus/homepage-lockup1.jpg" alt="British Gas - Switch energy tariff"></ns-image>
  </ns-lockup>
</ns-panel>

<ns-panel decoration="">
  <ns-lockup reverse type="lockjaw" decoration="">
    <h2 slot="heading">
      <span class="h5">Get your home snow ready.</span>
      <span class="h1 enlighten">Think about your <b>heat sources</b></span>
    </h2>
    <div slot="paragraph">
        <p>Have a wood burner? Don’t forget to store extra firewood indoors, just in case you can't get outdoors due to bad weather.</p>
        <p>Or if you use electric heaters, remember to keep them at least three feet away from furniture and curtains.</p>
        <p>To be extra safe, only use heaters with automatic shut-off switches and non-glowing elements.</p>
    </div>
    <ns-image slot="image" src="/aem6/content/dam/britishgas/homepage/nucleus/homepage-lockup1.jpg" alt="British Gas - Switch energy tariff"></ns-image>
  </ns-lockup>
</ns-panel>

<ns-panel decoration="">
  <ns-lockup type="lockjaw" decoration="protect">
    <h2 slot="heading">
      <span class="h5">Get your home snow ready.</span>
      <span class="h1 enlighten">Check your <b>smoke and carbon monoxide detectors</b></span>
    </h2>
    <div slot="paragraph">
        <p>Did you know there's an increased risk of house fires during cold weather? That’s because more people resort to alternative heat sources like log burners and electric heaters to keep the chill off.</p>
        <p>So it’s vital that you regularly test your smoke alarms and C02 detectors to make sure they’re working properly. And always clear any ventilation outlets after a snowfall to keep them working efficiently.</p>
    </div>
    <ns-image slot="image" src="/aem6/content/dam/britishgas/homepage/nucleus/homepage-lockup1.jpg" alt="British Gas - Switch energy tariff"></ns-image>
  </ns-lockup>
</ns-panel>

<ns-panel decoration="">
  <ns-lockup reverse type="lockjaw" decoration="">
    <h2 slot="heading">
      <span class="h5">Get your home snow ready.</span>
      <span class="h1 enlighten">Remind yourself where your <b>stopcock</b> is</span>
    </h2>
    <div slot="paragraph">
        <p>When it’s really cold outside, your pipes can freeze over – which could lead to a burst pipe. If that happens, you’ll need to shut off the mains water supply as quickly as possible to limit the damage.</p>
        <p>So it’s worth double-checking where your stopcock is before that happens, just in case. It’s usually under the kitchen sink or in a cupboard on an exterior wall.</p>
    </div>
    <ns-image slot="image" src="/aem6/content/dam/britishgas/homepage/nucleus/homepage-lockup1.jpg" alt="British Gas - Switch energy tariff"></ns-image>
  </ns-lockup>
</ns-panel>

<ns-panel decoration="invert-concave-cyan">
  <ns-lockup type="lockbox" decoration="">
    <h2 slot="heading">
      <span class="h5">Get your home snow ready.</span>
      <span class="h1 enlighten">Prepare for <b>no heating</b></span>
    </h2>
    <div slot="paragraph">
        <p>While it’s unlikely that a heavy snowfall will leave you without any heating, it's always worth keeping sleeping bags, blankets and warm coats handy.</p>
        <p>Just in case.</p>
    </div>
    <ns-image slot="image" src="/aem6/content/dam/britishgas/homepage/nucleus/homepage-lockup1.jpg" alt="British Gas - Switch energy tariff"></ns-image>
  </ns-lockup>
</ns-panel>

<ns-editorial reverse image="/aem6/content/dam/britishgas/images/ns/image4_3.png">
    <h2 slot="heading">Prepare your outside space</h2>
    <p>Cornhole woke literally aesthetic tacos raclette. Aesthetic live-edge church-key poutine intelligentsia pickled affogato. Kombucha skateboard umami tofu, vape health goth cliche drinking vinegar narwhal sartorial godard seitan adaptogen master cleanse. Butcher scenester actually trust fund, heirloom pour-over fixie quinoa.</p>

    <h2>Trim overhanging branches</h2>
    <p>Tree branches that hang over your property could suddenly break under the extra weight of snow and ice – causing damage to your home. So do a quick check outside and trim off any that pose a risk.</p>

    <h2>Pick up a snow shovel and some rock salt (or sand)</h2>
    <p>A sturdy snow shovel and gritting salt or sand will be invaluable if you find yourself snowed in. They’ll help you keep your footpaths and driveway clear and safe during an icy spell.</p>
    <p>And don’t forget to keep your window and doorframes clear of snow, as it could seep into the frame itself and cause mould.</p>

    <h2>Fix problem roof tiles and chimneys</h2>
    <p>Your roof protects you from the elements, so it’s important that it’s in tip top condition.</p>
    <p>If your roof is unstable, it could crack or even cave in under heavy snowfall. And what’s worse, if it wasn’t kept in good shape, there’s a good chance your home insurance won’t cover it.</p>
    <p>So check it over for any loose and broken tiles, or any signs of damage – and always find a trusted tradesman to carry out any work.</p>

    <h2>Clear your gutters</h2>
    <p>Dirt, moss and other debris can build up in your gutters during the year. And when combined with snow, it could lead to leaks and breakages. So always give them a good clear out before winter sets in.</p>
</ns-editorial>

<ns-editorial image="/aem6/content/dam/britishgas/images/ns/image4_3.png">
    <h2 slot="heading">Gather essential supplies</h2>
    <p>Cornhole woke literally aesthetic tacos raclette. Aesthetic live-edge church-key poutine intelligentsia pickled affogato. Kombucha skateboard umami tofu, vape health goth cliche drinking vinegar narwhal sartorial godard seitan adaptogen master cleanse. Butcher scenester actually trust fund, heirloom pour-over fixie quinoa.</p>

    <h2>Make an emergency kit</h2>
    <p>It’s a good habit to have at least three days’ worth of food and essentials stored in an easy-to-reach part of your home.</p>
    <p>That’s things like medicines, drinking water, non-perishable food and snacks, and extra blankets. You should also keep a torch, batteries and a phone charger close by too.</p>

    <h2>Make a car kit</h2>
    <p>De-icer, scrapers, wiper fluid and anti freeze will all come in handy if you need to drive during a cold snap.</p>
    <p>You might even want to keep some jump leads in the boot in case your car doesn’t start.</p>
    <p>And before going on any journeys, make sure you’ve got some food, water, a torch, your phone and charger, plus a blanket or two with you.</p>
</ns-editorial>

<ns-panel decoration="">
  <ns-lockup reverse type="lockbox" decoration="">
    <h2 slot="heading">
      <span class="h5">Give your car a once-over.</span>
      <span class="h1 enlighten">Ahead of a <b>cold snap</b></span>
    </h2>
    <div slot="paragraph">
        <p>Have your brakes, heater, tyres and windscreen wipers checked to make sure they're in good working order before winter.</p>
        <p>And if you can keep your fuel tank half full during snowy conditions, all the better.</p>
    </div>
    <ns-image slot="image" src="/aem6/content/dam/britishgas/homepage/nucleus/homepage-lockup1.jpg" alt="British Gas - Switch energy tariff"></ns-image>
  </ns-lockup>
</ns-panel>

<ns-editorial image="/aem6/content/dam/britishgas/images/ns/image4_3.png">
    <h2 slot="heading">And take care of each other</h2>
    <p>Cornhole woke literally aesthetic tacos raclette. Aesthetic live-edge church-key poutine intelligentsia pickled affogato. Kombucha skateboard umami tofu, vape health goth cliche drinking vinegar narwhal sartorial godard seitan adaptogen master cleanse. Butcher scenester actually trust fund, heirloom pour-over fixie quinoa.</p>

    <h2>Insert H2 here</h2>
    <ul class="ul-bullet">
        <li>When severe weather hits, you might find yourself stranded away from home. So plan how you’ll stay in contact with the rest of your household and where you’ll meet if you can’t get home due to heavy snow</li>
        <li>Check in on elderly or vulnerable relatives and neighbours to make sure they’ve got everything they need to get through a cold snap</li>
        <li>Consider keeping your pets indoors when the weather turns particularly cold – and remember, antifreeze is highly toxic to both dogs and cats</li>
        <li>Be careful on icy paths and when clearing heavy snow.</li>
      </ul>
    <p>We’re here to help you look after your home this winter. So whether it’s servicing your boiler and heating, or sorting out your home insurance – you can count on us. <a href="#">Find out more about what we offer</a>.</p>
    <p>And for complete peace of mind that we’ll be there when you need us, why not take out HomeCare cover? <a href="#">Get a quick and easy quote</a>.</p>
</ns-editorial>





