---
title: Fix it yourself
eleventyNavigation:
  key: Help and Support
  parent: source-blog
  title: Helping those that need it most this winter
  excerpt: While wintery conditions can make life a little trickier for everyone
---

<ns-landmark type="hillside" gradient="invert-ramp-blue">
  <h1 slot="heading">
    <span class="h5">The Source blog.</span>
    <span class="h1 enlighten"><b>Helping those</b> that need it most this winter</span>
  </h1>
  <p slot="paragraph">While wintery conditions can make life a little trickier for everyone, they’re especially challenging for the elderly and vulnerable.</p>
  <p slot="paragraph">So if you know someone who might be at risk, follow our tips to keep them warm, safe and comfortable this winter.</p>
</ns-landmark>

<ns-panel>
    <ns-lockup reverse type="lockjaw" decoration="help">
      <h2 slot="heading">
        <span class="h5">Helping those that need it most this winter.</span>
        <span class="h1 enlighten">Spot the <b>signs of illness</b></span>
      </h2>
      <p slot="paragraph"><span style="color: red;">Please reduce content here</span></p>
      <p slot="paragraph">Sniffly colds and flu are rife this time of year. But while they’re usually a minor inconvenience for most, they can lead to chest infections and even pneumonia in older and vulnerable people. So as soon as they start to feel unwell, insist that they call the doctor or pharmacy before it gets worse.</p>
      <p slot="paragraph">And with Covid-19 still very much in the picture, it’s more important than ever to look out for high temperatures, persistent coughs and shortness of breath. If you spot any symptoms, <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/">go to the NHS website</a> to find out what to do next.</p>
      <ns-image slot="image" ratio="4x3" src="https://user-images.githubusercontent.com/52657167/95194773-9423db00-07cd-11eb-8417-7e9046f1508e.jpg"></ns-image>
    </ns-lockup>
</ns-panel>

<ns-editorial image="https://user-images.githubusercontent.com/52657167/95193459-c2a0b680-07cb-11eb-87b4-9532c58af21e.jpg">
    <h2 slot="heading">Keep them warm</h2>
    <p>Staying warm when it’s cold outside is incredibly important, especially for people with weaker immune systems. Ideally, our homes should be about 18°C throughout, and up to 21°C in the main living room during the day.</p>

    <h2>Here are a few ways to make sure their home stays toasty</h2>
    <ul class="ul-bullet">
      <li>Check whether the boiler has had a recent service by a Gas Safe registered engineer or British Gas. And make sure their thermostat is working and that the heating is programmed for winter.</li>
      <li>If your loved one has trouble moving about, it might be a good idea to set up a remote control heating system.</li>
      <li>Check whether their loft, tank and pipes are properly insulated, and that doors and windows are protected against chilly draughts. <a href="#">Read more heat-saving tips</a>.</li>
      <li>Keep windows and curtains closed at night to keep out the cold, especially in the bedroom.</li>
      <li>Check that any heating appliances are safe and being used correctly. They should have plenty of space around them and be well away from furniture or flammable fabrics.</li>
      <li>Encourage your loved one to use hot water bottles or electric blankets in bed –but never both together. Don’t forget to check whether their electric blanket is safe to be left on all night.</li>
      <li>Make sure they’re dressed for the cold weather, even at home. A few lightweight cotton, wool, or fleece layers work better than a couple of thicker jumpers. And scarves, gloves and hats are always a good idea when leaving the house.</li>
    </ul>
</ns-editorial>

<ns-editorial reverse image="https://user-images.githubusercontent.com/52657167/95193452-c16f8980-07cb-11eb-9a84-d6fac274878d.jpg">
    <h2 slot="heading">Encourage exercise</h2>
    <p>Exercise is great for the body and the mind, and some fresh air can do wonders if your loved one’s feeling low. Suggest going for a gentle walk with them if they’re able to, or encourage them to pop into the garden for some fresh air every once in a while – unless it’s bitterly cold. Just make sure they’re wrapped up warm and wearing a decent pair of grippy boots.</p>
    <p>If it’s really chilly outside, they can still keep active indoors with a bit of housework or getting up to make a cup of tea. Or if they’ve got limited mobility, teach them some armchair exercises to keep the blood flowing and their joints moving.</p>
</ns-editorial>

<ns-editorial image="https://user-images.githubusercontent.com/52657167/95193448-c03e5c80-07cb-11eb-8e11-00b65dab976a.jpg">
    <h2 slot="heading">Eat well</h2>
    <ul class="ul-bullet">
      <li>Three good meals a day and plenty of fruit and veg are a must at any time of year, but especially during a cold snap. Make sure they’re having at least one hot meal every day, like porridge for breakfast and warming soups or stews for lunch and dinner.</li>
      <li>It’s not always possible for elderly and vulnerable people to get to the shops. So keep them stocked up with plenty of tinned, frozen and dried foods that’ll keep them going.</li>
      <li>Help them do an online food shop to save them from leaving the house if it’s icy or raining.</li>
      <li>If your loved one struggles with cooking, why not take them some leftovers that they can warm up or freeze for later?</li>
    </ul>
</ns-editorial>

<ns-editorial reverse image="https://user-images.githubusercontent.com/52657167/95193464-c3d1e380-07cb-11eb-9c5a-b3fc06e44545.jpg">
    <h2 slot="heading">Help organise medicines</h2>
    <p>If they rely on regular medication, check they have enough to see them through bad weather spells – particularly over the festive period when doctors and pharmacies are likely to close. And don’t forget, their local pharmacy may offer a delivery service for people who can’t get out to pick up their prescription.</p>
    <p>Double-check that they’re stocked up with things like cold and flu remedies to treat a sniffle as soon as it strikes.</p>
    <p>Vitamin D supplements can be a good idea for the winter, as we don’t tend to get as much from the sun. It plays a big part in protecting ageing bones, so a daily dose of 10 micrograms is recommended for those over 65.</p>
</ns-editorial>

<ns-editorial image="https://user-images.githubusercontent.com/52657167/95193462-c3394d00-07cb-11eb-9341-6d53c5010f7b.jpg">
    <h2 slot="heading">Lend a hand</h2>
    <p>The smallest thing can mean a lot to someone who’s feeling vulnerable or isolated. Sparing a little time each week to drop in won’t just provide valuable social contact, it’ll also give you the opportunity to make a big difference by helping with small tasks.</p>
    <ul class="ul-bullet">
      <li>Getting them out and about.</li>
      <li>Shovelling snow and gritting icy paths.</li>
      <li>Taking out the rubbish and helping with household tasks.</li>
      <li>Check that essential home appliances are working properly.</li>
      <li>Cooking meals or dropping leftovers around.</li>
      <li>Making sure they’re warm and comfortable.</li>
    </ul>
</ns-editorial>

<ns-editorial reverse image="https://user-images.githubusercontent.com/52657167/95194891-be759880-07cd-11eb-9f3d-b99e6d049670.jpg">
    <h2 slot="heading">Keep them smiling</h2>
    <p>Winter can be a tough time for anyone who’s on their own – particularly when it comes to their mental health. So it’s important to let them know you’re there for them.</p>
    <h2>There are lots of ways you can help prevent loneliness:</h2>
    <ul class="ul-bullet">
      <li>If you can’t visit them, give them a call or chat to them over video. Hearing a familiar voice or seeing another face can be a huge boost for someone who’s feeling lonely.</li>
      <li>Come up with some new activities that might get them out and about – or suggest a hobby they can enjoy at home.</li>
      <li>Let them know that you’re there whenever they need you. And check that they have your phone number in case they need to get in touch.</li>
    </ul>    
</ns-editorial>

<ns-panel>
    <ns-lockup type="lockbox" decoration="help">
      <h2 slot="heading">
        <span class="h5">Helping those that need it most this winter.</span>
        <span class="h1 enlighten">The <b>Priority Services Register</b></span>
      </h2>
      <p slot="paragraph">If you know a vulnerable person who’s with British Gas for their gas or electricity, check whether they can be added to our Priority Services Register.</p>
      <p slot="paragraph">In fact, all utilities companies have one to help customers who are most at risk – so why not do some research?</p>
      <p slot="paragraph">And don’t forget to visit the <a href="#">Energy Saving Trust</a> website to find out whether they can get help with their heating costs.</p>
      <a slot="cta" href="https://www.britishgas.co.uk/Priority-Service-Register">
        <ns-cta type="text">Find out more about Priority Services Register</ns-cta>
      </a>
      <ns-image slot="image" ratio="4x3" src="https://user-images.githubusercontent.com/52657167/94797223-bc7b9600-03d7-11eb-97bc-ad4aaca5eeb0.jpg"></ns-image>
    </ns-lockup>
</ns-panel>







