---
title: source-hive-thermostat
---

<ns-landmark type="hillside" gradient="invert-ramp-yellow">
  <h1 slot="heading">
    <span class="h5">The Source blog.</span>
    <span class="h1 enlighten">How to troubleshoot your <b>Hive thermostat</b></span>
  </h1>
  <p slot="paragraph">Thermostats have come a long way in the past few years. And many of us now rely on wireless thermostats – or smart home tech like Hive Active Heating – to control our central heating and hot water to warm up our homes.</p>
  <p slot="paragraph">It’s always important to know how to use your thermostat properly and to be able solve issues if things go wrong. So, here’s our guide to troubleshooting your wireless Hive thermostat.</p>
</ns-landmark>

<ns-panel>
  <ns-lockup reverse type="lockjaw" decoration="help">
    <h2 slot="heading">
      <span class="h5">How to troubleshoot your Hive thermostat.</span>
      <span class="h1 enlighten">Changing the <b>batteries</b></span>
    </h2>
        <p slot="paragraph">One of the most common reasons for wireless room thermostats not working properly is the batteries running out.</p>
        <p slot="paragraph">Thankfully it’s a simple fix, and most thermostats take standard AA batteries. But always check the manual for full instructions on how to replace the batteries.</p>
    <ns-video slot="image" id="XmcdtwoK4zo" ratio="16x9" title="How to troubleshoot your thermostat"></ns-video>
  </ns-lockup>
</ns-panel>

<ns-editorial image="/aem6/content/dam/britishgas/images/ns/image4_3.png">
    <h2 slot="heading">Here’s how to change the batteries in a Hive thermostat</h2>
    <ul class="ul-bullet">
      <li>Find and press the small tab on the underside of your thermostat.</li>
      <li>Unhook the unit from the mount to take it off the wall. This will expose the battery housing at the back of the thermostat.</li>
      <li>Take out the old batteries and replace with fully charged ones – Hive thermostats take four AA batteries.</li>
      <li>Secure the thermostat back onto the wall mount – it should automatically turn back on and reconnect to the system.</li>
    </ul>

    <h2>Setting the temperature</h2>
    <p>Hive Active Heating thermostats monitor the target temperature that you want to achieve, and the actual temperature that the thermostat is sensing. This means your heating won’t turn on if it’s already warm enough in your home – helping you use less energy and save money.</p>
    <p><a href="#">The Energy Saving Trust</a> recommends heating your home to between 18 to 21 degrees Celsius.</p>
    <p>So, if your central heating isn’t coming on, it might be because your target temperature is set equal to, or lower than the actual temperature of your home. To switch the heating back on, simply turn the dial to increase your target temperature until it’s higher than the actual temperature.</p>
    <p>That should bring your central heating on as normal.</p>
    
    <h2>Programming your schedule</h2>
    <p>Setting up heating and hot water schedules are a great way of making sure your home’s the right temperature, at the right times. And by only having your heating on when you actually need it, you’ll use less energy and lower your energy bills.</p>
    <p>When it comes to setting a schedule, all thermostats are different – so always check the manual before you start.</p>
    <p>Setting a schedule on your Hive thermostat is easy:</p>
    <ul class="ul-bullet">
      <li>Push the dial to wake up the thermostat.</li>
      <li>Press the menu button, then use the dial to select ‘Heat’ or ‘Hot water’.</li>
      <li>Select ‘Schedule’ to bring up the schedule menu, then scroll to select the ‘View/Edit Current’ option.</li>
      <li>From here, you can set the schedule for each day of the week – or check that the temperatures and times are set correctly for your needs. Just push the dial to select a day and start editing.</li>
    </ul>
</ns-editorial>

<ns-panel>
  <ns-highlighter type="info">
    <h2 slot="heading">
      Still need help?
    </h2>
    <p> Book an engineer at <a href="#!">insert url here</a>.</p>
  </ns-highlighter>
</ns-panel>

