---
title: Source blog
eleventyNavigation:
  key: Help and Support
  parent: rpa
  title: Source blog
  excerpt: Nucleus redesigns of The Source
---


<ns-landmark type="hillside">
  <h1 slot="heading">
    <span class="h5">Prototypes.</span>
    <span class="h1 enlighten"><b>The Source</b> blog</span>
  </h1>
  <div slot="paragraph">
    <p>This is the index page of <b>{{title}}</b>. When you're ready, move on.</p>
  </div>
</ns-landmark>

<ns-panel>
  <ns-card type="flat">
    <p slot="paragraph">
      <a href="fix-it-yourself-hub">Fix it yourself hub</a>
      <br>
      <a href="heavy-snowfall">How to prepare for heavy snowfall</a> 
      <br>
      <a href="helping-those-in-need">Helping those that need it most this winter</a>
      <br>
      <a href="frozen-pipes">How to avoid frozen and burst pipes</a>
      <br>
      <a href="deal-with-frozen-pipes">How to deal with frozen pipes</a>
      <br>
      <a href="winter-proof-home">Now’s the best time to winter-proof your home</a>
      <br>    
    </p>
  </ns-card>
</ns-panel>


