---
title: re-pressurise-boiler
---

<ns-landmark type="hillside" gradient="invert-ramp-cyan">
  <h1 slot="heading">
    <span class="h5">The Source blog.</span>
    <span class="h1 enlighten">How to re-pressurise your <b>boiler</b></span>
  </h1>
  <p slot="paragraph">If you’re having problems with your boiler, like no heating or hot water, loss of water pressure might be to blame.</p>
  <p slot="paragraph">The good news is low boiler pressure is relatively easy to spot – and you can often put it right yourself. So, here’s our quick and easy guide to re-pressurising a boiler.</p>
</ns-landmark>

<ns-panel>
  <ns-lockup reverse type="lockjaw" decoration="help">
    <h2 slot="heading">
      <span class="h5">How to re-pressurise your boiler.</span>
      <span class="h1 enlighten">How do I know if I have <b>low boiler pressure?</b></span>
    </h2>
        <p slot="paragraph">The first sign of a low-pressure boiler is if your heating or hot water isn’t working properly. But to find out for sure, check the water pressure gauge on the front on your boiler. This will be either a hydraulic dial or a digital reading.</p>
        <p slot="paragraph">Ideally, the gauge should read between 1 and 1.5. But if it reads less than 1 bar, your boiler pressure is too low and needs re-pressurising.</p>
    <ns-video slot="image" id="-FdsDR70zuA" ratio="16x9" title="How to re-pressurise your boiler"></ns-video>
  </ns-lockup>
</ns-panel>

<ns-editorial image="/aem6/content/dam/britishgas/images/ns/image4_3.png">
    <h2 slot="heading">What causes a boiler to drop in pressure?</h2>
    <p>There are two main reasons why your boiler’s losing pressure.</p>
    <p>Firstly, leaks anywhere in the system can lead to a loss of water pressure – so look around your pipes, radiators and boiler for any damp patches.</p>
    <p>Never look inside your boiler though – only a Gas Safe engineer should do this. And if you do or do not find a leak, book an engineer and we’ll be on hand to help.</p>
    <p>Similarly, bleeding your radiators can lead to a loss of boiler pressure, so it’s important to re-pressurise your boiler afterwards.</p>

    <h2>How to re-pressurise your boiler</h2>
    <p>Put simply, re-pressurising your boiler means allowing more water to enter the system. And most modern combi boilers rely on a filling loop to do this.</p>
    <p>But if you have a Worcester Bosch boiler, the process is slightly different – see our dedicated <a href="#">guide to re-pressurising a Worcester Bosch boiler</a>.</p>
    <p>While the vast majority of boilers and filling loops follow the same process, always check the manufacturer’s booklet for your boiler before starting.</p>
    <ul class="ul-bullet">
      <li>Switch off the boiler and allow it to cool down.</li>
      <li>Find the filling loop – this is a flexible, silver pipe with a valve at either end. Double-check that it’s securely attached to the boiler’s pipes.</li>
      <li>Open up both valves so that they’re in line with the pipe to allow cold mains water into the system. You should be able to hear it.</li>
      <li>Wait for the water pressure to reach between 1 and 1.5 on the pressure gauge.</li>
      <li>Once it has, shut off both valves one after the other.</li>
      <li>Switch the boiler back on and, if needed, press the reset button.</li>
      <li>Undo both ends of the filling loop and remove from the pipes. Be careful to catch any water spillage and remember to keep the loop in a safe place.</li>
    </ul>
</ns-editorial>

<ns-panel>
  <ns-highlighter type="info">
    <h2 slot="heading">
      Still need help?
    </h2>
    <p> Book an engineer at <a href="#!">insert url here</a>.</p>
  </ns-highlighter>
</ns-panel>

