---
title: source-blog-one
---

 <ns-landmark image="/aem6/content/dam/britishgas/the-source/the-source-landmark-parent.jpg" type="summit">
    <h1 slot="heading">
        <span class="h5">Here to help you look after your home.</span>
        <span class="h1 enlighten">Welcome to <b>The Source</b><br></span>
    </h1>
    <div slot="paragraph">
        <p>Find useful advice and quick tips to keep your home running smoothly, whatever happens.</p>
    </div>
</ns-landmark>

<ns-panel>
    <div class="splash">
        <h2>The latest advice, for life’s what-if moments</h2>
    </div>
    <div role="list" class="splash triple ">
        <ns-card image="/aem6/content/dam/britishgas/the-source/boiler-breakdown.jpg" role="listitem" type="support">
            <h3 slot="heading">What if your boiler breaks down?</h3>
            <div slot="paragraph">
                <p>Learn the tell-tale signs of common boiler issues – and find out how to fix them.</p>
            </div>
            <a href="/the-source/boiler-not-working.html" slot="cta" aria-label="Read our guides">
                <ns-cta type="direct">Read our guides</ns-cta>
            </a>
        </ns-card>
        <ns-card image="/aem6/content/dam/britishgas/the-source/no-running-water.jpg" role="listitem" type="support">
            <h3 slot="heading">What if there’s no running water?</h3>
            <div slot="paragraph">
                <p>Find out how to fix simple plumbing issues yourself, without spending money on a call out.</p>
            </div>
            <a href="/the-source/no-running-water.html" slot="cta" aria-label="Find out more">
                <ns-cta type="direct">Find out more</ns-cta>
            </a>
        </ns-card>
        <ns-card image="/aem6/content/dam/britishgas/the-source/power-cut.jpg" role="listitem" type="support">
            <h3 slot="heading">What if there’s a power cut?</h3>
            <div slot="paragraph">
                <p>Get prepared and find out what to do if the power goes out.</p>
            </div>
            <a href="/the-source/what-to-do-if-you-have-no-power.html" slot="cta" aria-label="Learn more">
                <ns-cta type="direct">Learn more</ns-cta>
            </a>
        </ns-card>
    </div>
</ns-panel>

<ns-panel decoration="invert-concave-green-light">
    <ns-lockup type="lockbox">
        <h2 slot="heading">
            <span class="h5">What to expect.</span>
            <span class="h1 enlighten">Keeping you safe during <b>your appointment</b></span>
        </h2>
        <div slot="paragraph">
            <p>During the coronavirus outbreak, we’re taking extra steps to protect you and our engineers whenever they visit your home.</p>
        </div>
        <a href="/the-source/keeping-you-safe.html" slot="cta" aria-label="Find out more">
            <ns-cta type="direct">Find out more</ns-cta>
        </a>
        <ns-image slot="image" src="/aem6/content/dam/britishgas/the-source/customer-reassurance/keeping-you-safe-locknut.jpg" alt="British Gas engineer in PPE"></ns-image>
    </ns-lockup>
</ns-panel>

<ns-panel>
    <div class="splash">
        <h2>Here to keep you cosy</h2>
    </div>
    <div role="list" class="splash triple ">
        <ns-card role="listitem" type="section" decoration="boiler">
            <h3 slot="heading">Looking after your central heating</h3>
            <div slot="paragraph">
                <p>A little TLC can go a long way to help keep your home warm and working – find out how in our essential care guide.</p>
            </div>
            <a href="/the-source/how-to-maintain-your-central-heating.html" slot="cta" aria-label="Read our guide">
                <ns-cta type="direct">Read our guide</ns-cta>
            </a>
        </ns-card>
    
        <ns-card role="listitem" type="section" decoration="home">
            <h3 slot="heading">Take control of your energy use at home</h3>
            <div slot="paragraph">
                <p>We're all spending more time at home than before, so we’ve put together a list of simple things to help you control your energy bill.</p>
            </div>
            <a href="/the-source/take-control-of-your-home-and-your-energy-bill.html" slot="cta" aria-label="Learn more">
                <ns-cta type="direct">Learn more</ns-cta>
            </a>
        </ns-card>
        
        <ns-card role="listitem" type="section" decoration="tap">
            <h3 slot="heading">No hot water?</h3>
            <div slot="paragraph">
                <p>If your tap’s running cold, try our troubleshooting checklist to get things flowing again.</p>
            </div>
            <a href="/the-source/no-hot-water.html" slot="cta" aria-label="See our checklist">
                <ns-cta type="direct">See our checklist</ns-cta>
            </a>
        </ns-card>
    </div>
</ns-panel>

<ns-panel decoration="invert-concave-yellow">
    <ns-lockup type="lockbox">
        <h2 slot="heading">
            <span class="h5">Manage your account on the go.</span>
            <span class="h1 enlighten">Five <b>reasons to download</b>
our app</span>
        </h2>
        <div slot="paragraph">
            <p>The British Gas app makes it even easier to manage your account, wherever you are. From paying bills to saving energy, find out how it can help you keep on top of your account.</p>
        </div>
        <a href="/the-source/ways-to-help-you-manage-your-account.html" slot="cta" aria-label="Discover our app">
            <ns-cta type="direct">Discover our app</ns-cta>
        </a>
        <ns-image slot="image" src="/aem6/content/dam/britishgas/the-source/ways-to-help-you-manage-your-account/mobile-app-locknut.jpg" alt="A couple using the British Gas app"></ns-image>
    </ns-lockup>
</ns-panel>

<ns-panel>
    <div class="splash">
        <h2>More articles you may be interested in</h2>
    </div>

    <div role="list" class="splash triple ">
        <ns-card role="listitem" type="support">
            <h3 slot="heading">Don't spoil the party</h3>
            <div slot="paragraph">
                <p>We Brits love nothing more than taking to our BBQ when the sun comes out. But carefree cooks can be bad news for greenery, with 1 in 30 gardens falling victim to barbecue-related damage.</p>
            </div>
            <a href="/the-source/bbq-without-flame-grilling-your-garden.html" slot="cta" aria-label="Read our guide">
                <ns-cta type="direct">Read our guide</ns-cta>
            </a>
        </ns-card>

        <ns-card role="listitem" type="support">
            <h3 slot="heading">Looking after number one</h3>
            <div slot="paragraph">
                <p>To help you make the most of your time at home and improve your mood, we’ve put together a few top tips.</p>
            </div>
            <a href="/the-source/are-you-taking-care-of-number-one.html" slot="cta" aria-label="Read our tips">
                <ns-cta type="direct">Read our tips</ns-cta>
            </a>
        </ns-card>

        <ns-card role="listitem" type="support">
            <h3 slot="heading">Time to get the duster out</h3>
            <div slot="paragraph">
                <p>Nine DIY spring cleaning tips that will have your house tidy and organized. Check out these home improvement tips to make your home a place of pride and joy.</p>
            </div>
            <a href="/the-source/spring-cleaning-tips.html" slot="cta" aria-label="Read our tips">
                <ns-cta type="direct">Read our tips</ns-cta>
            </a>
        </ns-card>
    </div>
</ns-panel>


