---
title: winter-proof-home
---

<ns-landmark type="hillside" gradient="invert-ramp-blue">
  <h1 slot="heading">
    <span class="h5">The Source blog.</span>
    <span class="h1 enlighten">Now’s the best time to <b>winter-proof your home</b></span>
  </h1>
  <p slot="paragraph">Preparing for colder weather now might seem a tad early. But clearing the gutters and checking your roof becomes a whole lot harder once winter’s in full swing.</p>
  <p slot="paragraph">So to save you climbing ladders in the snow and to give you some tips on reducing your heating bills, we’ve put together a few simple pointers for winter-proofing your home ahead of the next cold snap.</p>
</ns-landmark>

<ns-panel>
    <ns-lockup reverse type="lockjaw" decoration="home">
      <h2 slot="heading">
        <span class="h5">Now’s the best time to winter-proof your home.</span>
        <span class="h1 enlighten">Invest in your <b>insulation</b></span>
      </h2>
      <p slot="paragraph">Did you know that up to a quarter of your home's heat escapes through the roof? And even if your loft’s insulated, it's worth checking it meets the recommended 250mm to 270mm depth before winter sets in.</p>
      <p slot="paragraph">If fitted properly, loft insulation can last up to 40 years. It typically costs between £285 and £395 to install, so it'll pay for itself many times over with the savings you’ll make on your energy bills.</p>
      <p slot="paragraph">The <a href="#">Energy Saving Trust’s helpful guide to loft insulation</a> is well worth a read.</p>
      <ns-image slot="image" ratio="4x3" src="https://user-images.githubusercontent.com/52657167/95574783-75b81c80-0a25-11eb-95eb-6ac96e068d88.jpg"></ns-image>
    </ns-lockup>
</ns-panel>

<ns-panel>
    <ns-lockup type="lockbox" decoration="">
      <h2 slot="heading">
        <span class="h5">Now’s the best time to winter-proof your home.</span>
        <span class="h1 enlighten">Declutter your <b>gutters</b></span>
      </h2>
      <p slot="paragraph">Clearing out the gutter might not be your idea of a fun weekend. But whilst the weather’s mild, it's a great time to clear the debris left behind by high winds and rain.</p>
      <p slot="paragraph">Good drainage prevents a multitude of water-related problems, from seeping damp to major leaks.</p>
      <p slot="paragraph">Proper gutter maintenance is a good idea for insurance purposes, too. So clear those leaves and sticks to protect your home from water damage when the weather turns.</p>
      <ns-image slot="image" ratio="4x3" src=""></ns-image>
    </ns-lockup>
</ns-panel>

<ns-panel>
    <ns-lockup reverse type="lockbox" decoration="">
      <h2 slot="heading">
        <span class="h5">Now’s the best time to winter-proof your home.</span>
        <span class="h1 enlighten">Keep your <b>boiler ticking over</b></span>
      </h2>
      <p slot="paragraph">Don’t forget to switch your boiler on once a week during the warmer months, just for 15 minutes or so.</p>
      <p slot="paragraph">This will keep it ‘well-oiled’ and prevent it from seizing up when winter arrives. As the weather starts to cool down again, start switching it on for an hour each day.</p>
      <p slot="paragraph">Set a timer if you're away, and you won't come home to an expensive breakdown.</p>
      <ns-image slot="image" ratio="4x3" src="https://user-images.githubusercontent.com/52657167/95574780-7486ef80-0a25-11eb-9ff7-92419d790c66.jpg"></ns-image>
    </ns-lockup>
</ns-panel>

<ns-panel>
    <ns-lockup type="lockbox" decoration="">
      <h2 slot="heading">
        <span class="h5">Now’s the best time to winter-proof your home.</span>
        <span class="h1 enlighten">Keep your <b>pressure in check</b></span>
      </h2>
      <p slot="paragraph">Give your boiler pressure a check before things turn cold. It'll run best at around 1 to 1.5 bar, and you can check this via the gauge on the front of your boiler unit.</p>
      <p slot="paragraph"><a href="#">See our handy guide to correcting boiler pressure issues</a> if you need to adjust yours.</p>
      <ns-image slot="image" ratio="4x3" src="https://user-images.githubusercontent.com/52657167/95574788-76e94980-0a25-11eb-8a6d-97a903813267.jpg"></ns-image>
    </ns-lockup>
</ns-panel>

<ns-panel>
    <ns-lockup reverse type="lockbox" decoration="">
      <h2 slot="heading">
        <span class="h5">Now’s the best time to winter-proof your home.</span>
        <span class="h1 enlighten">Give your <b>radiators some attention</b></span>
      </h2>
      <p slot="paragraph">Bleeding radiators will not only increase their heat efficiency, it'll save you money on your heating bills too.</p>
      <p slot="paragraph">It's quick and easy to do, and relatively disruption-free while the weather's warm.</p>
      <p slot="paragraph">So if your radiators are cold at the top and hot at the bottom, see our <a href="#">step-by-step video for instructions on how to bleed your radiators</a> and save yourself a cold and costly winter.</p>
      <ns-image slot="image" ratio="4x3" src="https://user-images.githubusercontent.com/52657167/95574789-7781e000-0a25-11eb-9bf8-26419e133ed8.jpg"></ns-image>
    </ns-lockup>
</ns-panel>

<ns-panel decoration="circle-yellow-right">
    <ns-lockup type="lockjaw" decoration="boiler-repair">
      <h2 slot="heading">
        <span class="h5">Now’s the best time to winter-proof your home.</span>
        <span class="h1 enlighten"><b>Service your boiler</b> during the summer</span>
      </h2>
      <p slot="paragraph">Servicing your boiler annually can stop any minor problems becoming more serious.</p>
      <p slot="paragraph">It also helps ensure that your heating sees you through those chilly winter months. Make sure you get it done when the weather's warmer and you’ll help avoid the hassle of no hot water or heating when it's cold outside.</p>
      <ns-image slot="image" ratio="4x3" src="https://user-images.githubusercontent.com/52657167/95574792-781a7680-0a25-11eb-83b6-4153b115e055.jpg"></ns-image>
    </ns-lockup>
</ns-panel>

<ns-panel>
    <ns-lockup reverse type="lockbox" decoration="">
      <h2 slot="heading">
        <span class="h5">Now’s the best time to winter-proof your home.</span>
        <span class="h1 enlighten"><b>Lag</b> your pipes</span>
      </h2>
      <p slot="paragraph">Insulated tubing costs very little, and you can buy it from most DIY stores and fit it yourself.</p>
      <p slot="paragraph">Wrap those pipes up warm ahead of winter and you’ll prevent freezing and heat loss. Focus on the pipes that take hot water from your boiler or cylinder to your hot water taps.</p>
      <p slot="paragraph">You’ll fine them in airing cupboards, next to your boiler (between the boiler and hot water tank), or under your kitchen and bathroom sinks.</p>
      <ns-image slot="image" ratio="4x3" src=""></ns-image>
    </ns-lockup>
</ns-panel>

<ns-panel>
    <ns-lockup type="lockbox" decoration="">
      <h2 slot="heading">
        <span class="h5">Now’s the best time to winter-proof your home.</span>
        <span class="h1 enlighten"><b>Draught-proof</b> doors and windows</span>
      </h2>
      <p slot="paragraph">Even with your heating running efficiently and your roof insulated, you lose heat through your doors and windows.</p>
      <p slot="paragraph">Draught excluders are a cheap and effective way of winter-proofing your doorways.</p>
      <p slot="paragraph">And there are a variety of simple methods to seal up gaps around your windows, from caulk to DIY window insulation kits.</p>
      <ns-image slot="image" ratio="4x3" src="https://user-images.githubusercontent.com/52657167/95574782-751f8600-0a25-11eb-91d7-b1bcd55cc615.jpg"></ns-image>
    </ns-lockup>
</ns-panel>

<ns-panel>
    <ns-lockup reverse type="lockbox" decoration="">
      <h2 slot="heading">
        <span class="h5">Now’s the best time to winter-proof your home.</span>
        <span class="h1 enlighten">Service your <b>roof</b></span>
      </h2>
      <p slot="paragraph">Cracked or lost roof tiles can lead to leaks and flooding. And they can even invalidate your home insurance if improper upkeep leads to weather damage.</p>
      <p slot="paragraph">So don't wait to see what happens when winter comes. Try to spot issues in advance from street level or from a neighbouring property.</p>
      <p slot="paragraph">And if you don't feel comfortable climbing a ladder? Call in the professionals.</p>
      <ns-image slot="image" ratio="4x3" src="https://user-images.githubusercontent.com/52657167/95574791-7781e000-0a25-11eb-8708-0e829289be04.jpg"></ns-image>
    </ns-lockup>
</ns-panel>

<ns-panel>
    <ns-lockup type="lockbox" decoration="">
      <h2 slot="heading">
        <span class="h5">Now’s the best time to winter-proof your home.</span>
        <span class="h1 enlighten">Make a <b>plan b</b></span>
      </h2>
      <p slot="paragraph">Do you know where your stopcock is?</p>
      <p slot="paragraph">In the (rare) event that your pipes do freeze up, you'll want to prevent a build-up of pressure forming behind the blockage and leading to a burst pipe.</p>
      <p slot="paragraph">So familiarise yourself with the whereabouts of your stopcock and make sure that you can access it easily. It’s the little tap or lever on your copper pipes, often found under your sink.</p>
      <ns-image slot="image" ratio="4x3" src="https://user-images.githubusercontent.com/52657167/95574786-76e94980-0a25-11eb-965a-a267bb2a93a2.jpg"></ns-image>
    </ns-lockup>
</ns-panel>








