---
title: worcester-boiler
---

<ns-landmark type="hillside" gradient="invert-ramp-cyan">
  <h1 slot="heading">
    <span class="h5">The Source blog.</span>
    <span class="h1 enlighten">How to re-pressurise your <b>Worcester Bosch boiler</b></span>
  </h1>
  <p slot="paragraph">If your Worcester Bosch boiler isn’t working properly, or you’re left without heating or hot water, you might need to re-pressurise the system. Thankfully, it’s a relatively quick and easy task – and you can usually do it yourself.</p>
  <p slot="paragraph">But Worcester Bosch boilers are re-pressurised in a slightly different way to other modern combi boilers. So, it’s important to know exactly how to do it.</p>
</ns-landmark>

<ns-panel>
  <ns-lockup reverse type="lockjaw" decoration="help">
    <h2 slot="heading">
      <span class="h5">How to re-pressurise your Worcester Bosch boiler.</span>
      <span class="h1 enlighten">How do I know if I have <b>low boiler pressure?</b></span>
    </h2>
        <p slot="paragraph">The first sign of a low-pressure boiler is that your heating or hot water isn’t working properly. But to find out for sure, check the water pressure gauge on the front on your boiler. This will be either a hydraulic dial or a digital reading.</p>
        <p slot="paragraph">Ideally, the gauge should read between 1 and 1.5. But if it reads less than 1 bar, your boiler pressure is too low and needs re-pressurising.</p>
    <ns-video slot="image" id="PDP-8CYyCHY" ratio="16x9" title="How to re-pressurise your Worcester Bosch Boiler"></ns-video>
  </ns-lockup>
</ns-panel>

<ns-editorial image="/aem6/content/dam/britishgas/images/ns/image4_3.png">
    <h2 slot="heading">What causes a boiler to drop in pressure?</h2>
    <p>There are two main reasons why your Worcester boiler’s losing pressure. Firstly, leaks in the system can lead to a loss of water pressure – so look around your pipes, radiators and boiler for any damp patches.</p>
    <p>Never look inside your boiler though – only a Gas Safe engineer should do this. And if you do or do not find a leak, book an engineer and we’ll be on hand to help.</p>
    <p>Similarly, bleeding your radiators can lead to a loss of boiler pressure, so it’s important to re-pressurise your boiler afterwards.</p>

    <h2>How to re-pressurise your Worcester Bosch boiler</h2>
    <p>Put simply, re-pressurising your boiler means allowing more water to enter the system. And while other combi boilers use a filling loop to do this, some Worcester Bosch boilers use an internal filling key.</p>
    <p>Always check the manufacturer’s booklet and turn off the electrics to your boiler before starting.</p>
    <ul class="ul-bullet">
      <li>Remove the hatch on the underside of your boiler – you’ll find the internal filling key clipped inside.</li>
      <li>Look up into the boiler to find the filling link. This is a small hole just to the right of a white square which the key will slot into.</li>
      <li>Firmly push the key into the filling link until the arrow on the side of the key almost meets the black plastic.</li>
      <li>Turn the key anti-clockwise until the arrow is facing you.</li>
      <li>Then gently turn the white square clockwise to allow cold mains water into the system. You should be able to hear it.</li>
      <li>Wait for the water pressure to reach between 1 and 1.5 on the pressure gauge.</li>
      <li>Once it has, turn the square back to its original position to shut off the water.</li>
      <li>Lay an old towel underneath the boiler to catch any spills before turning the filling key back around and taking it out.</li>
      <li>Dry off the key and pop it back into the tray before putting the hatch back in place.</li>
      <li>Switch the boiler back on and, if needed, press the reset button.</li>
    </ul>
</ns-editorial>

<ns-panel>
  <ns-highlighter type="info">
    <h2 slot="heading">
      Still need help?
    </h2>
    <p> Book an engineer at <a href="#!">insert url here</a>.</p>
  </ns-highlighter>
</ns-panel>

