---
title: Nucleus prototype
build: www5
---
<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <meta name="description" content="{{title}}">
    <meta name="format-detection" content="telephone=no">

    {%- if local %}
    <link rel="stylesheet" href="/nucleus/styles.min.css">
    {%- elif branch %}
    <link rel="stylesheet" href="https://{{build}}.bgo.bgdigitaltest.co.uk/nucleus/{{branch}}/styles.min.css">
    {%- endif -%}

    {%- if jquery %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    {%- endif -%}

    {%- if style %}
    <link rel="stylesheet" href="/{{project}}/style.css">
    {%- endif -%}

    <title>{{title}}</title>
  </head>
  <body class="ndsn">

    {{content | safe}}

    {%- if local %}
    <script src="/nucleus/polyfill.js"></script>
    <script src="/nucleus/components.js"></script>
    {%- elif branch %}
    <script type="text/javascript" src="https://{{build}}.bgo.bgdigitaltest.co.uk/nucleus/{{branch}}/nucleus.min.js"></script>
    <script src="https://www.britishgas.co.uk/nucleus-experiences/components.min.js"></script>
    {%- else -%}
    <script src="https://www.britishgas.co.uk/nucleus/nucleus.min.js"></script>
    {%- endif -%}

    <script src="https://www.britishgas.co.uk/nucleus-experiences/only.components.min.js"></script>
    <script src="/assets/proto.js"></script>

    {%- if script %}
    <script src="/{{project}}/script.js"></script>
    {%- endif -%}
  </body>
</html>
