---
layout: base.njk
---
<ns-header type="simple" logo="https://www.britishgasevolve.co.uk/uploads/images/logos/bgevolve-logo-blue.png" alt="British Gas Evolve"></ns-header>

<main id="content">
  {{content | safe}}
</main>
