---
title: Live development
classhtml: p-tools
---
<!doctype html>
<html class="{{classhtml}}" lang="en">
<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" href="/main.css">
</head>
<body>
  <div class="ndsn">
    <main>
      {{content | safe}}
    </main>
  </div>
  <script type="text/javascript" src="https://nucleus.bgdigital.xyz/nucleus.min.js"></script>
</body>
</html>
