---
layout: base.njk
---

<link rel="stylesheet" href="/mh/style.css">

<ns-header logo="https://www.britishgas.co.uk/nucleus/images/logo.svg" alt="British Gas" primary='[
  {
    "heading": "Energy",
    "href": "/energy.html",
    "subheadings": [
      {
        "heading": "Gas &amp; electricity",
        "links": [
          {
            "text": "Gas &amp; electricity services",
            "href": "/energy.html"
          },
          {
            "text": "Our gas &amp; electricity tariffs",
            "href": "/energy/gas-and-electricity.html"
          },
          {
            "text": "Get a quote",
            "href": "/GetAQuote/"
          },
          {
            "text": "Connections for new builds",
            "href": "/energy/gas-and-electricity/new-connections.html"
          },
          {
            "text": "Warm Home Discount",
            "href": "/energy/energy-saving/warm-home-discount.html"
          }
        ]
      },
      {
        "heading": "Existing energy customers",
        "links": [
          {
            "text": "Manage your energy",
            "href": "/energy/manage-your-energy.html"
          },
          {
            "text": "Moving Home",
            "href": "/discover/home-move/"
          }
        ]
      },
      {
        "heading": "Save energy",
        "links": [
          {
            "text": "Energy saving tips",
            "href": "/energy/energy-saving/energy-saving-tips.html"
          },
          {
            "text": "Energy guides &amp; advice",
            "href": "/energy/guides.html"
          }
        ]
      }
    ]
  },
  {
    "heading": "Home services",
    "href": "/home-services.html",
    "subheadings": [
      {
        "heading": "Boilers and heating",
        "links": [
          {
            "text": "Boiler &amp; heating cover",
            "href": "/home-services/boilers-and-heating/boiler-and-heating-cover.html"
          },
          {
            "text": "Boiler &amp; heating repair",
            "href": "/home-services/boilers-and-heating/boiler-and-heating-repair.html"
          },
          {
            "text": "Annual Boiler service",
            "href": "/home-services/boilers-and-heating/boiler-and-heating-cover.html#boiler-check-banner"
          },
          {
            "text": "New boilers",
            "href": "/home-services/boilers-and-heating/new-boilers.html"
          },
          {
            "text": "Home improvements",
            "href": "/home-services/boilers-and-heating/home-improvements.html"
          },
          {
            "text": "Understand your boiler",
            "href": "/home-services/boilers-and-heating/guides.html"
          },
          {
            "text": "Understand your price",
            "href": "/home-services/boilers-and-heating/pricing.html"
          }
        ]
      },
      {
        "heading": "Existing customers",
        "links": [
          {
            "text": "Book an engineer",
            "href": "/book-engineer"
          },
          {
            "text": "Track engineer",
            "href": "/my-account/premises/select/accounts/appointments/track"
          },
          {
            "text": "Moving home",
            "href": "/discover/home-move/"
          }
        ]
      },
      {
        "heading": "Plumbing and drains",
        "links": [
          {
            "text": "Plumbing &amp; drains cover",
            "href": "/home-services/plumbing-and-drains/plumbing-and-drains-cover.html"
          },
          {
            "text": "Plumbing &amp; drains repair",
            "href": "/home-services/plumbing-and-drains/plumbing-and-drains-repairs.html"
          }
        ]
      },
      {
        "heading": "Appliances and Electrical",
        "links": [
          {
            "text": "Appliances &amp; electrical cover",
            "href": "/home-services/appliances-and-electrical/appliances-and-electrical-cover.html"
          },
          {
            "text": "Appliances &amp; electrical repair",
            "href": "/home-services/appliances-and-electrical/appliance-and-home-electrical-repairs.html"
          }
        ]
      },
      {
        "heading": "Landlords",
        "links": [
          {
            "text": "Landlords cover",
            "href": "/home-services/landlords/landlord-cover.html"
          },
          {
            "text": "Landlords repair",
            "href": "/home-services/landlords/landlord-repairs.html"
          },
          {
            "text": "Landlords insurance",
            "href": "/home-services/landlords/landlord-insurance.html"
          }
        ]
      }
    ]
  },
  {
    "heading": "Smart home",
    "href": "/smart-home.html",
    "subheadings": [
      {
        "heading": "Getting started",
        "links": [
          {
            "text": "What is a smart home",
            "href": "/smart-home/technology.html"
          },
          {
            "text": "Controlling your home",
            "href": "/smart-home/control.html"
          },
          {
            "text": "Looking after your home",
            "href": "/smart-home/looking-after-your-home.html"
          },
          {
            "text": "Hive, a British Gas innovation",
            "href": "/smart-home/hive-partnership.html"
          }
        ]
      },
      {
        "heading": "Smart products",
        "links": [
          {
            "text": "Heating",
            "href": "/smart-home/hive-heating.html"
          },
          {
            "text": "Smart meters",
            "href": "/smart-home/smart-meters.html"
          },
          {
            "text": "Fault detection",
            "href": "/smart-home/fault-detection.html"
          },
          {
            "text": "Sensors",
            "href": "/smart-home/smart-sensors.html"
          },
          {
            "text": "Lighting",
            "href": "/smart-home/smart-lights.html"
          },
          {
            "text": "Plugs",
            "href": "/smart-home/smart-plugs.html"
          },
          {
            "text": "Cameras",
            "href": "/smart-home/smart-cameras.html"
          },
          {
            "text": "Starter pack",
            "href": "/smart-home/welcome-home-plan.html"
          },
          {
            "text": "Hubs",
            "href": "/smart-home/hive-hubs.html"
          }
        ]
      }
    ]
  },
  {
    "heading": "My Account",
    "href": "/my-account",
    "subheadings": [
      {
        "heading": "Your usage",
        "links": [
          {
            "text": "Submit a meter reading",
            "href": "/meterreads"
          },
          {
            "text": "Your bill",
            "href": "/viewbill"
          },
          {
            "text": "Compare my energy usage",
            "href": "/youraccount/discover/monitor-consumption.html"
          }
        ]
      },
      {
        "heading": "Engineer visits",
        "links": [
          {
            "text": "Book an engineer",
            "href": "/book-engineer"
          },
          {
            "text": "Track an engineer",
            "href": "/my-account/premises/select/accounts/appointments/track"
          }
        ]
      },
      {
        "heading": "Keeping up to date",
        "links": [
          {
            "text": "Moving home",
            "href": "/discover/home-move/",
            "data-ns-link": "1"
          },
          {
            "text": "Keeping your account safe",
            "href": "/help-and-support/technical-support/tier2/faq/how-do-i-keep-my-online-account-safe"
          },
          {
            "text": "Check out our new app",
            "href": "/mobile-app.html"
          }
        ]
      }
    ]
  }
  ]' secondary='[
  {
    "text":"Accessibility tools",
    "type":"button"
  },
  {
    "text":"My business",
    "href":"/business"
  },
  {
    "text":"Help &amp; Support",
    "href":"/help-and-support"
  },
  {
    "text":"Register",
    "href":"/my-account"
  },
  {
    "text":"Log in",
    "href":"my-account"
  }
  ]'>
</ns-header>

<main id="content">
  {{content | safe}}
</main>

<nsx-footer id="footer"></nsx-footer>
