---
layout: base.njk
---

<!--*** FOR USE IN JOURNEYS WHEN WE DONT WANT USERS TO JUMP OUT VIA THE SUBNAV - (I.E. NO SUBNAV) ***>-->

<link rel="stylesheet" href="/mh/style.css">

<ns-header logo="https://www.britishgas.co.uk/nucleus/images/logo.svg" alt="British Gas" primary='[
  {
    "heading": "Our Products",
    "href": "/home-services.html",
    "subheadings": [
      {
        "heading": "Boilers and heating",
        "links": [
          {
            "text": "Boiler &amp; heating cover",
            "href": "/home-services/boilers-and-heating/boiler-and-heating-cover.html"
          },
          {
            "text": "Boiler &amp; heating repair",
            "href": "/home-services/boilers-and-heating/boiler-and-heating-repair.html"
          },
          {
            "text": "Annual Boiler service",
            "href": "/home-services/boilers-and-heating/boiler-and-heating-cover.html#boiler-check-banner"
          },
          {
            "text": "New boilers",
            "href": "/home-services/boilers-and-heating/new-boilers.html"
          },
          {
            "text": "Home improvements",
            "href": "/home-services/boilers-and-heating/home-improvements.html"
          },
          {
            "text": "Understand your boiler",
            "href": "/home-services/boilers-and-heating/guides.html"
          },
          {
            "text": "Understand your price",
            "href": "/home-services/boilers-and-heating/pricing.html"
          }
        ]
      },
      {
        "heading": "Existing customers",
        "links": [
          {
            "text": "Book an engineer",
            "href": "/book-engineer"
          },
          {
            "text": "Track engineer",
            "href": "/my-account/premises/select/accounts/appointments/track"
          },
          {
            "text": "Moving home",
            "href": "/discover/home-move/"
          }
        ]
      },
      {
        "heading": "Plumbing and drains",
        "links": [
          {
            "text": "Plumbing &amp; drains cover",
            "href": "/home-services/plumbing-and-drains/plumbing-and-drains-cover.html"
          },
          {
            "text": "Plumbing &amp; drains repair",
            "href": "/home-services/plumbing-and-drains/plumbing-and-drains-repairs.html"
          }
        ]
      },
      {
        "heading": "Appliances and Electrical",
        "links": [
          {
            "text": "Appliances &amp; electrical cover",
            "href": "/home-services/appliances-and-electrical/appliances-and-electrical-cover.html"
          },
          {
            "text": "Appliances &amp; electrical repair",
            "href": "/home-services/appliances-and-electrical/appliance-and-home-electrical-repairs.html"
          }
        ]
      },
      {
        "heading": "Landlords",
        "links": [
          {
            "text": "Landlords cover",
            "href": "/home-services/landlords/landlord-cover.html"
          },
          {
            "text": "Landlords repair",
            "href": "/home-services/landlords/landlord-repairs.html"
          },
          {
            "text": "Landlords insurance",
            "href": "/home-services/landlords/landlord-insurance.html"
          }
        ]
      }
    ]
  },
  
  {
    "heading": "Your Account",
    "href": "/oam/dashboard",
    "subheadings": [
      {
        "heading": "Your home",
        "links": [
          {
            "text": "Moving home",
            "href": "#"
          },
          {
            "text": "Household circumstances",
            "href": "/oam/account-details/extra-support/v01/"
          }
        ]
      },
      {
        "heading": "Frequent actions",
        "links": [
          {
            "text": "Meter readings",
            "href": "/oam/meter-readings/smart-settings/readings/"
          },
          {
            "text": "Compare my energy usage",
            "href": "#"
          },
          {
            "text": "Book and Track an engineer",
            "href": "#"
          }
        ]
      },
      {
        "heading": "Account",
        "links": [
          {
            "text": "Your summary",
            "href": "/oam/dashboard",
            "data-ns-link": "1"
          },
          {
            "text": "Account details",
            "href": "/oam/account-details/v02/details"
          },
          {
            "text": "Rewards",
            "href": "/oam/dashboard#your-products"
          },
          {
            "text": "Payments",
            "href": "#"
          },
          {
            "text": "Documents",
            "href": "#"
          },
          {
            "text": "Keeping your account safe",
            "href": "#"
          },
          {
            "text": "Log out",
            "href": "/oam/homepage"
          }

        ]
      }
    ]
  }
  ]' secondary='[
  {
    "text":"Accessibility tools",
    "type":"button"
  },
  {
    "text":"My business",
    "href":"/business"
  },
  {
    "text":"Help &amp; Support",
    "href":"/help-and-support"
  },
  {
    "text":"Log out",
    "href":"/oam/homepage"
  }
  ]'>
</ns-header>






<main id="content">
  {{content | safe}}
</main>

<nsx-footer id="footer"></nsx-footer>
