<ns-inputter class="splash triple" name="elec-selector" validation="[&quot;isRequired&quot;]" heading="How often would you like your smart electricity meter to take readings?" value="">

  <ns-selector decoration="bulb">
    <input type="radio" id="elec-half-hourly" name="elec-question" value="half-hourly">
    <label for="elec-half-hourly">Half-hourly</label>
    <div slot="description">
      <ul class="ul-ticked">
        <li>Accurate bills</li>
        <li>Hourly and daily breakdown of your usage</li>
        <li>Heating, lighting and hot water spend predictions</li>
        <li>Compare usage against other homes in your area</li>
        <li>Personalised energy saving tips</li>
      </ul>
    </div>
  </ns-selector>

  <ns-selector decoration="bulb">
    <input type="radio" id="elec-daily" name="elec-question" value="daily">
    <label for="elec-daily">Daily</label>
    <div slot="description">
      <ul class="ul-ticked">
        <li>Accurate bills</li>
        <li>All of the benefits of half-hourly without an hourly breakdown of usage</li>
      </ul>
    </div>
  </ns-selector>

  <ns-selector decoration="bulb">
    <input type="radio" id="elec-monthly" name="elec-question" value="monthly">
    <label for="elec-monthly">Monthly</label>
    <div slot="description">
      <ul class="ul-ticked">
        <li>Accurate bills</li>
      </ul>
    </div>
  </ns-selector>

</ns-inputter>
