<ns-panel>
  <div class="splash">
    <ns-accordion>
      <h2 slot="heading">Having trouble accessing your account?</h2>
      <ns-expander>
        <h3 slot="heading">I’ve accessed my account online before</h3>
        <p>If you’ve accessed an account online before it’s more than likely that you are trying to log in with a different email address from the one which was registered with us. Alternatively you may need to reset your password.</p>
        <p><a href="../login-01-landing">Login using a different email address</a></p>
        <p><a href="../reset-01">Reset your password</a></p>
      </ns-expander>
      <ns-expander>
        <h3 slot="heading">I am an existing customer but haven't accessed my account online before</h3>
        <p>It’s possible that you had joined us pre-digital days or had just never wanted a digital account, but now you do. You’ll need to register for an online account.</p>
        <p><a href="../reg-01-landing">Register for an online account</a></p>
        <p><a href="../login-01-landing">Benefits of an online account</a></p>
        </p>
      </ns-expander>
      <ns-expander>
        <h3 slot="heading">I am not yet a customer of British Gas </h3>
        <p>If you’re not yet a customer of ours, why not join us by getting a quotation online.</p>
        <p><a href="#!">Get a Home Services quote</a></p>
        <p><a href="#!">Get an Energy quote</a></p>
        </p>
      </ns-expander>
      <ns-expander>
        <h3 slot="heading">I am moving into a new property already supplied by British Gas</h3>
        <p>If you are inheriting the supply in your new home, (or anonymous move out journey TBC) or have received a letter from a property developer/builder who had set the account up for you, you’ll need to visit our home move webpage to access your account.</p>
        <p><a href="#!">Take me to home move</a></p>
      </ns-expander>
    </ns-accordion>
  </div>
</ns-panel>
