---
layout: nucleus-header-logged-in.njk
title: Smart meter frequency MVP
eleventyNavigation:
  key: Smart meter frequency MVP
  parent: smart-settings
  title: Smart meter frequency MVP
  excerpt: SEPT 2020 - Smart meter frequency settings for all customer types
---

<ns-landmark type="lakeside">
  <h1 slot="heading">
    <span class="h5">How cool is this.</span>
    <span class="h1 enlighten">{{teamname}}'s <b>{{title}}</b></span>
  </h1>
  <div slot="paragraph">
    <p>This is the index page of <b>{{title}}</b>.</p>
  </div>
</ns-landmark>

<ns-panel>
  <div class="splash triple">
    <ns-card type="support">
      <h3 slot="heading">Joint Invoice Customer</h3>
      <p slot="paragraph">Customer sets frequency of both meters together.</p>
      <a slot="cta" href="joint-invoice">
        <ns-cta type="text">Joint invoice settings</ns-cta>
      </a>
    </ns-card>
    <ns-card type="support">
      <h3 slot="heading">Dual Fuel Customer</h3>
      <p slot="paragraph">Customer sets frequency of both meters individually.</p>
      <a slot="cta" href="dual-fuel">
        <ns-cta type="text">Dual fuel settings</ns-cta>
      </a>
    </ns-card>
    <ns-card type="support">
      <h3 slot="heading">Single Fuel - Gas Customer</h3>
      <p slot="paragraph">Customer sets frequency of gas meter.</p>
      <a slot="cta" href="single-gas">
        <ns-cta type="text">Single fuel - Gas settings</ns-cta>
      </a>
    </ns-card>
    <ns-card type="support">
      <h3 slot="heading">Single Fuel - Electricity Customer</h3>
      <p slot="paragraph">Customer sets frequency of electricity meter.</p>
      <a slot="cta" href="single-elec">
        <ns-cta type="text">Single fuel - Electricity settings</ns-cta>
      </a>
    </ns-card>
  </div>
</ns-panel>

