<ns-card type="support" image="https://user-images.githubusercontent.com/52657167/76956333-b9bdc580-690b-11ea-95c8-fb1b2864d944.jpg">
  <h3 slot="heading">Win tickets to The O2</h3>
  <p slot="paragraph">Enter this month's prize draw for your chance to win a pair of tickets to an event of your choice at The O2.</p>
  <p slot="paragraph"><b>Ends Sunday 1 March</b></p>
  <div slot="cta">
    <ns-cta type="text" href="../rewards-details-o2">Find out more about O2 offer</ns-cta>
  </div>
</ns-card>