---
layout: nucleus-header-logged-out.njk
title: Login and register 02
eleventyNavigation:
  key: Login and register 02
  parent: login-register
  title: Login and register 02
  excerpt: August 2020 - Triage login and register. Postcode lookup.
---

<ns-landmark type="lakeside">
  <h1 slot="heading">
    <span class="h5">How cool is this.</span>
    <span class="h1 enlighten">{{teamname}}'s <b>{{title}}</b></span>
  </h1>
  <div slot="paragraph">
    <p>This is the index page of <b>{{title}}</b>.</p>
  </div>
</ns-landmark>

<ns-panel>
  <div class="splash triple">
    <ns-card type="support">
      <h3 slot="heading">Let's register you</h3>
      <p slot="paragraph">Quisquam debitis sapiente perspiciatis. Omnis qui pariatur nihil animi.</p>
      <a slot="cta" href="reg-01-landing">
        <ns-cta type="text">Register online account</ns-cta>
      </a>
    </ns-card>
    <ns-card type="support">
      <h3 slot="heading">Log in to your account</h3>
      <p slot="paragraph">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
      <a slot="cta" href="login-01-landing">
        <ns-cta type="text">Log in</ns-cta>
      </a>
    </ns-card>
  </div>
</ns-panel>

   
<ns-caveat>
<h2 slot="heading">Happy path credentials</h2>
  <div slot="caveat">
    <p>Details below will activate logic on the prototype for enabled fields. If any alternative information is entered, unhappy paths will be shown.</p>
    <ol>
      <li>Login/Reg Email: known@address.com</li>
      <li>Login Password: correct</li>
      <li>Reg mobile: 07831234567</li>
      <li>Reg Reference number: 85123456789</li>
    </ol>
  </div>
</ns-caveat>

