---
layout: nucleus-header-logged-out.njk
title: Register for your online account
---

<ns-landmark type="lakeside">
  <h1 slot="heading">
    <span class="h5">Registration step 1 of 3.</span>
    <span class="h1 enlighten">Please <b>enter your details</b> as they appear on any bills or correspondence we've sent</span>
  </h1>
  <p slot="paragraph">Your email address: <strong><span nf-model="model.oam-02.email-address">[HERE]</span></strong></p>
  <ns-cta slot="cta" type="text" href="../reg-01-landing">Use a different email</ns-cta>
</ns-landmark>

{% include "./_includes/ns-form-enter-details.njk" -%}

<script>
  function getDynamicURL() {
    var data = document.querySelector('ns-inputter[name="mobile-number"]').value;
    if (data === '07831234567') {
      return '../reg-04b-sms';
    }
    else {
      return '../reg-03';
    }
  }
</script>
