---
title: product-page
---


<ns-landmark type="summit">
  <h1 slot="heading">
    <span class="h5">British Gas Rewards.</span>
    <span class="h1 enlighten">Here to <b>make winter shine</b></span>
  </h1>
  <div slot="paragraph">
    <p>We’ve got plenty of treats to make this colder season one to remember.</p>
  </div>
  <a slot="cta" href="#!">
    <ns-cta>Join Rewards</ns-cta>
  </a>
</ns-landmark>

<ns-panel decoration="">
  <div class="splash">
    <h2>Our way of saying thank you.</h2>
  </div>
  <ns-column class="splash" hockeypitch="3" role="list">
    <ns-card role="listitem" type="support" image="/aem6/content/dam/britishgas/images/ns/homepage/fp-home-card1.jpg">
      <h3 slot="heading" role="heading" aria-level="3">Discounts</h3>
      <p slot="paragraph">Get big discounts on things like family days out and great restaurants, plus some of our other products and services.</p>
    </ns-card>
    <ns-card role="listitem" type="support" image="/aem6/content/dam/britishgas/images/ns/homepage/fp-home-card2.jpg">
      <h3 slot="heading" role="heading" aria-level="3">Giveaways</h3>
      <p slot="paragraph">We love treating our customers to things like movie nights, drinks and ice cream, plus more practical gifts like free energy with Loyalty Days.</p>
    </ns-card>
    <ns-card role="listitem" type="support" image="/aem6/content/dam/britishgas/images/ns/homepage/fp-home-card3.jpg">
      <h3 slot="heading" role="heading" aria-level="3">Prize Draws</h3>
      <p slot="paragraph">Win tickets to see your favourite acts live at The O2, free holidays, Wilbur toys and more. <b>Come see what's up for grabs!</b></p>
    </ns-card>
  </ns-column>
</ns-panel>

<ns-panel decoration="invert-concave-cyan" class="">
  <div class="splash triple">
    <ns-testimonial citeurl="https://this-is-where.the/quote-is/from" author="Jim Bob" medium="twitter">
      <p slot="quote">Check your rewards if you've got an account with British Gas. There are fantastic rewards to choose from at the moment. <b>Many thanks @britishgas</b></p>
    </ns-testimonial>
    <ns-testimonial citeurl="https://this-is-where.the/quote-is/from" author="Jim Bob" medium="twitter">
      <p slot="quote">Check your rewards if you've got an account with British Gas. There are fantastic rewards to choose from at the moment. <b>Many thanks @britishgas</b></p>
    </ns-testimonial>
    <ns-testimonial citeurl="https://this-is-where.the/quote-is/from" author="Jim Bob" medium="twitter">
      <p slot="quote">Check your rewards if you've got an account with British Gas. There are fantastic rewards to choose from at the moment. <b>Many thanks @britishgas</b></p>
    </ns-testimonial>
  </div>
</ns-panel>

<ns-panel>
  <ns-accordion role="tablist">

    <h3 slot="heading">Terms and Conditions for British Gas Rewards</h3>

    <ns-expander id="final-bill" role="tab">
      <h4 slot="heading">Information about how we collect and use your personal data</h4>

      <p>In British Gas Trading Limited, we care about privacy and we protect your personal data.</p>
      <p>We want to be transparent about how we use your personal data, so before you read our Terms and Conditions, we want to point out that British Gas Trading Limited is the data controller of your personal data.</p>
      <p>Although our Privacy Notice does not form part of the contract between you and British Gas Trading Limited, we recommend that you read our Privacy Notice, to understand how we collect and use your personal data and your data protection rights.</p>
      <p>You can <a href="#">find our Privacy Notice here</a>.</p>
    </ns-expander>

    <ns-expander id="final-bill" role="tab">
      <h4 slot="heading">1. About British Gas Rewards</h4>

      <p>1.1 The British Gas Rewards programme (Rewards) is promoted by British Gas Trading Limited (company number 03078711). Whose registered office is at Millstream, Maidenhead Road, Windsor, Berkshire, SL4 5GD. British Gas is a trading name of British Gas Trading Limited.</p>

      <p>1.2 When we use the words “us”, “we” and “our” in this document, we mean British Gas Trading Limited, British Gas Services Limited and all other Centrica plc group companies including those using the British Gas, Scottish Gas, Hive, Connected Homes and Dyno brands. Rewards offers and benefits (Benefits) may be provided by any of these companies.</p>

      <p>1.3 When you join Rewards you accept these terms and conditions (Rules). Extra terms and conditions may apply for individual Benefits (which we will tell you about). If you take part in an individual Benefit, we’ll treat you as if you have accepted the extra terms and conditions for that Benefit.</p>

      <p>1.4 We can change these Rules at any time. You’ll be able to find the latest version at https://www.britishgas.co.uk/aem6/content/dam/britishgas/downloads/rewards/rewards-terms-and-conditions.pdf (PDF 87 KB). If you continue to take part in Rewards after we’ve made changes to the Rules, we’ll treat you as if you’ve accepted these changes.</p>
    </ns-expander>

    <ns-expander role="tab">
      <h4 slot="heading">2. Taking part in Rewards</h4>
      <p>2.1 We can refuse an application for Rewards membership where it is reasonable to do so.</p>
      <p>2.2 To be a Rewards member and to redeem Benefits, you must;</p>
      <p>2.2.1 be a current British Gas Home energy or services customer however customers who only have the Hive Active Heating subscription can’t join Rewards at the moment. Customers of British Gas Business or Sainsbury’s Energy also can’t participate in Rewards;</p>
      <p>2.2.2 be aged 16 years or older and live in either England, Scotland or Wales (however, if you’re under 18, you may not be eligible for certain Benefits);</p>
      <p>2.2.3 have an active online BG account for the British Gas products you hold.</p>
      <p>2.2.4 have set up a Rewards account.</p>
      <p>2.3 Only one Rewards membership can be open per person at any one time. We can refuse to set up a new membership if there is already one open for a person. We can also merge or close duplicate memberships.</p>
      <p>2.4 If you hold a British Gas service or product in joint names, each person named on that account can hold a separate Rewards membership in their sole name. However, these memberships will be linked and the Benefits redeemed through one membership may affect the Benefits available to the other membership(s).</p>
      <p>2.5 Your Rewards membership is only for personal use. You cannot use it for business or commercial purposes.</p>
    </ns-expander>

    <ns-expander role="tab">
      <h4 slot="heading">3. Rewards Benefits and claiming them</h4>
      <p>3.1 We can change or update the Benefits we offer at any time.</p>
      <p>3.2 If you change the products or services you have with us, the Benefits you’re eligible for may change. However, this won’t affect any Benefits you have already claimed before that change took place.</p>
      <p>3.3 As well as offering Benefits connected to British Gas products and services, we may also offer Benefits for products or services provided by third party organisations (Partners).</p>
      <p>3.4 All Benefits are subject to availability. If any Benefit becomes unavailable for any reason, we can withdraw that Benefit straightaway or at any time.</p>
      <p>3.5 Cash alternatives won’t be given for any Benefits.</p>
      <p>3.6 Benefits cannot be transferred to another person, bought, sold or traded in any way, unless the specific terms and conditions for the Benefit state otherwise.</p>
    </ns-expander>

    <ns-expander role="tab">
      <h4 slot="heading">4. Suspending or closing your Rewards membership</h4>
      <p>4.1 Even if you meet the conditions for Rewards eligibility as we described in Rules 2.2 and 2.3, we can stop you redeeming or using Benefits if you owe us money and the amount has been outstanding for more than 28 days.</p>
      <p>4.2 We can stop you claiming a Benefit, suspend or end your Rewards membership if we believe;</p>
      <p>4.2.1 you haven’t followed these Rules or any of the additional terms and conditions for a Benefit;</p>
      <p>4.2.2 you’ve broken the terms and conditions for the products or services you have with us;</p>
      <p>4.2.3 there’s been an abuse or attempted abuse of the Rewards programme using your Rewards membership;</p>
      <p>4.2.4 you’re not eligible for a Rewards membership or to redeem Benefits;</p>
      <p>4.2.6 you’re abusive, violent or offensive to any member of our staff or those of our Partners.</p>
      <p>4.3 We can also refuse to allow you to redeem a Benefit where one of our Partners asks us to for good reason.</p>
      <p>4.4 You can choose to leave Rewards at any time. If you leave, you won’t be able to claim any Benefit offered to you through Rewards. If you leave Rewards, we can make you wait a period of time before we allow you to rejoin.</p>
      <p>4.5 We can close, withdraw, change or cancel Rewards programme at any time. We will give you reasonable notice before we do so.</p>
    </ns-expander>

    <ns-expander role="tab">
      <h4 slot="heading">5. General terms and conditions</h4>
      <p>5.1 If you break any of these Rules and we don’t respond right away, that doesn’t necessarily mean that we won’t do anything about it later on. For example, where the products and services you have with us change and we don’t immediately change the Benefits you’re eligible for, this won’t stop us changing them later on.</p>
      <p>5.2 Nobody else has any rights under this contract. This contract is between you and us. No other person has any rights to enforce any of these Rules.</p>
      <p>5.3 The laws of England and Wales or Scotland apply to these Rules depending on what part of Great Britain you live in, and the Rules are subject to the jurisdiction of the courts in that region.</p>
    </ns-expander>

  </ns-accordion>
</ns-panel>