---
title: Proto two
eleventyNavigation:
  key: Prototype two
  parent: nucleus
  title: Proto two
  excerpt: Experiment with Prototype two.
---

<ns-landmark type="hillside">
  <h1 slot="heading">
    <span class="h5">How cool is this.</span>
    <span class="h1 enlighten">{{givenname}} {{familyname}}'s <b>{{title}}</b></span>
  </h1>
  <div slot="paragraph">
    <p>This is the index page of <b>{{title}}</b>.</p>
  </div>
</ns-landmark>

<ns-panel>
  <div class="splash triple">
    <ns-card type="support" image="https://britishgas.co.uk/nucleus/aem6/content/dam/britishgas/images/ns/homepage/fp-home-card1.jpg">
      <h3 slot="heading">Discounts</h3>
      <p slot="paragraph">Get big discounts on things like family days out and great restaurants, plus some of our other products and services.</p>
    </ns-card>
    <ns-card type="support" image="https://britishgas.co.uk/nucleus/aem6/content/dam/britishgas/images/ns/homepage/fp-home-card2.jpg">
      <h3 slot="heading">Giveaways</h3>
      <p slot="paragraph">We love treating our customers to things like movie nights, drinks and ice cream, plus more practical gifts like free energy with Loyalty Days.</p>
    </ns-card>
    <ns-card type="support" image="https://britishgas.co.uk/nucleus/aem6/content/dam/britishgas/images/ns/homepage/fp-home-card3.jpg">
      <h3 slot="heading">Prize Draws</h3>
      <p slot="paragraph">Win tickets to see your favourite acts live at The O2, Wilbur toys and more.</p>
      <a slot="cta" href="#!">
        <ns-cta type="direct">Enter our prize draw</ns-cta>
      </a>
    </ns-card>
  </div>
</ns-panel>

<ns-panel decoration="invert-concave-yellow">
  <ns-lockup reverse ratio="1x1" type="lockbox">
    <h2 slot="heading">
      <span class="h5">Wooden coloring book.</span>
      <span class="h1 enlighten"><b>Green juice irony</b> single-origin coffee</span>
    </h2>
    <div slot="paragraph">
      <p>Mustache cronut leggings offal tote bag. Twee vaporware organic distillery trust fund kinfolk gentrify letterpress freegan.</p>
      <p>Flexitarian tumeric banjo, <strong>squid chicharrones</strong> pinterest craft beer pop-up portland pork belly. Ramps skateboard umami, jean shorts marfa roof party. <a href="#caveat">2</a></p>
    </div>
    <a slot="cta" href="#!">
      <ns-cta type="direct">Chic dreamcatcher</ns-cta>
    </a>
    <ns-image slot="image" ratio="1x1" src="https://andijcdn.sirv.com/nds/testcard-1x1.png?scale.width&#x3D;720&amp;text.0.text&#x3D;720x720&amp;text.0.position&#x3D;center&amp;text.0.outline.width&#x3D;2"></ns-image>
  </ns-lockup>
</ns-panel>
