---
title: Book track and manage
eleventyNavigation:
  key: Book track and manage
  title: Book track and manage
  excerpt: Let's book your annual service.
---

<ns-landmark type="lakeside">
  <h1 slot="heading">
    <span class="h5">{{eleventyNavigation.title}}.</span>
    <span class="h1">Prototype for booking annual service</span>
  </h1>
  <div slot="paragraph">
    <p>This is the index page of the Nucleus prototype.</p>
  </div>
  <a slot="cta" href="step-01">
    <ns-cta>Step one</ns-cta>
  </a>
</ns-landmark>
