---
title: Step 4
step: 4
heading: Review your details
paragraph1: "[Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.]"
---

<pre>Original</pre>

{% include "./_includes/ns-landmark.njk" %}

<ns-panel>
  <div class="splash">
    <!-- NOTE: @drew-jones - 2020-06-01 - swap these cards for the Label and Data list row -->
    <ns-card type="flat">
      <h3 slot="heading">Appointment</h3>
      <p slot="paragraph">
        Arriving <strong>Sunday 10th May</strong> between
        <strong>10am and 2pm</strong>
      </p>
      <div slot="cta">
        <a href="#!">
          <ns-cta type="text">Amend your appointment</ns-cta>
        </a>
      </div>
    </ns-card>
  </div>
  <div class="splash">
    <ns-card type="flat">
      <h3 slot="heading">Contact details</h3>
      <p slot="paragraph">
        We'll email your booking confirmation to <strong>email@address.com</strong>.
        We'll send you reminder messages and call when we're on our way to <strong>07770777777</strong>.
      </p>
      <div slot="cta">
        <a href="#!">
          <ns-cta type="text">Amend your details</ns-cta>
        </a>
      </div>
    </ns-card>
  </div>
  <div class="splash">
    <a href="../step-05">
      <ns-cta type="direct">Confirm &amp; Book</ns-cta>
    </a>
  </div>
</ns-panel>

<pre>Suggestion</pre>

{% include "./_includes/ns-landmark.njk" %}

<ns-panel>
  <div class="splash">
    <dl class="dl-row">
      <div>
        <dt>Date</dt>
        <dd>Sunday 10th May</dd>
        <dd>
          <a href="#!">Change the date</a>
        </dd>
      </div>
      <div>
        <dt>Time slot</dt>
        <dd>between <b>10am and 2pm</b></dd>
        <dd>
          <a href="#!">Amend your time slot</a>
        </dd>
      </div>
      <div>
        <dt>Email address</dt>
        <dd>email@address.com</dd>
        <dd>
          <a href="#!">Change email address</a>
        </dd>
      </div>
      <div>
        <dt>Phone number</dt>
        <dd>07770777777</dd>
        <dd>
          <a href="#!">Amend your phone number</a>
        </dd>
      </div>
    </dl>
  </div>
  <div class="splash">
    <a slot="cta" href="../step-05">
      <ns-cta type="direct">Confirm &amp; Book</ns-cta>
    </a>
  </div>
</ns-panel>

<pre>Suggestion</pre>

<ns-landmark type="lakeside">
  <h1 slot="heading">
    <span class="h5">Step {{step}} of {{steps}}</span>
    <span class="h1">{{heading}}</span>
  </h1>
  <div slot="paragraph">
    <p>[Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.]</p>
    <dl class="dl-row">
      <div>
        <dt>Date</dt>
        <dd>Sunday 10th May</dd>
        <dd>
          <a href="#!">Change the date</a>
        </dd>
      </div>
      <div>
        <dt>Time slot</dt>
        <dd>between <b>10am and 2pm</b></dd>
        <dd>
          <a href="#!">Amend your time slot</a>
        </dd>
      </div>
      <div>
        <dt>Email address</dt>
        <dd>email@address.com</dd>
        <dd>
          <a href="#!">Change email address</a>
        </dd>
      </div>
      <div>
        <dt>Phone number</dt>
        <dd>07770777777</dd>
        <dd>
          <a href="#!">Amend your phone number</a>
        </dd>
      </div>
    </dl>
  </div>
  <a slot="cta" href="../step-05">
    <ns-cta type="direct">Confirm &amp; Book</ns-cta>
  </a>
</ns-landmark>

