---
title: Step 4
step: 4
heading: Review your details
---

{% include "./_includes/ns-landmark.njk" %}

{% if original %}
<ns-panel>
  <div class="splash">
    <!-- NOTE: @drew-jones - 2020-06-01 - swap these cards for the Label and Data list row -->
    <ns-card type="flat">
      <h3 slot="heading">Appointment</h3>
      <p slot="paragraph">
          Arriving <strong>Sunday 10th May</strong> between
          <strong>10am and 2pm</strong>
      </p>
      <div slot="cta">
        <a href="#!">
          <ns-cta type="text">Amend your appointment</ns-cta>
        </a>
      </div>
    </ns-card>
  </div>
  <div class="splash">
    <ns-card type="flat">
      <h3 slot="heading">Contact details</h3>
      <p slot="paragraph">
            We'll email your booking confirmation to <strong>email@address.com</strong>.
            We'll send you reminder messages and call when we're on our way to <strong>07770777777</strong>.
        </p>
      <div slot="cta">
        <a href="#!">
          <ns-cta type="text">Amend your details</ns-cta>
        </a>
      </div>
    </ns-card>
  </div>
  <div class="splash">
    <a href="../step-05">
      <ns-cta type="direct">Confirm &amp; Book</ns-cta>
    </a>
  </div>
</ns-panel>
{% else %}
<ns-panel>
  <div class="splash">
    <dl class="dl-row">
      <div>
        <dt>Appointment date</dt>
        <dd>
          <p>
            <b>Sunday 10th May</b> between <b>10am and 2pm</b>
          </p>
        </dd>
        <dd>
          <a href="#!">Amend your appointment</a>
        </dd>
      </div>
      <div>
        <dt>Contact details</dt>
        <dd>
          <p>We'll email your booking confirmation to <b>email@address.com</b>.</p>
          <p>We'll send you reminder messages and call when we're on our way to <strong>07770777777</strong>.</p>
        </dd>
        <dd>
          <a href="#!">Amend your details</a>
        </dd>
      </div>
    </dl>
  </div>
  <div class="splash">
    <a href="../step-05">
      <ns-cta type="direct">Confirm &amp; Book</ns-cta>
    </a>
  </div>
</ns-panel>
{% endif %}
