<ns-landmark type="lakeside">
  <h1 slot="heading">
    <span class="h5">Step 3 of 4</span>
    <span class="h1">Keeping you updated</span>
  </h1>
  <p slot="paragraph">
        To keep you posted about your appointment, we need your email address and mobile phone number.
        We won't share or use your details for anything else.
      </p>
</ns-landmark>
<ns-panel>
  <div class="splash">
    <ns-form name="contact-form">
      <ns-inputter validation="[&quot;isEmail&quot;]" helper="We'll email your booking confirmation." name="contact-email">
        <label slot="label">Email address</label>
        <input type="email">
      </ns-inputter>
      <ns-inputter validation="[&quot;isMobileNumber&quot;]" helper="We'll send you reminder messages and call when we're on our way." name="contact-mobile">
        <label slot="label">Mobile phone number</label>
        <input type="tel">
      </ns-inputter>
      <ns-card type="flat">
        <a slot="cta" href="../step-04">
          <ns-cta type="direct">Next</ns-cta>
        </a>
      </ns-card>
    </ns-form>
  </div>
</ns-panel>
