---
layout: nucleus-header-logged-in-journey.njk
title: Step 2
step: 2
heading: Review your details
paragraph1: "Please check your happy with the date and time for the appointment, and amend as necessary."
---

{% include "./_includes/ns-landmark.njk" %}

<ns-panel>
  <div class="splash">
    <dl class="dl-row">
      <div>
        <dt>Date</dt>
        <dd>Thur 10th December</dd>
        <dd>
          <a href="#!">Change the date</a>
        </dd>
      </div>
      <div>
        <dt>Time slot</dt>
        <dd>between <b>10am and 2pm</b></dd>
        <dd>
          <a href="#!">Amend your time slot</a>
        </dd>
      </div>
    </dl>
  </div>
  <div class="splash">
    <a slot="cta" href="../step-03">
      <ns-cta type="direct">Confirm &amp; Book</ns-cta>
    </a>
  </div>
</ns-panel>
