---
branch: 173f13eae5c6ee2409d61680ce63ba0f537081e2
title: Step 2
step: 2
heading: Pick a time slot that suits you
---

{% include "./_includes/ns-landmark.njk" %}

<ns-panel>
  <div class="splash triple">
    <ns-calendar month="7" year="2020" mindate="2020-07-24" maxdate="2020-09-11"></ns-calendar>
  </div>
</ns-panel>

<ns-panel>
  <div class="splash">
    <a href="../step-03">
      <ns-cta type="direct">Continue to next step</ns-cta>
    </a>
  </div>
</ns-panel>
