---
layout: nucleus-header-logged-in-variant-booked.njk
title: Welcome to your account
---


<ns-landmark type="hillside" gradient="invert-ramp-cyan">
  <h1 slot="heading">
    <span class="h5">Confirmation of appointment.</span>
    <span class="h1 enlighten"><b>Good news.</b> Your annual service is booked.</span>
  </h1>
  <p slot="paragraph">We'll arrive on <b>Thur 10th December</b> between <b>10am and 2pm</b>.</p>
  <p slot="paragraph">We'll send a confirmation to <b>email@address.com</b> and call <b>07770777777</b> on the day.</p>
  {# <p slot="paragraph">We'll send a confirmation email to <b>email@address.com</b>.</p>
  <p slot="paragraph">We'll call <b>07770777777</b> on the day.</p> #}
</ns-landmark>
<ns-panel>
  <ns-lockup ratio="1x1" type="locknut" >
    <h2 slot="heading">
      <span class="h2">What happens on the day?</span>
    </h2>
    <div slot="paragraph">
      <p>For your service, we will:</p>
      <ul class="ul-ticked">
        <li>Give you a call to let you know we're on our way</li>
        <li>Aim to take less than a hour</li>
        <li>Make sure your boiler and controls are safe and in working order</li>
        <li>Check your boiler for signs of wear or leaks</li>
        <li>Test the gas pressure</li>
        <li>Inspect your boiler and flue for carbon monoxide leaks</li>
        <li>Take a look at any other appliances covered by your agreement</li>
        <li>Give you a checklist of work completed at the end of our visit</li>
      </ul>
    </div>
    <ns-image slot="image" ratio="1x1" src="https://www.britishgas.co.uk/aem6/content/dam/britishgas/images/ns/homepage/fp-home-lockup2.png"></ns-image>
  </ns-lockup>
  <div class="splash">
    <a href="../../dashboard/hs-hc4-asv-booked/">
      <ns-cta type="direct">My Account Summary</ns-cta>
    </a>
    </div>
</ns-panel>

<ns-panel decoration="invert-concave-grey-light">
  <div class="splash">
    <h2>It's quick and easy with an online account</h2>
  </div>
  <div class="splish triple">
    <ns-card type="section" decoration="boiler">
      <h2 slot="heading">Track your booking</h2>
      <p slot="paragraph">Track your engineer when you've booked a breakdown appointment or service visit.</p>
      <a slot="cta" href="/identity">
        <ns-cta type="direct">Track your booking</ns-cta>
      </a>
    </ns-card>
    <ns-card type="section" decoration="clock">
      <h2 slot="heading">Change appointment</h2>
      <p slot="paragraph">Make a change or cancel your appointment.</p>
      <a slot="cta" href="/identity">
        <ns-cta type="direct">Change your booking</ns-cta>
      </a>
    </ns-card>
    <ns-card type="section" decoration="home">
      <h2 slot="heading">Join Rewards</h2>
      <p slot="paragraph">Enjoy great discounts, exclusive giveaways, tickets to The O2 and much more.</p>
      <a slot="cta" href="/identity">
        <ns-cta type="direct">Register for account</ns-cta>
      </a>
    </ns-card>
  </div>
</ns-panel>
