---
title: HomeCare product
branch: 7d03528d58b070a4c6ad89ef9b1c1d14ee9269cf
eleventyNavigation:
  key: HomeCare product
  parent: hs
  title: HomeCare product
  excerpt: HomeCare product excerpt
---

<ns-panel>
  <ns-lockup ratio="4x3" type="lockjaw">
    <h2 slot="heading">
      <span class="h5">HomeCare.</span>
      <span class="h1 enlighten"><b>Boiler and heating cover</b> for your home</span>
    </h2>
    <div slot="paragraph">
      <p>Keep it covered with HomeCare and we’ll be there when you need us.</p>
    </div>
    <div slot="paragraph">
      <ul class="ul-ticked">
        <li>Unlimited call outs</li>
        <li>A 24/hr customer helpline</li>
        <li>Parts and labour cost included</li>
        <li>14 day cooling off period if you cancel</li>
        <li>Annual Boiler service included</li>
      </ul>
    </div>
    <ns-image slot="image" ratio="4x3" src="https://andijcdn.sirv.com/nds/testcard-4x3.png?scale.width&#x3D;768&amp;text.0.text&#x3D;768x576&amp;text.0.position&#x3D;center&amp;text.0.outline.width&#x3D;2"></ns-image>
  </ns-lockup>
</ns-panel>

<ns-panel decoration="invert-concave-grey-light">
  <div class="splash">
    <h2>Our HomeCare packages</h2>
    <p class="p-normal">Avoid the unexpected costs of breakdowns with our range of HomeCare products lorem ipsum lorem.</p>
  </div>
  <ns-form class="splash">
    <ns-inputter heading="Choose your excess" helper="What does excess mean?">
      <div slot="tip-details">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p>Rerum delectus velit illo, placeat eum expedita debitis minus omnis eligendi eveniet ipsum tenetur veniam molestias iste cum numquam cumque libero in.</p>
      </div>
      <input type="radio" id="excess-1" name="excess" value="60">
      <label for="excess-1"><ns-price pence="6000"></ns-price></label>
      <input type="radio" id="excess-2" name="excess" value="0" checked>
      <label for="excess-2"><ns-price pence="0"></ns-price></label>
    </ns-inputter>
  </ns-form>
  <div class="splash triple">
    <ns-product-card keyline="green-light">
      <h2 slot="name">Essentials</h2>
      <h3 slot="price-heading">Estimated price</h3>
      <div slot="price">
        <p><b><ns-price pence="1400"></ns-price></b> / month</p>
        <p><ns-price pence="156"></ns-price> / year</p>
      </div>
      <div slot="description">
        <ul class="ul-ticked">
          <li>Annual boiler service</li>
          <li>Boiler and controls</li>
        </ul>
      </div>
      <ns-expander slot="expander">
        <h3 slot="heading">What's included?</h3>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
      </ns-expander>
      <ns-expander slot="expander">
        <h3 slot="heading">What's not included?</h3>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
      </ns-expander>
      <ns-cta href="#!" slot="cta">Get a quote</ns-cta>
    </ns-product-card>
    <ns-product-card keyline="blue">
      <h2 slot="name">Essentials</h2>
      <h3 slot="price-heading">Estimated price</h3>
      <div slot="price">
        <p><b><ns-price pence="1400"></ns-price></b> / month</p>
        <p><ns-price pence="156"></ns-price> / year</p>
      </div>
      <div slot="description">
        <ul class="ul-ticked">
          <li>Annual boiler service</li>
          <li>Boiler and controls</li>
        </ul>
      </div>
      <ns-expander slot="expander">
        <h3 slot="heading">What's included?</h3>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
      </ns-expander>
      <ns-expander slot="expander">
        <h3 slot="heading">What's not included?</h3>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
      </ns-expander>
      <ns-cta href="#!" slot="cta">Get a quote</ns-cta>
    </ns-product-card>
    <ns-product-card keyline="yellow">
      <h2 slot="name">Essentials</h2>
      <h3 slot="price-heading">Estimated price</h3>
      <div slot="price">
        <p><b><ns-price pence="1400"></ns-price></b> / month</p>
        <p><ns-price pence="156"></ns-price> / year</p>
      </div>
      <div slot="description">
        <ul class="ul-ticked">
          <li>Annual boiler service</li>
          <li>Boiler and controls</li>
        </ul>
      </div>
      <ns-expander slot="expander">
        <h3 slot="heading">What's included?</h3>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
      </ns-expander>
      <ns-expander slot="expander">
        <h3 slot="heading">What's not included?</h3>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
      </ns-expander>
      <ns-cta href="#!" slot="cta">Get a quote</ns-cta>
    </ns-product-card>
  </div>
</ns-panel>

<ns-panel>
  <div class="splash">
    <h2 class="h4">Some important documents to read</h2>
    <ul class="download-list">
      <li><ns-download href="?.pdf" filesize="2MB">Terms and Conditions</ns-download></li>
      <li><ns-download href="?.pdf" filesize="113Kb">About our insurance services</ns-download></li>
    </ul>
  </div>
</ns-panel>

<ns-panel decoration="invert-bridge-blue">
  <ns-lockup reverse ratio="4x3" type="lockbox">
    <h2 slot="heading">
      <span class="h5">Wooden coloring book.</span>
      <span class="h1 enlighten"><b>Green juice irony</b> single-origin coffee</span>
    </h2>
    <div slot="paragraph">
      <p>Mustache cronut leggings offal tote bag. Twee vaporware organic distillery trust fund kinfolk gentrify letterpress freegan.</p>
    </div>
    <ns-image slot="image" ratio="4x3" src="https://andijcdn.sirv.com/nds/testcard-4x3.png?scale.width&#x3D;768&amp;text.0.text&#x3D;768x576&amp;text.0.position&#x3D;center&amp;text.0.outline.width&#x3D;2"></ns-image>
  </ns-lockup>
</ns-panel>

<ns-panel>
  <div class="splash">
    <h2>Our simple cover products</h2>
    <p class="p-normal">If you don't need a package and just want us to repair your boiler or heating if it stops working, then choose from our simple breakdown cover products. You can also buy once a year service of your boiler.</p>
  </div>
  <div class="splash triple">
    <ns-product-card keyline="blue">
      <h2 slot="name">Essentials</h2>
      <h3 slot="price-heading">Estimated price (<ns-price pence="9900"></ns-price> excess)</h3>
      <div slot="price">
        <p><b><ns-price pence="250"></ns-price></b> / month</p>
      </div>
      <div slot="description">
        <ul class="ul-bullet">
          <li>Includes all repairs to your gas boiler and controls, including your thermostat and programmer, all parts and labour</li>
          <li>No annual boiler service</li>
        </ul>
      </div>
      <ns-expander slot="expander">
        <h3 slot="heading">What's included?</h3>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
      </ns-expander>
      <ns-expander slot="expander">
        <h3 slot="heading">What's not included?</h3>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
      </ns-expander>
      <ns-cta href="#!" slot="cta">Get a quote</ns-cta>
    </ns-product-card>
    <ns-product-card keyline="blue">
      <h2 slot="name">Essentials</h2>
      <h3 slot="price-heading">Estimated price (<ns-price pence="9900"></ns-price> excess)</h3>
      <div slot="price">
        <p><b><ns-price pence="250"></ns-price></b> / month</p>
      </div>
      <div slot="description">
        <ul class="ul-bullet">
          <li>Includes all repairs to your gas boiler and controls, including your thermostat and programmer, all parts and labour</li>
          <li>No annual boiler service</li>
        </ul>
      </div>
      <ns-expander slot="expander">
        <h3 slot="heading">What's included?</h3>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
      </ns-expander>
      <ns-expander slot="expander">
        <h3 slot="heading">What's not included?</h3>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
      </ns-expander>
      <ns-cta href="#!" slot="cta">Get a quote</ns-cta>
    </ns-product-card>
    <ns-product-card keyline="blue">
      <h2 slot="name">Essentials</h2>
      <h3 slot="price-heading">Estimated price (<ns-price pence="9900"></ns-price> excess)</h3>
      <div slot="price">
        <p><b><ns-price pence="250"></ns-price></b> / month</p>
      </div>
      <div slot="description">
        <ul class="ul-bullet">
          <li>Includes all repairs to your gas boiler and controls, including your thermostat and programmer, all parts and labour</li>
          <li>No annual boiler service</li>
        </ul>
      </div>
      <ns-expander slot="expander">
        <h3 slot="heading">What's included?</h3>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
      </ns-expander>
      <ns-expander slot="expander">
        <h3 slot="heading">What's not included?</h3>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
      </ns-expander>
      <ns-cta href="#!" slot="cta">Get a quote</ns-cta>
    </ns-product-card>
  </div>
</ns-panel>

<ns-panel>
  <div class="splash">
    <h2>What our customers think?</h2>
    <div style="padding: 10em; background-color: lightgreen;">
      <h3>Trustpilot</h3>
    </div>
  </div>
</ns-panel>

<ns-panel decoration="circle-yellow-left">
  <ns-lockup reverse ratio="4x3" type="lockjaw">
    <h2 slot="heading">
      <span class="h5">Existing customers.</span>
      <span class="h1 enlighten">Got HomeCare? <b>Book an engineer</b></span>
    </h2>
    <div slot="paragraph">
      <p>From annual service visits, to keeping your boiler at peak performance or one-off repairs when your hot water has stopped working.</p>
    </div>
    <a slot="cta" href="#!">
      <ns-cta type="direct">Book an engineer</ns-cta>
    </a>
    <ns-image slot="image" ratio="4x3" src="https://andijcdn.sirv.com/nds/testcard-4x3.png?scale.width&#x3D;768&amp;text.0.text&#x3D;768x576&amp;text.0.position&#x3D;center&amp;text.0.outline.width&#x3D;2"></ns-image>
  </ns-lockup>
</ns-panel>

<ns-panel>
  <div class="splash">
    <ns-accordion>
      <h2 slot="heading">Frequently asked questions</h2>
      <ns-expander>
        <h3 slot="heading">What does an annual service/first visit include?</h3>
        <p>Bespoke kombucha meditation <a href="#!">cronut</a> austin plaid cold-pressed adaptogen waistcoat pinterest swag chartreuse unicorn dreamcatcher readymade. Green juice before they sold out austin air plant ugh banjo distillery. Kale chips umami cold-pressed cornhole.</p>
        <p>Hell of kickstarter butcher man bun blog kombucha occupy craft beer flexitarian portland tote bag artisan.</p>
      </ns-expander>
      <ns-expander>
        <h3 slot="heading">When will my cover start?</h3>
        <p>Authentic lo-fi ethical put a bird on it. Retro fam gochujang <a href="#!">cronut selvage</a> tote bag mumblecore poke small batch mixtape pug portland readymade.</p>
        <p>fixie bushwick, cornhole hella next level food truck retro intelligentsia. Next level art party godard kickstarter venmo franzen. Helvetica whatever offal craft beer hell of adaptogen.</p>
      </ns-expander>
      <ns-expander>
        <h3 slot="heading">Can I amend or cancel my cover before the contract ends?</h3>
        <p>Bespoke kombucha meditation <a href="#!">cronut</a> austin plaid cold-pressed adaptogen waistcoat pinterest swag chartreuse unicorn dreamcatcher readymade. Green juice before they sold out austin air plant ugh banjo distillery. Kale chips umami cold-pressed cornhole.</p>
        <p>Hell of kickstarter butcher man bun blog kombucha occupy craft beer flexitarian portland tote bag artisan.</p>
      </ns-expander>
      <ns-expander>
        <h3 slot="heading">Can I control my account online?</h3>
        <p>Authentic lo-fi ethical put a bird on it. Retro fam gochujang <a href="#!">cronut selvage</a> tote bag mumblecore poke small batch mixtape pug portland readymade.</p>
        <p>fixie bushwick, cornhole hella next level food truck retro intelligentsia. Next level art party godard kickstarter venmo franzen. Helvetica whatever offal craft beer hell of adaptogen.</p>
      </ns-expander>
      <ns-expander>
        <h3 slot="heading">Can I speak to someone if I have a question about buying HomeCare?</h3>
        <p>Bespoke kombucha meditation <a href="#!">cronut</a> austin plaid cold-pressed adaptogen waistcoat pinterest swag chartreuse unicorn dreamcatcher readymade. Green juice before they sold out austin air plant ugh banjo distillery. Kale chips umami cold-pressed cornhole.</p>
        <p>Hell of kickstarter butcher man bun blog kombucha occupy craft beer flexitarian portland tote bag artisan.</p>
      </ns-expander>
      <ns-expander>
        <h3 slot="heading">How do I book my annual service visit?</h3>
        <p>Authentic lo-fi ethical put a bird on it. Retro fam gochujang <a href="#!">cronut selvage</a> tote bag mumblecore poke small batch mixtape pug portland readymade.</p>
        <p>fixie bushwick, cornhole hella next level food truck retro intelligentsia. Next level art party godard kickstarter venmo franzen. Helvetica whatever offal craft beer hell of adaptogen.</p>
      </ns-expander>
      <ns-expander>
        <h3 slot="heading">How do I book a repair?</h3>
        <p>Bespoke kombucha meditation <a href="#!">cronut</a> austin plaid cold-pressed adaptogen waistcoat pinterest swag chartreuse unicorn dreamcatcher readymade. Green juice before they sold out austin air plant ugh banjo distillery. Kale chips umami cold-pressed cornhole.</p>
        <p>Hell of kickstarter butcher man bun blog kombucha occupy craft beer flexitarian portland tote bag artisan.</p>
      </ns-expander>
      <ns-expander>
        <h3 slot="heading">Why has my HomeCare price changed?</h3>
        <p>Authentic lo-fi ethical put a bird on it. Retro fam gochujang <a href="#!">cronut selvage</a> tote bag mumblecore poke small batch mixtape pug portland readymade.</p>
        <p>fixie bushwick, cornhole hella next level food truck retro intelligentsia. Next level art party godard kickstarter venmo franzen. Helvetica whatever offal craft beer hell of adaptogen.</p>
      </ns-expander>
      <ns-expander>
        <h3 slot="heading">How much is the excess?</h3>
        <p>Bespoke kombucha meditation <a href="#!">cronut</a> austin plaid cold-pressed adaptogen waistcoat pinterest swag chartreuse unicorn dreamcatcher readymade. Green juice before they sold out austin air plant ugh banjo distillery. Kale chips umami cold-pressed cornhole.</p>
        <p>Hell of kickstarter butcher man bun blog kombucha occupy craft beer flexitarian portland tote bag artisan.</p>
      </ns-expander>
    </ns-accordion>
  </div>
</ns-panel>
