---
title: HomeCare product
branch: b0e3b644030c733578887673b0afdd03d0e0714d
eleventyNavigation:
  key: HomeCare product
  parent: hs
  title: HomeCare product
  excerpt: HomeCare product excerpt
---

<ns-panel class="banner"> 
  <ns-lockup ratio="4x3" type="lockjaw" banner="gift-card">
    <h1 slot="heading">
      <span class="h5">HomeCare.</span>
      <span class="h1 enlighten"><b>Boiler and heating cover</b> for your home</span>
    </h1>
    <div slot="paragraph">
      <p>Get the peace of mind you need with complete protection from our HomeCare range or choose a single-cover product. All our cover includes:</p>
    </div>
    <div slot="paragraph">
      <ul class="ul-ticked">
        <li>Engineer expertise as a standard</li>
        <li>Unlimited callouts</li>
        <li>Parts and labour cost included</li>
        <li>A 24/hr customer helpline</li>
        <li>Easy cancellation</li>
      </ul>
    </div>
    <ns-image slot="image" ratio="4x3" src="/assets/hs/home-care/engineer-1.jpg">
      Join HomeCare before 24th August and we’ll send you a giftcard worth £75
    </ns-image>
  </ns-lockup>
</ns-panel>

<ns-panel decoration="invert-concave-grey-light" class="homecare-packages">
  <div class="splash">
    <h2>Our HomeCare packages</h2>
    <p class="p-normal">With cover for your boiler, central heating, plumbing, drains and electrics, our HomeCare range protects you against unwelcome surprises.</p>
  </div>
  <ns-form class="splash">
    <ns-inputter heading="Choose your excess" helper="What does excess mean?" class="excess">
      <div slot="tip-details">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p>Rerum delectus velit illo, placeat eum expedita debitis minus omnis eligendi eveniet ipsum tenetur veniam molestias iste cum numquam cumque libero in.</p>
      </div>
      <input type="radio" id="excess-1" name="excess" value="60">
      <label for="excess-1"><ns-price pence="6000"></ns-price></label>
      <input type="radio" id="excess-2" name="excess" value="0" checked>
      <label for="excess-2"><ns-price pence="0"></ns-price></label>
    </ns-inputter>
  </ns-form>
  <ns-column squashcourt="1" tenniscourt="2" basketballcourt="4" hockeypitch="4" rugbypitch="4" polofield="4">
    <ns-product-card keyline="green-light">
      <h2 slot="name">Essentials</h2>
      <h3 slot="price-heading">Estimated price</h3>
      <div slot="price">
        <p><b><ns-price pence="1400"></ns-price></b> / month</p>
        <p><ns-price pence="15600"></ns-price> / year</p>
      </div>
      <div slot="description">
        <ul class="ul-ticked">
          <li>Full boiler service</li>
          <li>Boiler and controls</li>
        </ul>
      </div>
      <ns-expander slot="expander" highlight="hidden">
        <h3 slot="heading">Get a £25 gift card</h3>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
      </ns-expander>
      <ns-expander slot="expander">
        <h3 slot="heading">What's included?</h3>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
      </ns-expander>
      <ns-expander slot="expander">
        <h3 slot="heading">What's not included?</h3>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
      </ns-expander>
      <ns-cta href="#!" slot="cta">Get a quote</ns-cta>
    </ns-product-card>
    <ns-product-card keyline="blue">
      <h2 slot="name">Standard</h2>
      <h3 slot="price-heading">Estimated price</h3>
      <div slot="price">
        <p><b><ns-price pence="1700"></ns-price></b> / month</p>
        <p><ns-price pence="19200"></ns-price> / year</p>
      </div>
      <div slot="description">
        <ul class="ul-ticked">
          <li>Annual boiler service</li>
          <li>Boiler and controls</li>
          <li>Central heating</li>
        </ul>
      </div>
      <ns-expander slot="expander" highlight="focus">
        <h3 slot="heading">Get a £25 gift card</h3>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
      </ns-expander>
      <ns-expander slot="expander">
        <h3 slot="heading">What's included?</h3>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
      </ns-expander>
      <ns-expander slot="expander">
        <h3 slot="heading">What's not included?</h3>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
      </ns-expander>
      <ns-cta href="#!" slot="cta">Get a quote</ns-cta>
    </ns-product-card>
    <ns-product-card keyline="yellow">
      <h2 slot="name">Plus</h2>
      <h3 slot="price-heading">Estimated price</h3>
      <div slot="price">
        <p><b><ns-price pence="2100"></ns-price></b> / month</p>
        <p><ns-price pence="24000"></ns-price> / year</p>
      </div>
      <div slot="description">
        <ul class="ul-ticked">
          <li>Annual boiler service</li>
          <li>Boiler and controls</li>
          <li>Central heating</li>
          <li>Plumbing</li>
          <li>Drains</li>
        </ul>
      </div>
      <ns-expander slot="expander" highlight="focus">
        <h3 slot="heading">Get a £50 gift card</h3>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
      </ns-expander>
      <ns-expander slot="expander">
        <h3 slot="heading">What's included?</h3>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
      </ns-expander>
      <ns-expander slot="expander">
        <h3 slot="heading">What's not included?</h3>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
      </ns-expander>
      <ns-cta href="#!" slot="cta">Get a quote</ns-cta>
    </ns-product-card>
    <ns-product-card keyline="red">
      <h2 slot="name">Premier</h2>
      <h3 slot="price-heading">Estimated price</h3>
      <div slot="price">
        <p><b><ns-price pence="2350"></ns-price></b> / month</p>
        <p><ns-price pence="27000"></ns-price> / year</p>
      </div>
      <div slot="description">
        <ul class="ul-ticked">
          <li>Annual boiler service</li>
          <li>Boiler and controls</li>
          <li>Central heating</li>
          <li>Plumbing</li>
          <li>Drains</li>
          <li>Home electrics</li>
        </ul>
      </div>
      <ns-expander slot="expander" highlight="focus">
        <h3 slot="heading">Get a £75 gift card</h3>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
      </ns-expander>
      <ns-expander slot="expander">
        <h3 slot="heading">What's included?</h3>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
      </ns-expander>
      <ns-expander slot="expander">
        <h3 slot="heading">What's not included?</h3>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
      </ns-expander>
      <ns-cta href="#!" slot="cta">Get a quote</ns-cta>
    </ns-product-card>
  </ns-column>
  <div class="splash important-documents">
    <h2 class="h4">Some important documents to read</h2>
    <ul class="download-list">
      <li><ns-download href="?.pdf" filesize="2MB">Terms and Conditions</ns-download></li>
      <li><ns-download href="?.pdf" filesize="113Kb">About our insurance services</ns-download></li>
    </ul>
  </div>
</ns-panel>

<ns-panel decoration="invert-bridge-blue">
  <ns-lockup reverse ratio="4x3" type="lockbox">
    <h2 slot="heading">
      <span class="h5">You're in good hands.</span>
      <span class="h1 enlighten"><b>HomeCare starts with a visit</b></span>
    </h2>
    <div slot="paragraph">
      <p>When you join HomeCare, one of our expert engineers will pop in to make sure everything's in good working order with a First Visit.</p>
    </div>
    <div slot="paragraph">
      <p>And to make sure that your system continues to run safely and efficiently, we’ll follow up with a Service Visit later in that year.</p>
    </div>
    <ns-image slot="image" ratio="4x3" src="/assets/hs/home-care/engineer-2.jpg"></ns-image>
  </ns-lockup>
</ns-panel>

<ns-panel>
  <div class="splash">
    <h2>Our breakdown protection</h2>
    <p class="p-normal">If you don’t need a package, and just want protection for your Boiler and Controls or Central Heating, we’ve got you covered. Not to mention, you can buy a service for your boiler and we’ll make sure it ticks all the boxes.</p>
  </div>
  <div class="splash triple">
    <ns-product-card keyline="blue">
      <h2 slot="name">Boiler and Controls</h2>
      <h3 slot="price-heading">Estimated price (<ns-price pence="9900"></ns-price> excess)</h3>
      <div slot="price">
        <p><b><ns-price pence="250"></ns-price></b> / month</p>
      </div>
      <div slot="description">
        <ul class="ul-bullet">
          <li>All repairs to your gas boiler and controls, including your thermostat and programmer, all parts and labour</li>
          <li>No boiler service</li>
        </ul>
      </div>
      <ns-expander slot="expander">
        <h3 slot="heading">What's included?</h3>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
      </ns-expander>
      <ns-expander slot="expander">
        <h3 slot="heading">What's not included?</h3>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
      </ns-expander>
      <ns-cta href="#!" slot="cta">Get a quote</ns-cta>
    </ns-product-card>
    <ns-product-card keyline="blue">
      <h2 slot="name">Central Heating</h2>
      <h3 slot="price-heading">Estimated price (<ns-price pence="9900"></ns-price> excess)</h3>
      <div slot="price">
        <p><b><ns-price pence="550"></ns-price></b> / month</p>
      </div>
      <div slot="description">
        <ul class="ul-bullet">
          <li>All repairs to your gas central heating system, including boiler, controls, radiators and hot water cylinder</li>
          <li>No boiler service</li>
        </ul>
      </div>
      <ns-expander slot="expander">
        <h3 slot="heading">What's included?</h3>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
      </ns-expander>
      <ns-expander slot="expander">
        <h3 slot="heading">What's not included?</h3>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
      </ns-expander>
      <ns-cta href="#!" slot="cta">Get a quote</ns-cta>
    </ns-product-card>
    <ns-product-card keyline="blue">
      <h2 slot="name">Boiler Service</h2>
      <h3 slot="price-heading">Estimated price</h3>
      <div slot="price">
        <p><b><ns-price pence="8500"></ns-price></b></p>
      </div>
      <div slot="description">
        <ul class="ul-bullet">
          <li>One off service for your gas boiler to make sure its running safely and efficiently</li>
          <li>Pressure and carbon monoxide checks included</li>
        </ul>
      </div>
      <ns-expander slot="expander">
        <h3 slot="heading">What's included?</h3>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
      </ns-expander>
      <ns-expander slot="expander">
        <h3 slot="heading">What's not included?</h3>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
        <p>Expander details</p>
      </ns-expander>
      <ns-cta href="#!" slot="cta">Get a quote</ns-cta>
    </ns-product-card>
  </div>
</ns-panel>

<ns-panel class="trustpilot">
  <div class="splash">
    <h2>What our customers think?</h2>
  </div>
  <div class="splash triple trustpilot" role="list">
    <ns-card role="listitem" type="flat" class="five-stars six-mins">
      <h3 slot="heading" role="heading" aria-level="3">Excellent work.</h3>
      <p slot="paragraph" class="paragraph">I've always had first class service from British Gas. Appointments are always kept on time and the engineers are friendly and efficient</p>
      <p slot="paragraph" class="name">Teresa Sykala</p>
    </ns-card>
    <ns-card role="listitem" type="flat" class="four-stars six-mins">
      <h3 slot="heading" role="heading" aria-level="3">Well organised</h3>
      <p slot="paragraph" class="paragraph">I have been a loyal customer since 1969 and will stay loyal. I have always had excellent service when needed by professional, friendly engineers.</p>
      <p slot="paragraph" class="name">Mrs Jane Vlitos</p>
    </ns-card>
    <ns-card role="listitem" type="flat" class="four-stars twelve-mins">
      <h3 slot="heading" role="heading" aria-level="3">Great service</h3>
      <p slot="paragraph" class="paragraph">The service you provide is excellent, as I phoned in the morning re no hot water and your engineer was calling that afternoon</p>
      <p slot="paragraph" class="name">Jane Pierce</p>
    </ns-card>
  </div>
  <p class="h5 enlighten rating">Rated <b>3.7</b> out of 5 based on <b><u>38,290 reviews</u></b> on <span class="trustpilot-logo"></span></p>
</ns-panel>

<ns-panel decoration="circle-yellow-left">
  <ns-lockup reverse ratio="4x3" type="lockjaw">
    <h2 slot="heading">
      <span class="h5">Existing customers.</span>
      <span class="h1 enlighten">Got HomeCare? <b>Book an engineer</b></span>
    </h2>
    <div slot="paragraph">
      <p>From annual service visits, to keeping your boiler at peak performance or one-off repairs when your hot water has stopped working.</p>
    </div>
    <a slot="cta" href="#!">
      <ns-cta type="direct">Book an engineer</ns-cta>
    </a>
    <ns-image slot="image" ratio="4x3" src="/assets/hs/home-care/engineer-3.jpg"></ns-image>
  </ns-lockup>
</ns-panel>

<ns-panel>
  <div class="splash">
    <ns-accordion>
      <h2 slot="heading">Frequently asked questions</h2>
      <ns-expander>
        <h3 slot="heading">What does an annual service/first visit include?</h3>
        <p>Bespoke kombucha meditation <a href="#!">cronut</a> austin plaid cold-pressed adaptogen waistcoat pinterest swag chartreuse unicorn dreamcatcher readymade. Green juice before they sold out austin air plant ugh banjo distillery. Kale chips umami cold-pressed cornhole.</p>
        <p>Hell of kickstarter butcher man bun blog kombucha occupy craft beer flexitarian portland tote bag artisan.</p>
      </ns-expander>
      <ns-expander>
        <h3 slot="heading">When will my cover start?</h3>
        <p>Authentic lo-fi ethical put a bird on it. Retro fam gochujang <a href="#!">cronut selvage</a> tote bag mumblecore poke small batch mixtape pug portland readymade.</p>
        <p>fixie bushwick, cornhole hella next level food truck retro intelligentsia. Next level art party godard kickstarter venmo franzen. Helvetica whatever offal craft beer hell of adaptogen.</p>
      </ns-expander>
      <ns-expander>
        <h3 slot="heading">Can I amend or cancel my cover before the contract ends?</h3>
        <p>Bespoke kombucha meditation <a href="#!">cronut</a> austin plaid cold-pressed adaptogen waistcoat pinterest swag chartreuse unicorn dreamcatcher readymade. Green juice before they sold out austin air plant ugh banjo distillery. Kale chips umami cold-pressed cornhole.</p>
        <p>Hell of kickstarter butcher man bun blog kombucha occupy craft beer flexitarian portland tote bag artisan.</p>
      </ns-expander>
      <ns-expander>
        <h3 slot="heading">Can I control my account online?</h3>
        <p>Authentic lo-fi ethical put a bird on it. Retro fam gochujang <a href="#!">cronut selvage</a> tote bag mumblecore poke small batch mixtape pug portland readymade.</p>
        <p>fixie bushwick, cornhole hella next level food truck retro intelligentsia. Next level art party godard kickstarter venmo franzen. Helvetica whatever offal craft beer hell of adaptogen.</p>
      </ns-expander>
      <ns-expander>
        <h3 slot="heading">Can I speak to someone if I have a question about buying HomeCare?</h3>
        <p>Bespoke kombucha meditation <a href="#!">cronut</a> austin plaid cold-pressed adaptogen waistcoat pinterest swag chartreuse unicorn dreamcatcher readymade. Green juice before they sold out austin air plant ugh banjo distillery. Kale chips umami cold-pressed cornhole.</p>
        <p>Hell of kickstarter butcher man bun blog kombucha occupy craft beer flexitarian portland tote bag artisan.</p>
      </ns-expander>
      <ns-expander>
        <h3 slot="heading">How do I book my annual service visit?</h3>
        <p>Authentic lo-fi ethical put a bird on it. Retro fam gochujang <a href="#!">cronut selvage</a> tote bag mumblecore poke small batch mixtape pug portland readymade.</p>
        <p>fixie bushwick, cornhole hella next level food truck retro intelligentsia. Next level art party godard kickstarter venmo franzen. Helvetica whatever offal craft beer hell of adaptogen.</p>
      </ns-expander>
      <ns-expander>
        <h3 slot="heading">How do I book a repair?</h3>
        <p>Bespoke kombucha meditation <a href="#!">cronut</a> austin plaid cold-pressed adaptogen waistcoat pinterest swag chartreuse unicorn dreamcatcher readymade. Green juice before they sold out austin air plant ugh banjo distillery. Kale chips umami cold-pressed cornhole.</p>
        <p>Hell of kickstarter butcher man bun blog kombucha occupy craft beer flexitarian portland tote bag artisan.</p>
      </ns-expander>
      <ns-expander>
        <h3 slot="heading">Why has my HomeCare price changed?</h3>
        <p>Authentic lo-fi ethical put a bird on it. Retro fam gochujang <a href="#!">cronut selvage</a> tote bag mumblecore poke small batch mixtape pug portland readymade.</p>
        <p>fixie bushwick, cornhole hella next level food truck retro intelligentsia. Next level art party godard kickstarter venmo franzen. Helvetica whatever offal craft beer hell of adaptogen.</p>
      </ns-expander>
      <ns-expander>
        <h3 slot="heading">How much is the excess?</h3>
        <p>Bespoke kombucha meditation <a href="#!">cronut</a> austin plaid cold-pressed adaptogen waistcoat pinterest swag chartreuse unicorn dreamcatcher readymade. Green juice before they sold out austin air plant ugh banjo distillery. Kale chips umami cold-pressed cornhole.</p>
        <p>Hell of kickstarter butcher man bun blog kombucha occupy craft beer flexitarian portland tote bag artisan.</p>
      </ns-expander>
    </ns-accordion>
  </div>
</ns-panel>
