---
title: Register for your online account
---

<ns-landmark type="lakeside">
  <h1 slot="heading">
    <span class="h5">Registration step 2 of 3.</span>
    <span class="h1">Please check your details</span>
  </h1>
  <p slot="paragraph">We can’t find your account using the information that you’ve just provided.</p>
</ns-landmark>

<ns-panel>
  <div class="splash">
    <ns-highlighter type="info">
      <h2 slot="heading">Details need to be consistent</h2>
      <p>To help us find your account, please ensure your information appears exactly as it’s shown on any bills or letter we’ve sent you. You can edit your information below.</p>
    </ns-highlighter>
  </div>
</ns-panel>

<ns-panel>
  <div class="splash">
    <dl class="dl-row">
      <div>
        <dt>Email address</dt>
        <dd><span nf-model="model.oam-03.email-address">un-known@address.com</span></dd>
        <dd>
          <a href="../reg-01-landing">Edit email</a>
        </dd>
      </div>
      <div>
        <dt>First name</dt>
        <dd><span nf-model="model.oam-03.first-name">Manage</span></dd>
        <dd>
          <a href="../reg-02a">Edit first name</a>
        </dd>
      </div>
      <div>
        <dt>Surname</dt>
        <dd><span nf-model="model.oam-03.surname">Known</span></dd>
        <dd>
          <a href="../reg-02a">Edit surname</a>
        </dd>
      </div>
      <div>
        <dt>Mobile number</dt>
        <dd><span nf-model="model.oam-03.mobile-number">Unavailable</span></dd>
        <dd>
          <a href="../reg-02a">Edit mobile number</a>
        </dd>
      </div>
      <div>
        <dt>Postcode</dt>
        <dd><span nf-model="model.oam-03.postcode">W1W 1WW</span></dd>
        <dd>
          <a href="../reg-02a">Edit postcode</a>
        </dd>
      </div>
      <div>
        <dt>Reference number</dt>
        <dd><span nf-model="model.oam-03.reference-number">W1W 1WW</span></dd>
        <dd>
          <a href="../reg-03">Edit reference number</a>
        </dd>
      </div>
    </dl>
  </div>
</ns-panel>
