---
title: landmark image testing
---

<ns-landmark image="https://www.britishgas.co.uk/aem6/content/dam/bg-partner-aem/aem/ev/upload-photo/charging.jpg" alt="A lady plugging in a cable to charge her electric vehicle" type="summit">
  <!--<h1 slot="heading">
    <span class="h5">Lorem</span>
    <span class="h1 enlighten">Leaks, drips and blockages fixed <b> from 99p a month</b><a aria-label="Skip to caveat section" href="#caveat" data-di-id="#">1</a></span>
  </h1>
  <p slot="paragraph">We're here to get things back on track</p>
  <a slot="action" href="#!">
    <ns-cta type="direct">Get cover</ns-cta>
  </a>-->
</ns-landmark>
