---
title: Priority services register
eleventyNavigation:
  key: Vulnerability project
  title: Priority services register
  excerpt: Working closely on the accessibility for the vulnerability experience pattern.
---

<ns-landmark type="lakeside">
  <h1 slot="heading">
    <span class="h5">Your account.</span>
    <span class="h1">Account details</span>
  </h1>
  <p slot="paragraph">Account management, personal information, password and marketing settings.</p>
</ns-landmark>

<ns-panel>
  <div class="splash">
    <dl class="dl-row">
      <div>
        <dt>Name</dt>
        <dd>Scottie Robertson</dd>
        <dd>
          <a href="#!">Update name</a>
        </dd>
      </div>
      <div>
        <dt>Correspondence address</dt>
        <dd>
          11 Coombe Pine<br>
          Bracknell<br>
          RG12 0TJ
        </dd>
        <dd>
          <a href="#!">Update address</a>
        </dd>
      </div>
      <div>
        <dt>Contact deails</dt>
        <dd>
          <p>07530099887</p>
          <p>scott@email.com</p>
        </dd>
        <dd>
          <a href="#!">Update contact details</a>
        </dd>
      </div>
      <div>
        <dt>Login details</dt>
        <dd>
          <p>scott@email.com</p>
          <p>**********</p>
        </dd>
        <dd>
          <a href="#!">Change login details</a>
        </dd>
      </div>
      <div>
        <dt>Marketing</dt>
        <dd>
          <ul class="ul-ticked">
            <li>Email</li>
            <li>Text</li>
            <li>Phone</li>
            <li>Post</li>
          </ul>
        </dd>
        <dd>
          <a href="#!">Change marketing preferences</a>
        </dd>
      </div>
      <div>
        <dt>Household vulnerabilities</dt>
        <dd>
          <ul class="ul-ticked">
            <li>Sensory</li>
            <li>Life circumstances</li>
            <li>Health and illness</li>
            <li>Mobility</li>
          </ul>
        </dd>
        <dd>
          <a href="#!">Update household vulnerabilities</a>
        </dd>
      </div>
    </dl>
  </div>
</ns-panel>

<ns-panel decoration="invert-bridge-grey-light">
  <div class="splash" id="options">
    <h2>We can offer your extra support</h2>
    <p>Here's how we can help and provide extra support to you or persons living at your address you've selected.</p>
    <p>These are based per household. If you have more than one property with us you'll need to change the selected property at the top of the page.</p>
  </div>
  <div class="splash triple">
    <ns-card type="support" image="https://cdn-assets-eu.frontify.com/s3/frontify-enterprise-files-eu/eyJwYXRoIjoiY2VudHJpY2FcL2FjY291bnRzXC8wZlwvNDAwMDE1N1wvcHJvamVjdHNcLzlcL2Fzc2V0c1wvZmVcLzIzMzc5XC80ODNhZTRhZmEzOTcyNWFiMGJiYTE1ZDEwN2YwZGQyZS0xNTg3OTc4NDUxLmpwZyJ9:centrica:XWfv5HHPb3SUrSNJuu30a08tp-MG_1LM-BLEf-j8lFg?width=400">
      <h3 slot="heading">Warm Home Discount</h3>
      <p slot="paragraph">Keeping your home warm in winter can be pricey. You may be eligible for a one-off discount of £140.</p>
      <a slot="cta" href="#!">
        <ns-cta type="text">Find out more about our Warm Home Discount</ns-cta>
      </a>
    </ns-card>
    <ns-card type="support" image="https://cdn-assets-eu.frontify.com/s3/frontify-enterprise-files-eu/eyJwYXRoIjoiY2VudHJpY2FcL2FjY291bnRzXC8wZlwvNDAwMDE1N1wvcHJvamVjdHNcLzlcL2Fzc2V0c1wvOWNcLzE5Mzc3XC80MTljNDkwODg0NjM5MWU3ODQ0OGQ5ODc1NjI1MDk3NS0xNTY3MDgxNTQyLmpwZyJ9:centrica:pg-6fWYHVG0grlljXQv7u8DlFrcVdGt8b-XVkInca9M?width=400">
      <h3 slot="heading">SignVideo</h3>
      <p slot="paragraph">We've partnered with SignVideo to provide free British Sign Language video interpreters from Monday to Friday, 9am to 5pm.</p>
      <a slot="cta" href="#!">
        <ns-cta type="text">Connect to a British Sign Language interpreter</ns-cta>
      </a>
    </ns-card>
    <ns-card type="support" image="https://cdn-assets-eu.frontify.com/s3/frontify-enterprise-files-eu/eyJwYXRoIjoiY2VudHJpY2FcL2FjY291bnRzXC8wZlwvNDAwMDE1N1wvcHJvamVjdHNcLzlcL2Fzc2V0c1wvZGRcLzIzMzc3XC9iYmNkY2IyODYxYjQzYjRlNDJlMzEwMGQ3NDE0MjA5Mi0xNTg3OTc4NDUxLmpwZyJ9:centrica:FQ4nG0Vht6eKh-LpQ4v-wjLEDXuFGGPMae-0t1qFQoc?width=400">
      <h3 slot="heading">Support for unpaid carers.</h3>
      <p slot="paragraph">Carers UK can help provide information and support to unpaid carers. They also run a helpline for carers and their families.</p>
      <a slot="cta" href="#!">
        <ns-cta type="text">Join our conversation about caring</ns-cta>
      </a>
    </ns-card>
  </div>
</ns-panel>

<ns-panel>
  <div class="splash">
    <h2 class="h2">Extra help and support</h2>
    <p>If you or someone living with you has specific needs, you maybe eligible for additional services, <b>priority treatment</b> or advanced warning when there's a planned interruption of supply:</p>
    <ul class="ul-bullet">
      <li>Supply Interruption Advance Warnings</li>
      <li>Free annual gas safety checks</li>
      <li>Require bill formats like braille, large print or talking bills</li>
      <li>Your meters moved and quarterly meter readings</li>
      <li>Peace of mind through our and nominee scheme</li>
    </ul>
  </div>
</ns-panel>

<ns-tabs>
  <ns-tab slot="tab" selected="true">Sensory and mobility</ns-tab>
  <ns-panel slot="panel">
    <div class="splash">
      {% include "./_includes/01-sensory-mobility.njk" %}
    </div>
  </ns-panel>
  <ns-tab slot="tab">Cognitive and Learning</ns-tab>
  <ns-panel slot="panel">
    <div class="splash">
      {% include "./_includes/02-cognitive-learning.njk" %}
    </div>
  </ns-panel>
  <ns-tab slot="tab">Medical and Illnesses</ns-tab>
  <ns-panel slot="panel">
    <div class="splash">
      {% include "./_includes/03-medical-illnesses.njk" %}
    </div>
  </ns-panel>
  <ns-tab slot="tab">Elderly and Support</ns-tab>
  <ns-panel slot="panel">
    <div class="splash">
      {% include "./_includes/04-elderly-support.njk" %}
    </div>
  </ns-panel>
  <ns-tab slot="tab">Communication</ns-tab>
  <ns-panel slot="panel">
    <div class="splash">
      {% include "./_includes/05-communication.njk" %}
    </div>
  </ns-panel>
  <ns-tab slot="tab">Personal circumstances</ns-tab>
  <ns-panel slot="panel">
    <div class="splash">
      {% include "./_includes/06-personal-circumstance.njk" %}
    </div>
  </ns-panel>
</ns-tabs>
<ns-panel>
  <div class="splash">
    <h2>We’ve signed up to the Priority Services Register Promise.</h2>
    <p>You consent to being added to the PSR and sharing your information - with those who need to know, like gas transporters and electricity distributors.</p>
    <p>We'll always follow privacy laws and your PSR information <b>will never be used for marketing.</b> Once you’ve joined we may contact you to make sure your details are accurate and up to date. If your situation changes, or you don’t want to be on the PSR anymore, you can simply update your details through your account online.</p>
    <ns-inputter validation="[]" helper="What is the Priority Services Register?" name="consent">
      <div slot="tip-details">This has been made by all participating energy companies in the UK. We’ll only share details about your personal situation as agreed with you so that our trusted partners can tailor their services to <b>help you</b>, and you’ll get <b>extra support</b> when you need it.</div>
      <input id="consent" type="checkbox">
      <label for="consent">I consent</label>
    </ns-inputter>
    <ns-cta type="direct">Update details</ns-cta>
  </div>
</ns-panel>