---
title: Priority services register
eleventyNavigation:
  key: Vulnerability project
  title: Priority services register
  excerpt: Working closely on the accessibility for the vulnerability experience pattern.
---

<ns-landmark type="lakeside">
  <h1 slot="heading">
    <span class="h5">Your account.</span>
    <span class="h1">Account details</span>
  </h1>
  <p slot="paragraph">Account management, personal information, password and marketing settings.</p>
</ns-landmark>

<ns-panel>
  <div class="splash">
    <dl class="dl-row">
      <div>
        <dt>Name</dt>
        <dd>Scottie Robertson</dd>
        <dd>
          <a href="#!">Update name</a>
        </dd>
      </div>
      <div>
        <dt>Correspondence address</dt>
        <dd>
          11 Coombe Pine<br>
          Bracknell<br>
          RG12 0TJ
        </dd>
        <dd>
          <a href="#!">Change address</a>
        </dd>
      </div>
      <div>
        <dt>Contact deails</dt>
        <dd>
          <p>07530 099887</p>
          <p>01483 938842</p>
        </dd>
        <dd>
          <a href="#!">Update contact details</a>
        </dd>
      </div>
      <div>
        <dt>Login details</dt>
        <dd>
          <p>scott@email.com</p>
          <p>**********</p>
        </dd>
        <dd>
          <a href="#!">Edit login details</a>
        </dd>
      </div>
      <div>
        <dt>Marketing</dt>
        <dd>
          <ul class="ul-ticked">
            <li>Email</li>
            <li>SMS</li>
          </ul>
        </dd>
        <dd>
          <a href="#!">Change marketing preferences</a>
        </dd>
      </div>
    </dl>
  </div>
</ns-panel>

<ns-panel>
  <div class="splash">
    <h2 class="h2">Household vulnerabilities</h2>
    <p>If you or someone living with you has specific needs, you maybe eligible for additional services, <b>priority treatment</b> or advanced warning when there's a planned interruption of supply:</p>
    <ul class="ul-bullet">
      <li>Supply interruption advance warnings</li>
      <li>Free annual gas safety checks</li>
      <li>Require bill formats like braille, large print or talking bills</li>
      <li>Your meters moved and quarterly meter readings</li>
      <li>Peace of mind through our and nominee scheme</li>
    </ul>
  </div>
  <ns-form class="splash">
    <ns-inputter validation="[&quot;isRequired&quot;]" heading="Which address would you like to use?" name="name-a">
      <input type="radio" id="answer-a" name="name-a" value="a">
      <label for="answer-a">22 Woodmill Court, Ascot, SL5 8FF</label>
      <input type="radio" id="answer-b" name="name-a" value="b">
      <label for="answer-b">11 Coombe Pine, Bracknell, RG12 0TJ</label>
    </ns-inputter>
  </ns-form>
</ns-panel>

<ns-panel>
  <div class="splash">
    <ns-accordion>
      <h2 slot="heading">Is anyone in your household affected by any of these?</h2>
      <ns-expander>
        <h3 slot="heading">Sensory and mobility</h3>
        {% include "./_includes/01-sensory-mobility.njk" %}
      </ns-expander>
      <ns-expander>
        <h3 slot="heading">Cognitive and learning</h3>
        {% include "./_includes/02-cognitive-learning.njk" %}
      </ns-expander>
      <ns-expander>
        <h3 slot="heading">Medical and illnesses</h3>
        {% include "./_includes/03-medical-illnesses.njk" %}
      </ns-expander>
      <ns-expander>
        <h3 slot="heading">Elderly and support</h3>
        {% include "./_includes/04-elderly-support.njk" %}
      </ns-expander>
      <ns-expander>
        <h3 slot="heading">Communication and language</h3>
        {% include "./_includes/05-communication.njk" %}
      </ns-expander>
      <ns-expander>
        <h3 slot="heading">Personal circumstances</h3>
        {% include "./_includes/06-personal-circumstance.njk" %}
      </ns-expander>
    </ns-accordion>
  </div>
  <div class="splash">
    <ns-cta type="direct">Confirm household vulnerabilities</ns-cta>
  </div>
</ns-panel>
