---
title: Home Services app
eleventyNavigation:
  key: Home Services app pages
  parent: hs
  title: Boost your cover
  excerpt: Bla Bla Bla
---

<ns-panel>
  <div class="splash">
    <h1>Boost your cover</h1>
    <h2>Check out these great value addons for your HomeCare</h2>
  </div>
  <div class="splash">
    <h3>Protect your appliances</h3>
  </div>
</ns-panel>

<ns-caveat type="standard">
  <h2 slot="heading">Additional information</h2>
  <div slot="caveat">
    <ol>
      <li>
        <p>Offer is available to new to brand domestic homeowners and landlords who buy HomeCare Two, HomeCare Three or HomeCare Four online between 29th September and 25th November 2020. Offer is for the first year only and is not available with any other offer or promotion, other than Refer A Friend. You may not be eligible for the offer if you have had a HomeCare product with similar features in the last 3 months, or more than once in the last 3 years. Offer excludes HomeCare One, Multi-Premise Landlords, and existing HomeCare One to Four customers. This offer can be withdrawn at any time. This is an online only offer.</p>
      </li>
    </ol>
  </div>
</ns-caveat>
