---
title: dept-management
eleventyNavigation:
  key: Dept management key
  parent: bp
  title: Dept management title
  excerpt: Dept management excerpt
---

<ns-landmark type="lakeside">
  <h1 slot="heading">
    <span class="h5">{{eleventyNavigation.title}}.</span>
    <span class="h1">Struggling to pay</span>
  </h1>
  <div slot="paragraph">
    <p>This is the index page of the Nucleus prototype. When you're ready, move on.</p>
  </div>
  <a slot="cta" href="step-01">
    <ns-cta>Start the journey</ns-cta>
  </a>
</ns-landmark>
