<div>
  <dt>Marketing</dt>

  <input class="show-checkbox" type="checkbox" id="account-marketing">

  <dd class="show-data">
    <ul class="ul-ticked">
            <li>Email</li>
            <li>SMS</li>
          </ul>
  </dd>
  <dd class="show-data">
<label class="show-cta" for="account-marketing">Change marketing preferences</label>
        </dd>

  <dd class="show-form">
    <label class="show-cta show-cancel" for="account-marketing">Cancel</label>
  <ns-form">
  <ns-inputter mask="" separator="" validation="[&quot;isRequired&quot;]" heading="Your marketing preferences" helper="From time to time, we’d like to let you know about personalised offers and relevant products from British Gas and its related brands (Scottish Gas, Local Heroes, Dyno and Hive). Please choose the ways you’d like us to stay in touch. (You can change your mind at any time)." name="marketing" value="email,sms"> 
  
   <input type="checkbox" id="question-gas" name="question" value="email">  <label for="question-gas">Email</label>  
   <input type="checkbox" id="question-elec" name="question" value="sms">  <label for="question-elec">SMS</label>
   <input type="checkbox" id="question-elec" name="question" value="mobile">  <label for="question-elec">Mobile</label>
   <input type="checkbox" id="question-elec" name="question" value="landline">  <label for="question-elec">Landline</label>
   <input type="checkbox" id="question-elec" name="question" value="post">  <label for="question-elec">Post</label>
   </ns-inputter>
      <ns-cta href="#!">Save marketing preferences</ns-cta>
    </ns-form>

  </dd>
</div>

