<div>
  <dt>Name</dt>

  <input class="show-checkbox" type="checkbox" id="account-name">

  <dd class="show-data">
    <p><span nf-model="model.oam-02.first-name">[first-name]</span> <span nf-model="model.oam-02.surname">[surname]</span></p>
    <p><label class="show-cta" for="account-name">Update name</label></p>
  </dd>

  <dd class="show-form">
    <label class="show-cta show-cancel" for="account-name">Cancel</label>
    <ns-form class="style-hack" nf-model="model.oam-02">
      <ns-inputter validation="[&quot;isRequired&quot;,&quot;isFirstName&quot;]" name="first-name" value="">
        <label slot="label">First name</label>
        <input autocomplete="given-name" type="text">
      </ns-inputter>
      <ns-inputter validation="[&quot;isRequired&quot;,&quot;isLastName&quot;]" name="surname" value="">
        <label slot="label">Surname</label>
        <input autocomplete="family-name" type="text">
      </ns-inputter>
      <ns-cta nf-href="../success">Save name</ns-cta>
    </ns-form>
  </dd>
</div>
