<div class="splash">
  <h3 class="after-value">Your home</h3>

  <ns-inputter class="style-hack drop-switch" validation="[&quot;isRequired&quot;]" heading="Select which home" name="select-an-option" value="">
    <div slot="tip-details">..........</div>
    <label slot="label">Select which home</label>
    <select>
      <option value="value-01"><span nf-model="model.oam-02.address-selector">One Infinite Loop, Cupertino</span></option>
      <option value="value-02">Buckingham palace</span></option>
    </select>
  </ns-inputter>

  <dl class="dl-row drop-switch-selection">
    <div class="drop-switch-option-a">
      <dt>Extra support</dt>
      <dd>
        <p>You can join the Priority Services Register and <a href="../../extra-support/v01">let us know any specific circumstances</a> relating to your household so that we can provide a better service specific to your needs.</p>
      </dd>
       </div>
       <div class="drop-switch-option-a">
       <dt>Smart meter frequency</dt>
      <dd>
        <p>You can <a href="../../../meter-readings/smart-settings/v03/">update the frequency</a> of your smart meter readings, though we recommend that you keep it set at every 30 minutes for effectiveness and accuracy. </p>
      </dd>
      </div>
    <div class="drop-switch-option-b">
      <dt>Extra support</dt>
      <dd>
        <p>You can update the Priority Services Register and <a href="../../extra-support/v01">let us know any new circumstances</a> relating to your household so that we can provide a better service specific to your needs. Currently you have told us the following:
    <ul class="ul-ticked">
            <li>Age 75 or over</li>
            <li>Sight loss or partially sighted</li>
            <li>Priority Services Register</li>
          </ul>
</p>
      </dd>
       </div>
  </dl>
</div>


