<dl class="dl-stacked">
  <div>
    <dt>Name</dt>
    <dd><span nf-model="model.evolve.given-name">[GIVEN-NAME]</span> <span nf-model="model.evolve.family-name">[FAMILY-NAME]</span></dd>
  </div>
  <div>
    <dt>Email address</dt>
    <dd><span nf-model="model.evolve.email">[EMAIL]</span></dd>
  </div>
  <div>
    <dt>Telephone number</dt>
    <dd><span nf-model="model.evolve.tel">[TEL]</span></dd>
  </div>
  <div>
    <dt>Date of birth</dt>
    <dd><span nf-model="model.evolve.dob">[DOB]</span></dd>
  </div>
  <div>
    <dt>Postcode</dt>
    <dd><span nf-model="model.evolve.postcode">[POSTCODE]</span></dd>
  </div>
  <div>
    <dt>Address</dt>
    <dd><span nf-model="model.evolve.address">[ADDRESS]</span></dd>
  </div>
  <div>
    <dt>Fuel type</dt>
    <dd><span nf-model="model.evolve.fuel-type">[FUEL-TYPE]</span></dd>
  </div>
  <div>
    <dt>Annual electricity consumption</dt>
    <dd><span nf-model="model.evolve.meter-read-electric">[METER-READ-ELECTRIC]</span></dd>
  </div>
  <div>
    <dt>Annual gas consumption</dt>
    <dd><span nf-model="model.evolve.meter-read-gas">[METER-READ-GAS]</span></dd>
  </div>
</dl>
