<ns-product-card keyline="cyan">
  <h2 slot="name" class="enlighten">Direct Online Only Fixed v.1</h2>
  <p slot="price-heading"><span nf-model="model.evolve.fuel-type">[FUEL-TYPE]</span></p>
  <div slot="price">
    <p><b><ns-price pence="2871"></ns-price></b> <span>a month</span></p>
    <p><ns-price pence="34500"></ns-price> <span>total per year</span></p>
  </div>
  <div slot="description">
    <dl class="dl-stack">
      <div>
        <dt>Gas</dt>
        <dd><ns-price pence="8600"></ns-price> <span class="p-caption">(<span nf-model="model.evolve.meter-read-gas">[meter-read-gas]</span>kWh)</span></dd>
      </div>
      <div>
        <dt>Electric</dt>
        <dd><ns-price pence="2590"></ns-price> <span class="p-caption">(<span nf-model="model.evolve.meter-read-electric">[meter-read-electric]</span>kWh)</span></dd>
      </div>
    </dl>
    <ul class="ul-ticked">
      <li>Tariff is fixed until 27 December 2021 <a href="#caveat">1</a></li>
      <li>Paid for by Direct Debit</li>
    </ul>
  </div>
  <ns-expander slot="expander">
    <h3 slot="heading">Gas information</h3>
    <dl>
      <div>
        <dt>Supplier</dt>
        <dd>British Gas Evolve (British Gas Trading Limited)</dd>
      </div>
      <div>
        <dt>Tariff name</dt>
        <dd>Direct Online Only Fixed v.1</dd>
      </div>
      <div>
        <dt>Tariff type</dt>
        <dd>Fixed</dd>
      </div>
      <div>
        <dt>Payment method <a href="#caveat">2</a></dt>
        <dd>Monthly Direct Debit</dd>
      </div>
      <div>
        <dt>Unit rate</dt>
        <dd>2.691</dd>
      </div>
      <div>
        <dt>Standing charge <a href="#caveat">3</a></dt>
        <dd>14.326</dd>
      </div>
      <div>
        <dt>Tariff ends on</dt>
        <dd>27th December 2021</dd>
      </div>
      <div>
        <dt>Price guaranteed until</dt>
        <dd>27th December 2021</dd>
      </div>
      <div>
        <dt>Exit fees</dt>
        <dd>0</dd>
      </div>
      <div>
        <dt>Discounts and additional charges</dt>
        <dd>Not applicable</dd>
      </div>
      <div>
        <dt>Additional products or services included</dt>
        <dd>Not applicable</dd>
      </div>
    </dl>
  </ns-expander>
  <ns-expander slot="expander">
    <h3 slot="heading">Electric information</h3>
    <dl class="dl-stacked">
      <div>
        <dt>Supplier</dt>
        <dd>British Gas Evolve (British Gas Trading Limited)</dd>
      </div>
      <div>
        <dt>Tariff name</dt>
        <dd>Direct Online Only Fixed v.1</dd>
      </div>
      <div>
        <dt>Tariff type</dt>
        <dd>Fixed</dd>
      </div>
      <div>
        <dt>Payment method <a href="#caveat">2</a></dt>
        <dd>Monthly Direct Debit</dd>
      </div>
      <div>
        <dt>Unit rate</dt>
        <dd>15.675</dd>
      </div>
      <div>
        <dt>Standing charge <a href="#caveat">3</a></dt>
        <dd>17.974</dd>
      </div>
      <div>
        <dt>Tariff ends on</dt>
        <dd>27th December 2021</dd>
      </div>
      <div>
        <dt>Price guaranteed until</dt>
        <dd>27th December 2021</dd>
      </div>
      <div>
        <dt>Exit fees</dt>
        <dd>0</dd>
      </div>
      <div>
        <dt>Discounts and additional charges</dt>
        <dd>Not applicable</dd>
      </div>
      <div>
        <dt>Additional products or services included</dt>
        <dd>Not applicable</dd>
      </div>
    </dl>
  </ns-expander>
  <ns-cta href="{{linkhref}}" icon="" slot="cta">{{linklabel}}</ns-cta>
</ns-product-card>
