<ns-inputter validation="[&quot;isRequired&quot;]" name="title">
    <label slot="label">Title</label>
    <select autocomplete="honorific-prefix" name="select">
        <option value="">Please Select</option>
        <option value="Mr">Mr</option>
        <option value="Mrs">Mrs</option>
        <option value="Ms">Ms</option>
        <option value="Miss">Miss</option>
        <option value="Dr">Dr</option>
        <option value="Sir">Sir</option>
        <option value="Reverend">Reverend</option>
        <option value="Dame">Dame</option>
        <option value="Lady">Lady</option>
        <option value="Professor">Professor</option>
        <option value="Lord">Lord</option>
    </select>
</ns-inputter>