<ns-inputter validation="[&quot;isRequired&quot;]" heading="Are you a British Gas customer?" name="is-customer">
    <input type="radio" id="question-yes" name="question" value="yes">
    <label for="question-yes">Yes</label>
    <input type="radio" id="question-no" name="question" value="no">
    <label for="question-no">No</label>
</ns-inputter>