<ns-inputter validation="[&quot;isRequired&quot;]" heading="Checkbox Question?" name="checkbox-question">
    <input type="checkbox" id="checkbox-question-option1" name="checkbox-question" value="Option 1">
    <label for="checkbox-question-option1">Option 1</label>
    <input type="checkbox" id="checkbox-question-option2" name="checkbox-question" value="Option 2">
    <label for="checkbox-question-option2">Option 2</label>
</ns-inputter>