<ns-inputter validation="[&quot;isRequired&quot;]" heading="Radio Question?" name="radio-question">
    <input type="radio" id="radio-question-option1" name="radio-question" value="Option 1">
    <label for="radio-question-option1">Option 1</label>
    <input type="radio" id="radio-question-option2" name="radio-question" value="Option 2">
    <label for="radio-question-option2">Option 2</label>
</ns-inputter>