<ns-inputter validation="[&quot;isRequired&quot;]" name="textValue">
    <label slot="label" for="surname">TITLE</label>
    <input id="surname" autocomplete="family-name" type="text" aria-invalid="false">
</ns-inputter>
