/* .style-hack
  add space to the bottom of the inline forms
*/

.style-hack {
  padding-bottom: 20px;
}

/* .drop-switch
  attempt to switch content related to value in previous sibling ns-inputter
*/

.drop-switch[value="value-01"] ~ .drop-switch-selection .drop-switch-option-b {
  display: none;
}
.drop-switch[value="value-02"] ~ .drop-switch-selection .drop-switch-option-a {
  display: none;
}
/* showing the form on checkbox toggle */

.show-checkbox,
.show-checkbox ~ .show-data ~ .show-form,
.show-checkbox:checked ~ .show-data {
  display: none;
}

.show-checkbox:checked ~ .show-data ~ .show-form {
  display: block;
}

.show-cta {
  cursor: pointer;
  font-family: 'BG Flame Bold',sans-serif;
  color: #005eb8;
  text-decoration: underline;
}

.show-cta:hover {
  color: #003c71;
  text-decoration-color: rgba(0,60,113,.25);
}

.show-cancel {
  float: right;
}



/* navigation subnav */


.subnav-top-bar{
  width: 100% !important;
float: none !important;
background-color: #F7F7F7 !important;
}

.holder{
  margin-right: auto !important; 
  margin-left: auto !important; 
  width: 1570px !important;
}

.subnav-top-bar ul {
  list-style-type: none !important;
  display: contents;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
}

.subnav-top-bar li {
  float: left !important;
}

.subnav-top-bar li a {
  display: block !important;
  color: #333f48 !important;
  text-align: center !important;
  padding: 14px 16px !important;
  text-decoration: none !important;
}

.subnav-top-bar li p {
  display: block !important;
  color: #333f48 !important;
  text-align: center !important;
  padding: 14px 16px !important;
  text-decoration: none !important;
  margin: 3px 0px 0px 50px;
}

 .subnav-dropdown {
  margin: 0px 0px 0px 50px;
    padding: 5px 0px !important;
}

/* Change the link on hover */
.subnav-top-bar li a:hover {
  background-color: #F1F1F1;
  text-decoration: underline !important;
}


.subnav-top-bar::after {
  content: "";
  clear: both;
  display: table;
}
