/* .style-hack
  add space to the bottom of the inline forms
*/

.style-hack {
  padding-bottom: 20px;
}

/* .drop-switch
  attempt to switch content related to value in previous sibling ns-inputter
*/

.drop-switch[value="value-01"]~.drop-switch-selection .drop-switch-option-b {
  display: none;
}
.drop-switch[value="value-02"]~.drop-switch-selection .drop-switch-option-a {
  display: none;
}
/* showing the form on checkbox toggle */

.show-checkbox,
.show-checkbox~.show-data~.show-form,
.show-checkbox:checked~.show-data {
  display: none;
}

.show-checkbox:checked~.show-data~.show-form {
  display: block;
}

.show-cta {
  cursor: pointer;
  font-family: 'BG Flame Bold',
  sans-serif;
  color: #005eb8;
  text-decoration: underline;
}

.show-cta:hover {
  color: #003c71;
  text-decoration-color: rgba(0, 60, 113, .25);
}

.show-cancel {
  float: right;
}



/* navigation subnav */

.subnav-top-bar {
  background-color: #F7F7F7;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.subnav-top-bar .holder {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.subnav-top-bar .address {
  display: block;
  margin-right: 1em;
  padding-top: 0.25em;
}

.subnav-top-bar a {
  margin-right: 1em;
  display: inline-block;
  color: #333f48 !important;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  text-decoration: none !important;
}

/* Change the link on hover */
.subnav-top-bar a:hover {
  text-decoration: underline !important;
  text-decoration-color: rgba(0, 60, 113, .25) !important;
}

/* rugby pitch and higher */
@media (min-width: 1620px) {
  .subnav-top-bar .holder {
    padding-left: 9.31322575em;
    padding-right: 9.31322575em;
  }
}
