---
title: Smart meter settings test page
metertype: smart meters
---

{% include "./_includes/ns-landmark.njk" -%}

<ns-panel>
  <div class="splash">
    <h2>Gas and electricity meters</h2>
  </div>
  <ns-form nf-model="model.smart-meter-settings">

    {% include "./_includes/ns-selector-joint.njk" -%}

    <ns-cta href="../joint-invoice-success">Save smart frequency</ns-cta>
  </ns-form>
</ns-panel>
