---
title: Smart meter settings test page
---

<ns-landmark type="lakeside">
  <h1 slot="heading">
    <span class="h5">Meter readings.</span>
    <span class="h1">Smart meter settings</span>
  </h1>
  <p slot="paragraph">You can choose how often your smart meters take readings. To get the most out of your online account we recommend that you set your smart meters to take readings half-hourly.</p>
</ns-landmark>

  <ns-panel>
    <div class="splash">
      <h2>Gas and electricity meters</h2>
    </div>
    <ns-form class="splash">

    <ns-highlighter type="success">
        <h2 slot="heading">Your smart frequency has been saved.</h2>
        <p>Your smart meters have been set to take readings half-hourly.</p>
      </ns-highlighter>

    <ns-inputter class="triple" validation="['isRequired']" heading="How often would you like your smart meters to take readings?">

  <ns-selector decoration="dualFuel">
    <input type="radio" id="item-1" name="question" value="half-hourly" checked="">
    <label for="item-1">Half-hourly</label>
    <div slot="description">
      <ul class="ul-ticked">
        <li>Accurate bills</li>
        <li>Hourly and daily breakdown of your usage</li>
        <li>Heating, lighting and hot water spend predictions</li>
        <li>Compare usage against other homes in your area</li>
        <li>Personalised energy saving tips</li>
      </ul>
    </div>
  </ns-selector>

  <ns-selector decoration="dualFuel">
    <input type="radio" id="item-2" name="question" value="daily">
    <label for="item-2">Daily</label>
    <div slot="description">
      <ul class="ul-ticked">
        <li>Accurate bills</li>
        <li>All of the benefits of half-hourly without an hourly breakdown of usage</li>
      </ul>
    </div>
  </ns-selector>

  <ns-selector decoration="dualFuel">
    <input type="radio" id="item-2" name="question" value="monthly">
    <label for="item-2">Monthly</label>
    <div slot="description">
      <ul class="ul-ticked">
        <li>Accurate bills</li>
      </ul>
    </div>
  </ns-selector>
</ns-inputter>
<ns-cta href="../">Save smart frequency</ns-cta>
</ns-form>
  </ns-panel>
