---
title: Smart meter settings - gas meter
metertype: smart gas meter
---

{% include "./_includes/ns-landmark.njk" -%}

<ns-panel>
  <div class="splash">
    <h2>Gas meter</h2>
  </div>
  <ns-form nf-model="model.smart-meter-settings">

    {% include "./_includes/ns-highlighter.njk" -%}

    {% include "./_includes/ns-selector-gas.njk" -%}

    <ns-cta href="../">Save smart frequency</ns-cta>
  </ns-form>
</ns-panel>
