---
title: Smart meter settings - gas meter
metertype: smart gas meter
---

{% include "./_includes/ns-landmark.njk" -%}

<ns-panel>
  <ns-form class="splash" nf-model="model.smart-meter-settings">

    <h2>Gas meter</h2>

    {% include "./_includes/ns-selector-gas.njk" -%}

    <ns-cta nf-href="DYNAMIC">Save smart frequency</ns-cta>
  </ns-form>
</ns-panel>

<script>
  function getDynamicURL() {
    var data = document.querySelector('ns-inputter[name="gas-selector"]').value;

    if (data = 'gas') {
      return '../single-gas-success';
    }

  }
</script>
