<ns-card role="listitem" type="support">
	<h3 slot="heading">20% discount on Local Heroes jobs</h3>
	<div slot="paragraph">
	  <p><a href="https://www.britishgas.co.uk/aem6/content/dam/britishgas/downloads/rewards/CLUB10131-01-TandC-Local-Heroes-20-off.pdf"><ns-icon style="width: 1em; height: 1em; position: relative; top: 0.15em;" type="download"></ns-icon>Terms and conditions (<abbr title="Portable Document Format">PDF</abbr> 32<abbr title="Kilobytes">kB</abbr>)</a></p>
	  <p>Get 20% off as many jobs as you like, as long as the work is completed and paid for by 4th August 2020.</p>
	  <p>Click the link below and enter <b>LOCALHEROES20FEB20002</b> at the checkout to get your discount.</p>
	  <p><b>Ends today 11:59pm</b></p>
	</div>
	<a slot="cta" href="https://www.localheroes.com/?utm_source=Google&utm_medium=cpc&utm_campaign=Brand&gclid=EAIaIQobChMImJXq7vXD5gIVhbTtCh3jNAk1EAAYASAAEgKTkfD_BwE&gclsrc=aw.ds">
	  <ns-cta type="text">Visit Local Heroes to use your offer</ns-cta>
	</a>
</ns-card>