---
title: Help and Support
eleventyNavigation:
  key: Help and Support
  parent: help-and-support
  title: Help and Support
  excerpt: Help and Support multivariant homepage designs
---


<ns-landmark type="hillside">
  <h1 slot="heading">
    <span class="h5">Prototypes.</span>
    <span class="h1">Help & Support multivariant homepage designs</span>
  </h1>
  <div slot="paragraph">
    <p>This is the index page of <b>{{title}}</b>. When you're ready, move on.</p>
  </div>
</ns-landmark>

<ns-panel>
  <div class="splash triple">
     <ns-card type="support">
      <h3 slot="heading">Control</h3>
      <a slot="cta" href="https://www.britishgas.co.uk/help-and-support/">
        <ns-cta type="text">Control</ns-cta>
      </a>
    </ns-card>
    <ns-card type="support">
      <h3 slot="heading">Version A</h3>
      <a slot="cta" href="version-a">
        <ns-cta type="text">Version A</ns-cta>
      </a>
    </ns-card>
    <ns-card type="support">
      <h3 slot="heading">Version B</h3>
      <a slot="cta" href="version-b">
        <ns-cta type="text">Version B</ns-cta>
      </a>
    </ns-card>
  </div>
</ns-panel>