---
title: version-a
---
	
<ns-panel>
  <div class="splash">
  <ns-form>
    <ns-inputter mask="" separator="" validation="[&quot;isRequired&quot;]" value="" helper="" name="first-name">
      <h2>How can we help you today?</h2>
      <input type="text">
    </ns-inputter>

  </ns-form>
  </div>
</ns-panel>

<ns-panel decoration="invert-bridge-grey-light">
  <div class="splash">
    <h2>Popular topics</h2>
  </div>
  <div class="splash triple" role="list">
    <ns-card role="listitem" type="support" image="https://user-images.githubusercontent.com/49559070/95085868-ad6a5000-0717-11eb-85ca-3f7883d0ddd0.jpg">
      <h3 slot="heading" role="heading" aria-level="3">Payments</h3>
      <p slot="paragraph">Take a look at these handy articles for help with payment questions.</p>
      <a slot="cta" href="">
        <br><ns-cta type="text" href="#!" icon="arrow-right" loading="false" loadingmessage="Loading...">Understanding your new monthly payments</ns-cta></br>
        <br><ns-cta type="text" href="#!" icon="arrow-right" loading="false" loadingmessage="Loading...">Help if you're struggling to pay</ns-cta></br>
        <br><ns-cta type="text" href="#!" icon="arrow-right" loading="false" loadingmessage="Loading...">Your energy bill explained</ns-cta></br>
      </a>
    </ns-card>
    <ns-card role="listitem" type="support" image="https://user-images.githubusercontent.com/49559070/95085972-d1c62c80-0717-11eb-8329-d35d4b19a070.jpg">
      <h3 slot="heading" role="heading" aria-level="3">Engineer appointments</h3>
      <p slot="paragraph">Here's some guidance on how to book, track or cancel an engineer visit.</p>
       <a slot="cta" href="">
        <br><ns-cta type="text" href="#!" icon="arrow-right" loading="false" loadingmessage="Loading...">Book an engineer</ns-cta></br>
        <br><ns-cta type="text" href="#!" icon="arrow-right" loading="false" loadingmessage="Loading...">Track your engineer</ns-cta></br>
        <br><ns-cta type="text" href="#!" icon="arrow-right" loading="false" loadingmessage="Loading...">Get a quote for an engineer</ns-cta></br>
      </a>
    </ns-card>
    <ns-card role="listitem" type="support" image="https://user-images.githubusercontent.com/49559070/95086040-eacedd80-0717-11eb-9ab8-a789b692ca05.jpg">
      <h3 slot="heading" role="heading" aria-level="3">Tariffs</h3>
      <p slot="paragraph">Want to get a quote or find out information about your tariff?</p>
      <a slot="cta" href="">
        <br><ns-cta type="text" href="#!" icon="arrow-right" loading="false" loadingmessage="Loading...">Our latest tariffs</ns-cta></br>
        <br><ns-cta type="text" href="#!" icon="arrow-right" loading="false" loadingmessage="Loading...">Get a quote   </ns-cta></br>
        <br><ns-cta type="text" href="#!" icon="arrow-right" loading="false" loadingmessage="Loading...">My account</ns-cta></br>
      </a>
    </ns-card>
  </div>
</ns-panel>      

<ns-panel>
  <div class="splash">
    <h2>Help categories</h2>
  </div>

  <div class="splash triple">
    <ns-card type="support">
      <h3 slot="heading">Tips and guides</h3>
      <p slot="paragraph">Find tips on how to solve common household problems yourself</p>
      <a slot="cta" href="#!">
        <ns-cta type="text">Tips and guides</ns-cta>
      </a>
    </ns-card>
    <ns-card type="support">
      <h3 slot="heading">Emergencies</h3>
      <p slot="paragraph">Find out what to do if you have a gas, electrical or other type of emergency</p>
      <a slot="cta" href="#!">
        <ns-cta type="text">Emergencies</ns-cta>
      </a>
    </ns-card>
    <ns-card type="support">
      <h3 slot="heading">Bills & payments</h3>
      <p slot="paragraph">Everything you need to understand your bill, including how to pay and how to set up a Direct Debit</p>
      <a slot="cta" href="#!">
        <ns-cta type="text">Bills & payments</ns-cta>
      </a>
    </ns-card>
    <ns-card type="support">
      <h3 slot="heading">Appliances & engineers</h3>
      <p slot="paragraph">Includes instructions to repair appliances and how to book annual service visits.</p>
      <a slot="cta" href="#!">
        <ns-cta type="text">Appliances & engineers</ns-cta>
      </a>
    </ns-card>
    <ns-card type="support">
      <h3 slot="heading">Breakdowns</h3>
      <p slot="paragraph">How to book a repair and what to do if you don't have gas or electricity</p>
      <a slot="cta" href="#!">
        <ns-cta type="text">Breakdowns</ns-cta>
      </a>
    </ns-card>
    <ns-card type="support">
      <h3 slot="heading">Moving home</h3>
      <p slot="paragraph">What to do if you're moving home, opening or closing your account with us</p>
      <a slot="cta" href="#!">
        <ns-cta type="text">Moving home</ns-cta>
      </a>
    </ns-card>
    <ns-card type="support">
      <h3 slot="heading">My account</h3>
      <p slot="paragraph">Find out what you can do with your online account or on our app</p>
      <a slot="cta" href="#!">
        <ns-cta type="text">My account</ns-cta>
      </a>
    </ns-card>
    <ns-card type="support">
      <h3 slot="heading">Meters</h3>
      <p slot="paragraph">Everything you need to know about smart meters, conventional meters and pay-as-you-go meters</p>
      <a slot="cta" href="hs-category-meter-L2-hub.html">
        <ns-cta type="text">Meters</ns-cta>
      </a>
    </ns-card>
    <ns-card type="support">
      <h3 slot="heading">Hive and Smart home</h3>
      <p slot="paragraph">Discover more about Hive products and the connected home</p>
      <a slot="cta" href="#!">
        <ns-cta type="text">Hive and Smart home</ns-cta>
      </a>
    </ns-card>
  </div>
</ns-panel>