---
title: hs-category-meter-L5-pay-smart
---

<ns-landmark type="lakeside">
  <h1 slot="heading">
    <span class="h5">Help with my meter.</span>
    <span class="h1">How do you pay for your energy?</span>
  </h1>
</ns-landmark>

<ns-panel>
  <div class="splash">
    <ns-form nf-model="model.L5-pay">

      <ns-inputter validation='["isRequired"]' name="inputter-a" helper="What is Pay As You Go?">
        <div slot="tip-details">
          <p>You won't receive a bill – you will pay for your energy as you use it.</p>
        </div>
        <input type="radio" name="radio" value="Direct Debit" id="radio-a">
        <label for="radio-a">I pay by Direct Debit</label>

        <input type="radio" name="radio" value="Get Bill And Pay" id="radio-b">
        <label for="radio-b">I get regular bills and pay</label>

        <input type="radio" name="radio" value="Pay As You Go" id="radio-c">
        <label for="radio-c">I top up a meter</label>
      </ns-inputter>

      <ns-cta nf-href="DYNAMIC">Continue</ns-cta>

    </ns-form>
  </div>
</ns-panel>

<script>
  function getDynamicURL() {
    var data = document.querySelector('ns-inputter[name="inputter-a"]').value;

    if (data === 'Pay As You Go') {
      return '../hs-category-meter-L7-ihd/';
    }
  }
</script>
