---
title: Help and Support
eleventyNavigation:
  key: Help and Support
  parent: rpa
  title: Help and Support
  excerpt: Help with your meter
---

<ns-landmark type="lakeside">
  <h1 slot="heading">
    <span class="h5">Help and support.</span>
    <span id="landmark-heading" class="h1">How can we help?</span>
  </h1>
  <a slot="cta" href="#!">
    <ns-cta type="direct">Search</ns-cta>
  </a>
  <!-- @drew.jones 2020-04-21 - forcing an inline style as form elements are not designed to belong in the landmark -->
  <ns-form slot="paragraph" style="font-size: 1em;">
    <ns-inputter name="search">
      <input aria-labelledby="landmark-heading" type="text">
    </ns-inputter>
  </ns-form>
</ns-landmark>

<ns-panel>
  <div class="splash">
    <h2 class="h4">Most popular</h2>
    <ul class="ul-bullet">
      <li>
        <a href="#!">CPS query</a>
      </li>
      <li>
        <a href="#!">Appointment booking</a>
      </li>
      <li>
        <a href="#!">Tariff query</a>
      </li>
      <li>
        <a href="#!">Bill query</a>
      </li>
      <li>
        <a href="#!">Homemove</a>
      </li>
      <li>
        <a href="#!">Meter reading</a>
      </li>
      <li>
        <a href="#!">Payment query</a>
      </li>
      <li>
        <a href="#!">Top up not included</a>
      </li>
      <li>
        <a href="#!">Meter query</a>
      </li>
      <li>
        <a href="#!">Top up over the phone</a>
      </li>
    </ul>
  </div>
</ns-panel>

<ns-panel>
  <div class="splash">
    <h2>Help categories</h2>
  </div>

  <div class="splash triple">
    <ns-card type="support">
      <h3 slot="heading">Tips and guides</h3>
      <p slot="paragraph">Includes quick and handy tips to try yourself.</p>
      <a slot="cta" href="#!">
        <ns-cta type="text">Tips and guides</ns-cta>
      </a>
    </ns-card>
    <ns-card type="support">
      <h3 slot="heading">Emergencies</h3>
      <p slot="paragraph">Gas emergency, electrical emergency and other emergencies.</p>
      <a slot="cta" href="#!">
        <ns-cta type="text">Emergencies</ns-cta>
      </a>
    </ns-card>
    <ns-card type="support">
      <h3 slot="heading">Bills & payments</h3>
      <p slot="paragraph">Includes paying your bill, understanding your bill and setting up a Direct Debit.</p>
      <a slot="cta" href="#!">
        <ns-cta type="text">Bills & payments</ns-cta>
      </a>
    </ns-card>
    <ns-card type="support">
      <h3 slot="heading">Appliances & engineers</h3>
      <p slot="paragraph">Includes instructions to repair appliances and how to book annual services.</p>
      <a slot="cta" href="#!">
        <ns-cta type="text">Appliances & engineers</ns-cta>
      </a>
    </ns-card>
    <ns-card type="support">
      <h3 slot="heading">Breakdowns</h3>
      <p slot="paragraph">Includes how to book a repair and what to do if you do not have gas or electricity.</p>
      <a slot="cta" href="#!">
        <ns-cta type="text">Breakdowns</ns-cta>
      </a>
    </ns-card>
    <ns-card type="support">
      <h3 slot="heading">Moving home</h3>
      <p slot="paragraph">Includes moving out, moving in and refunds.</p>
      <a slot="cta" href="#!">
        <ns-cta type="text">Moving home</ns-cta>
      </a>
    </ns-card>
    <ns-card type="support">
      <h3 slot="heading">My account</h3>
      <p slot="paragraph">Includes changing your details, the British Gas app and closing down your account.</p>
      <a slot="cta" href="#!">
        <ns-cta type="text">My account</ns-cta>
      </a>
    </ns-card>
    <ns-card type="support">
      <h3 slot="heading">Meters</h3>
      <p slot="paragraph">Smart meters, pay as you go meters and standard meters.</p>
      <a slot="cta" href="hs-category-meter-L2-hub.html">
        <ns-cta type="text">Meters</ns-cta>
      </a>
    </ns-card>
    <ns-card type="support">
      <h3 slot="heading">Hive and Smart home</h3>
      <p slot="paragraph">Hive products and smart home help.</p>
      <a slot="cta" href="#!">
        <ns-cta type="text">Hive and Smart home</ns-cta>
      </a>
    </ns-card>
  </div>
</ns-panel>

<!-- @drew.jones 2020-04-21 - a list of links does not feature in the Nucleus documentation, it's been mentioned and could warrant an RFC -->
