


<ns-landmark type="lakeside">
  <h1 slot="heading">
    <span class="h5">Place your order.</span>
    <span class="h1">Your payment details</span>
  </h1>
  <div slot="paragraph">
    <dl class="dl-row">
      <div>
        <dt>Account number</dt>
        <dd>12345678</dd>
      </div>
      <div>
        <dt>Sort code</dt>
        <dd>
          123456
        </dd>
      </div>
      <div>
        <dt>Name of account holder</dt>
        <dd>
          Firstname Lastname
        </dd>
      </div>
    </dl>
  </div>
  <a slot="cta" href="#!">
    <ns-cta href="../08-payment" icon="arrow-left" type="text">Change these details</ns-cta>
  </a>
</ns-landmark>




<!-- START QUESTION SET #2 -->
<ns-panel decoration="">
<ns-form class="splash">
<ns-fieldset legend="">
  
  <nsx-marketing-consent></nsx-marketing-consent>

 
   
 
</ns-fieldset>
 <ns-cta nf-href="../10-ticks">Continue</ns-cta>

 </ns-form>
 
</ns-panel>




<!-- END QUESTION SET #2 -->


