---
title: Evolve - quote
---

<ns-panel>
  {% include "../_includes/go-back.njk" -%}
  <div class="splash">
    <h1 class="h2 enlighten">Your quote</h1>
  </div>
  <div class="splash">
    <dl class="dl-stacked">
      <div>
        <dt>Address</dt>
        <dd><span nf-model="model.evolve.address">[ADDRESS]</span>, <span nf-model="model.evolve.postcode">[POSTCODE]</span></dd>
        <dd>
          <a href="../">Change your address</a>
        </dd>
      </div>
      <div>
        <dt>Fuel type</dt>
        <dd><span nf-model="model.evolve.fuel-type">[FUEL-TYPE]</span></dd>
        <dd>
          <a href="../02-fuel-type">Change fuel type</a>
        </dd>
      </div>
      <div>
        <dt>Electricity consumption</dt>
        <dd><span nf-model="model.evolve.meter-read-electric">[ELEC-CONSUMPTION]</span> kWh</dd>
        <dd>
          <a href="../03-consumption">Change consumption</a>
        </dd>
      </div>
      <div>
        <dt>Gas consumption</dt>
        <dd><span nf-model="model.evolve.meter-read-gas">[GAS-CONSUMPTION]</span> kWh</dd>
        <dd>
          <a href="../03-consumption">Change consumption</a>
        </dd>
      </div>
    </dl>
  </div>
</ns-panel>
