---
title: Evolve - quote
linkhref: ../05-create-account
linklabel: Join British Gas Evolve
---

<ns-panel class="squish">
  {% include "../_includes/go-back.njk" -%}
  <div class="splash">
    <h1 class="h2">Your quote</h1>
  </div>
  <div class="splash">
    {% include "../_includes/product.njk" -%}
  </div>
  <div class="splash">
    <h3 class="enlighten">Some specifics</h3>
    <ul class="ul-bullet"">
      <li>You can manage your account, direct debits, get support and make payments online.</li>
      <li>We’ll keep an eye on your consumption and let you know if you are using more or less than we quoted you for. This might mean we have to adjust your payments.</li>
      <li>We need regular meter readings to help keep your payments accurate</li>
      <li>If you currently have a smart meter and send automatic readings. It is important to know that some early smart meters are only compatible with the supplier that installed them. Meaning you will have to provide us with regular readings, despite having a smart meter.</li>
      <li>Other tariffs are available through <a href="https://www.britishgas.co.uk/tariffs">British Gas</a></li>
      <li>Where does your electricity come from? <a href="https://www.britishgasevolve.co.uk/fuel-mix">View Fuel Mix online</a></li>
      <li>Read British Gas Evolve <a href="https://www.britishgasevolve.co.uk/evolve-terms">Terms &amp; Conditions</a></li>
      <li>Information on our complaints policy can be found in our guide <a href="https://www.britishgasevolve.co.uk/assets/files/Were-listening-BG-Evolve-Energy.pdf">We're listening BG Evolve (PDF 381kB)</a></li>
      <li>If you change your mind, then just let us know within 14 days of receiving your welcome email and we’ll stop your switch.</li>
      <li>We’ll contact you before your contract ends to offer you options to renew. If you do nothing before your contract ends we’ll move you to the cheapest default tariff (no exit fees) we have available to you at that time.</li>
    </ul>
    <ns-cta type="bare" icon="" href="{{linkhref}}">{{linklabel}}</ns-cta>
  </div>
</ns-panel>

<ns-caveat>
  <h2 slot="heading">Legal information</h2>
  <div slot="caveat">
    <ol>
      <li>The price is fixed until your tariff ends unless the government or regulator does something that changes it.</li>
      <li>Your yearly projection and prices include VAT and are rounded to make it easier for you to compare prices. The prices you’ll see on your bills and statements will be different because we show them without VAT. These prices apply to customers using mains gas and to customers using piped propane in Llanfyllin, Llanwrtyd Wells and Stornoway.</li>
      <li>The standing charge is applied on a pence per day basis. It helps cover an energy supplier’s fixed costs.</li>
    </ol>
  </div>
</ns-caveat>
