---
title: Evolve - thank-you
---

<ns-panel class="squish">
  {% include "../_includes/go-back.njk" -%}
  <div class="splash">
    <h1 class="h2">Thank you <span nf-model="model.evolve.given-name">[GIVEN-NAME]</span></h1>
    <p class="p-feature">Please check your email for confirmation of the following information we have from you.</p>
  </div>
  <div class="splash">
    {% include "../_includes/personal-information.njk" -%}
    <p><ns-cta type="direct" href="../../account" icon="arrow-right">Go to your account</ns-cta></p>
  </div>
</ns-panel>
