---
title: Evolve Nucleus prototype
---

<ns-landmark type="lakeside">
  <h1 slot="heading">
    <span class="h1 enlighten">Introducing British Gas Evolve</span>
  </h1>
  <div slot="paragraph">
    <p>Simple, affordable, green energy that you control online.</p>
  </div>
  <div slot="cta">
    <ns-form nf-model="model.evolve">
      <ns-inputter validation="[&quot;isRequired&quot;,&quot;isPostcode&quot;]" name="postcode">
        <label for="postcode" slot="label">Your postcode</label>
        <input id="postcode" type="text" autocomplete="postal-code" placeholder="e.g. TW18 4NG" maxlength="10">
      </ns-inputter>
      <ns-cta nf-href="01-select-address" icon="">Get a quote</ns-cta>
    </ns-form>
  </div>
</ns-landmark>
