---
title: hs-category-meter-summary-v1
---

<ns-landmark type="hillside" gradient="invert-ramp-cyan">
  <h1 slot="heading">
    <span class="h5">Help and Support: meters</span>
    <span class="h1 enlighten">Your <b>meter</b> and <b>monitor</b> help and support</span>
  </h1>
  <p slot="paragraph">Help, support and guidance for Electricity Smart Pay As You Go meter and your Smart monitor.</p>
</ns-landmark>

<ns-panel>
  <ns-lockup type="locknut" reverse decoration="bulb">
    <h2 slot="heading">
      <span class="h5">Smart Pay As You Go.</span>
      <span class="h1 enlighten">Your <b>Smart Pay As You Go meter</b></span>
    </h2>
    <p slot="paragraph">Help, support and guidance for your electricity Smart Pay As You Go meter.</p>
    <a slot="cta" href="#!">
      <ns-cta type="text">Smart Pay As You Go meter explained (video)</ns-cta>
    </a>
    <a slot="cta" href="#!">
      <ns-cta type="text">British Gas Smart meters – interactive tool (video)</ns-cta>
    </a>
    <a slot="cta" href="#!">
      <ns-cta type="text">How to top up with Smart Pay As You Go (video)</ns-cta>
    </a>
    <a slot="cta" href="#!">
      <ns-cta type="text">Using your Smart meter to save energy and money (video)</ns-cta>
    </a>
    <a slot="cta" href="#!">
      <ns-cta type="text">What are Smart meters? (video)</ns-cta>
    </a>
    <ns-image slot="image" ratio="1x1" src="/aem6/content/dam/britishgas/images/ns/image1_1.png"></ns-image>
  </ns-lockup>
</ns-panel>

<ns-panel>
  <ns-lockup type="locknut" decoration="bulb">
    <h2 slot="heading">
      <span class="h5">Smart Pay As You Go.</span>
      <span class="h1 enlighten">Your <b>Smart monitor</b></span>
    </h2>
    <p slot="paragraph">Help, support and guidance for your Smart monitor.</p>
    <a slot="cta" href="https://www.youtube.com/watch?v=hPF_INyo7Ts">
      <ns-cta type="text">A Guide to using a Smart Energy Monitor (video)</ns-cta>
    </a>
    <a slot="cta" href="#!">
      <ns-cta type="text">How to top up with Smart Pay As You Go (video)</ns-cta>
    </a>
    <ns-image slot="image" ratio="1x1" src="/aem6/content/dam/britishgas/images/ns/image1_1.png"></ns-image>
  </ns-lockup>
</ns-panel>

<ns-panel decoration="">
  <ns-accordion>
    <h3 slot="heading">Frequently asked questions</h3>
    <ns-expander open="false">
      <h4 slot="heading">How do I top up for the first time?</h4>
      <p>If it's your first time topping up, you'll need to activate your key or card in your meter first.</p>
      <h2>Activating your card</h2>
      <ul class="ul-bullet">
        <li>Put your key or card into the meter for at least a minute to activate it.</li>
        <li>Top up your key or card at a convenient <a>Payzone</a> or <a>Post Office</a>.</li>
        <li>Put the key or card into your meter. Electricity credit will transfer automatically. For gas, press and hold the red button 'A' to transfer the credit to the meter.</li>
      </ul>
    </ns-expander>
    <ns-expander open="false">
      <h4 slot="heading">Where can I find a Payzone to top up?</h4>
      <p>You’ll find <a>Payzones</a> in newsagents, supermarkets and garages. Just look for the logo – you’ll spot them outside all Payzone outlets.</p>
      <p>Payzone outlets are often open long hours and some may be open seven days a week. Don’t forget you’ll need to top up by at least £5, and you'll always need to top up to the nearest pound. So you can't add £8.50, but you could add £8 or £9.</p>
      <p>We will soon be changing our minimum top up policy. <a>Find our more here</a>.</p>
    </ns-expander>
    <ns-expander open="false">
      <h4 slot="heading">Can I top up at a Post Office?</h4>
      <p>Yes - <a>look up your local Post Office</a>.</p>
      <p>You’ll need to top up by at least £5, and you'll always need to top up to the nearest pound. So you can't add £8.50, but you could add £8 or £9. We will soon be changing our minimum top up policy. Find our more <a>here</a>.</p>
    </ns-expander>
    <ns-expander open="false">
      <h4 slot="heading">Can I top up online?</h4>
      <p>Yes, Smart Pay As You Go customers can top up from wherever they are:</p>
      <ul class="ul-bullet">
        <li>The easiest way to top up is on the British Gas website, just access your account to <a>Top up online</a> now. You don’t need your smart meter number, and if you save your debit/credit card, future top ups will take you just a few clicks.</li>
        <li>Don’t have an online account? Setting one up is easy and won’t take you long. Simply click <a>here</a> and give us your email address to get things started.</li>
        <li>Topping up a British Gas smart meter for someone else? Use our <a>guest top up</a></li>
        <li>On the British Gas app – <a>download</a> it to top up easily, whenever and wherever you want.</li>
      </ul>
    </ns-expander>
    <ns-expander open="false">
      <h4 slot="heading">Can I top up over the phone?</h4>
      <p>Smart Pay As You Go customers can call the <a>automated payment line</a>. Choose option 1, and answer a few automated questions.</p>
    </ns-expander>
  </ns-accordion>
</ns-panel>
