---
title: hs-category-meter-L3-start
---

<ns-landmark type="lakeside">
  <h1 slot="heading">
    <span class="h5">Help with my meter.</span>
    <span class="h1">Before we get started</span>
  </h1>
  <div slot="paragraph">
    <p>There may be some questions that will require you to go outside (if that is where your meter is kept).</p>
  </div>
  <a slot="cta" href="../hs-category-meter-L4-type/">
    <ns-cta>Let's get started</ns-cta>
  </a>
</ns-landmark>
