---
title: hs-category-meter-L9-summary
---

<ns-landmark type="hillside" gradient="invert-ramp-cyan">
  <h1 slot="heading">
    <span class="h5">My meter help.</span>
    <span class="h1 enlighten">Your <b><span nf-model="model.L4-type.inputter-a">DATA</span> meter</b> guidance</span>
  </h1>
  <div slot="paragraph">
    <p>Below you'll find your <span nf-model="model.L4-type.inputter-a">DATA</span> meter guidance and other related information.</p>
  </div>
</ns-landmark>

<ns-editorial image="https://user-images.githubusercontent.com/52657167/80491496-b54ce980-895a-11ea-9a54-71a7d2180ab3.jpg">
  <h2 slot="heading">Your <span nf-model="model.L4-type.inputter-a">DATA</span> meter guidance</h2>
  <p>Cornhole woke literally aesthetic tacos raclette. Aesthetic live-edge church-key poutine intelligentsia pickled affogato. Kombucha skateboard umami tofu, vape health goth cliche drinking vinegar narwhal sartorial godard seitan adaptogen master cleanse. Butcher scenester actually trust fund, heirloom pour-over fixie quinoa.</p>
  
  <div class="splash">
    <ul class="ul-bullet">
      <li>
        <a href="#!">Your <span nf-model="model.L4-type.inputter-a">DATA</span> meter instruction manual (PDF 0.9MB)</a>
      </li>
      <li>
        <a href="#!">Understanding your <span nf-model="model.L4-type.inputter-a">DATA</span> meter (YouTube)</a>
      </li>
    </ul>
  </div>
</ns-editorial>

<ns-panel decoration="">
  <div class="splash">
    <ns-accordion>
      <h3 slot="heading">Related information</h3>
      <ns-expander open="false">
        <h4 slot="heading">How do I top up for the first time?</h4>
        <p>If it's your first time topping up, you'll need to activate your key or card in your meter first.</p>
        <h2>Activating your card</h2>
        <ul class="ul-bullet">
          <li>Put your key or card into the meter for at least a minute to activate it.</li>
          <li>Top up your key or card at a convenient <a>Payzone</a> or <a>Post Office</a>.</li>
          <li>Put the key or card into your meter. Electricity credit will transfer automatically. For gas, press and hold the red button 'A' to transfer the credit to the meter.</li>
        </ul>
      </ns-expander>
      <ns-expander open="false">
        <h4 slot="heading">Where can I find a Payzone to top up?</h4>
        <p>You’ll find <a>Payzones</a> in newsagents, supermarkets and garages. Just look for the logo – you’ll spot them outside all Payzone outlets.</p>
        <p>Payzone outlets are often open long hours and some may be open seven days a week. Don’t forget you’ll need to top up by at least £5, and you'll always need to top up to the nearest pound. So you can't add £8.50, but you could add £8 or £9.</p>
        <p>We will soon be changing our minimum top up policy. <a>Find our more here</a>.</p>
      </ns-expander>
      <ns-expander open="false">
        <h4 slot="heading">Can I top up at a Post Office?</h4>
        <p>Yes - <a>look up your local Post Office</a>.</p>
        <p>You’ll need to top up by at least £5, and you'll always need to top up to the nearest pound. So you can't add £8.50, but you could add £8 or £9. We will soon be changing our minimum top up policy. Find our more <a>here</a>.</p>
      </ns-expander>
      <ns-expander open="false">
        <h4 slot="heading">Can I top up online?</h4>
        <p>Yes, Smart Pay As You Go customers can top up from wherever they are:</p>
        <ul class="ul-bullet">
          <li>The easiest way to top up is on the British Gas website, just access your account to <a>Top up online</a> now. You don’t need your smart meter number, and if you save your debit/credit card, future top ups will take you just a few clicks.</li>
          <li>Don’t have an online account? Setting one up is easy and won’t take you long. Simply click <a>here</a> and give us your email address to get things started.</li>
          <li>Topping up a British Gas smart meter for someone else? Use our <a>guest top up</a></li>
          <li>On the British Gas app – <a>download</a> it to top up easily, whenever and wherever you want.</li>
        </ul>
      </ns-expander>
      <ns-expander open="false">
        <h4 slot="heading">Can I top up over the phone?</h4>
        <p>Smart Pay As You Go customers can call the <a>automated payment line</a>. Choose option 1, and answer a few automated questions.</p>
      </ns-expander>
    </ns-accordion>
  </div>
</ns-panel>

<ns-panel>
  <div class="splash">
    <h2 class="h4">I still need help</h2>
    <p>Use our <a href="#!">online chat</a> between 8am and 8pm.</p>
    <p>Call us on <a href="#!">0800 123 456</a> between 8am and 8pm.</p>
    <p>Return to the <a href="../">Help and support homepage</a>.</p>
  </div>
</ns-panel>
