---
title: hs-category-fuel-type.v1
---

<ns-landmark type="hillside" gradient="invert-ramp-cyan">
  <h1 slot="heading">
    <span class="h5">Help and Support.</span>
    <span class="h1 enlighten"><b>Meters</b></span>
  </h1>
  <p slot="paragraph">Help, support and guidance for Smart meters, pay as you go meters and standard meters.</p>
</ns-landmark>

<ns-panel decoration="">
  <div class="splash">
    <h2>Which type of meter do you need help with?</h2>
  </div>

  <div class="splash triple" role="list">
    <ns-card role="listitem" type="support" image="https://user-images.githubusercontent.com/52657167/78978906-a53baa00-7b12-11ea-9a0b-a8cbd67a0201.jpg" alt="">
      <h3 slot="heading" role="heading" aria-level="3">Gas meters</h3>
      <p class="p-normal" slot="paragraph">Help, support and guidance for your gas meter.</p>
      <a slot="cta" href="#!">
        <ns-cta type="text">Gas meter help and support</ns-cta>
      </a>
    </ns-card>
    <ns-card role="listitem" type="support" image="https://user-images.githubusercontent.com/52657167/78978905-a4a31380-7b12-11ea-91e0-6553b61b8ecc.jpg" alt="">
      <h3 slot="heading" role="heading" aria-level="3">Electricity meters</h3>
      <p class="p-normal" slot="paragraph">Help, support and guidance for your electricity meter.</p>
      <a slot="cta" href="../hs-category-elec-meter.v1/">
        <ns-cta type="text">Electricity meter help and support</ns-cta>
      </a>
    </ns-card>
  </div>
</ns-panel>

<ns-panel decoration="">

  <ns-accordion>
    <h3 slot="heading">Useful meter information</h3>
    <ns-expander open="false">
      <h4 slot="heading">How to read your meter using the British Gas app</h4>
      <p>
        Yes, with an online account you can arrange a service visit, find out whatʼs happening with your appointment, submit a meter reading and book an engineer.
        Weʼve even got a free smartphone app.
      </p>
    </ns-expander>
    <ns-expander open="false">
      <h4 slot="heading">Learn about Smart meters</h4>
      <p>
        This is a visit we carry out in each contract year to check your boiler and central heating system
        or gas appliance (depending on what is included in your agreement) are safe and in good working order.
      </p>
    </ns-expander>
    <ns-expander open="false">
      <h4 slot="heading">Is my home ready for a Smart meter?</h4>
      <p>
        The price youʼll pay at renewal is likely to increase as your introductory price will have ended, but it will be tailored to your specific details.
        If youʼre paying by direct debit, you will automatically renew, however you can still choose to change or cancel your contract, we'll contact you before your renewal date to remind you.
      </p>
    </ns-expander>
    <ns-expander open="false">
      <h4 slot="heading">What to expect when you get a Smart meter</h4>
      <p>
        The price youʼll pay at renewal is likely to increase as your introductory price will have ended, but it will be tailored to your specific details.
        If youʼre paying by direct debit, you will automatically renew, however you can still choose to change or cancel your contract, we'll contact you before your renewal date to remind you.
      </p>
    </ns-expander>
    <ns-expander open="false">
      <h4 slot="heading">Changing your Smart appointment</h4>
      <p>
        The price youʼll pay at renewal is likely to increase as your introductory price will have ended, but it will be tailored to your specific details.
        If youʼre paying by direct debit, you will automatically renew, however you can still choose to change or cancel your contract, we'll contact you before your renewal date to remind you.
      </p>
    </ns-expander>
  </ns-accordion>
</ns-panel>
