---
title: hs-category-meters
---

<ns-landmark type="hillside" gradient="invert-ramp-cyan">
  <h1 slot="heading">
    <span class="h5">Help and Support.</span>
    <span class="h1 enlighten"><b>Meters</b></span>
  </h1>
  <p slot="paragraph">Help, support and guidance for Smart meters, pay as you go meters and standard meters.</p>
</ns-landmark>

<ns-panel>
  <ns-lockup reverse>
    <h2 slot="heading">
      <span class="h5">Find your meter.</span>
      <span class="h2 enlighten">Log in to <b>find your guidance</b></span>
    </h2>
    <div slot="paragraph">
      <p>If you're unsure what meter you have then log in and we'll provide your meter guidance on one page.</p>
      <p>If you don't have an online account, then <a href="#!">answer some simple questions</a> and we'll try to provide you with the guidance you need to help resolve your issue.</p>
    </div>
    <a href="#!" slot="cta">
      <ns-cta type="direct" href="#!" icon="arrow-right" loading="false" loadingmessage="Loading...">Log in to find your guidance</ns-cta>
    </a>
    <div slot="image">
      <ns-image src="https://user-images.githubusercontent.com/52657167/72251057-f4963b00-35f4-11ea-9405-753e6e9b17b6.jpg"></ns-image>
    </div>
  </ns-lockup>
</ns-panel>

<ns-editorial>
  <h2 slot="heading">[Include another heading and a paragraph of further information]</h2>
  <p>[Maybe describe what this page offers.]</p>
  <p>[This page contans a list of downloadable PDF (Portable Documents). Which will require an application such as Adobe Acrobat Reader.]</p>

  <h3>Know your rights in a changing energy market</h3>
  <p>This leaflet helps you get free independent advice about your energy supply. You might want to get a better deal, find out how to make a complaint, get advice about the quality of your electricity or gas supply, or ask for help if you’re struggling to pay your bills.</p>
  <p>
    <ns-download href="pdf.pdf" filesize="81kB">Know your rights</ns-download>
  </p>

  <h3>We're listening – our complaints handling procedure</h3>
  <p>If you’d like to make a complaint about our energy (gas and electricity) products and services, this leaflet has all the information you need.</p>
  <p>
    <ns-download href="pdf.pdf" filesize="2.6MB">We're listening</ns-download>
  </p>

  <h3>Code of practice for accurate bills</h3>
  <p>The commitments energy suppliers make to give you accurate bills, and your obligations as an energy customer. Current members of the code are British Gas (including Scottish Gas), EDF Energy, E.ON, nPower, Scottish Power and SSE.</p>
  <p>
    <ns-download href="pdf.pdf" filesize="986KB">Code of practice for accurate bills</ns-download>
  </p>

  <h3>Back billing for domestic customers</h3>
  <p>This document complements the Code of Practice for Accurate Bills and reflects the principles which most of the major energy suppliers apply in relation to back-billing for unbilled energy consumed more than 1 year previous to the bill being issued.</p>
  <p>
    <ns-download href="pdf.pdf" filesize="666KB">Back billing for domestic customers</ns-download>
  </p>

  <h3>Standards of performance</h3>
  <p>The services we provide, the levels of customer care we guarantee, and what you’re entitled to from the companies that maintain your pipes and cables.</p>
  <p>
    <ns-download href="pdf.pdf" filesize="304KB">Standards of performance</ns-download>
  </p>

  <h3>Annual Consumer Complaint Report</h3>
  <p>Shows how we’re meeting our obligations under the Gas and Electricity (Consumer Complaints Handling Standards) Regulations 2008.</p>
  <p>
    <ns-download href="pdf.pdf" filesize="522KB">Annual Consumer Complaint Report 2018/19</ns-download>
  </p>

  <h3>Be more energy efficient</h3>
  <p>How to save energy and reduce your bills, along with details on what we’re doing to stay energy efficient.</p>
  <p>
    <ns-download href="pdf.pdf" filesize="1.5MB">Be more energy efficient</ns-download>
  </p>

  <h3>Is a prepay meter right for you?</h3>
  <p>If you’re thinking about getting a pay as you go meter or you’re unsure if it’s the right option for you, this leaflet has all the information you need to know to help you decide.</p>
  <p>
    <ns-download href="pdf.pdf" filesize="1.8MB">PAYGE right for you</ns-download>
  </p>

  <h3>British Gas calling</h3>
  <p>What to check before you let one of our representatives into your home.</p>
  <p>
    <ns-download href="pdf.pdf" filesize="662KB">British Gas calling</ns-download>
  </p>

  <h3>Lots of ways to pay</h3>
  <p>Choosing the right way to pay for your gas and electricity.</p>
  <p>
    <ns-download href="pdf.pdf" filesize="829KB">Lots of ways to pay</ns-download>
  </p>

  <h3>Ways we can help</h3>
  <p>If you’re older, disabled, or living with an illness, we’ve got some helpful advice and telephone numbers. And information on free gas safety checks.</p>
  <p>
    <ns-download href="pdf.pdf" filesize="692KB">Ways we can help</ns-download>
  </p>

  <h3>A guide to switching your energy supplier</h3>
  <p>A step-by-step guide to the energy switching process.</p>
  <p>
    <ns-download href="pdf.pdf" filesize="482KB">Switching your energy supplier</ns-download>
  </p>
</ns-editorial>

<ns-panel decoration="">
  <div class="splash">
    <h2 class="">Smart meter help and support</h2>
    <p class="p-normal">Useful help and support for smart meters.</p>
  </div>
  <div class="splash triple" role="list">

    <ns-card type="card support" alt="">
      <h3 slot="heading" role="heading" aria-level="3">What to expect when you get a smart meter</h3>
      <p class="p-normal" slot="paragraph">Know exactly what to expect when you get a British Gas smart meter fitted.</p>
      <a slot="cta" href="#!">
        <ns-cta type="text">Learn about smart meters</ns-cta>
      </a>
    </ns-card>

    <ns-card type="card support" alt="">
      <h3 slot="heading" role="heading" aria-level="3">Changing your smart appointment</h3>
      <p class="p-normal" slot="paragraph">You can reschedule or cancel your smart appointment online in just a few simple steps.</p>
      <a slot="cta" href="../hs-category-elec-meter.v1/">
        <ns-cta type="text">Change your smart appointment</ns-cta>
      </a>
    </ns-card>

    <ns-card type="card support" alt="">
      <h3 slot="heading" role="heading" aria-level="3">Smart meter hints and tips</h3>
      <p class="p-normal" slot="paragraph">Hints and tips to help you get the most from your smart energy monitor.</p>
      <a slot="cta" href="../hs-category-elec-meter.v1/">
        <ns-cta type="text">Smart meter hints and tips</ns-cta>
      </a>
    </ns-card>
  </div>
</ns-panel>

<ns-panel decoration="">
  <ns-accordion>
    <h3 slot="heading">Useful meter information</h3>
    <ns-expander open="false">
      <h4 slot="heading">How to read your meter using the British Gas app</h4>
      <p>
        Yes, with an online account you can arrange a service visit, find out whatʼs happening with your appointment, submit a meter reading and book an engineer.
        Weʼve even got a free smartphone app.
      </p>
    </ns-expander>
    <ns-expander open="false">
      <h4 slot="heading">Learn about Smart meters</h4>
      <p>
        This is a visit we carry out in each contract year to check your boiler and central heating system
        or gas appliance (depending on what is included in your agreement) are safe and in good working order.
      </p>
    </ns-expander>
    <ns-expander open="false">
      <h4 slot="heading">Is my home ready for a Smart meter?</h4>
      <p>
        The price youʼll pay at renewal is likely to increase as your introductory price will have ended, but it will be tailored to your specific details.
        If youʼre paying by direct debit, you will automatically renew, however you can still choose to change or cancel your contract, we'll contact you before your renewal date to remind you.
      </p>
    </ns-expander>
    <ns-expander open="false">
      <h4 slot="heading">What to expect when you get a Smart meter</h4>
      <p>
        The price youʼll pay at renewal is likely to increase as your introductory price will have ended, but it will be tailored to your specific details.
        If youʼre paying by direct debit, you will automatically renew, however you can still choose to change or cancel your contract, we'll contact you before your renewal date to remind you.
      </p>
    </ns-expander>
    <ns-expander open="false">
      <h4 slot="heading">Changing your Smart appointment</h4>
      <p>
        The price youʼll pay at renewal is likely to increase as your introductory price will have ended, but it will be tailored to your specific details.
        If youʼre paying by direct debit, you will automatically renew, however you can still choose to change or cancel your contract, we'll contact you before your renewal date to remind you.
      </p>
    </ns-expander>
  </ns-accordion>
</ns-panel>
