---
title: hs-category-meter-L7-ihd
---

<ns-landmark type="lakeside">
  <h1 slot="heading">
    <span class="h5">My meter help.</span>
    <span class="h1 enlighten">Which <b>smart energy monitor</b> do you have?</span>
  </h1>
  <div slot="paragraph">
    <p>A <b>smart energy monitor</b> comes with your smart meters and tells you all about your energy usage.</p>
  </div>
</ns-landmark>

<ns-panel>
  <div class="splash">
    <ns-form nf-model="model.L7-ihd">

      <ns-inputter validation='["isRequired"]' name="inputter-a" class="triple" value="">
        <ns-selector image="https://user-images.githubusercontent.com/52657167/80402417-ca237180-88b5-11ea-8b36-453478bd1b15.jpg">
          <input type="radio" name="radio" value="model-1" id="radio-a">
          <label for="radio-a">Model 1</label>
          <div slot="description">
            <p>This model also comes in black.</p>
          </div>
        </ns-selector>
        <ns-selector image="https://user-images.githubusercontent.com/52657167/80402416-c98adb00-88b5-11ea-9428-7c45df5b8b3f.jpg">
          <input type="radio" name="radio" value="model-2" id="radio-b">
          <label for="radio-b">Model 2</label>
          <div slot="description">
            <p>Rectangular shaped.</p>
          </div>
        </ns-selector>
        <ns-selector image="https://user-images.githubusercontent.com/52657167/80402418-ca237180-88b5-11ea-8439-e35f4970353b.jpg">
          <input type="radio" name="radio" value="model-3" id="radio-c">
          <label for="radio-c">Model 3</label>
          <div slot="description">
            <p>Square shaped.</p>
          </div>
        </ns-selector>
        <ns-selector image="https://user-images.githubusercontent.com/52657167/80402594-05be3b80-88b6-11ea-9bab-dc2a2ab76879.jpg">
          <input type="radio" name="radio" value="different" id="radio-d">
          <label for="radio-d">A different smart energy monitor</label>
          <div slot="description">
            <p>If your smart meters weren't installed by British Gas.</p>
          </div>
        </ns-selector>
      </ns-inputter>

      <ns-cta nf-href="DYNAMIC">Continue</ns-cta>

    </ns-form>
  </div>
</ns-panel>

<script>
  function getDynamicURL() {
    var data = document.querySelector('ns-inputter[name="inputter-a"]').value;

    if (data === 'model-1') {
      return '../hs-category-meter-L9-summary/';
    }

    if (data === 'model-2') {
      return '../hs-category-meter-L9-summary/';
    }

    if (data === 'model-3') {
      return '../hs-category-meter-L9-summary/';
    }

    if (data === 'different') {
      return '../hs-category-meter-L9-summary/';
    }
  }
</script>
