---
title: hs-category-meter-L9-summary
---

<ns-landmark type="hillside" gradient="invert-ramp-cyan">
  <h1 slot="heading">
    <span class="h5">My meter help.</span>
    <span class="h1 enlighten">Your <b><span nf-model="model.L4-type.inputter-a">[DATA]</span></b> guidance</span>
  </h1>
  <div slot="paragraph">
    <p>Below you'll find your <span nf-model="model.L4-type.inputter-a">[DATA]</span> guidance and other related information.</p>
  </div>
</ns-landmark>

<ns-editorial id="image-c">
  <h2 slot="heading">Guidance and videos</h2>
  <ul class="ul-bullet">
    <li>
      <a href="#!">Your <span nf-model="model.L4-type.inputter-a">[DATA]</span> instruction manual (PDF 0.9MB)</a>
    </li>
    <li>
      <a href="#!">Understanding your <span nf-model="model.L4-type.inputter-a">[DATA]</span> (YouTube)</a>
    </li>
  </ul>

  <h2>Related information</h2>
  <ul class="ul-bullet">
    <li>
      <a href="https://www.britishgas.co.uk/help-and-support/meters/getting-a-new-card-or-key-for-your-meter">What should I do if my <span nf-model="model.L4-type.inputter-a">[DATA]</span> key/card isn't working and how do I get a new one?</a>
    </li>
    <li>
      <a href="#!">How do I top up for the first time?</a>
    </li>
    <li>
      <a href="#!">Where can I find a Payzone to top up?</a>
    </li>
    <li>
      <a href="#!">Can I top up at a Post Office?</a>
    </li>
    <li>
      <a href="#!">Can I top up online?</a>
    </li>
    <li>
      <a href="#!">Can I top up over the phone?</a>
    </li>
  </ul>
</ns-editorial>

<ns-panel>
  <div class="splash">
    <h2 class="h4">I still need help</h2>
    <p>Use our <a href="#!">online chat</a> between 8am and 8pm.</p>
    <p>Call us on <a href="#!">0800 123 456</a> between 8am and 8pm.</p>
    <p>Return to the <a href="../">Help and support homepage</a>.</p>
  </div>
</ns-panel>

<!-- adding this to avoid the 'is null' error -->
<div id="image-a"></div>
<div id="image-b"></div>
<!-- adding this to avoid the 'is null' error -->
