---
title: hs-category-meters-v2
---

<ns-landmark type="hillside" gradient="invert-ramp-cyan">
  <h1 slot="heading">
    <span class="h5">Help and Support.</span>
    <span class="h1 enlighten"><b>Meters</b></span>
  </h1>
  <p slot="paragraph">Help, support and guidance for Smart meters, pay as you go meters and standard meters.</p>
</ns-landmark>

<ns-panel>
  <ns-lockup reverse>
    <h2 slot="heading">
      <span class="h5">Find your meter.</span>
      <span class="h2 enlighten">Log in to <b>find your guidance</b></span>
    </h2>
    <div slot="paragraph">
      <p>We'll provide the guidance for the meter you have installed and any other equipment that you might need help with.</p>
      <p>If you don't have an online account, then <a href="#!">answer some simple questions</a> and we'll try to provide you with the guidance you need to help resolve your issue.</p>
    </div>
    <a href="#!" slot="cta">
      <ns-cta type="direct" href="#!" icon="arrow-right" loading="false" loadingmessage="Loading...">Log in to find your guidance</ns-cta>
    </a>
    <div slot="image">
      <ns-image src="https://user-images.githubusercontent.com/52657167/72251057-f4963b00-35f4-11ea-9405-753e6e9b17b6.jpg"></ns-image>
    </div>
  </ns-lockup>
</ns-panel>

<ns-editorial>
  <h2 slot="heading">[Include another heading and a paragraph of further information]</h2>
  <p>[Maybe describe what this page offers.]</p>
  <p>[This page contans a list of downloadable PDF (Portable Documents). Which will require an application such as Adobe Acrobat Reader.]</p>

  <h3>Help with Smart Pay As You Go</h3>
  <p>If you’re having problems with your Smart Pay As You Go meters, our guides and FAQs can help.</p>
  <p>
    <ns-cta href="pdf.pdf" type="text">Help with Smart Pay As You Go</ns-cta>
  </p>

  <h3>Changing between pay as you go and standard meters</h3>
  <p>You can change from pay as you go to credit meters as long as you're over 18 , you don't owe money to British Gas and you pass a credit check.</p>
  <p>
    <ns-cta href="pdf.pdf" type="text">Changing between pay as you go and standard meters</ns-cta>
  </p>

  <h3>Where to top up your pay as you go meter</h3>
  <p>If you’re a Smart Pay As You Go customer, the easiest way to top up without leaving the comfort of your sofa is to access your online account.</p>
  <p>
    <ns-cta href="pdf.pdf" type="text">Where to top up your pay as you go meter</ns-cta>
  </p>

  <h3>Using Emergency Credit</h3>
  <p>Each British Gas gas and electricity meter has £5 of Emergency Credit built in for when you run out of gas or electricity and you are unable to top up.</p>
  <p>
    <ns-cta href="pdf.pdf" type="text">Using Emergency Credit</ns-cta>
  </p>

  <h3>Understanding messages on your meter</h3>
  <p>Have a look below for steps you can try when you get different meter messages.</p>
  <p>
    <ns-cta href="pdf.pdf" type="text">Understanding messages on your meter</ns-cta>
  </p>

  <h3>Paying us back through your pay as you go meter</h3>
  <p>We'll agree a weekly amount with you that we'll take off your gas meter each time you top up.</p>
  <p>
    <ns-cta href="pdf.pdf" type="text">Paying us back through your pay as you go meter</ns-cta>
  </p>

  <h3>Getting your pay as you go meter reading</h3>
  <p>Each meter is read slightly differently, have a read of the differences below. Make sure whenever you take a reading, you record the date too.</p>
  <p>
    <ns-cta href="pdf.pdf" type="text">Getting your pay as you go meter reading</ns-cta>
  </p>

  <h3>Getting a new card or key for your meter</h3>
  <p>Don't worry if you've lost your card or key, think it might be stolen or if it isn’t working. You can collect a new one from your nearest Payzone.</p>
  <p>
    <ns-cta href="pdf.pdf" type="text">Getting a new card or key for your meter</ns-cta>
  </p>

  <h3>How to read your standard meter</h3>
  <p>Here is a guide to the different types of gas and electricity meters and how to read them:</p>
  <p>
    <ns-cta href="pdf.pdf" type="text">How to read your standard meter</ns-cta>
  </p>

  <h3>How to take a reading on a smart meter</h3>
  <p>You don't actually need to take any readings with a smart meter, it will do that automatically. But if you want them for your own peace of mind, you can still get them.</p>
  <p>
    <ns-cta href="pdf.pdf" type="text">How to take a reading on a smart meter</ns-cta>
  </p>

  <h3>What to expect when you get a smart meter</h3>
  <p>Once you've booked your appointment, here's what we'll do – and what we need from you.</p>
  <p>
    <ns-cta href="pdf.pdf" type="text">What to expect when you get a smart meter</ns-cta>
  </p>

  <h3>Changing your smart appointment</h3>
  <p>Something come up? You can change or cancel your appointment with us online in a few simple steps, and you don’t need an account to do so.</p>
  <p>
    <ns-cta href="pdf.pdf" type="text">Changing your smart appointment</ns-cta>
  </p>

  <h3>Using your smart energy monitor</h3>
  <p>Hints and tips to help you get the most from your smart energy monitor.</p>
  <p>
    <ns-cta href="pdf.pdf" type="text">Using your smart energy monitor</ns-cta>
  </p>

  <h3>Submitting a credit meter reading online</h3>
  <p>You can submit a meter reading online, whether or not you have an online account. You'll just need your account details handy.</p>
  <p>
    <ns-cta href="pdf.pdf" type="text">Submitting a credit meter reading online</ns-cta>
  </p>
</ns-editorial>

<ns-panel decoration="">
  <div class="splash">
    <h2 class="">Smart meter help and support</h2>
    <p class="p-normal">Useful help and support for smart meters.</p>
  </div>
  <div class="splash triple" role="list">

    <ns-card type="card support" alt="">
      <h3 slot="heading" role="heading" aria-level="3">What to expect when you get a smart meter</h3>
      <p class="p-normal" slot="paragraph">Know exactly what to expect when you get a British Gas smart meter fitted.</p>
      <a slot="cta" href="#!">
        <ns-cta type="text">Learn about smart meters</ns-cta>
      </a>
    </ns-card>

    <ns-card type="card support" alt="">
      <h3 slot="heading" role="heading" aria-level="3">Changing your smart appointment</h3>
      <p class="p-normal" slot="paragraph">You can reschedule or cancel your smart appointment online in just a few simple steps.</p>
      <a slot="cta" href="../hs-category-elec-meter.v1/">
        <ns-cta type="text">Change your smart appointment</ns-cta>
      </a>
    </ns-card>

    <ns-card type="card support" alt="">
      <h3 slot="heading" role="heading" aria-level="3">Smart meter hints and tips</h3>
      <p class="p-normal" slot="paragraph">Hints and tips to help you get the most from your smart energy monitor.</p>
      <a slot="cta" href="../hs-category-elec-meter.v1/">
        <ns-cta type="text">Smart meter hints and tips</ns-cta>
      </a>
    </ns-card>
  </div>
</ns-panel>
