---
title: hs-category-meter-L3-start
---

<ns-landmark type="lakeside">
  <h1 slot="heading">
    <span class="h5">My meter help.</span>
    <span class="h1">Before we get started</span>
  </h1>
  <div slot="paragraph">
    <p>If you have your login details, you can <a href="#!">get personalised help and support</a>.</p>
    <p>There may be some questions that will require you to be near your meter. This is to help provide you with the best help and support.</p>
  </div>
  <a slot="cta" href="../hs-category-meter-L4-type/">
    <ns-cta>Let's get started</ns-cta>
  </a>
</ns-landmark>
