---
title: Help with your meter
eleventyNavigation:
  key: Help with your meter
  parent: rpa
  title: Help with your meter
  excerpt: Help with your meter excerpt
---

<ns-panel decoration="invert-concave-grey-light">
  <div class="splash">
    <ns-form style="padding-bottom: 30px;">
      <ns-inputter mask="" separator="" validation="[&quot;isRequired&quot;]" value="" helper="" name="first-name">
        <h2>How can we help you today?</h2>
        <input type="text">
      </ns-inputter>
    </ns-form>
  </div>
</ns-panel>

<ns-panel>
  <div class="splash">
    <ns-card type="flat" alt="">
      <h3 slot="heading">Help and support is better when you log in</h3>
      <p slot="paragraph">We're able to personalise this page with links and articles that are tailored to you.</p>
      <a slot="cta" href="#!">
        <ns-cta type="direct">Log in to personalise</ns-cta>
      </a>
    </ns-card>
  </div>
</ns-panel>

<ns-panel decoration="">
  <div class="splash">
    <h2>Help categories</h2>
  </div>

  <div class="splash triple" role="list">
    <ns-card role="listitem" type="support" image="" alt="">
      <h3 slot="heading" role="heading" aria-level="3">Tips and guides</h3>
      <p class="p-normal" slot="paragraph">Includes quick and handy tips to try yourself.</p>
      <a slot="cta" href="#!">
        <ns-cta type="text">Tips and guides</ns-cta>
      </a>
    </ns-card>
    <ns-card role="listitem" type="support" image="" alt="">
      <h3 slot="heading" role="heading" aria-level="3">Emergencies</h3>
      <p class="p-normal" slot="paragraph">Gas emergency, electrical emergency and other emergencies.</p>
      <a slot="cta" href="#!">
        <ns-cta type="text">Emergencies</ns-cta>
      </a>
    </ns-card>
    <ns-card role="listitem" type="support" image="" alt="">
      <h3 slot="heading" role="heading" aria-level="3">Bills & payments</h3>
      <p class="p-normal" slot="paragraph">Includes paying your bill, understanding your bill and setting up a Direct Debit.</p>
      <a slot="cta" href="#!">
        <ns-cta type="text">Bills & payments</ns-cta>
      </a>
    </ns-card>
    <ns-card role="listitem" type="support" image="" alt="">
      <h3 slot="heading" role="heading" aria-level="3">Appliances & engineers</h3>
      <p class="p-normal" slot="paragraph">Includes instructions to repair appliances and how to book annual services.</p>
      <a slot="cta" href="#!">
        <ns-cta type="text">Appliances & engineers</ns-cta>
      </a>
    </ns-card>
    <ns-card role="listitem" type="support" image="" alt="">
      <h3 slot="heading" role="heading" aria-level="3">Breakdowns</h3>
      <p class="p-normal" slot="paragraph">Includes how to book a repair and what to do if you do not have gas or electricity.</p>
      <a slot="cta" href="#!">
        <ns-cta type="text">Breakdowns</ns-cta>
      </a>
    </ns-card>
    <ns-card role="listitem" type="support" image="" alt="">
      <h3 slot="heading" role="heading" aria-level="3">Moving home</h3>
      <p class="p-normal" slot="paragraph">Includes moving out, moving in and refunds.</p>
      <a slot="cta" href="#!">
        <ns-cta type="text">Moving home</ns-cta>
      </a>
    </ns-card>
    <ns-card role="listitem" type="support" image="" alt="">
      <h3 slot="heading" role="heading" aria-level="3">My account</h3>
      <p class="p-normal" slot="paragraph">Includes changing your details, the British Gas app and closing down your account.</p>
      <a slot="cta" href="#!">
        <ns-cta type="text">My account</ns-cta>
      </a>
    </ns-card>
    <ns-card role="listitem" type="support" image="" alt="">
      <h3 slot="heading" role="heading" aria-level="3">Meters</h3>
      <p class="p-normal" slot="paragraph">Smart meters, pay as you go meters and standard meters.</p>
      <a slot="cta" href="./hs-category-fuel-type.v1/">
        <ns-cta type="text">Meters</ns-cta>
      </a>
    </ns-card>
    <ns-card role="listitem" type="support" image="" alt="">
      <h3 slot="heading" role="heading" aria-level="3">Hive and Smart home</h3>
      <p class="p-normal" slot="paragraph">Hive products and smart home help.</p>
      <a slot="cta" href="#!">
        <ns-cta type="text">Hive and Smart home</ns-cta>
      </a>
    </ns-card>
  </div>
</ns-panel>

<ns-panel decoration="invert-bridge-grey-light">
  <div class="splash">
    <h2 class="">Most read articles</h2>
  </div>
  <div class="splash triple" role="list">
    <ns-card role="listitem" type="flat">
      <a slot="cta" href="#!">
        <ns-cta type="text">View your energy bill or statement</ns-cta>
      </a>
    </ns-card>

    <ns-card role="listitem" type="flat">
      <a slot="cta" href="#!">
        <ns-cta type="text">Accessing your account</ns-cta>
      </a>
    </ns-card>

    <ns-card role="listitem" type="flat">
      <a slot="cta" href="#!">
        <ns-cta type="text">How to read your credit meter</ns-cta>
      </a>
    </ns-card>

    <ns-card role="listitem" type="flat">
      <a slot="cta" href="#!">
        <ns-cta type="text">Boiler and gas annual service</ns-cta>
      </a>
    </ns-card>

    <ns-card role="listitem" type="flat">
      <a slot="cta" href="#!">
        <ns-cta type="text">Where to top up your pay as you go meter</ns-cta>
      </a>
    </ns-card>

    <ns-card role="listitem" type="flat">
      <a slot="cta" href="#!">
        <ns-cta type="text">Paying your energy bill</ns-cta>
      </a>
    </ns-card>

  </div>
</ns-panel>
