---
title: Help with your meter
eleventyNavigation:
  key: Help with your meter
  parent: rpa
  title: Help with your meter
  excerpt: Help with your meter excerpt
---

<ns-landmark type="lakeside">
  <h1 slot="heading">
    <span class="h5">Help and support.</span>
    <span class="h1 enlighten">How can we <b>help you</b> today?</span>
  </h1>
  <!-- @drew.jones 2020-04-21 - forcing an inline style as form elements are not designed to belong in the landmark -->
  <ns-form slot="paragraph" style="font-size: 1em;">
    <ns-inputter name="search">
      <label slot="label" for="search">Search</label>
      <input id="search" type="text">
    </ns-inputter>
  </ns-form>
</ns-landmark>

<ns-panel>
  <div class="splash">
    <ns-card type="flat">
      <h2 slot="heading">Help and support is better when you log in</h2>
      <p slot="paragraph">We're able to personalise this page with links and articles that are tailored to you.</p>
      <a slot="cta" href="#!">
        <ns-cta type="direct">Log in to personalise</ns-cta>
      </a>
    </ns-card>
  </div>
</ns-panel>

<ns-panel>
  <div class="splash">
    <h2>Help categories</h2>
  </div>

  <div class="splash triple">
    <ns-card type="support">
      <h3 slot="heading">Tips and guides</h3>
      <p slot="paragraph">Includes quick and handy tips to try yourself.</p>
      <a slot="cta" href="#!">
        <ns-cta type="text">Tips and guides</ns-cta>
      </a>
    </ns-card>
    <ns-card type="support">
      <h3 slot="heading">Emergencies</h3>
      <p slot="paragraph">Gas emergency, electrical emergency and other emergencies.</p>
      <a slot="cta" href="#!">
        <ns-cta type="text">Emergencies</ns-cta>
      </a>
    </ns-card>
    <ns-card type="support">
      <h3 slot="heading">Bills & payments</h3>
      <p slot="paragraph">Includes paying your bill, understanding your bill and setting up a Direct Debit.</p>
      <a slot="cta" href="#!">
        <ns-cta type="text">Bills & payments</ns-cta>
      </a>
    </ns-card>
    <ns-card type="support">
      <h3 slot="heading">Appliances & engineers</h3>
      <p slot="paragraph">Includes instructions to repair appliances and how to book annual services.</p>
      <a slot="cta" href="#!">
        <ns-cta type="text">Appliances & engineers</ns-cta>
      </a>
    </ns-card>
    <ns-card type="support">
      <h3 slot="heading">Breakdowns</h3>
      <p slot="paragraph">Includes how to book a repair and what to do if you do not have gas or electricity.</p>
      <a slot="cta" href="#!">
        <ns-cta type="text">Breakdowns</ns-cta>
      </a>
    </ns-card>
    <ns-card type="support">
      <h3 slot="heading">Moving home</h3>
      <p slot="paragraph">Includes moving out, moving in and refunds.</p>
      <a slot="cta" href="#!">
        <ns-cta type="text">Moving home</ns-cta>
      </a>
    </ns-card>
    <ns-card type="support">
      <h3 slot="heading">My account</h3>
      <p slot="paragraph">Includes changing your details, the British Gas app and closing down your account.</p>
      <a slot="cta" href="#!">
        <ns-cta type="text">My account</ns-cta>
      </a>
    </ns-card>
    <ns-card type="support">
      <h3 slot="heading">Meters</h3>
      <p slot="paragraph">Smart meters, pay as you go meters and standard meters.</p>
      <a slot="cta" href="./hs-category-meter-L2-hub/">
        <ns-cta type="text">Meters</ns-cta>
      </a>
    </ns-card>
    <ns-card type="support">
      <h3 slot="heading">Hive and Smart home</h3>
      <p slot="paragraph">Hive products and smart home help.</p>
      <a slot="cta" href="#!">
        <ns-cta type="text">Hive and Smart home</ns-cta>
      </a>
    </ns-card>
  </div>
</ns-panel>

<!-- @drew.jones 2020-04-21 - a list of links does not feature in the Nucleus documentation, it's been mentioned and could warrant an RFC -->
<ns-panel>
  <div class="splash">
    <h2 class="h4">Most read articles</h2>
    <ul class="ul-bullet">
      <li>
        <a href="#!">View your energy bill or statement</a>
      </li>
      <li>
        <a href="#!">Accessing your account</a>
      </li>
      <li>
        <a href="#!">How to read your credit meter</a>
      </li>
      <li>
        <a href="#!">Boiler and gas annual service</a>
      </li>
      <li>
        <a href="#!">Where to top up your pay as you go meter</a>
      </li>
      <li>
        <a href="#!">Paying your energy bill</a>
      </li>
    </ul>
  </div>
</ns-panel>

<!-- @drew.jones 2020-04-21 - removing this as `ns-cards` are to include at least a `heading` and a `paragraph` as well as the `cta`.
<ns-panel decoration="invert-bridge-grey-light">
  <div class="splash">
    <h2>Most read articles</h2>
  </div>
  <div class="splash triple">
    <ns-card type="flat">
      <a slot="cta" href="#!">
        <ns-cta type="text">View your energy bill or statement</ns-cta>
      </a>
    </ns-card>
    <ns-card type="flat">
      <a slot="cta" href="#!">
        <ns-cta type="text">Accessing your account</ns-cta>
      </a>
    </ns-card>
    <ns-card type="flat">
      <a slot="cta" href="#!">
        <ns-cta type="text">How to read your credit meter</ns-cta>
      </a>
    </ns-card>
    <ns-card type="flat">
      <a slot="cta" href="#!">
        <ns-cta type="text">Boiler and gas annual service</ns-cta>
      </a>
    </ns-card>
    <ns-card type="flat">
      <a slot="cta" href="#!">
        <ns-cta type="text">Where to top up your pay as you go meter</ns-cta>
      </a>
    </ns-card>
    <ns-card type="flat">
      <a slot="cta" href="#!">
        <ns-cta type="text">Paying your energy bill</ns-cta>
      </a>
    </ns-card>
  </div>
</ns-panel>
 -->
