---
title: Complaints
eleventyNavigation:
  key: Complaints
  parent: rpa
  title: Complaints V3
  excerpt: Nucleus redesign of the complaints journey
---

<ns-landmark type="lakeside">
  <h1 slot="heading">
    <span class="h5">Making a complaint.</span>
    <span class="h1">Did we get something wrong? Tell us about it.</span>
  </h1>
  <div slot="paragraph" style="padding-bottom: 20px;">
    <p>Tell us which product or service you’re unhappy about, and we’ll put you through to one of our team.</p>
    <p>Or if you have an <b>enquiry</b>, you can <b>start a webchat</b> with an advisor in our <a href="https://www.britishgas.co.uk/help-and-support/">Help and Support section</a>.</p>
  </div>
  <a slot="cta" href="make-a-complaint-what-type">
    <ns-cta>Make a complaint</ns-cta>
  </a>
</ns-landmark>

<ns-panel decoration="">
  <div class="splash">
    <h3>Popular help topics</h3>
  </div>
  <div class="splash triple" role="list">
    <ns-card role="listitem" type="support" image="https://user-images.githubusercontent.com/49559070/95085868-ad6a5000-0717-11eb-85ca-3f7883d0ddd0.jpg">
      <h3 slot="heading" role="heading" aria-level="3">Payments</h3>
      <p slot="paragraph">Take a look at these handy articles for help with payment questions.</p>
      <a slot="cta" href="">
        <br><ns-cta type="text" href="#!" icon="arrow-right" loading="false" loadingmessage="Loading...">Understanding your new monthly payments</ns-cta></br>
        <br><ns-cta type="text" href="#!" icon="arrow-right" loading="false" loadingmessage="Loading...">Help if you're struggling to pay</ns-cta></br>
        <br><ns-cta type="text" href="#!" icon="arrow-right" loading="false" loadingmessage="Loading...">Your energy bill explained</ns-cta></br>
      </a>
    </ns-card>
    <ns-card role="listitem" type="support" image="https://user-images.githubusercontent.com/49559070/95085972-d1c62c80-0717-11eb-8329-d35d4b19a070.jpg">
      <h3 slot="heading" role="heading" aria-level="3">Engineer appointments</h3>
      <p slot="paragraph">Here's some guidance on how to book, track or cancel an engineer visit.</p>
       <a slot="cta" href="">
        <br><ns-cta type="text" href="#!" icon="arrow-right" loading="false" loadingmessage="Loading...">Book an engineer</ns-cta></br>
        <br><ns-cta type="text" href="#!" icon="arrow-right" loading="false" loadingmessage="Loading...">Track your engineer</ns-cta></br>
        <br><ns-cta type="text" href="#!" icon="arrow-right" loading="false" loadingmessage="Loading...">Get a quote for an engineer</ns-cta></br>
      </a>
    </ns-card>
    <ns-card role="listitem" type="support" image="https://user-images.githubusercontent.com/49559070/95086040-eacedd80-0717-11eb-9ab8-a789b692ca05.jpg">
      <h3 slot="heading" role="heading" aria-level="3">Tariffs</h3>
      <p slot="paragraph">Want to get a quote or find out information about your tariff?</p>
      <a slot="cta" href="">
        <br><ns-cta type="text" href="#!" icon="arrow-right" loading="false" loadingmessage="Loading...">Our latest tariffs</ns-cta></br>
        <br><ns-cta type="text" href="#!" icon="arrow-right" loading="false" loadingmessage="Loading...">Get a quote   </ns-cta></br>
        <br><ns-cta type="text" href="#!" icon="arrow-right" loading="false" loadingmessage="Loading...">My account</ns-cta></br>
      </a>
    </ns-card>
  </div>
</ns-panel>

<ns-panel>
  <ns-accordion role="tablist">
    <h3 slot="heading">Additional complaints information</h3> 

    <ns-expander role="tab">
      <h4 slot="heading">Complaints handling procedure</h4>
      <p>View a copy of our complaints handling procedure <a href="https://www.britishgas.co.uk/aem6/content/dam/britishgas/complaints/we-are-listening.pdf">We're listening (PDF 2.6MB)</a></p>
      <p>If you would also like to view a copy of the "Gas & electricity (Consumer complaint handling standards) Regulations 2008", please visit <a href="https://www.legislation.gov.uk">www.legislation.gov.uk</a>.</p>
    </ns-expander>

    <ns-expander role="tab">
      <h4 slot="heading">If you need independent advice</h4>
      <p>The Citizens Advice consumer service can give you free, confidential and impartial advice on your home energy contracts and billing. You can get in touch with them for advice anytime during the complaints process:</p>
      <p>Telephone: <a href="#">0808 223 1133</a> Monday to Friday 9-5pm.<br>
        Website: <a href="https://www.citizensadvice.org.uk/energy">www.citizensadvice.org.uk/energy</a><br>
        Form: <a href="https://www.citizensadvice.org.uk/consumer/get-more-help/if-you-need-more-help-about-a-consumer-issue/">Consumer energy query form</a><br></p>
    </ns-expander>
  </ns-accordion>
</ns-panel>