<style type="text/css">
  .nav-footer {
    height: 50px;
    line-height: 3.2em;
  }
  .nav-footer nav span a { color: white; text-decoration-color: white; }
  .nav-footer nav span a:hover { color: white; text-decoration-color: white; }
  .nav-footer nav span a:visited { color: white; text-decoration-color: white; }
  .nav-footer nav span a:visited:hover { color: white; text-decoration-color: white; }
</style>

<!-- NOTE @drew 2020-02-18 this is a mockup for logged in navigation -->
<div class="nav-footer">
  <ns-panel type="nav" decoration="invert-bridge-blue">
    <nav class="splash">
      <span class="address">Alex Jones, 16 Long Close</span>
      <span><a href="../rewards-oam">Account overview</a></span>
    </nav>
  </ns-panel>
</div>