<ns-panel slot="panel">
  <ns-card type="flat" alt="">
    <h3 slot="heading">Want to leave our rewards programme?</h3>
    <p slot="paragraph">You'll no longer get access to exclusive offers and giveaways.</p>
    <a slot="cta" href="../rewards-leave">
      <ns-cta type="text">Yes, I'd like to leave</ns-cta>
    </a>
  </ns-card>
</ns-panel>