<ns-card role="listitem" type="support">
	<h3 slot="heading">Get 35% off Hive Active Heating</h3>
	<div slot="paragraph">
	  <p><a href="https://www.britishgas.co.uk/aem6/content/dam/britishgas/downloads/rewards/CLUB10130-01-Hive-Active-Heating-35Feb20.pdf"><ns-icon style="width: 1em; height: 1em; position: relative; top: 0.15em;" type="download"></ns-icon>Terms and conditions (<abbr title="Portable Document Format">PDF</abbr> 32<abbr title="Kilobytes">kB</abbr>)</a></p>
	  <p>With our latest offer you can get a huge 35% off Hive Active Heating. We’ll also send one of our trusted British Gas engineers to do your installation.</p>
	  <p>Click the link below and enter <b>VOUCHERDUMMY19</b> at the checkout to get your discount.</p>
	  <p><b>Ends Thursday 30 April</b></p>
	</div>
	<a slot="cta" href="https://www.hivehome.com/products/categories/heating">
	  <ns-cta type="text">Visit Hive to use your 35% discount</ns-cta>
	</a>
</ns-card>