---
layout: nucleus-header-logged-out-v04.njk
title: British Gas
---



<main class="ndsn" id="content">

  <ns-landmark image="https://www5.bgo.bgdigitaltest.co.uk/aem6/content/dam/britishgas/images/home-services/New-Soap-Face-Home-Servicesv2.jpg" type="summit">
    <h1 slot="heading">
      <span class="h5">HomeCare offer.</span>
      <span class="h1 enlighten"><b>Keep bathtime flowing</b> with HomeCare</span>
    </h1>
    <div slot="paragraph">
      <p>Get a <ns-price pence="7500"></ns-price> Gift Card when you buy HomeCare online. Offer ends 24th February 2021. <a aria-label="Skip to caveat section" href="#caveat">1</a></p>
    </div>
    <a slot="cta" href="/home-services/boilers-and-heating/boiler-and-heating-cover.html">
      <ns-cta>Get HomeCare cover</ns-cta>
    </a>
  </ns-landmark>

  <ns-panel>
    <div class="splish">
      <h2>What can we help you with?</h2>
    </div>
    <div role="list" class="splish triple">
      <ns-card role="listitem" type="section" decoration="gas">
        <h3 slot="heading" role="heading" aria-level="3">Energy</h3>
        <div slot="paragraph">
          <p>Let us <b>find a tariff</b> that works for you and your wallet.</p>
        </div>
        <a slot="cta" href="/GetAQuote/">
          <ns-cta type="direct">Get a quote </ns-cta>
        </a>
      </ns-card>
      <ns-card role="listitem" type="section" decoration="boiler">
        <h3 slot="heading" role="heading" aria-level="3">Home Services</h3>
        <div slot="paragraph">
          <p>Make your problem our problem with our <b>repair and cover</b> options for your home.</p>
        </div>
        <a slot="cta" href="/home-services.html">
          <ns-cta type="direct">Get covered </ns-cta>
        </a>
      </ns-card>
      <ns-card role="listitem" type="section" decoration="home">
        <h3 slot="heading" role="heading" aria-level="3">Smart Homes</h3>
        <div slot="paragraph">
          <p>We can help you get connected with <b>Hive Tech</b> to bring your home into the 21st century.</p>
        </div>
        <a slot="cta" href="/smart-home.html">
          <ns-cta type="direct">Get connected</ns-cta>
        </a>
      </ns-card>
    </div>
  </ns-panel>

  <ns-panel decoration="circle-yellow-left">
    <ns-lockup type="lockjaw" reverse="" decoration="bulb">
      <h2 slot="heading">
        <span class="h5">Switch energy tariff.</span>
        <span class="h1 enlighten">Here to help you <b>switch and save</b></span>
      </h2>
      <div slot="paragraph">
        <p>Thinking of switching energy tariff?</p>
        <p>All we need is your postcode and a bit of info about you and your home. It could be helpful to <a href="/help/my-account/understanding-price-cap.html">read our price cap information</a>.</p>
      </div>
      <a slot="cta" href="/GetAQuote/#/new/quote-details">
        <ns-cta type="direct">Get an energy quote</ns-cta>
      </a>
      <ns-image slot="image" src="https://www5.bgo.bgdigitaltest.co.uk/aem6/content/dam/britishgas/homepage/nucleus/homepage-lockup1.jpg" alt="British Gas - Switch energy tariff"></ns-image>
    </ns-lockup>
  </ns-panel>

  <ns-panel>
    <ns-lockup type="lockjaw" decoration="clock">
      <h2 slot="heading">
        <span class="h5">Home Services.</span>
        <span class="h1 enlighten">Here for those <b>what-if moments</b></span>
      </h2>
      <div slot="paragraph">
        <p>What if your boiler packs up? What if there’s a leak in the ceiling and you can’t find a last-minute plumber?</p>
        <p>With <b>British Gas HomeCare</b>, you won’t need to worry about the what-ifs. That’s because you’ll have access to <b>unlimited engineer call-outs</b> and <b>24/7 support</b>.</p>
      </div>
      <a slot="cta" href="/home-services/boilers-and-heating/boiler-and-heating-cover.html">
        <ns-cta type="direct">Get HomeCare </ns-cta>
      </a>
      <ns-image slot="image" src="https://www5.bgo.bgdigitaltest.co.uk/aem6/content/dam/britishgas/homepage/nucleus/homepage-lockup2.jpg" alt="British Gas - Home Services"></ns-image>
    </ns-lockup>
  </ns-panel>

  <ns-panel decoration="invert-concave-yellow">
    <ns-lockup type="lockbox" reverse="">
      <h2 slot="heading">
        <span class="h5">Smart Homes.</span>
        <span class="h1 enlighten">Here to <b>connect your home</b></span>
      </h2>
      <div slot="paragraph">
        <p>We work closely with Hive to bring you all sorts of smart tech and services that can help transform your home.</p>
        <p>Right now, British Gas customers get <ns-price pence="5000"></ns-price> off Hive Active Heating. <a aria-label="Skip to caveat section" href="#caveat">2</a></p>
        <p><b>
            <ns-price pence="24900"></ns-price> (<ns-price pence="19900"></ns-price> for British Gas customers).
          </b></p>
      </div>
      <a slot="cta" href="/smart-home/hive-heating.html">
        <ns-cta type="direct">Get <ns-price pence="5000"></ns-price> off Hive Active Heating</ns-cta>
      </a>
      <ns-image slot="image" src="https://www5.bgo.bgdigitaltest.co.uk/aem6/content/dam/britishgas/homepage/nucleus/homepage-lockup3.jpg" alt="British Gas - Smart Homes"></ns-image>
    </ns-lockup>
  </ns-panel>

  <ns-panel>
    <ns-lockup type="lockbox">
      <h2 slot="heading">
        <span class="h5">British Gas Rewards.</span>
        <span class="h1 enlighten">Here to <b>make your day</b></span>
      </h2>
      <div slot="paragraph">
        <p>Not got much on for the weekend? Join Rewards and <a href="/rewards.html">snap up great offers</a> on restaurants, movie nights and family days out. Just for being with us.</p>
        <p>You can also claim discounts on things like boiler cover, and enter prize draws for concert tickets, holidays and more.</p>
      </div>
      <a slot="cta" href="/identity/">
        <ns-cta type="direct">Join Rewards</ns-cta>
      </a>
      <ns-image slot="image" src="https://www5.bgo.bgdigitaltest.co.uk/aem6/content/dam/britishgas/homepage/nucleus/homepage-lockup4.jpg" alt="British Gas Rewards"></ns-image>
    </ns-lockup>
  </ns-panel>

  <ns-panel decoration="invert-concave-grey-light">
    <div class="splash">
      <h2>Need help with something else?</h2>
    </div>
    <div role="list" class="splash triple ">
      <ns-card role="listitem" type="support">
        <h3 slot="heading" role="heading" aria-level="3">Book an engineer</h3>
        <div slot="paragraph">
          <p>Whether it’s a cold home or an even colder shower you’re dealing with, book an engineer and make your problem our problem.</p>
        </div>
        <a slot="cta" href="/home-services/book-engineer">
          <ns-cta type="text">Book an engineer</ns-cta>
        </a>
      </ns-card>
      <ns-card role="listitem" type="support">
        <h3 slot="heading" role="heading" aria-level="3">Book a one-off repair</h3>
        <div slot="paragraph">
          <p>Boiler on the blink but not a British Gas customer? Book a one-off repair and we’ll sort it from as little as <ns-price pence="9900"></ns-price>.</p>
        </div>
        <a slot="cta" href="/home-services/boilers-and-heating/boiler-and-heating-repair.html">
          <ns-cta type="text">Book a one-off repair</ns-cta>
        </a>
      </ns-card>
      <ns-card role="listitem" type="support">
        <h3 slot="heading" role="heading" aria-level="3">Moving home</h3>
        <div slot="paragraph">
          <p>Let us know you’re moving, and we’ll transfer your energy supply to your new home. That’s one less thing to worry about.</p>
        </div>
        <a slot="cta" href="/discover/home-move/#/hub">
          <ns-cta type="text">Let us know you’re moving</ns-cta>
        </a>
      </ns-card>
    </div>
  </ns-panel>

  <ns-caveat type="standard" id="caveat">
    <h2 slot="heading">Additional information</h2>
    <div slot="caveat">
      <ol>
        <li>
          <p>Offer of a Multi-Store gift card is available to new domestic homeowners and, landlords who buy HomeCare Two – Four online from <strong>06th January – 24th February</strong> 2020. In order to qualify we must have received your first payment and your policy must still be active 60 days after purchase and you must provide a valid email address. Offer is not available with any other offer or promotion and can be withdrawn at any time. You are not eligible for the Multi-Store gift card if you have had a HomeCare product with similar features in the last 3 months, or more than once in the last 3 years. Excludes HomeCare One, multi-premise Landlords, and existing HomeCare One – Four customers. Instructions on how to redeem your Multi-Store gift card will be emailed 60 days after purchase, you will then have a further 90 days to claim.</p>
          <p>Take a <a aria-label="Opens in new window" href="https://www.one4all.com/retailer.html" target="_blank">look at the full list of retailers</a> where you can use your gift card. There are more than 130 to choose from! And don’t forget to <a aria-label="Opens in new window" href="https://www.gvsprepaid.com/one4alluk-tcs.html" target="_blank">read our gift card terms and conditions</a>.</p>
        </li>
        <li>
          <p>
            <ns-price pence="5000"></ns-price> discount is available to new and existing British Gas energy, HomeCare and 5 Year Warranty customers only. Discount is off hivehome.com RRP: <a href="https://www.hivehome.com/products/hive-active-heating">https://www.hivehome.com/products/hive-active-heating</a>
          </p>
        </li>
      </ol>
    </div>
  </ns-caveat>

</main>