<ns-card type="support" image="https://user-images.githubusercontent.com/52657167/74230845-20244800-4cbd-11ea-96db-cacf26274105.jpg">
  <h3 slot="heading">Get free electricity with Loyalty Days</h3>
  <p slot="paragraph">To thank you for being a customer we're giving you 6 days of free daytime electricity, over a year.</p>
  <p slot="paragraph"><b>Ends Friday 28 February</b></p>
  <div slot="cta">
    <ns-cta type="text" href="../rewards-details-free">Find out more about Loyalty Days</ns-cta>
  </div>
</ns-card>