<!--






<ns-landmark type="hillside">
  <h1 slot="heading">
    <span class="h5">Your quote.</span>
    <span class="h1 enlighten">Something you might be interested in</b></span>
  </h1>
 
  <p slot="paragraph">Get peace of mind by covering your home against accidental damage and breakdowns</p>

</ns-landmark>

<ns-landmark image="https://user-images.githubusercontent.com/53818498/99809992-00b72700-2b3b-11eb-98b8-570a5ec9f2fb.jpg" type="summit">  <h1 slot="heading">    <span class="h5">Change your energy tariff.</span>    <span class="h1">Something you might be interested in</span>  </h1>  <p slot="paragraph">Get peace of mind by covering your home against accidental damage and breakdowns</p>  </ns-landmark>




-->

<ns-landmark type="valley" image="https://user-images.githubusercontent.com/53818498/98539463-47c43300-2284-11eb-9930-5c32920d1501.png">
  <h1 slot="heading">
    <span class="h5">Change your energy tariff.</span>
    <span class="h1 enlighten"><b>Something you might be interested in</b></span>
  </h1>
  <p slot="paragraph">Get peace of mind by covering your home against accidental damage and breakdowns</p>
</ns-landmark>



</div>

  <ns-panel>
  <ns-form class="splash" nf-model="model.get-a-quote">
   <div>
     <h3 slot="name">Boiler & Controls Breakdown Cover</h3>   
     <h1>£2.50 / month</h1>
     <h3><ns-price pence="115200"></ns-price> / year</h3> 
     <p>Avoid the cost of future repairs if your boiler and controls break down <b>(£99 excess)</b></p>

     <ns-expander open="false" colour="">
       <h3 slot="heading">Things we cover</h3>
       Yes, with an online account you can arrange a service visit, find out whatʼs happening with your appointment, submit a meter reading and book an engineer.
     </ns-expander>
     <ns-expander open="false" colour="">
       <h3 slot="heading">Things we don't cover</h3>
       Yes, with an online account you can arrange a service visit, find out whatʼs happening with your appointment, submit a meter reading and book an engineer.
     </ns-expander>
   </div>

    <ns-inputter validation="[&quot;isRequired&quot;]" name="customer" value="">
      <input type="radio" id="radio-a-1" name="radio-a" value="No" checked>
      <label for="radio-a-1">Don’t add this cover to my order </label>
      <input type="radio" id="radio-a-2" name="radio-a" value="Yes">
      <label for="radio-a-2">Add this cover to my order </label>
    </ns-inputter>
    <a href="../04-personal-details" slot="cta" onClick="tarrifOne()">
              <ns-cta>Continue</ns-cta>
        </a>
    <ns-cta nf-href="../04-personal-details"><onClick="AddOn()">Continue</onClick="AddOn()"></ns-cta>
  </ns-form>
</ns-panel>      






