





<!-- FORM -->

<ns-panel>
  <div class="splash">
  <h5>Change your energy tariff.</h5>
    <h1>Please complete your details</h1>



  
  </div>
    <ns-form class="splash" nf-model="model.get-a-quote">



<ns-form class="splash" nf-model="model.get-a-quote">
          <dl class="dl-row">
            <div>        
                <dt>Name</dt>        
                <dd>Ms Rebecca Robinson</dd>      
              </div>          

            <div>
              <dt>Address</dt> 
              <dd>22, Vincent Road, Chertsey, Surrey, KT16 9JA</dd>
            </div>
            <div>        
                <dt>Date of birth</dt>        
                <dd>10/10/1999</dd>      
              </div>  
              <div>        
                <dt>Email address</dt>        
                <dd>email@address.co.uk</dd>      
              </div>  
          </dl>
    <ns-inputter mask="" separator="" validation="[&quot;isRequired&quot;,&quot;isPhoneNumber&quot;]" value="" helper="We might use this to get in touch with you about your order" name="telephone-number">
  <label slot="label" for="text-input">Telephone number</label>
  <input type="tel" id="text-input">
</ns-inputter>

<br>
                  

   
   




    

<br>
<!--
<ns-inputter mask="" separator="" validation="[&quot;isRequired&quot;]" heading="The important information" helper="" name="gas" value="">


  <input type="checkbox" id="question-gas" name="question" value="tick">
  <label for="question-gas">I have read the <a href"">Terms and Conditions</a> of signing up to this tariff with</label>

</ns-inputter>

<div>
  Make sure you've double-checked all your details before you place your order
<br>
  <b>You've got a 14 day cooling off period if you change your mind</b>
</div>

-->
<ns-cta nf-href="../04-bank">Continue</ns-cta>

  </ns-form>
</ns-panel>
<br>

<!-- Summary -->

  <ns-panel class="splash">
    <ns-accordion>
   <h3>Order summary</h3>
      <ns-expander open="false">
        <h4 slot="heading">Your selected energy tariff</h4>
        <h4>You have chosen <span nf-model="model.get-a-quote.tarrif-choice">[TARRIF]</span> tariff</h4>
          <dl class="dl-stack">
  
            <div>
              <dt>Estimated price</dt>
              <dd>Based on the details you gave us, it should cost £<span nf-model="model.get-a-quote.tarrif-price-month">[PRICE]</span> per month (£<span nf-model="model.get-a-quote.tarrif-price-annual">[YEAR]</span> per year)</dd>
            </div>
            <div>
              <dd>To choose a different type of energy, You'll need to <a href="../">get another quote</a></dd>
            </div>
          
          </dl>
      </ns-expander>

      <ns-expander open="false">
        <h4 slot="heading">Your Home Service Cover</h4>
          <dl class="dl-stack">
            <div> 
              <dd>Boiler & Controls Breakdown Cover (worth £30.00 per year) with repairs to your gas boiler and controls, including your thermostat and programmer, with an excess of £99 for each repair.</dd>
            </div>
            <div>  
              <h5>Things we cover</h5>
              <dd>Repairs to your gas boiler and controls, including your thermostat and programmer. All parts and labour. Up to £1,000 to gain access and make good for each repair.</dd>
            </div>
            <div>   
              <h5>Things we don't cover</h5>
              <dd>Removing sludge or scale or repairing the damage it causes if we tell you it might be a problem for your system or boiler. Showers or taps. Annual service of your boiler to make sure it's running safely and efficiently. Accidental damage. Repairs to the central heating system, including radiators. Faults caused by someone else you used for repairs or design faults.</dd>
            </div>
            <div>   
              <h5>Check your eligibility</h5>
              <dd>You own the home you're taking the cover out on. Your gas central heating and boiler are in good working order.You have no other household or home emergency insurance that provides similar cover. As this is an introductory offer, Boiler & Controls Breakdown Cover won’t be included with this tariff if you’ve already got a Home Services Agreement with us.</dd>
            </div>
            <div>   
              <h5>Important information</h5>
              <dd>We'll use your bank account details to set up two Direct Debits, one for your energy tariff and one for your Services Cover. Your Services Cover is at an introductory price of (£0.00) for the ﬁrst 12 months. After this it will automatically renew,  we'll contact you before your renewal date to tell you your new price. If your renewal price isn't right for you, you can change or cancel your contract.</dd>
            </div>
            <div>   
              
              <dd><ul class="download-list">  <li>    <ns-download href="this-text-gets-ignored.pdf" filesize="545KB">About our insurance services</ns-download>  </li>  <li>    <ns-download href="this-text-gets-ignored.xls" filesize="545KB">Boiler & Controls Breakdown Cover Insurance Product Information Document</ns-download>  </li> </ul></dd>

            </div>
          </dl>
      </ns-expander>
    </ns-accordion>

    <!-- End of summary -->

</ns-panel>
<br>

<!-- END FORM -->



