





<!-- FORM -->

<ns-panel>
  <div class="splash">
  <h5>Change your energy tariff.</h5>
    <h1>Your payment details</h1>



  
  </div>
  
  <div>
    <br>
  </div>

  <ns-form class="splash" nf-model="model.get-a-quote">
    <ns-inputter validation="[&quot;isRequired&quot;]" heading="Please select the bank account from which you like to make payments from:" name="customer" value="">
      <input type="radio" id="radio-a-1" name="radio-a" value="No" checked>
      <label for="radio-a-1">Account holder name, Account ****1234, Sort code ****34</label>
      <input type="radio" id="radio-a-2" name="radio-a" value="Yes">
      <label for="radio-a-2">Account holder name, Account ****6789, Sort code ****12</label>
    </ns-inputter>

<div>
  <p>
  We'll use the bank details you gave us for your energy account to set up a second Direct Debit for your services cover. Your services cover first payment will be taken within 14 days of submitting your order. All future services cover payments will be taken on the 1st of every month. You can change your Direct Debit at a later date if needed.
</p>
</div>


<ns-inputter mask="" separator="" validation="[&quot;isRequired&quot;]" heading="The important information" helper="" name="imp1" value="">
  <input type="checkbox" id="imp1" name="question" value="tick">
  <label for="imp1">I have read the <a href"">Terms and Conditions</a> of signing up to this tariff with British Gas, and I agree with all of them</label>
</ns-inputter>

<ns-inputter mask="" separator="" validation="[&quot;isRequired&quot;]" helper="" name="imp2" value="">
  <input type="checkbox" id="imp2" name="question" value="tick">
  <label for="imp2">Yes, I have read the <a href"">Terms and Conditions</a> and about our <a href"">Insurance Product Information Document</a> </label>
</ns-inputter>

<ns-accordion>
   
      <ns-expander open="false">
        <h4 slot="heading">Cancelling your cover</h4>
        <h4>You have chosen <span nf-model="model.get-a-quote.tarrif-choice">[TARRIF]</span> tariff</h4>
          <dl class="dl-stack">
            <div>
              <dt>Estimated price</dt>
              <dd>Based on the details you gave us, it should cost £<span nf-model="model.get-a-quote.tarrif-price-month">[PRICE]</span> per month (£<span nf-model="model.get-a-quote.tarrif-price-annual">[YEAR]</span> per year)</dd>
            </div>
          </dl>
      </ns-expander>

      <ns-expander open="false">
        <h4 slot="heading">Useful documents</h4>
        <h4>You have chosen <span nf-model="model.get-a-quote.tarrif-choice">[TARRIF]</span> tariff</h4>
          <dl class="dl-stack">
            <div>
              <dt>Estimated price</dt>
              <dd>Based on the details you gave us, it should cost £<span nf-model="model.get-a-quote.tarrif-price-month">[PRICE]</span> per month (£<span nf-model="model.get-a-quote.tarrif-price-annual">[YEAR]</span> per year)</dd>
            </div>
          </dl>
      </ns-expander>

     

    </ns-accordion>

<ns-inputter mask="" separator="" validation="[&quot;isRequired&quot;]" helper="" name="imp3" value="">
  <input type="checkbox" id="imp3" name="question" value="tick">
  <label for="imp3">I have read and agree the <a href"">Direct Debit Guarantee</a>and confirm that I am the account holder and the only person required to authorise Direct Debits on this account.</label>
</ns-inputter>

<div>
 <p> Make sure you've double-checked all your details before you place your order.
<br>
  <b>You've got a 14 day cooling off period if you change your mind.</b>
</p>
</div>

<!-- Summary -->
  <h3>Order summary</h3>
    <ns-accordion>
   
      <ns-expander open="false">
        <h4 slot="heading">Your selected energy tariff</h4>
        <h4>You have chosen <span nf-model="model.get-a-quote.tarrif-choice">[TARRIF]</span> tariff</h4>
          <dl class="dl-stack">
  
            <div>
              <dt>Estimated price</dt>
              <dd>Based on the details you gave us, it should cost £<span nf-model="model.get-a-quote.tarrif-price-month">[PRICE]</span> per month (£<span nf-model="model.get-a-quote.tarrif-price-annual">[YEAR]</span> per year)</dd>
            </div>
            <div>
              <dd>To choose a different type of energy, You'll need to <a href="../">get another quote</a></dd>
            </div>
           
          </dl>
      </ns-expander>

      <ns-expander open="false">
        <h4 slot="heading">Your Home Service Cover</h4>
          <dl class="dl-stack">
            <div> 
              <dd>Boiler & Controls Breakdown Cover (worth £30.00 per year) with repairs to your gas boiler and controls, including your thermostat and programmer, with an excess of £99 for each repair.</dd>
            </div>
            <div>  
              <h5>Things we cover</h5>
              <dd>Repairs to your gas boiler and controls, including your thermostat and programmer. All parts and labour. Up to £1,000 to gain access and make good for each repair.</dd>
            </div>
            <div>   
              <h5>Things we don't cover</h5>
              <dd>Removing sludge or scale or repairing the damage it causes if we tell you it might be a problem for your system or boiler. Showers or taps. Annual service of your boiler to make sure it's running safely and efficiently. Accidental damage. Repairs to the central heating system, including radiators. Faults caused by someone else you used for repairs or design faults.</dd>
            </div>
            <div>   
              <h5>Check your eligibility</h5>
              <dd>You own the home you're taking the cover out on. Your gas central heating and boiler are in good working order.You have no other household or home emergency insurance that provides similar cover. As this is an introductory offer, Boiler & Controls Breakdown Cover won’t be included with this tariff if you’ve already got a Home Services Agreement with us.</dd>
            </div>
            <div>   
              <h5>Important information</h5>
              <dd>We'll use your bank account details to set up two Direct Debits, one for your energy tariff and one for your Services Cover. Your Services Cover is at an introductory price of (£0.00) for the ﬁrst 12 months. After this it will automatically renew,  we'll contact you before your renewal date to tell you your new price. If your renewal price isn't right for you, you can change or cancel your contract.</dd>
            </div>
            <div>   
              
              <dd><ul class="download-list">  <li>    <ns-download href="this-text-gets-ignored.pdf" filesize="545KB">About our insurance services</ns-download>  </li>  <li>    <ns-download href="this-text-gets-ignored.xls" filesize="545KB">Boiler & Controls Breakdown Cover Insurance Product Information Document</ns-download>  </li> </ul></dd>

            </div>
          </dl>
      </ns-expander>

      <ns-expander open="false">
        <h4 slot="heading">Your personal details</h4>
          <dl class="dl-stack">
            <div>        
                <dt>Title</dt>        
                <dd>Ms</dd>      
              </div>          
              <div>        
                <dt>First name</dt>        
                <dd>Rebecca</dd>      
              </div>   
              <div>        
                <dt>First name</dt>        
                <dd>Rebecca</dd>      
              </div>  
              <div>        
                <dt>Surname</dt>        
                <dd>Robinson</dd>      
              </div> 
            <div>
              <dt>Address</dt> 
              <dd>22, Vincent Road, Chertsey, Surrey, KT16 9JA</dd>
            </div>
            <div>        
                <dt>Date of birth</dt>        
                <dd>10/10/1999</dd>      
              </div>  
              <div>        
                <dt>Email address</dt>        
                <dd>email@address.co.uk</dd>      
              </div>  
              <div>        
                <dt>Phone number</dt>        
                <dd>07776123456</dd>      
              </div>  
          </dl>
      </ns-expander>

    </ns-accordion>
    <!-- End of summary -->



<ns-cta nf-href="../05-confirmation">Place order</ns-cta>

  </ns-form>
</ns-panel>
<br>

<!-- END FORM -->


