





<!-- FORM -->

<ns-panel>
  <div class="splash">
  <h5>Change your energy tariff.</h5>
    <h1>Check your details</h1>


<!-- Summary -->
  <h3>Order summary</h3>
    <ns-accordion>
   
      <ns-expander open="false">
        <h4 slot="heading">Your selected energy tariff</h4>
        <h4>You have chosen <span nf-model="model.get-a-quote.tarrif-choice">[TARRIF]</span> tariff</h4>
          <dl class="dl-stack">
  
            <div>
              <dt>Estimated price</dt>
              <dd>Based on the details you gave us, it should cost £<span nf-model="model.get-a-quote.tarrif-price-month">[PRICE]</span> per month (£<span nf-model="model.get-a-quote.tarrif-price-annual">[YEAR]</span> per year)</dd>
            </div>
            <div>
              <dd>To choose a different type of energy, You'll need to <a href="../">get another quote</a></dd>
            </div>
            <div> 
            <h4>Home Service Cover</h4>
          <dl class="dl-stack">  
           
            <div> 
              <dd>over-text",
          "value": "Boiler & Controls Breakdown Cover (worth £30.00 per year) with repairs to your gas boiler and controls, including your thermostat and programmer, with an excess of £99 for each repair.</dd>
            </div>
            <div>  
              <h5>Things we cover</h5>
              <dd>Repairs to your gas boiler and controls, including your thermostat and programmer. All parts and labour. Up to £1,000 to gain access and make good for each repair.</dd>
            </div>
            <div>   
              <h5>Things we don't cover</h5>
              <dd>Removing sludge or scale or repairing the damage it causes if we tell you it might be a problem for your system or boiler. Showers or taps. Annual service of your boiler to make sure it's running safely and efficiently. Accidental damage. Repairs to the central heating system, including radiators. Faults caused by someone else you used for repairs or design faults.</dd>
            </div>
            <div>   
              <h5>Check your eligibility</h5>
              <dd>You own the home you're taking the cover out on. Your gas central heating and boiler are in good working order.You have no other household or home emergency insurance that provides similar cover. As this is an introductory offer, Boiler & Controls Breakdown Cover won’t be included with this tariff if you’ve already got a Home Services Agreement with us.</dd>
            </div>
            <div>   
              <h5>Important information</h5>
              <dd>We'll use your bank account details to set up two Direct Debits, one for your energy tariff and one for your Services Cover. Your Services Cover is at an introductory price of (£0.00) for the ﬁrst 12 months. After this it will automatically renew,  we'll contact you before your renewal date to tell you your new price. If your renewal price isn't right for you, you can change or cancel your contract.</dd>
            </div>
            <div>   
              <dd><a href="">About our insurance services (PDF 545KB)</a></dd>
              <dd><a href=""><span nf-model="model.add-on.link2"></span></a></dd>

            </div>

          </div>
          </dl>
          </dl>




      </ns-expander>

      <ns-expander open="false">
        <h4 slot="heading">Your address</h4>
          <dl class="dl-stack">
            <div>
              <dd>22, Vincent Road, Chertsey, Surrey, KT16 9JA</dd>
            </div>
          </dl>
      </ns-expander>

    </ns-accordion>
    <!-- End of summary -->
  
  </div>
  <ns-form class="splash" nf-model="model.get-a-quote">
    <ns-inputter validation="[&quot;isRequired&quot;]" name="personal-title" value="Ms">
      <label slot="label">Title</label>
      <input autocomplete="honorific-prefix" type="text">
    </ns-inputter>
    <ns-inputter validation="[&quot;isRequired&quot;,&quot;isFirstName&quot;]" name="personal-first-name" value="Rebecca">
      <label slot="label">First name</label>
      <input autocomplete="given-name" type="text">
    </ns-inputter>
    <ns-inputter validation="[&quot;isRequired&quot;,&quot;isLastName&quot;]" name="personal-surname" value="Robinson">
      <label slot="label">Surname</label>
      <input autocomplete="family-name" type="text">
    </ns-inputter>
    <ns-inputter mask="DD/MM/YYYY" separator="/" validation="[&quot;isRequired&quot;,&quot;isDate&quot;]' helper="Why do we need this?" name="personal-date-of-birth" value="10101999">
      <div slot="tip-details">
        <p>We will use this to identify you for security purposes.</p>
      </div>
      <label slot="label">Date of birth</label>
      <input type="text">
    </ns-inputter>
   

<ns-inputter mask="" separator="" validation="[&quot;isRequired&quot;,&quot;isPhoneNumber&quot;]" value="" helper="We might use this to get in touch with you about your order" name="telephone-number">
  <label slot="label" for="text-input">Telephone number</label>
  <input type="tel" id="text-input">
</ns-inputter>



    <ns-inputter validation="[&quot;isRequired&quot;,&quot;isEmail&quot;]" helper="We might use your details to get in touch with you about your order" name="personal-email" value="lts_addon4@bgdigitaltest.co.uk">

      <label slot="label">Email address</label>
      <input type="email" placeholder="e.g. email@address.co.uk">
    </ns-inputter>

<br>

<ns-inputter mask="" separator="" validation="[&quot;isRequired&quot;]" heading="The important information" helper="" name="gas" value="">


  <input type="checkbox" id="question-gas" name="question" value="tick">
  <label for="question-gas">I have read the <a href"">Terms and Conditions</a> of signing up to this tariff with</label>

</ns-inputter>

<p>
  Make sure you've double-checked all your details before you place your order
<br>
  <b>You've got a 14 day cooling off period if you change your mind</b>
</p>


<ns-cta nf-href="../05-confirmation">Continue</ns-cta>
  </ns-form>
</ns-panel>

<!-- END FORM -->


