<ns-landmark gradient="invert-ramp-cyan" type="hillside">
                <h1 slot="heading">
                    <span class="h5">Good news!</span>
                    <span class="h2 enlighten"><b>Your order is now confirmed</b></span>
                </h1>
                <p slot="paragraph">
We’re so pleased you’ve chosen us. <br>We’ll soon send a confirmation email to <b><span nf-model="model.get-a-quote.personal-email">[email]</span></b>.
<!-- You’ve got a 14 day cooling off period if you change your mind.-->
                </p>
            </ns-landmark>

<ns-editorial image="https://user-images.githubusercontent.com/2879249/95381056-852d4d80-08df-11eb-90eb-bd90bdc4c434.jpg">  
<h2 slot="heading">Your Gas and Electricity</h2>  
<h3>You've picked <span nf-model="model.get-a-quote.tarrif-choice">[TARRIF]</span></h3>
<p>Your order number is: <b>1000289943-1000289944</b></p>
<p>You've got a 14 day cooling off period if you change your mind</p>
<h2><span nf-model="model.add-on-text.conf-cover-title"></span></h2>
<p><span nf-model="model.get-a-quote.conf-cover-text-a"></span></p>
<p><span nf-model="model.get-a-quote.conf-cover-text-b"></span><b><span nf-model="model.get-a-quote.conf-cover-text-c"></span></b></p>
<!--
<p class="caveat">Please note: If this Direct Debit is for a home in Scotland, everything we send you will say Scottish Gas rather than British Gas.</p>
-->
</ns-editorial>







 <ns-panel decoration="invert-concave-yellow">
<h1>What happens next?</h1>
                <div role="list" class="splash triple ">

                    <ns-card role="listitem" type="support">
                        <h3 slot="heading" role="heading" aria-level="3">1. Check your email</h3>
                        <div slot="paragraph">
                            <p>We’ll confirm what you've bought including tariff details and order confirmation number. You can refer to this in future if you have any questions.</p>
                        </div>
                    </ns-card>

                    <ns-card role="listitem" type="support">
                        <h3 slot="heading" role="heading" aria-level="3">2. We'll process your order</h3>
                        <div slot="paragraph">
<p>You don’t need to do anything, <b>we'll contact your current supplier to get your switch moving</b>.</p>
<p>We’ll send you a Welcome Pack in two days with your contract, which includes your tariff, payment method, (payment day if you’ll pay by Direct Debit) and the <b>estimated date that your energy supply will switch to British Gas</b>.</p>
                        </div>
                    </ns-card>

                    <ns-card role="listitem" type="support">
                        <h3 slot="heading" role="heading" aria-level="3">3. Send us a meter reading</h3>
                        <div slot="paragraph">
                            <p>So that you only pay for the energy you use, <b>we'll ask you for a meter reading around the date your energy supply is switched.</b> You should be with us in 2-3 weeks.</p>
                        </div>
                    </ns-card>

                </div>
            </ns-panel>
            
<ns-panel decoration="" class="">
<ns-lockup type="lockbox">  
<h2 slot="heading">    <span class="h5">Connect your home.</span>    
<span class="h1 enlighten">Now register your interest in having <b>smart meters</b></span>  </h2>  <p slot="paragraph">Based on the information that you’ve given to us about your home, we’re unable to offer them to you. If you register on our waiting list we’ll send you updates and let you know when we can fit smart meters at your home.</p>  <a slot="cta" href="#!">    <ns-cta type="direct">Register now</ns-cta>  </a>  <ns-image slot="image" ratio="4x3" src="https://user-images.githubusercontent.com/2879249/95380273-6c706800-08de-11eb-91b1-98ba013d748b.jpg"></ns-image>
</ns-lockup>
 </ns-panel>
 
 <ns-panel decoration="" class="">
<ns-lockup type="lockbox" reverse="">  
<h2 slot="heading">    <span class="h5">Get the app.</span>    
<span class="h1 enlighten"><b>Manage your energy account</b>, whenever, wherever</span>  </h2>  <p slot="paragraph">Our app lets you send meter readings, pay your bills, set budgets and more. You can also book repairs and chat to an adviser when you need help.</p>  <a slot="cta" href="../12-completion">    <ns-cta type="direct" >Download our app</ns-cta>  </a>  <ns-image slot="image" ratio="4x3" src="https://user-images.githubusercontent.com/2879249/95380246-5fec0f80-08de-11eb-8d64-a929d394998e.jpg"></ns-image></ns-lockup>
 </ns-panel>