---
title: GAQ Conversion - Add on
eleventyNavigation:
  key: GAQ conversion - Add on
  parent: es
  title: Get a quote conversion 
  excerpt: Existing customer GAQ journey with Add on
---

<ns-landmark type="lakeside">
  <h1 slot="heading">
    <span class="h1">Hi Firstname Lastname</span>
  </h1>
  <p slot="paragraph">Let's find an energy tariff for you.</p>
</ns-landmark>

<ns-panel>
  <ns-form class="splash" nf-model="model.get-a-quote">
    <ns-inputter validation="[&quot;isRequired&quot;]" heading="Which address is your quote for?" name="customer" value="">
      <input type="radio" id="radio-a-1" name="radio-a" value="No" checked>
      <label for="radio-a-1">An existing address</label>
      <input type="radio" id="radio-a-2" name="radio-a" value="Yes">
      <label for="radio-a-2">A new address</label>
    </ns-inputter>

<ns-inputter  heading="Your address" helper="This should be the property you'd like us to supply energy to" name="your-address" value="">  
  <label slot="label" for="nsid-xof8h6ihrj-input">Your address</label>  
  <select name="select" id="nsid-xof8h6ihrj-input">    
    <option value="">Mill House, Fire Bell Alley, Ewell Road, Surbiton, Surrey, KT6 6JB</option>    
  </select></ns-inputter>
<br>
<h4>Your current tariff</h4>  
<dl class="dl-row">      
              <div>        
                <dt>Gas</dt>        
                <dd>Energy Plus Protection Jan 2022</dd>      
              </div>          
              <div>        
                <dt>Electricity</dt>        
                <dd>Energy Plus Protection Jan 2022</dd>      
              </div>       
</dl>  



    
  </ns-form>
</ns-panel>






<ns-panel>
 <div class="splash">
 

 <h2>We've got 5 energy tariffs for you
  </h2>
  <!--
  <p slot="paragraph">Have a look at the details. Based on what you’ve told use we think there’ll be a tariff that’s just right for you.</p>
  <p slot="paragraph">This may change depending on your usage.</p>-->
  </div>

 <div class="splash triple">
    <ns-product-card keyline="">  
      <ns-image slot="image" src="https://user-images.githubusercontent.com/53818498/95592775-03553580-0a41-11eb-8546-4b0bc5758b4e.jpg" alt="Description of image" ratio="16x9"></ns-image>  
      <h2 slot="name">The Green One</h2>  <p slot="subtitle">Our greenest tariff and fixed unit rates until 31 January 2022 2021</p>  
      <h3 slot="price-heading">Estimated cost may change depending on your usage</h3>  
        <div slot="price">    
          <p><b><ns-price pence="9600"></ns-price> / month</b></p>
          <p><ns-price pence="115200"></ns-price> / year</p>  
        </div>  
        
        <ns-expander slot="expander">    
          <h3 slot="heading">Tariff overview</h3>    
            <ul class="ul-ticked">      
              <li>Unit rate prices fixed until 31 January 2022</li>      
                <li>We’ll match 6% of the gas you use and 100% of the electricity you use on this tariff with renewable sources</li>     
                <li>We’ll offset your gas carbon footprint from 94% of the gas you use on this tariff</li>
                <li>We’ll also support the growth of up to 5 trees in the UK per fuel for each year you are on this tariff</li>
                <li>We'll support worldwide iniatives that protect vulnerable species and the amazon rainforest</li>   
                <li>Exit fees of £30 per fuel </li>   
            </ul>  
        </ns-expander>  
        <ns-expander slot="expander" showclose="">    
          <h3 slot="heading">Price breakdown</h3>    
            <h4>Gas tariff costs</h4>    
            <dl class="dl-row">              
              <div>        
                <dt>Gas estimated cost per month</dt>        
                <dd>£57.50</dd>      
              </div>      
              <div>        
                <dt>Gas standard unit rate</dt>        
                <dd>3.089p per kWh</dd>      
              </div>      
              <div>        
                <dt>Gas standing charge</dt>        
                <dd>34.293p per day</dd>      
              </div>       
            </dl>    
            <ns-cta type="text" href="#">Tariff Information Label</ns-cta>  
<p></p>
            <h4>Electricity tariff costs</h4>    
            <dl class="dl-row">               
              <div>        
                <dt>Electricity estimated cost per month</dt>        
                <dd>£38.50</dd>      
              </div>      
              <div>        
                <dt>Electricity standard unit rate</dt>        
                <dd>17.664p per kWh</dd>      
              </div>      
              <div>        
                <dt>Electricity standing charge</dt>        
                <dd>32.721p per day</dd>      
              </div>      
          
            </dl>    
            <ns-cta type="text" href="#">Tariff Information Label</ns-cta> 
        </ns-expander>  
        <a href="../gaq-conversion-add-on/02-addon" slot="cta" onClick="tarrifOne()">
              <ns-cta>Select this tariff</ns-cta>
        </a>
      </ns-product-card>

<!--
<ns-product-card keyline="">  
      <ns-image slot="image" src="https://user-images.githubusercontent.com/53818498/99563241-f8d37780-29c0-11eb-9a9b-0d94a6db6acd.jpg" alt="Description of image" ratio="16x9"></ns-image>  
      <h2 slot="name">The Bundle One</h2>  <p slot="subtitle">Fixed unit rates until 31 December 2021 with Boiler & Controls Breakdown Cover for 12 months</p>  
      <h3 slot="price-heading">Estimated cost may change depending on your usage</h3>  
        <div slot="price">    
          <p><b><ns-price pence="9500"></ns-price> / month</b></p>
          <p><ns-price pence="114000"></ns-price> / year</p>  
        </div>  
        
        <ns-expander slot="expander">    
          <h3 slot="heading">Tariff overview</h3>    
            <ul class="ul-ticked">      
              <li>Unit rate prices fixed until 31 December 2021</li>  
              <li>Includes Boiler & Controls Breakdown Cover for 12 months and at no extra cost</li>      
                <li>Your Services Cover will auto-renew after 12 months and you can choose to cancel at this time (currently renewal is £2.50 per month)</li>     
                <li>Boiler & Controls Breakdown Cover won’t be included with this tariff if you’ve already got a Home Services Agreement with us</li>
                <li>Exit fee £30 per fuel</li> 
            </ul>  
        </ns-expander>  
        <ns-expander slot="expander" showclose="">    
          <h3 slot="heading">Price breakdown</h3>    
            <h4>Gas tariff costs</h4>    
            <dl class="dl-row">              
              <div>        
                <dt>Gas estimated cost per month</dt>        
                <dd>£56.50</dd>      
              </div>      
              <div>        
                <dt>Gas standard unit rate</dt>        
                <dd>3.089p per kWh</dd>      
              </div>      
              <div>        
                <dt>Gas standing charge</dt>        
                <dd>31.048p per day</dd>      
              </div>       
            </dl>    
            <ns-cta type="text" href="#">Tariff Information Label</ns-cta>  
<p></p>
            <h4>Electricity tariff costs</h4>    
            <dl class="dl-row">               
              <div>        
                <dt>Electricity estimated cost per month</dt>        
                <dd>£37.50</dd>      
              </div>      
              <div>        
                <dt>Electricity standard unit rate</dt>        
                <dd>17.664p per kWh</dd>      
              </div>      
              <div>        
                <dt>Electricity standing charge</dt>        
                <dd>29.474p per day</dd>      
              </div>      
          
            </dl>    
            <ns-cta type="text" href="#">Tariff Information Label</ns-cta> 
        </ns-expander>  
        <a href="../gaq-conversion/04-personal-details" slot="cta" onClick="tarrifTwo()">
              <ns-cta>Select this tariff</ns-cta>
        </a>
      </ns-product-card>


-->
      <ns-product-card keyline="">  
      <ns-image slot="image" src="https://user-images.githubusercontent.com/53818498/95077991-5448ef00-070c-11eb-8763-9d623a3c2c49.jpg" alt="Description of image" ratio="16x9"></ns-image>  
      <h2 slot="name">The Fixed One</h2>  <p slot="subtitle">Lock in your unit rate prices until 31 January 2022</p>  
      <h3 slot="price-heading">Estimated cost may change depending on your usage</h3>  
        <div slot="price">    
          <p><b><ns-price pence="9400"></ns-price> / month</b></p>
          <p><ns-price pence="112800"></ns-price> / year</p>  
        </div> 
       
        <ns-expander slot="expander">    
          <h3 slot="heading">Tariff overview</h3>    
            <ul class="ul-ticked">      
              <li>Unit rate prices guaranteed until 31 January 2022</li>      
              <li>We’ll match all the electricity you use with 100% renewable sources</li>  
              <li>Exit fees of £30 per fuel </li>      
            </ul>  
        </ns-expander>  
        <ns-expander slot="expander" showclose="">    
          <h3 slot="heading">Price breakdown</h3>    
            <h4>Gas tariff costs</h4>    
            <dl class="dl-row">      
              <div>        
                <dt>Gas estimated cost per month</dt>        
                <dd>£56.50</dd>      
              </div>      
              <div>        
                <dt>Gas tandard unit rate</dt>        
                <dd>3.089p per kWh</dd>      
              </div>      
              <div>        
                <dt>Gas standing charge</dt>        
                <dd>29.404p per day</dd>          
              </div>    
            </dl>    
            <ns-cta type="text" href="#">Tariff Information Label</ns-cta> 
<p></p>
            <h4>Electricity tariff costs</h4>    
            <dl class="dl-row">               
              <div>        
                <dt>Electricity estimated cost per month</dt>        
                <dd>£37.50</dd>      
              </div>      
              <div>        
                <dt>Electricity standard unit rate</dt>        
                <dd>17.664p per kWh</dd>      
              </div>      
              <div>        
                <dt>Electricity standing charge</dt>        
                <dd>24.789p per day</dd>      
              </div>      
            </dl>     
            <ns-cta type="text" href="#">Tariff Information Label</ns-cta> 
        </ns-expander>  
        <a href="../gaq-conversion-add-on/02-addon" slot="cta" onClick="tarrifThree()">
              <ns-cta>Select this tariff</ns-cta>
        </a>
      </ns-product-card>




      <ns-product-card keyline="">  
      <ns-image slot="image" src="https://user-images.githubusercontent.com/53818498/95101696-5de14f80-072a-11eb-85f6-3704601838f7.jpg" alt="Description of image" ratio="16x9"></ns-image>  
      <h2 slot="name">The Variable One</h2>  <p slot="subtitle">Enjoy total flexibility with no end date and no exit fees</p>  
      <h3 slot="price-heading">Estimated cost may change depending on your usage</h3>  
        <div slot="price">    
          <p><b><ns-price pence="9100"></ns-price> / month</b></p>
          <p><ns-price pence="109200"></ns-price> / year</p>  
        </div> 

        <ns-expander slot="expander">    
          <h3 slot="heading">Tariff overview</h3>    
            <ul class="ul-ticked">      
              <li>No end date or exit fees</li>
              <li>Prices may go up or down over time</li>
              <li>You’ll get 30 days’ notice of increases</li>
              <li>Maximum price capped by Ofgem</li>  
            </ul>  
        </ns-expander>  
        <ns-expander slot="expander" showclose="">    
          <h3 slot="heading">Price breakdown</h3>    
            <h4>Gas tariff costs</h4>    
            <dl class="dl-row">                
              <div>        
                <dt>Gas estimated cost per month</dt>        
                <dd>£54.83</dd>      
              </div>      
              <div>        
                <dt>Gas standard unit rate</dt>        
                <dd>17.664p per kWh</dd>      
              </div>      
              <div>        
                <dt>Gas standing charge</dt>        
                <dd>24.501p per day</dd>      
              </div>    
            </dl>    
            <ns-cta type="text" href="#">Gas Tariff Information Label</ns-cta>  
<p></p>
            <h4>Electricity tariff costs</h4>    
            <dl class="dl-row">                
              <div>        
                <dt>Electricity estimated cost per month</dt>        
                <dd>£36.16</dd>      
              </div>      
              <div>        
                <dt>Electricity standard unit rate</dt>        
                <dd>3.773p per kWh</dd>      
              </div>      
              <div>        
                <dt>Electricity standing charge</dt>        
                <dd>24.708p per day</dd>      
              </div>      
            </dl>    
            <ns-cta type="text" href="#">Tariff Information Label</ns-cta> 
        </ns-expander>  
        <a href="../gaq-conversion-add-on/02-addon" slot="cta" onClick="tarrifFour()">
              <ns-cta>Select this tariff</ns-cta>
        </a>
      </ns-product-card>



      <ns-product-card keyline="">  
      <ns-image slot="image" src="https://user-images.githubusercontent.com/53818498/95101754-70f41f80-072a-11eb-8e0c-5cf0127e3dd7.jpg" alt="Description of image" ratio="16x9"></ns-image>  
      <h2 slot="name">The Electric Driver One</h2>  <p slot="subtitle">Charge your car on the cheap while you’re asleep</p>  
      <h3 slot="price-heading">Estimated cost may change depending on your usage</h3>  
        <div slot="price">    
          <p><b><ns-price pence="8600"></ns-price> / month</b></p>
          <p><ns-price pence="103200"></ns-price> / year</p>  
        </div>  

        <ns-expander slot="expander">    
          <h3 slot="heading">Tariff overview</h3>    
            <ul class="ul-ticked">      
                <li>Unit rate prices guaranteed until 30 September 2021</li>      
                <li>Cheaper electricity prices from midnight to 5am</li>
                <li>No exit fees</li>
                <li>We’ll match all the electricity you use with 100% renewable sources</li>  
            </ul>  
        </ns-expander>  
        <ns-expander slot="expander" showclose="">    
          <h3 slot="heading">Price breakdown</h3>    
            <h4>Gas tariff costs</h4>    
            <dl class="dl-row">               
              <div>        
                <dt>Gas estimated cost per month</dt>        
                <dd>£44.33</dd>      
              </div>      
              <div>        
                <dt>Gas standard unit rate</dt>        
                <dd>3.165p per kWh</dd>      
              </div>      
              <div>        
                <dt>Gas standing charge</dt>        
                <dd>25.216p per day</dd>      
              </div>         
            </dl>    
            <ns-cta type="text" href="#">Gas Tariff Information Label</ns-cta>  
<p></p>
            <h4>Electricity tariff costs</h4>    
            <dl class="dl-row">               
              <div>        
                <dt>Electricity estimated cost per month</dt>        
                <dd>£41.67</dd>      
              </div>      
              <div>        
                <dt>Electricity peak unit rate</dt>
                <dd>20.001p per kWh</dd>      
              </div> 
              <div>        
                <dt>Electricity off peak unit rate</dt>
                <dd>4.700p per kWh</dd>     
              </div>     
              <div>        
                <dt>Electricity standing charge</dt>        
                <dd>24.780p per day</dd>      
              </div>        
            </dl>    
            <ns-cta type="text" href="#">Tariff Information Label</ns-cta> 
        </ns-expander>  
        <a href="../gaq-conversion-add-on/02-addon" slot="cta" onClick="tarrifFive()">
              <ns-cta>Select this tariff</ns-cta>
        </a>
      </ns-product-card>
  </div>
</ns-panel>

<ns-panel decoration="invert-bridge-green-light">
  <div class="splash triple" role="list">
<!--
    <ns-card role="listitem" type="support">
      <h3 slot="heading" role="heading" aria-level="3">Save your quotes</h3>
      <p slot="paragraph">You can send your energy quotes to an email address of your choice.</p>
      <a slot="cta" href="#!">
        <ns-cta type="text">Email me my quotes</ns-cta>
      </a>
    </ns-card>
    -->
    <ns-card role="listitem" type="support">
      <h3 slot="heading" role="heading" aria-level="3">Terms and conditions</h3>
      <p slot="paragraph">Please take some time to read our tariff terms and conditions.</p>
      <a slot="cta" href="#!">
        <ns-cta type="text">Read our tariff terms and conditions</ns-cta>
      </a>
    </ns-card>
  </div>
</ns-panel>

<ns-panel>
  <div class="splash">
    <ns-accordion>
      <h3 slot="heading">Frequently asked questions</h3>
      <ns-expander open="false">
        <h4 slot="heading">What is a kiliowatt hour (kWh)?</h4>
        <p>A kWh stands for kilowatt hour – the unit used to measure energy use. 1 kWh will power a 40 watt light bulb for 25 hours.</p>
      </ns-expander>
      <ns-expander open="false">
        <h4 slot="heading">What is a tariff information label?</h4>
        <p>The Tariff Information Label (TIL) gives you the key facts about a tariff upfront and in one place. It lets you know any special rewards that may apply to the tariff.</p>
      </ns-expander>
      <ns-expander open="false">
        <h4 slot="heading">What is a personal projection?</h4>
        <p>A Personalised Projection is a personalised quote based on your home and your consumption. It gives you the best estimate on how much you will pay to help you pick the right tariff.</p>
      </ns-expander>
        <ns-expander open="false">
        <h4 slot="heading">How do I switch to British Gas from my current energy supplier?</h4>
        <p>Switching is easy, just take a look at our tariffs and tell us the one you want. We’ll take care of the rest by contacting your current supplier and switching you over. The whole process takes two to three weeks at most. Don’t worry, we’ll let you know when the switch has happened and when to send us your first meter reading.</p>
      </ns-expander>
        <ns-expander open="false">
        <h4 slot="heading">How do I switch between tariffs if I'm already a customer?</h4>
        <p>It’s quick and easy to change tariffs online if you’re already with us. Simply access your account online, go to ‘tariff switch’ and pick your new tariff. It’ll take us 24 hours to switch you over and you won’t have to pay any exit fees.</p>
      </ns-expander>
        <ns-expander open="false">
        <h4 slot="heading">Can I book a smart meter appointment?</h4>
        <p>Yes but if there's anyone in your home who's shielding, self-isolating or has Covid-19 symptoms, we can't offer non-urgent appointments – like Smart Meter installations – until official guidance changes. Please help us all stay safe and cancel or re-schedule any non-urgent appointments you’ve booked if anyone in your household develops symptoms in the two weeks before your appointment. See our <a href"">Covid-19 FAQs</a> for full details.</p>
      </ns-expander>
    </ns-accordion>
  </div>
</ns-panel>
<!--
<ns-caveat>
  <h2 slot="heading">Additional information</h2>
  <div slot="caveat">
    <ol>
      <li>The standing charge is applied on a pence per day basis. It helps cover an energy supplier's fixed costs.</li>
    </ol>
  </div>
</ns-caveat>
-->

<script>
  const setTarrifOne = {
    "get-a-quote":
    {
      "fields": [
        {
          "name": "tarrif-choice",
          "value": "The Green One"
        },
        {
          "name": "tarrif-price-annual",
          "value": "1152"
        },
        {
          "name": "tarrif-price-month",
          "value": "96"
        }
      ]
    }
  }

  function tarrifOne() {
    localStorage.setItem('nf-model', JSON.stringify(setTarrifOne));
  }

  const setTarrifTwo = {
    "get-a-quote":
    {
      "fields": [
        {
          "name": "tarrif-choice",
          "value": "The Bundle One"
        },
        {
          "name": "tarrif-price-annual",
          "value": "1140"
        },
        {
          "name": "tarrif-price-month",
          "value": "95"
        },



        {
          "name": "cover-title",
          "value": "Home Service Cover"
        },
        {
          "name": "cover-text",
          "value": "Boiler & Controls Breakdown Cover (worth £30.00 per year) with repairs to your gas boiler and controls, including your thermostat and programmer, with an excess of £99 for each repair."
        },
        {
          "name": "do-cover-title",
          "value": "Things we cover"
        },
        {
          "name": "do-cover-text",
          "value": "Repairs to your gas boiler and controls, including your thermostat and programmer. All parts and labour. Up to £1,000 to gain access and make good for each repair."
        },
        {
          "name": "dont-cover-title",
          "value": "Things we don't cover"
        },
        {
          "name": "dont-cover-text",
          "value": "Removing sludge or scale or repairing the damage it causes if we tell you it might be a problem for your system or boiler. Showers or taps. Annual service of your boiler to make sure it's running safely and efficiently. Accidental damage. Repairs to the central heating system, including radiators. Faults caused by someone else you used for repairs or design faults."
        },
        {
          "name": "eligibility-title",
          "value": "Check your eligibility"
        },
        {
          "name": "eligibility-text",
          "value": "You own the home you're taking the cover out on. Your gas central heating and boiler are in good working order.You have no other household or home emergency insurance that provides similar cover. As this is an introductory offer, Boiler & Controls Breakdown Cover won’t be included with this tariff if you’ve already got a Home Services Agreement with us."
        },
        {
          "name": "important-title",
          "value": "Important information"
        },
        {
          "name": "important-text",
          "value": "We'll use your bank account details to set up two Direct Debits, one for your energy tariff and one for your Services Cover. Your Services Cover is at an introductory price of (£0.00) for the ﬁrst 12 months. After this it will automatically renew,  we'll contact you before your renewal date to tell you your new price. If your renewal price isn't right for you, you can change or cancel your contract."
        },
        {
          "name": "link1",
          "value": "About our insurance services (PDF 545KB)"
        },
        {
          "name": "link2",
          "value": "Boiler & Controls Breakdown Cover Insurance Product Information Document (PDF 545KB)"
        },
        {
          "name": "conf-cover-title",
          "value": "Your Boiler & Controls Breakdown Cover"
        },
        {
          "name": "conf-cover-text-a",
          "value": "Your cover starts now  (if you’ve given us valid bank details)"
        },
        {
          "name": "conf-cover-text-b",
          "value": "Here is your cover contract number: "
        },
        {
          "name": "conf-cover-text-c",
          "value": "911002116227"
        }
      ]
      
    }
  }

  function tarrifTwo() {
    localStorage.setItem('nf-model', JSON.stringify(setTarrifTwo));
  }

  const setTarrifThree = {
    "get-a-quote":
    {
      "fields": [
        {
          "name": "tarrif-choice",
          "value": "The Fixed One"
        },
        {
          "name": "tarrif-price-annual",
          "value": "1128"
        },
        {
          "name": "tarrif-price-month",
          "value": "94"
        }
      ]
    }
  }

  function tarrifThree() {
    localStorage.setItem('nf-model', JSON.stringify(setTarrifThree));
  }

  const setTarrifFour = {
    "get-a-quote":
    {
      "fields": [
        {
          "name": "tarrif-choice",
          "value": "The Variable One"
        },
        {
          "name": "tarrif-price-annual",
          "value": "1092"
        },
        {
          "name": "tarrif-price-month",
          "value": "91"
        }
      ]
    }
  }

  function tarrifFour() {
    localStorage.setItem('nf-model', JSON.stringify(setTarrifFour));
  }


  const setTarrifFive = {
    "get-a-quote":
    {
      "fields": [
        {
          "name": "tarrif-choice",
          "value": "The Electric Driver One"
        },
        {
          "name": "tarrif-price-annual",
          "value": "1032"
        },
        {
          "name": "tarrif-price-month",
          "value": "86"
        },
        {
          "name": "cover-title",
          "value": "Important information"
        },
        {
          "name": "cover-text",
          "value": "The price you pay on the tariff will be dependent on your consumption, our projection is based on the following:"
        },
        {
          "name": "do-cover-text",
          "value": "When you sign up to this tariff, we’ll estimate your annual costs. To do this, we’ll take a look at how much electricity you’ve used in the past. If we can’t find these details, we’ll base our estimate on the average amount EV owners normally use – unless you can give us a more accurate figure"
        },
        {
          "name": "dont-cover-text",
          "value": "As a guide, average EV owners typically charge their vehicles about three times a week during off-peak hours, and twice a fortnight during peak hours using 10kWh of electricity a time"
        },
        {
          "name": "eligibility-text",
          "value": "The estimate we give you will assume that 35% of the electricity you use is during off-peak hours"
        },
        {
          "name": "important-text",
          "value": "If you’ve had your EV for under a year, regularly charge your car during peak times or use significantly higher or lower amounts of electricity than the average EV owner, your actual yearly costs could be significantly different to our estimate"
        },
      ]
    }
  }

  function tarrifFive() {
    localStorage.setItem('nf-model', JSON.stringify(setTarrifFive));
  }



</script>
<!--
<script>
  function getDynamicURL() {
    var data = document.querySelector('ns-inputter[name="customer"]').value;
    if (data === 'No') {
      return '02-tariff';
    }
    else {
      return 'https://www.britishgas.co.uk/identity/';
    }
  }
</script>
-->