---
title: rewards-details-hive
---

{% include "./_includes/account-logged-in.njk" -%}


<ns-landmark type="lakeside">
  <h1 slot="heading">
    <span class="h5">British Gas Rewards.</span>
    <span class="h1 enlighten">Heat your home the <b>smart way</b> with Hive</span>
  </h1>
  <div slot="paragraph">
    <p>With our latest offer you can get a huge <b>35% off Hive Active Heating</b>. We’ll also send one of our trusted British Gas engineers to do your installation.</p>
  </div>
  <a slot="cta" href="../rewards-confirm-hive">
    <ns-cta type="direct">Claim your discount</ns-cta>
  </a>
</ns-landmark>

<ns-editorial image="https://user-images.githubusercontent.com/52657167/75149281-87002300-56f9-11ea-92e7-b1f0bde13e08.jpg">
  <h2 slot="heading">We’d love to help keep your home cosy</h2>
  <p>This deal is only available until Thursday 30 April 2020, subject to availability.</p>

  <h2>About the offer</h2>
  <ul class="ul-bullet">
    <li>Already have a Hive Hub: pay only £129.50 (instead of £199)</li>
    <li>Don’t have a Hive Hub: pay only £161.85 (instead of £249)</li>
    <li>Subject to availability, offer ends Thursday 30 April 2020</li>
    <li>Exclusive discount for Rewards members only</li>
  </ul>

  <h2>What is included</h2>
  <ul class="ul-bullet">
    <li>Hive Radiator Valves</li>
    <li>Hive Cameras</li>
    <li>Hive Smart Lights</li>
    <li>Hive Window and Door Sensors</li>
    <li>Hive Smart Plugs</li>
    <li>Hive Hub</li>
    <li>Hive Accessories</li>          
  </ul>

  <h2>What is not included</h2>
  <ul class="ul-bullet">
    <li>Welcome Home Plan</li>
    <li>Hive Hub 360</li>
    <li>Hive Active Heating</li>
    <li>Hive Camera multipacks</li>
  </ul>

  <p>Read the terms and conditions for the <a href="https://www.britishgas.co.uk/aem6/content/dam/britishgas/downloads/rewards/CLUB10130-01-Hive-Active-Heating-35Feb20.pdf"><ns-icon style="width: 1em; height: 1em; position: relative; top: 0.15em;" type="download"></ns-icon>Hive Active Heating 35% off (<abbr title="Portable Document Format">PDF</abbr> 46<abbr title="Kilobytes">kB</abbr>)</a></p>
</ns-editorial>

<ns-panel>
  <ns-accordion>
    <h3 slot="heading">Frequently asked questions</h3>
      <ns-expander open="false">
        <h4 slot="heading">What's included in the prize?</h4>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam orci leo, dapibus at tempus quis, maximus et velit. Sed vitae neque a erat ullamcorper posuere. Fusce elit lorem, congue id sapien sodales, vestibulum eleifend erat. Integer ultrices, est 
        </p>
      </ns-expander>
      <ns-expander open="false">
        <h4 slot="heading">What is the Rewards terrace?</h4>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam orci leo, dapibus at tempus quis, maximus et velit. Sed vitae neque a erat ullamcorper posuere. Fusce elit lorem, congue id sapien sodales, vestibulum eleifend erat. Integer ultrices, est 
        </p>
      </ns-expander>
      <ns-expander open="false">
        <h4 slot="heading">how do i get my tickets if i win?</h4>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam orci leo, dapibus at tempus quis, maximus et velit. Sed vitae neque a erat ullamcorper posuere. Fusce elit lorem, congue id sapien sodales, vestibulum eleifend erat. Integer ultrices, est 
        </p>
      </ns-expander>
      <ns-expander open="false">
        <h4 slot="heading">How do i get more information about The O2?</h4>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam orci leo, dapibus at tempus quis, maximus et velit. Sed vitae neque a erat ullamcorper posuere. Fusce elit lorem, congue id sapien sodales, vestibulum eleifend erat. Integer ultrices, est 
        </p>
      </ns-expander>
  </ns-accordion>
</ns-panel>

<ns-panel decoration="" class="">
  <div class="splash">
    <h2 class="">All your offers</h2>
  </div>

  <div class="splash triple">
  {% include "./_includes/ns-card-cheque.njk" -%}
  {% include "./_includes/ns-card-loyalty.njk" -%}
  {% include "./_includes/ns-card-o2.njk" -%}
  </div>
</ns-panel>
​

<ns-tabs>
  <ns-tab slot="tab">Summary</ns-tab>

  <ns-panel slot="panel">
    <div class="splash">
      <ns-table>
        <table>
          <tbody>
            <tr>
              <td>Offers you've chosen</td>
              <td>1</td>
            </tr>
            <tr>
              <td>Estimated savings so far</td>
              <td>£0</td>
            </tr>
            <tr>
              <td>Free loyalty days</td>
              <td>0</td>
            </tr>
            <tr>
              <td>Prize draws entered</td>
              <td>0</td>
            </tr>
          </tbody>
        </table>
      </ns-table>
    </div>
  </ns-panel>


  <ns-tab slot="tab">Claimed offers</ns-tab>

  <ns-panel slot="panel">
    <div class="splash triple" role="list">
      {% include "./_includes/ns-card-claimed-local-heroes.njk" -%}
    </div>
  </ns-panel>


  <ns-tab slot="tab">Expired offers</ns-tab>
  <ns-panel slot="panel">
    <div class="splash triple" role="list">
      <ns-card role="listitem" type="support">
        <h3 slot="heading">20% discount on Local Heroes jobs</h3>
        <div slot="paragraph">
          <p><b>Ended 3 January 2020</b></p>
        </div>
      </ns-card>
      <ns-card role="listitem" type="support">
        <h3 slot="heading">Wilbur giveaway</h3>
        <div slot="paragraph">
          <p><b>Ended 1 Decemeber 2019</b></p>
        </div>
      </ns-card>
      <ns-card role="listitem" type="support">
        <h3 slot="heading">Win 'An evening with Dee' tickets</h3>
        <div slot="paragraph">
          <p><b>Ended 15 November 2019</b></p>
        </div>
      </ns-card>
      <ns-card role="listitem" type="support">
        <h3 slot="heading">Buy one get one Dee</h3>
        <div slot="paragraph">
          <p><b>Ended 3 November 2019</b></p>
        </div>
      </ns-card>
    </div>
  </ns-panel>

</ns-tabs>


{% include "./_includes/ns-card-leave.njk" -%}