---
title: rewards-details-wilbur-won-confirmation
---

{% include "./_includes/account-logged-in.njk" -%}

<ns-landmark type="lakeside">
  <h1 slot="heading">
    <span class="h5">British Gas Rewards.</span>
    <span class="h1 enlighten"><b>Great</b>, your cuddly Wilbur will be sent to you</span>
  </h1>
  <div slot="paragraph">
    <dl class="dl-stacked">
      <div>
        <dt>Your prize will be sent to:</dt>
        <dd>Alex Jones</dd>
        <dd>129 Queenstown Rd</dd>
        <dd>Battersea</dd>
        <dd>London</dd>
        <dd>SW8 3RH</dd>
      </div>
    </dl>
    <p>You'll find this offer in your 'claimed offers' tab on your Rewards hub.</p>
  </div>
  
  <a slot="cta" href="../rewards-hub-v5">
    <ns-cta type="direct">Go to your Rewards hub</ns-cta>
  </a>
</ns-landmark>