---
title: About US
eleventyNavigation:
  key: About Us
  parent: content-pages
  title: About Us
  excerpt: Mockup for the About Us page
---

<ns-skyline>
  <ns-expander icon="warning" type="skyline">
    <h2 slot="heading">Internet Explorer banner</h2>
    <p>Bespoke kombucha <a href="#">cronut</a>, meditation austin plaid cold-pressed adaptogen waistcoat pinterest swag chartreuse unicorn dreamcatcher readymade. Green juice before they sold out austin air plant ugh banjo distillery. Kale chips umami cold-pressed cornhole.</p>
    <p>Hell of kickstarter butcher man bun blog kombucha occupy craft beer flexitarian portland tote bag artisan.</p>
  </ns-expander>
  <ns-expander icon="info" type="skyline">
    <h2 slot="heading">Robin Hood banner</h2>
    <p>Authentic lo-fi ethical put a bird on it. Retro fam gochujang selvage tote bag mumblecore poke small batch mixtape pug portland readymade.</p>
    <p>fixie bushwick, cornhole hella next level food truck retro intelligentsia. Next level art party godard kickstarter venmo franzen. Helvetica whatever offal craft beer hell of adaptogen</p>
  </ns-expander>
</ns-skyline>

<ns-landmark image="https://cdn-assets-eu.frontify.com/s3/frontify-enterprise-files-eu/eyJwYXRoIjoiY2VudHJpY2FcL2FjY291bnRzXC8wZlwvNDAwMDE1N1wvcHJvamVjdHNcLzY0XC9hc3NldHNcLzFiXC8xMjE2M1wvYWFjNjJhMWI0ZDI1YTI2M2E0NTkxZTg4MTFhZDNjYjAtMTU0NzQ3NzIzMC5qcGcifQ:centrica:BX1nBFqROFoC_5Vikm65hKBLlKdCAskngF9SeTdjnIY?width=2400" type="summit">
  <h1 slot="heading">
    <span class="h5">About us</span>
    <span class="h1 enlighten">Discover more about British Gas and <b>what we stand for</b>
</span>
  </h1>
  <div slot="paragraph">
    <p>This is a space for a slightly more wordy introduction to the page.</p>
  </div>
</ns-landmark>

<ns-panel>
<ns-lockup type="lockbox" reverse="">
  <h2 slot="heading">
    <span class="h5">Our mission</span>
    <span class="h1 enlighten">Here <b>to solve</b></span>
  </h2>
  <p slot="paragraph">Whatever life throws at our customers, we’re here to keep things flowing the way they like to live.
  </p>

  <ns-image slot="image" ratio="4x3" src="https://cdn-assets-eu.frontify.com/s3/frontify-enterprise-files-eu/eyJwYXRoIjoiY2VudHJpY2FcL2FjY291bnRzXC8wZlwvNDAwMDE1N1wvcHJvamVjdHNcLzY0XC9hc3NldHNcL2I4XC8xMjE3MFwvOTZkMDA4MjgzZDE4M2UyZDZjYzBkZjMyYzlkNTc5NDItMTU0NzQ3NzIzMC5qcGcifQ:centrica:4JY6w6MXfH_7KUAjlhw6RBVD-JH5IfsMS8mee_e6pxU?width=2400"></ns-image>
</ns-lockup>
</ns-panel>

<ns-editorial image="https://cdn-assets-eu.frontify.com/s3/frontify-enterprise-files-eu/eyJwYXRoIjoiY2VudHJpY2FcL2FjY291bnRzXC8wZlwvNDAwMDE1N1wvcHJvamVjdHNcLzY0XC9hc3NldHNcLzFhXC8xMTkzNVwvM2I2ZTU2MzFjYjFkNzdlZDZjYTA2OWExMzE3OTkyNTEtMTU0Njk1OTgyNS5qcGcifQ:centrica:hJQKbZcTt4oh4WF9oVQ5XcI9Kex-F5iXbsVUvQtEEVQ?width=2400">
  <h2 slot="heading">Why millions of customers choose British Gas</h2>
  <p>We’ve been keeping Britain’s homes warm and working for more than 200 years. And 8 million people already put their trust in us. Here’s why you can too:</p>
  <ul class="ul-bullet">
    <li>Outstanding engineers – with the most in-depth training in the business</li>
    <li>Here for you 24/7 – manage your energy and repairs in-app or online anytime</li>
    <li>Green goals – renewable energy and smart tech to shrink your carbon footprint</li>
    <li>Regular rewards – tempting treats, prize draws and more – just for being with us</li>
  </ul>
</ns-editorial>

<ns-editorial image="https://cdn-assets-eu.frontify.com/s3/frontify-enterprise-files-eu/eyJwYXRoIjoiY2VudHJpY2FcL2FjY291bnRzXC8wZlwvNDAwMDE1N1wvcHJvamVjdHNcLzY0XC9hc3NldHNcL2I1XC8xMjE1N1wvYTBkZmQ5ZDc4MDdhOWFlZjczM2E0ZDYwZjJkZWJmODktMTU0NzQ3NzIzMC5qcGcifQ:centrica:_ASGvR1oIpr008XgpWsTXqdl8IjUR68-ECtI2s2ZtSg?width=2400" reverse="">
  <h2 slot="heading">We are a leading brand in the United Kingdom</h2>
  <p>But don’t take our word for it. Check out our Uswitch Energy Awards 2020 in the Large Suppliers category. All voted for by our customers:</p>
  <ul class="ul-bullet">
    <li>Energy Supplier of the Year 
    <li>Most Likely to be Recommended 
    <li>Best App
    <li>Best Rewards
  </ul>
  <p>We’ll always go the extra mile for you. So whatever your problem, make it our problem. We’re here to solve.</p>
</ns-editorial>

<ns-panel>
  <h2>What our customers say about us</h2>
  <div class="splash triple" role="list">

    <ns-testimonial role="listitem" citeurl="https://this-is-where.the/quote-is/from" author="Dave Smith" medium="facebook" testvariant="a">
      <p slot="quote">There are fantastic rewards to choose from at the moment. <b>Many thanks @britishgas</b></p>
    </ns-testimonial>

    <ns-testimonial role="listitem" citeurl="https://this-is-where.the/quote-is/from" author="Susan" medium="via email" testvariant="a">
      <p slot="quote">Check your rewards if you've got an account with British Gas. There are fantastic rewards to choose from at the moment. <b>Many thanks @britishgas</b></p>
    </ns-testimonial>

    <ns-testimonial role="listitem" citeurl="https://this-is-where.the/quote-is/from" author="@brendalovesbritishgas" medium="twitter" testvariant="a">
      <p slot="quote">Check your rewards if you've got an account with British Gas. There are fantastic rewards to choose from at the moment. <b>Many thanks @britishgas</b></p>
    </ns-testimonial>
  </div>
</ns-panel>

<ns-panel>
  <!-- Only here to keep the decoration -->
</ns-panel>
<ns-panel decoration="circle-yellow-right">
  <ns-lockup layered="" ratio="16x9" type="lockbox">
    <h2 slot="heading">
      <span class="h1 enlighten"><b>We're proud to be here to help every way we can.</b></span>
    </h2>
    <p slot="paragraph">Come behind the scenes to see how our engineers are dealing with emergencies and social distancing, our customer service teams juggle calls and kids and we help the Trussell Trust to keep supporting the most vulnerable in our communities.
    </p>
    <ns-video slot="image" ratio="16x9" id="RJOC-r5TTVc">
    </ns-video>
  </ns-lockup>
</ns-panel>
<ns-panel>
  <!-- Only here to keep the decoration -->
</ns-panel>



<ns-panel>
  <div class="splash">  
    <h2>We do more than just energy</h2>
    <p>We’re not just an energy and home services provider, our mission is to do more for our customers, communities and employees. And we’ve got lots to talk about in this area.
    </p>
  </div>

  <div class="splash triple" role="list">
    <ns-card type="support" image="https://cdn-assets-eu.frontify.com/s3/frontify-enterprise-files-eu/eyJwYXRoIjoiY2VudHJpY2FcL2FjY291bnRzXC8wZlwvNDAwMDE1N1wvcHJvamVjdHNcLzY0XC9hc3NldHNcLzYwXC8xNDg4NVwvZWNlMGM4YTdjZGUzODhkMGUwOWU4ODNkNWQ2YzhlOTktMTU1OTMwMTU2MS5qcGcifQ:centrica:mp6Hmvyy0_WUvw750m9HOd6-A0SlJ2Bz94Tox3-nvIk?width=800" alt="Electric vehicle owner plugging in the car for a recharge">
      <h3 slot="heading">Our role in Sustainability </h3>
      <p slot="paragraph">That’s why we’re on a journey to transform. Where energy progresses in to a new era of control and conscience.
      </p>
      <a slot="cta" href="#!">
        <ns-cta type="text">Learn more about sustainability</ns-cta>
      </a>
    </ns-card>
    <ns-card type="support" image="https://cdn-assets-eu.frontify.com/s3/frontify-enterprise-files-eu/eyJwYXRoIjoiY2VudHJpY2FcL2FjY291bnRzXC8wZlwvNDAwMDE1N1wvcHJvamVjdHNcLzY0XC9hc3NldHNcLzc2XC8xODA1OFwvMjgyNzQzNzUwOWFlNTY0ZWFhMTY2N2FlODNmY2M5MTMtMTU2NDE1MTMxNi5qcGcifQ:centrica:jRShXtPQb_zkOUYVXQhXXYYtAVpPlnQiee0o4PzKcIA?width=2400" alt="Employees working together">
      <h3 slot="heading">Our values as a company that we hold close </h3>
      <p slot="paragraph">Care, delivery, collaboration, agility and courage are values we developed through conversations with employees 
      </p>
      <a slot="cta" href="#!">
        <ns-cta type="text">Learn more about our values</ns-cta>
      </a>
    </ns-card>
    <ns-card type="support" image="https://cdn-assets-eu.frontify.com/s3/frontify-enterprise-files-eu/eyJwYXRoIjoiY2VudHJpY2FcL2FjY291bnRzXC8wZlwvNDAwMDE1N1wvcHJvamVjdHNcLzY0XC9hc3NldHNcLzc2XC8xODA1OFwvMjgyNzQzNzUwOWFlNTY0ZWFhMTY2N2FlODNmY2M5MTMtMTU2NDE1MTMxNi5qcGcifQ:centrica:jRShXtPQb_zkOUYVXQhXXYYtAVpPlnQiee0o4PzKcIA?width=2400" alt="Employees working together">
      <h3 slot="heading">Our values as a company that we hold close </h3>
      <p slot="paragraph">Care, delivery, collaboration, agility and courage are values we developed through conversations with employees across the business about
      </p>
      <a slot="cta" href="#!">
        <ns-cta type="text">Learn more about our values</ns-cta>
      </a>
    </ns-card>

  </div>

  <div class="splash triple" role="list">
    <ns-card type="support" image="https://cdn-assets-eu.frontify.com/s3/frontify-enterprise-files-eu/eyJwYXRoIjoiY2VudHJpY2FcL2FjY291bnRzXC8wZlwvNDAwMDE1N1wvcHJvamVjdHNcLzY0XC9hc3NldHNcLzYwXC8xNDg4NVwvZWNlMGM4YTdjZGUzODhkMGUwOWU4ODNkNWQ2YzhlOTktMTU1OTMwMTU2MS5qcGcifQ:centrica:mp6Hmvyy0_WUvw750m9HOd6-A0SlJ2Bz94Tox3-nvIk?width=800" alt="Electric vehicle owner plugging in the car for a recharge">
      <h3 slot="heading">Our role in Sustainability </h3>
      <p slot="paragraph">That’s why we’re on a journey to transform. Where energy progresses in to a new era of control and conscience.
      </p>
      <a slot="cta" href="#!">
        <ns-cta type="text">Learn more about sustainability</ns-cta>
      </a>
    </ns-card>
    <ns-card type="support" image="https://cdn-assets-eu.frontify.com/s3/frontify-enterprise-files-eu/eyJwYXRoIjoiY2VudHJpY2FcL2FjY291bnRzXC8wZlwvNDAwMDE1N1wvcHJvamVjdHNcLzY0XC9hc3NldHNcLzc2XC8xODA1OFwvMjgyNzQzNzUwOWFlNTY0ZWFhMTY2N2FlODNmY2M5MTMtMTU2NDE1MTMxNi5qcGcifQ:centrica:jRShXtPQb_zkOUYVXQhXXYYtAVpPlnQiee0o4PzKcIA?width=2400" alt="Employees working together">
      <h3 slot="heading">Our values as a company that we hold close </h3>
      <p slot="paragraph">Care, delivery, collaboration, agility and courage are values we developed through conversations with employees 
      </p>
      <a slot="cta" href="#!">
        <ns-cta type="text">Learn more about our values</ns-cta>
      </a>
    </ns-card>
    <ns-card type="support" image="https://cdn-assets-eu.frontify.com/s3/frontify-enterprise-files-eu/eyJwYXRoIjoiY2VudHJpY2FcL2FjY291bnRzXC8wZlwvNDAwMDE1N1wvcHJvamVjdHNcLzY0XC9hc3NldHNcLzc2XC8xODA1OFwvMjgyNzQzNzUwOWFlNTY0ZWFhMTY2N2FlODNmY2M5MTMtMTU2NDE1MTMxNi5qcGcifQ:centrica:jRShXtPQb_zkOUYVXQhXXYYtAVpPlnQiee0o4PzKcIA?width=2400" alt="Employees working together">
      <h3 slot="heading">Our values as a company that we hold close </h3>
      <p slot="paragraph">Care, delivery, collaboration, agility and courage are values we developed through conversations with employees across the business about
      </p>
      <a slot="cta" href="#!">
        <ns-cta type="text">Learn more about our values</ns-cta>
      </a>
    </ns-card>

  </div>


</ns-panel>

