---
title: Content pages
eleventyNavigation:
  key: ben
  parent: marketing-and-brand
  title: Content pages
  excerpt: Prototype for content pages for the marketing team
---

<ns-landmark type="hillside">
  <h1 slot="heading">
    <span class="h5">Sandboxes are the best type of boxes.</span>
    <span class="h1 enlighten"><b>Ben is prototyping</b>, get ready to be amazed</span>
  </h1>
  <div slot="paragraph">
    <p>This is the index for what you can find in <b>{{title}}</b>. Keep that in mind and have clemency.</p>
  </div>
</ns-landmark>

  {% set navPages = collections.all | eleventyNavigation("ben") | reverse %}
  <ns-panel>
    <div class="splash">
      <h2>Available projects</h2>
    </div>
    <div class="splash triple">
      {%- for entry in navPages %}
        <ns-card type="support">
          <h3 slot="heading">{{entry.title}}</h3>
          <p slot="paragraph">{{entry.excerpt}}</p>
          <a slot="cta" href="{{entry.url | url}}">
            <ns-cta type="text">See {{entry.title}}</ns-cta>
          </a>
        </ns-card>
      {%- endfor %}
    </div>
  </ns-panel>
