---
title: Dean tutorial
---

<ns-landmark type="hillside">
  <h1 slot="heading">
    <span class="h5">Ahhhh yeees</span>
    <span class="h1 enlighten">Do whatever you want <b>in HTML</b> can't beat it</span>
  </h1>
  <div slot="paragraph">
    <p>How <b>fascinating</b> to see this in action.</p>
    <p>I'm using <b>Atom</b> live server.</p>
  </div>
</ns-landmark>


<ns-panel>

<ns-lockup type="lockbox" reverse="">>
  <h2 slot="heading">
    <span class="h5">Our Home Services.</span>
    <span class="h1 enlighten"><b>Your home should just work,</b> we get that</span>
  </h2>
  <p slot="paragraph">We bring you the latest offers on boilers, repairs and more. And we're always here when you need us.</p>
  <a slot="cta" href="#!">
    <ns-cta type="direct">View HomeCare</ns-cta>
  </a>
  <ns-image slot="image" ratio="4x3" src="https://www.britishgas.co.uk/aem6/content/dam/britishgas/images/ns/image4_3.png"></ns-image>
</ns-lockup>

</ns-panel>
