---
title: drew tutorial
---

<ns-landmark type="hillside">
  <h1 slot="heading">
    <span class="h5">Having a go.</span>
    <span class="h1 enlighten">This is me <b>HI YA</b> trying out prototyping</span>
  </h1>
  <div slot="paragraph">
    <p>I hope everone enjoys themselves today. Together we learn and share, collectively we improve.</p>
  </div>
</ns-landmark>

<ns-panel>

  <ns-lockup type="lockbox" reverse="">
    <h2 slot="heading"> <span class="h5">My prototype.</span> <span class="h1 enlighten"><b>Your home should just
          work,</b> we get that</span> </h2>
    <p slot="paragraph">We bring you the latest offers on boilers, repairs and more. And we're always here when you need
      us.</p> <a slot="cta" href="#!">
      <ns-cta type="direct">View HomeCare</ns-cta>
    </a>
    <ns-image slot="image" ratio="4x3" src="https://user-images.githubusercontent.com/50207859/67642153-d461b480-f900-11e9-9520-11204c64a11b.jpg"></ns-image>
  </ns-lockup>

</ns-panel>