---
title: Tutorial 01
eleventyNavigation:
  key: Tutorial 01
  parent: tutorials
  title: Tutorial 01
  excerpt: Getting started with Nucleus prototyping.
---

<ns-landmark type="hillside">
  <h1 slot="heading">
    <span class="h5">Getting set up.</span>
    <span class="h1 enlighten">Install tools <b>before you begin</b></span>
  </h1>
  <div slot="paragraph">
    <p>To begin prototyping, you'll need to <b>get familiar</b> with the necessary tools and techniques.</p>
    <p>In this tutorial, we'll set up a <b>new environment</b> and create a <b>basic page</b>.</p>
  </div>
</ns-landmark>

<ns-panel>
  <ns-column>
    <ns-content>
      <h2>Install the prerequisites</h2>
      <p class="p-feature">Suggested applications for prototyping.</p>
      <h3>Code editor</h3>
      <p>If you don't already have a favourite code editor, start by installing one.</p>
      <p>We recommend installing <b>VSCode</b>. It's free, open source and is widely used. Here is the VSCode homepage: <a href="https://code.visualstudio.com/">https://code.visualstudio.com/</a></p>
      <h2>Check out the repository</h2>
      <p>The Nucleus prototype GitHub repository can be found here: <a href="https://github.com/britishgas-engineering/nucleus-prototype">https://github.com/britishgas-engineering/nucleus-prototype</a></p>
    </ns-content>
  </ns-column>
</ns-panel>
