---
title: Tutorial 01
eleventyNavigation:
  key: Tutorial 01
  parent: tutorials
  title: Tutorial 01
  excerpt: Getting started with Nucleus prototyping.
---

<ns-landmark type="hillside">
  <h1 slot="heading">
    <span class="h5">Getting set up.</span>
    <span class="h1 enlighten">Install tools <b>before you begin</b></span>
  </h1>
  <div slot="paragraph">
    <p>To begin prototyping, you'll need to <b>get familiar</b> with the necessary tools and techniques.</p>
    <p>In this tutorial, we'll set up a <b>new environment</b> and create a <b>basic page</b>.</p>
  </div>
</ns-landmark>

<ns-panel>
  <ns-column>
    <ns-content>
      <h2>Before you begin</h2>

      <p>In this tutorial, we'll install the necessary <b>apps and tools</b> on your Mac to begin prototyping with Nucleus.</p>

      <h3>A code editor</h3>

      <p>If you don't already have a favourite code editor, start by installing one.</p>
      <p>We recommend installing <b>VSCode</b>. It's free, open source and is widely used.</p>

      <p><a target="_blank" href="https://code.visualstudio.com/">https://code.visualstudio.com/</a></p>

      <h3>GitHub Desktop</h3>

      <p>There are many ways to use Git. We've found <b>GitHub Desktop</b> works well for us.</p>

      <p><a target="_blank" href="https://desktop.github.com/">https://desktop.github.com/</a></p>

      <h3>Node.js LTS</h3>

      <p><em><small>(Long Term Support)</small></em></p>

      <p>The JavaScript runtime application we need to run <b>Eleventy</b>.</p>

      <p><a target="_blank" href="https://nodejs.org/en/">https://nodejs.org/en/</a></p>

      <h3>Let's get started</h3>

      <p>Now let's familiarise ourselves with the new apps, and install the Nucleus prototype.</p>

      <h3>Clone the repository</h3>

      <p>Visit the <b>nucleus-prototype</b> repository and Open with GitHub Desktop.</p>

      <p><a href="https://github.com/britishgas-engineering/nucleus-prototype">https://github.com/britishgas-engineering/nucleus-prototype</a></p>

      <h3>Using Terminal</h3>

      <p>To run Eleventy we use <b>Terminal</b> with a few simple commands.</p>

      <p><code>$ <span>cd nucleus-prototype</span></code></p>

      <p><code>$ <span>npm install</span></code></p>

      <p><code>$ <span>npm start</span></code></p>
    </ns-content>
  </ns-column>
</ns-panel>
