---
title: demo tutorial
---

<ns-landmark type="hillside">
  <h1 slot="heading">
    <span class="h5">Heyaa.</span>
    <span class="h1 enlighten">Coloring book <b>sup</b> air plant meditation poke</span>
  </h1>
  <div slot="paragraph">
    <p>Chicharronesss <b>pabstasdasdassaadsdas flexitarian</b> gochujang fanny pack enamel pin. Affogato pug lomo
      pinterest.</p>
    <p>Biodiesel pour-over pop-up <b>air plant</b> ugh, mumblecore poke.</p>
  </div>
</ns-landmark>
<ns-panel>
  <ns-lockup type="lockbox">
    <h2 slot="heading">
      <span class="h5">Our Home Serviceseeeee.</span>
      <span class="h1 enlighten"><b>Your home should just work,</b> we get eethat</span>
    </h2>
    <p slot="paragraph">We bring you the latest offers on boilers, repairs and more. And we're always here when you need
      us.</p>
    <a slot="cta" href="#!">
      <ns-cta type="direct">View HomeCare</ns-cta>
    </a>
    <ns-image slot="image" ratio="4x3" src="https://cdn-assets-eu.frontify.com/s3/frontify-enterprise-files-eu/eyJwYXRoIjoiY2VudHJpY2FcL2FjY291bnRzXC8wZlwvNDAwMDE1N1wvcHJvamVjdHNcLzY0XC9hc3NldHNcLzA2XC8yNTQ4OVwvODM5MGZkNDAyYzg3NzlkYmMzMDQ5MWQwMWUyNTUwYTAtMTYwNjgyMTYxMS5qcGcifQ:centrica:WIwkNhP40VctKE9AEbUT2iaE-kpuU08M5o0Cz3jalAQ?width=800"></ns-image>
  </ns-lockup>
</ns-panel>

<ns-panel decoration="">
  <h2>Want something more?</h2>
  <ns-column hockeypitch="3" role="list">
    <ns-card role="listitem" type="support" image="https://cdn-assets-eu.frontify.com/s3/frontify-enterprise-files-eu/eyJwYXRoIjoiY2VudHJpY2FcL2FjY291bnRzXC8wZlwvNDAwMDE1N1wvcHJvamVjdHNcLzY0XC9hc3NldHNcLzg5XC8yNTkzNFwvYmM4NDAwZmU1YjkyYjMxOWJiZDkyZTY4MDA2OGE4MTQtMTYxNDk1NDk0Ny5qcGcifQ:centrica:c7LGzViM1inVmQ20QLhna9AjUtLCZM7EPIFiNI3h4hs?width=800">
      <h3 slot="heading" role="heading" aria-level="3">Discounts</h3>
      <p slot="paragraph">Get big discounts on things like family days out and great restaurants, plus some of our other
        products and services.</p>
    </ns-card>
    <ns-card role="listitem" type="support" image="https://cdn-assets-eu.frontify.com/s3/frontify-enterprise-files-eu/eyJwYXRoIjoiY2VudHJpY2FcL2FjY291bnRzXC8wZlwvNDAwMDE1N1wvcHJvamVjdHNcLzY0XC9hc3NldHNcL2U1XC8yNTU3NVwvNjYwYzVjNzcxYTEwNDA4ZmE0YjJjNGJiMThkYWZjNDYtMTYwNzYwMzU3OC5qcGcifQ:centrica:UsP7MIGS1mfR5ntLX7Iem8Aib1myeBY4Rn9uHoWLtg8?width=800">
      <h3 slot="heading" role="heading" aria-level="3">Giveaways</h3>
      <p slot="paragraph">We love treating our customers to things like movie nights, drinks and ice cream, plus more
        practical gifts like free energy with Loyalty Days.</p>
    </ns-card>
    <ns-card role="listitem" type="support" image="https://cdn-assets-eu.frontify.com/s3/frontify-enterprise-files-eu/eyJwYXRoIjoiY2VudHJpY2FcL2FjY291bnRzXC8wZlwvNDAwMDE1N1wvcHJvamVjdHNcLzY0XC9hc3NldHNcLzA2XC8yNTQ4OVwvODM5MGZkNDAyYzg3NzlkYmMzMDQ5MWQwMWUyNTUwYTAtMTYwNjgyMTYxMS5qcGcifQ:centrica:WIwkNhP40VctKE9AEbUT2iaE-kpuU08M5o0Cz3jalAQ?width=800">
      <h3 slot="heading" role="heading" aria-level="3">Prize Draws</h3>
      <p slot="paragraph">Win tickets to see your favourite acts live at The O2, free holidays, Wilbur toys and more.
        <b>Come see what's up for grabs!</b></p>
    </ns-card>
  </ns-column>
</ns-panel>