---
title: Rob Tutorial
---

<ns-landmark type="hillside"
    image="https://user-images.githubusercontent.com/28779/75573555-00c74200-5a55-11ea-86db-66a1ff253b57.jpg">
    <h1 slot="heading">
        <span class="h5">How cool is this - Rob?</span>
        <span class="h1 enlighten"><b>Rob is ready</b>, get ready to be awesome</span>
    </h1>
    <div slot="paragraph">
        <p>This is the index page of the <b>{{title}}</b>. When you're ready, get involved.</p>
    </div>
</ns-landmark>
<ns-panel>
    <ns-lockup type="lockbox" reverse="">
        <h2 slot="heading"> <span class="h5">Our Home Services.</span> <span class="h1 enlighten"><b>Your home should
                    just work,</b> we get that</span> </h2>
        <p slot="paragraph">We bring you the latest offers on boilers, repairs and more. And we're always here when you
            need us.</p> <a slot="cta" href="#!">
            <ns-cta type="direct">View HomeCare</ns-cta>
        </a>
        <ns-image slot="image" ratio="4x3"
            src="https://user-images.githubusercontent.com/50207859/67642153-d461b480-f900-11e9-9520-11204c64a11b.jpg">
        </ns-image>
    </ns-lockup>
</ns-panel>
