<ns-landmark type="hillside">
  <h1 slot="heading">
    <span class="h5">Your quote.</span>
    <span class="h1 enlighten">We've got <b>4 tariffs for you</b> to choose from</span>
  </h1>
  <p slot="paragraph">The following tariffs are based on the information you provided and show an average cost.</p>
  <p slot="paragraph">This may change depending on your usage.</p>
</ns-landmark>

<ns-panel>
  <div class="splash">
    <ns-form>
      <ns-inputter class="triple" heading="Select the energy tariff that best fits your needs" value="" name="tariffs">
        <ns-selector decoration="" image="" checked="">
          <input type="radio" id="question-1" name="question" value="tariff-1">
          <label for="question-1">HomeEnergy Fix Green June 2020</label>
          <div slot="description">
            <h3 class="h5 enlighten"><b>£98.27 per month</b><br />£1179.22 per year</h3>
            <p class="p-small"><a href="#!">More information</a></p>
          </div>
        </ns-selector>
        <ns-selector decoration="" image="" checked="">
          <input type="radio" id="question-2" name="question" value="tariff-2">
          <label for="question-2">Cap Tracker Plus Sep 2021</label>
          <div slot="description">
            <h3 class="h5 enlighten"><b>£99.10 per month</b><br />£1189.20 per year</h3>
            <p class="p-small"><a href="#!">More information</a></p>
          </div>
        </ns-selector>
        <ns-selector decoration="" image="" checked="">
          <input type="radio" id="question-3" name="question" value="tariff-3">
          <label for="question-3">Electric Drivers Energy Plan Sep 2021</label>
          <div slot="description">
            <h3 class="h5 enlighten"><b>£135.23 per month</b><br />£1602.62 per year</h3>
            <p class="p-small"><a href="#!">More information</a></p>
          </div>
        </ns-selector>
        <ns-selector decoration="" image="" checked="">
          <input type="radio" id="question-4" name="question" value="tariff-4">
          <label for="question-4">HomeEnergy Fix Green May 2020</label>
          <div slot="description">
            <h3 class="h5 enlighten"><b>£143.81 per month</b><br />£1725.75 per year</h3>
            <p class="p-small"><a href="#!">More information</a></p>
          </div>
        </ns-selector>
      </ns-inputter>
      <ns-cta href="../06-personal-details">Continue</ns-cta>
    </ns-form>
  </div>
</ns-panel>

<ns-panel>
  <div class="splash">
    <ns-accordion>
      <h3 slot="heading">Full tariff information</h3>

      <!-- START TARIFF #1 -->

      <ns-expander open="false">
        <h4 slot="heading">HomeEnergy Fix Green June 2020</h4>
        <p><b>Price secured</b> until 31st May 2020</p>
        <p><b>Exit fees</b> (if you switch to another supplier) £30 per fuel</p>
        <p><b>100% of your annual electricity use</b> on this tariff matched with renewable electricity through Guarantees of Origin (GoOs)</p>

        <h3>Gas tariff costs</h3>
        <dl class="dl-row">
          <div>
            <dt>Annually</dt>
            <dd>£534.22</dd>
          </div>
          <div>
            <dt>Quarterly</dt>
            <dd>£133.54</dd>
          </div>
          <div>
            <dt>Monthly</dt>
            <dd>£43.27</dd>
          </div>
        </dl>

        <h3>Electricity tariff costs</h3>
        <dl class="dl-row">
          <div>
            <dt>Annually</dt>
            <dd>£645.22</dd>
          </div>
          <div>
            <dt>Quarterly</dt>
            <dd>£160.54</dd>
          </div>
          <div>
            <dt>Monthly</dt>
            <dd>£55.27</dd>
          </div>
        </dl>

        <h3>About this gas tariff</h3>
        <dl class="dl-row">
          <div>
            <dt>Supplier</dt>
            <dd>British Gas</dd>
          </div>
          <div>
            <dt>Tariff name</dt>
            <dd>HomeEnergy Fix Green June 2020</dd>
          </div>
          <div>
            <dt>Tariff type</dt>
            <dd>Fixed</dd>
          </div>
          <div>
            <dt>Payment method</dt>
            <dd>Monthly Direct Debit</dd>
          </div>
          <div>
            <dt>Standard unit rate</dt>
            <dd>3.773p per kWh</dd>
          </div>
          <div>
            <dt>Standing charge</dt>
            <dd>24.780p per day <a href=#caveat>1</a></dd>
          </div>
          <div>
            <dt>Tariff ends on</dt>
            <dd>30/09/2021</dd>
          </div>
          <div>
            <dt>Price guaranteed until</dt>
            <dd>30/09/2021</dd>
          </div>
          <div>
            <dt>Exit fees (if you change supplier before the end date)</dt>
            <dd>£30 per fuel</dd>
          </div>
          <div>
            <dt>Discounts &amp; additional charges</dt>
            <dd>Not applicable</dd>
          </div>
          <div>
            <dt>Additional products or services included</dt>
            <dd>Other offers may be available with this tariff. For details of our full range of offers please visit <a href="https://britishgas.co.uk">britishgas.co.uk</a></dd>
          </div>
        </dl>

        <h3>About this electricity tariff</h3>
        <dl class="dl-row">
          <div>
            <dt>Supplier</dt>
            <dd>British Gas</dd>
          </div>
          <div>
            <dt>Tariff name</dt>
            <dd>HomeEnergy Fix Green June 2020</dd>
          </div>
          <div>
            <dt>Tariff type</dt>
            <dd>Fixed</dd>
          </div>
          <div>
            <dt>Payment method</dt>
            <dd>Monthly Direct Debit</dd>
          </div>
          <div>
            <dt>Standard unit rate</dt>
            <dd>3.773p per kWh</dd>
          </div>
          <div>
            <dt>Standing charge</dt>
            <dd>24.780p per day <a href=#caveat>1</a></dd>
          </div>
          <div>
            <dt>Tariff ends on</dt>
            <dd>30/09/2021</dd>
          </div>
          <div>
            <dt>Price guaranteed until</dt>
            <dd>30/09/2021</dd>
          </div>
          <div>
            <dt>Exit fees (if you change supplier before the end date)</dt>
            <dd>£30 per fuel</dd>
          </div>
          <div>
            <dt>Discounts &amp; additional charges</dt>
            <dd>Not applicable</dd>
          </div>
          <div>
            <dt>Additional products or services included</dt>
            <dd>Other offers may be available with this tariff. For details of our full range of offers please visit <a href="https://britishgas.co.uk">britishgas.co.uk</a></dd>
          </div>
        </dl>

        <p>Please <a href="#!">read our tariff terms and conditions</a>.</p>
        <p>Prices include VAT at the applicable rate and are rounded. The prices appear differently on your bills and statements where we show prices excluding VAT.</p>
        <p>These prices apply to customers using mains gas and to customers using piped propane in Llanfyllin, Llanwrtyd Wells and Stornoway.</p>

      </ns-expander>

      <!-- END TARIFF #1 -->

      <!-- START TARIFF #2 -->

      <ns-expander open="false">
        <h4 slot="heading">Cap Tracker Plus Sep 2021</h4>
        <p><b>A tracker tariff</b> which is at least £3 cheaper for a dual fuel customer than the default tariff price cap, saving you money compared to our default tariff</p>
        <p><b>No exit fees</b> for ultimate flexibility</p>
        <p><b>100% of your annual electricity use</b> on this tariff matched with renewable electricity through Guarantees of Origin (GoOs)</p>
        <p><b>Prices reviewed every 6 months</b> in line with the default tariff price cap, so your prices could go up or down, but never over the cap</p>

        <h3>Gas tariff costs</h3>
        <dl class="dl-row">
          <div>
            <dt>Annually</dt>
            <dd>£534.22</dd>
          </div>
          <div>
            <dt>Quarterly</dt>
            <dd>£133.54</dd>
          </div>
          <div>
            <dt>Monthly</dt>
            <dd>£43.27</dd>
          </div>
        </dl>

        <h3>Electricity tariff costs</h3>
        <dl class="dl-row">
          <div>
            <dt>Annually</dt>
            <dd>£645.22</dd>
          </div>
          <div>
            <dt>Quarterly</dt>
            <dd>£160.54</dd>
          </div>
          <div>
            <dt>Monthly</dt>
            <dd>£55.27</dd>
          </div>
        </dl>

        <h3>About this gas tariff</h3>
        <dl class="dl-row">
          <div>
            <dt>Supplier</dt>
            <dd>British Gas</dd>
          </div>
          <div>
            <dt>Tariff name</dt>
            <dd>Cap Tracker Plus Sep 2021</dd>
          </div>
          <div>
            <dt>Tariff type</dt>
            <dd>Fixed</dd>
          </div>
          <div>
            <dt>Payment method</dt>
            <dd>Monthly Direct Debit</dd>
          </div>
          <div>
            <dt>Standard unit rate</dt>
            <dd>3.631p per kWh</dd>
          </div>
          <div>
            <dt>Standing charge</dt>
            <dd>25.699p per day <a href=#caveat>1</a></dd>
          </div>
          <div>
            <dt>Tariff ends on</dt>
            <dd>30/09/2021</dd>
          </div>
          <div>
            <dt>Price guaranteed until</dt>
            <dd>30/09/2021</dd>
          </div>
          <div>
            <dt>Exit fees (if you change supplier before the end date)</dt>
            <dd>Not applicable</dd>
          </div>
          <div>
            <dt>Discounts &amp; additional charges</dt>
            <dd>Not applicable</dd>
          </div>
          <div>
            <dt>Additional products or services included</dt>
            <dd>Other offers may be available with this tariff. For details of our full range of offers please visit <a href="https://britishgas.co.uk">britishgas.co.uk</a></dd>
          </div>
        </dl>

        <h3>About this electricity tariff</h3>
        <dl class="dl-row">
          <div>
            <dt>Supplier</dt>
            <dd>British Gas</dd>
          </div>
          <div>
            <dt>Tariff name</dt>
            <dd>Cap Tracker Plus Sep 2021</dd>
          </div>
          <div>
            <dt>Tariff type</dt>
            <dd>Fixed</dd>
          </div>
          <div>
            <dt>Payment method</dt>
            <dd>Monthly Direct Debit</dd>
          </div>
          <div>
            <dt>Standard unit rate</dt>
            <dd>17.510p per kWh</dd>
          </div>
          <div>
            <dt>Standing charge</dt>
            <dd>21.427p per day <a href=#caveat>1</a></dd>
          </div>
          <div>
            <dt>Tariff ends on</dt>
            <dd>30/09/2021</dd>
          </div>
          <div>
            <dt>Price guaranteed until</dt>
            <dd>30/09/2021</dd>
          </div>
          <div>
            <dt>Exit fees (if you change supplier before the end date)</dt>
            <dd>Not applicable</dd>
          </div>
          <div>
            <dt>Discounts &amp; additional charges</dt>
            <dd>Not applicable</dd>
          </div>
          <div>
            <dt>Additional products or services included</dt>
            <dd>Other offers may be available with this tariff. For details of our full range of offers please visit <a href="https://britishgas.co.uk">britishgas.co.uk</a></dd>
          </div>
        </dl>

        <p>Please <a href="#!">read our tariff terms and conditions</a>.</p>
        <p>Prices include VAT at the applicable rate and are rounded. The prices appear differently on your bills and statements where we show prices excluding VAT.</p>
        <p>These prices apply to customers using mains gas and to customers using piped propane in Llanfyllin, Llanwrtyd Wells and Stornoway.</p>

      </ns-expander>

      <!-- END TARIFF #2 -->

      <!-- START TARIFF #3 -->

      <ns-expander open="false">
        <h4 slot="heading">Electric Drivers Energy Plan Sep 2021</h4>
        <p><b>Designed exclusively for customers who drive Electric Vehicles</b></p>
        <p><b>Lower priced energy to charge your car overnight</b> between 12am-5am each day</p>
        <p><b>Free smart meter installation</b> if you haven’t got one already</p>
        <p><b>Secure your energy prices</b> until 30th September 2021</p>
        <p><b>100% of your annual electricity use</b> on this tariff matched with renewable electricity through Guarantees of Origin (GoOs)</p>

        <h3>Gas tariff costs</h3>
        <dl class="dl-row">
          <div>
            <dt>Annually</dt>
            <dd>£534.22</dd>
          </div>
          <div>
            <dt>Quarterly</dt>
            <dd>£133.54</dd>
          </div>
          <div>
            <dt>Monthly</dt>
            <dd>£43.27</dd>
          </div>
        </dl>

        <h3>Electricity tariff costs</h3>
        <dl class="dl-row">
          <div>
            <dt>Annually</dt>
            <dd>£645.22</dd>
          </div>
          <div>
            <dt>Quarterly</dt>
            <dd>£160.54</dd>
          </div>
          <div>
            <dt>Monthly</dt>
            <dd>£55.27</dd>
          </div>
        </dl>

        <h3>About this gas tariff</h3>
        <dl class="dl-row">
          <div>
            <dt>Supplier</dt>
            <dd>British Gas</dd>
          </div>
          <div>
            <dt>Tariff name</dt>
            <dd>Electric Drivers Energy Plan Sep 2021</dd>
          </div>
          <div>
            <dt>Tariff type</dt>
            <dd>Fixed</dd>
          </div>
          <div>
            <dt>Payment method</dt>
            <dd>Monthly Direct Debit</dd>
          </div>
          <div>
            <dt>Standard unit rate</dt>
            <dd>3.773p per kWh</dd>
          </div>
          <div>
            <dt>Standing charge</dt>
            <dd>24.780p per day <a href=#caveat>1</a></dd>
          </div>
          <div>
            <dt>Tariff ends on</dt>
            <dd>30/09/2021</dd>
          </div>
          <div>
            <dt>Price guaranteed until</dt>
            <dd>30/09/2021</dd>
          </div>
          <div>
            <dt>Exit fees (if you change supplier before the end date)</dt>
            <dd>Not applicable</dd>
          </div>
          <div>
            <dt>Discounts &amp; additional charges</dt>
            <dd>Not applicable</dd>
          </div>
          <div>
            <dt>Additional products or services included</dt>
            <dd>Other offers may be available with this tariff. For details of our full range of offers please visit <a href="https://britishgas.co.uk">britishgas.co.uk</a></dd>
          </div>
        </dl>

        <h3>About this electricity tariff</h3>
        <dl class="dl-row">
          <div>
            <dt>Supplier</dt>
            <dd>British Gas</dd>
          </div>
          <div>
            <dt>Tariff name</dt>
            <dd>Electric Drivers Energy Plan Sep 2021</dd>
          </div>
          <div>
            <dt>Tariff type</dt>
            <dd>Fixed</dd>
          </div>
          <div>
            <dt>Payment method</dt>
            <dd>Monthly Direct Debit</dd>
          </div>
          <div>
            <dt>Peak unit rate</dt>
            <dd>20.001p per kWh</dd>
          </div>
          <div>
            <dt>OFF Peak unit rate</dt>
            <dd>4.700p per kWh</dd>
          </div>
          <div>
            <dt>Standing charge</dt>
            <dd>25.001p per day <a href=#caveat>1</a></dd>
          </div>
          <div>
            <dt>Tariff ends on</dt>
            <dd>30/09/2021</dd>
          </div>
          <div>
            <dt>Price guaranteed until</dt>
            <dd>30/09/2021</dd>
          </div>
          <div>
            <dt>Exit fees (if you change supplier before the end date)</dt>
            <dd>Not applicable</dd>
          </div>
          <div>
            <dt>Discounts &amp; additional charges</dt>
            <dd>Not applicable</dd>
          </div>
          <div>
            <dt>Additional products or services included</dt>
            <dd>Other offers may be available with this tariff. For details of our full range of offers please visit <a href="https://britishgas.co.uk">britishgas.co.uk</a></dd>
          </div>
        </dl>

        <p>Please <a href="#!">read our tariff terms and conditions</a>.</p>
        <p>Prices include VAT at the applicable rate and are rounded. The prices appear differently on your bills and statements where we show prices excluding VAT.</p>
        <p>These prices apply to customers using mains gas and to customers using piped propane in Llanfyllin, Llanwrtyd Wells and Stornoway.</p>

      </ns-expander>

      <!-- END TARIFF #3 -->

      <!-- START TARIFF #4 -->

      <ns-expander open="false">
        <h4 slot="heading">HomeEnergy Fix Green May 2020</h4>
        <p><b>Price secured</b> until 31st May 2020</p>
        <p><b>Exit fees</b> (if you switch to another supplier) £30 per fuel</p>
        <p><b>100% of your annual electricity use</b> on this tariff matched with renewable electricity through Guarantees of Origin (GoOs)</p>

        <h3>Gas tariff costs</h3>
        <dl class="dl-row">
          <div>
            <dt>Annually</dt>
            <dd>£534.22</dd>
          </div>
          <div>
            <dt>Quarterly</dt>
            <dd>£133.54</dd>
          </div>
          <div>
            <dt>Monthly</dt>
            <dd>£43.27</dd>
          </div>
        </dl>

        <h3>Electricity tariff costs</h3>
        <dl class="dl-row">
          <div>
            <dt>Annually</dt>
            <dd>£645.22</dd>
          </div>
          <div>
            <dt>Quarterly</dt>
            <dd>£160.54</dd>
          </div>
          <div>
            <dt>Monthly</dt>
            <dd>£55.27</dd>
          </div>
        </dl>

        <h3>About this gas tariff</h3>
        <dl class="dl-row">
          <div>
            <dt>Supplier</dt>
            <dd>British Gas</dd>
          </div>
          <div>
            <dt>Tariff name</dt>
            <dd>HomeEnergy Fix Green May 2020</dd>
          </div>
          <div>
            <dt>Tariff type</dt>
            <dd>Fixed</dd>
          </div>
          <div>
            <dt>Payment method</dt>
            <dd>Monthly Direct Debit</dd>
          </div>
          <div>
            <dt>Standard unit rate</dt>
            <dd>3.631p per kWh</dd>
          </div>
          <div>
            <dt>Standing charge</dt>
            <dd>32.274p per day <a href=#caveat>1</a></dd>
          </div>
          <div>
            <dt>Tariff ends on</dt>
            <dd>30/09/2021</dd>
          </div>
          <div>
            <dt>Price guaranteed until</dt>
            <dd>30/09/2021</dd>
          </div>
          <div>
            <dt>Exit fees (if you change supplier before the end date)</dt>
            <dd>Not applicable</dd>
          </div>
          <div>
            <dt>Discounts &amp; additional charges</dt>
            <dd>Not applicable</dd>
          </div>
          <div>
            <dt>Additional products or services included</dt>
            <dd>Other offers may be available with this tariff. For details of our full range of offers please visit <a href="https://britishgas.co.uk">britishgas.co.uk</a></dd>
          </div>
        </dl>

        <h3>About this electricity tariff</h3>
        <dl class="dl-row">
          <div>
            <dt>Supplier</dt>
            <dd>British Gas</dd>
          </div>
          <div>
            <dt>Tariff name</dt>
            <dd>HomeEnergy Fix Green May 2020</dd>
          </div>
          <div>
            <dt>Tariff type</dt>
            <dd>Fixed</dd>
          </div>
          <div>
            <dt>Payment method</dt>
            <dd>Monthly Direct Debit</dd>
          </div>
          <div>
            <dt>Standard unit rate</dt>
            <dd>17.510p per kWh</dd>
          </div>
          <div>
            <dt>Standing charge</dt>
            <dd>24.714p per day <a href=#caveat>1</a></dd>
          </div>
          <div>
            <dt>Tariff ends on</dt>
            <dd>30/09/2021</dd>
          </div>
          <div>
            <dt>Price guaranteed until</dt>
            <dd>30/09/2021</dd>
          </div>
          <div>
            <dt>Exit fees (if you change supplier before the end date)</dt>
            <dd>Not applicable</dd>
          </div>
          <div>
            <dt>Discounts &amp; additional charges</dt>
            <dd>Not applicable</dd>
          </div>
          <div>
            <dt>Additional products or services included</dt>
            <dd>Other offers may be available with this tariff. For details of our full range of offers please visit <a href="https://britishgas.co.uk">britishgas.co.uk</a></dd>
          </div>
        </dl>

        <p>Please <a href="#!">read our tariff terms and conditions</a>.</p>
        <p>Prices include VAT at the applicable rate and are rounded. The prices appear differently on your bills and statements where we show prices excluding VAT.</p>
        <p>These prices apply to customers using mains gas and to customers using piped propane in Llanfyllin, Llanwrtyd Wells and Stornoway.</p>

      </ns-expander>

      <!-- END TARIFF #4 -->

    </ns-accordion>
  </div>
</ns-panel>

<ns-panel decoration="invert-concave-green-light">
  <div class="splash triple" role="list">
    <ns-card role="listitem" type="support">
      <h3 slot="heading" role="heading" aria-level="3">Save your quotes</h3>
      <p slot="paragraph">You can send your energy quotes to an email address of your choice.</p>
      <a slot="cta" href="#!">
        <ns-cta type="text">Email me my quotes</ns-cta>
      </a>
    </ns-card>
    <ns-card role="listitem" type="support">
      <h3 slot="heading" role="heading" aria-level="3">Terms and conditions</h3>
      <p slot="paragraph">Please take some time to read our tariff terms and conditions.</p>
      <a slot="cta" href="#!">
        <ns-cta type="text">Read our tariff terms and conditions</ns-cta>
      </a>
    </ns-card>
  </div>
</ns-panel>

<ns-panel>
  <div class="splash">
    <ns-accordion>
      <h3 slot="heading">Frequently asked questions</h3>
      <ns-expander open="false">
        <h4 slot="heading">What is a kiliowatt hour (kWh)?</h4>
        <p>A kWh stands for kilowatt hour - the unit used to measure energy use. 1 kWh will power a 40 watt light bulb for 25 hours.</p>
      </ns-expander>
      <ns-expander open="false">
        <h4 slot="heading">What is a tariff information label?</h4>
        <p>The Tariff Information Label (TIL) gives you the key facts about a tariff upfront and in one place. It lets you know any special rewards that may apply to the tariff.</p>
      </ns-expander>
      <ns-expander open="false">
        <h4 slot="heading">What is a personal projection?</h4>
        <p>A Personalised Projection is a personalised quote based on your home and your consumption. It gives you the best estimate on how much you will pay to help you pick the right tariff.</p>
      </ns-expander>
    </ns-accordion>
  </div>
</ns-panel>

<ns-caveat>
  <h2 slot="heading">Additional information</h2>
  <div slot="caveat">
    <ol>
      <li>The standing charge is applied on a pence per day basis. It helps cover an energy supplier's fixed costs.</li>
    </ol>
  </div>
</ns-caveat>
