<ns-landmark type="hillside">
  <h1 slot="heading">
    <span class="h5">Your quote.</span>
    <span class="h1 enlighten">We've got <b>4 energy tariffs for you</b></span>
  </h1>
  <p slot="paragraph">Have a look at the details. Based on what you’ve told use we think there’ll be a tariff that’s just right for you.</p>
  <!--<p slot="paragraph">This may change depending on your usage.</p>-->
</ns-landmark>


<ns-panel>
  <div class="splash triple">


    <ns-product-card keyline="">  
      <ns-image slot="image" src="https://user-images.githubusercontent.com/53818498/95592775-03553580-0a41-11eb-8546-4b0bc5758b4e.jpg" alt="Description of image" ratio="16x9"></ns-image>  
      <h2 slot="name">The Green One</h2>  <p slot="subtitle">Our greenest tariff and fixed unit rates until Nov 2021</p>  
      <h3 slot="price-heading">Estimated</h3>  
        <div slot="price">    
          <p><b><ns-price pence="9600"></ns-price></b> / month</p>
          <p><ns-price pence="115200"></ns-price> / year</p>  
        </div>  
        <div slot="description">This may change depending on your usage</div>
        <ns-expander slot="expander">    
          <h3 slot="heading">Tariff overview</h3>    
            <ul class="ul-ticked">      
              <li>Unit rate prices guaranteed until Nov 2021</li>      
                <li>We’ll match all the electricity you use with 100% renewable sources</li>        
            </ul>  
        </ns-expander>  
        <ns-expander slot="expander" showclose="">    
          <h3 slot="heading">Price breakdown</h3>    
            <h4>Gas tariff costs</h4>    
            <dl class="dl-row">      
              <div>        
                <dt>Estimated cost per year</dt>        
                <dd>£690</dd>      
              </div>      
              <div>        
                <dt>Estimated cost per quarter</dt>        
                <dd>£172.50</dd>      
              </div>      
              <div>        
                <dt>Estimated cost per month</dt>        
                <dd>£57.50</dd>      
              </div>      
              <div>        
                <dt>Standard unit rate</dt>        
                <dd>3.089p per kWh</dd>      
              </div>      
              <div>        
                <dt>Standing charge</dt>        
                <dd>34.293p per day</dd>      
              </div>      
              <div>        
                <dt>Price guaranteed until</dt>        
                <dd>30/11/2021</dd>      
              </div>      
              <div>        
                <dt>Exit fees</dt>        
                <dd>£30</dd>      
              </div>    
            </dl>    
            <ns-cta type="text" href="!#">Tariff Information Label</ns-cta>  
<p></p>
            <h4>Electricity tariff costs</h4>    
            <dl class="dl-row">      
              <div>        
                <dt>Estimated cost per year</dt>        
                <dd>£462</dd>      
              </div>      
              <div>        
                <dt>Estimated cost per quarter</dt>        
                <dd>£115.50</dd>      
              </div>      
              <div>        
                <dt>Estimated cost per month</dt>        
                <dd>£38.50</dd>      
              </div>      
              <div>        
                <dt>Standard unit rate</dt>        
                <dd>17.664p per kWh</dd>      
              </div>      
              <div>        
                <dt>Standing charge</dt>        
                <dd>32.721 per day</dd>      
              </div>      
              <div>        
                <dt>Price guaranteed until</dt>        
                <dd>30/11/2021</dd>      
              </div>      
              <div>        
                <dt>Exit fees</dt>        
                <dd>£30</dd>      
              </div>    
            </dl>    
            <ns-cta type="text" href="!#">Tariff Information Label</ns-cta> 
        </ns-expander>  
        <a href="../06-personal-details" slot="cta" onClick="tarrifOne()">
              <ns-cta>Select this tariff</ns-cta>
        </a>
      </ns-product-card>






      <ns-product-card keyline="">  
      <ns-image slot="image" src="https://user-images.githubusercontent.com/53818498/95077991-5448ef00-070c-11eb-8763-9d623a3c2c49.jpg" alt="Description of image" ratio="16x9"></ns-image>  
      <h2 slot="name">The Fixed One</h2>  <p slot="subtitle">Lock in your unit rate prices until Nov 2021</p>  
      <h3 slot="price-heading">Estimated</h3>  
        <div slot="price">    
          <p><b><ns-price pence="9400"></ns-price></b> / month</p>
          <p><ns-price pence="112800"></ns-price> / year</p>  
        </div> 
        <div slot="description">This may change depending on your usage</div> 
        <ns-expander slot="expander">    
          <h3 slot="heading">Tariff overview</h3>    
            <ul class="ul-ticked">      
              <li>Unit rate prices guaranteed until Nov 2021</li>      
              <li>We’ll match all the electricity you use with 100% renewable sources</li>      
            </ul>  
        </ns-expander>  
        <ns-expander slot="expander" showclose="">    
          <h3 slot="heading">Price breakdown</h3>    
            <h4>Gas tariff costs</h4>    
            <dl class="dl-row">      
              <div>        
                <dt>Estimated cost per year</dt>        
                <dd>678</dd>      
              </div>      
              <div>        
                <dt>Estimated cost per quarter</dt>        
                <dd>£169.50</dd>      
              </div>      
              <div>        
                <dt>Estimated cost per month</dt>        
                <dd>£56.50</dd>      
              </div>      
              <div>        
                <dt>Standard unit rate</dt>        
                <dd>3.089p per kWh</dd>      
              </div>      
              <div>        
                <dt>Standing charge</dt>        
                <dd>29.404p per day</dd>      
              </div>      
              <div>        
                <dt>Price guaranteed until</dt>        
                <dd>30/11/2021</dd>      
              </div>      
              <div>        
                <dt>Exit fees</dt>        
                <dd>£30</dd>      
              </div>    
            </dl>    
            <ns-cta type="text" href="!#">Tariff Information Label</ns-cta> 
<p></p>
            <h4>Electricity tariff costs</h4>    
            <dl class="dl-row">      
              <div>        
                <dt>Estimated cost per year</dt>        
                <dd>£450</dd>      
              </div>      
              <div>        
                <dt>Estimated cost per quarter</dt>        
                <dd>£112.50</dd>      
              </div>      
              <div>        
                <dt>Estimated cost per month</dt>        
                <dd>£37.50</dd>      
              </div>      
              <div>        
                <dt>Standard unit rate</dt>        
                <dd>17.664p per kWh</dd>      
              </div>      
              <div>        
                <dt>Standing charge</dt>        
                <dd>24.789p per day</dd>      
              </div>      
              <div>        
                <dt>Price guaranteed until</dt>        
                <dd>30/11/2021</dd>      
              </div>      
              <div>        
                <dt>Exit fees</dt>        
                <dd>£30</dd>      
              </div>    
            </dl>     

        </ns-expander>  
        <a href="../06-personal-details" slot="cta" onClick="tarrifOne()">
              <ns-cta>Select this tariff</ns-cta>
        </a>
      </ns-product-card>




      <ns-product-card keyline="">  
      <ns-image slot="image" src="https://user-images.githubusercontent.com/53818498/95101696-5de14f80-072a-11eb-85f6-3704601838f7.jpg" alt="Description of image" ratio="16x9"></ns-image>  
      <h2 slot="name">The Variable One</h2>  <p slot="subtitle">Enjoy total flexibility with no end date and no exit fees</p>  
      <h3 slot="price-heading">Estimated</h3>  
        <div slot="price">    
          <p><b><ns-price pence="9100"></ns-price></b> / month</p>
          <p><ns-price pence="109200"></ns-price> / year</p>  
        </div> 
        <div slot="description">This may change depending on your usage</div> 
        <ns-expander slot="expander">    
          <h3 slot="heading">Tariff overview</h3>    
            <ul class="ul-ticked">      
              <li>No end date or exit fees</li>
              <li>Prices may go up or down over time</li>
              <li>You’ll get 30 days’ notice of increases</li>
              <li>Maximum price capped by Ofgem</li>  
            </ul>  
        </ns-expander>  
        <ns-expander slot="expander" showclose="">    
          <h3 slot="heading">Price breakdown</h3>    
            <h4>Gas tariff costs</h4>    
            <dl class="dl-row">      
              <div>        
                <dt>Estimated cost per year</dt>        
                <dd>£658</dd>      
              </div>      
              <div>        
                <dt>Estimated cost per quarter</dt>        
                <dd>£164.50</dd>      
              </div>      
              <div>        
                <dt>Estimated cost per month</dt>        
                <dd>£54.83</dd>      
              </div>      
              <div>        
                <dt>Standard unit rate</dt>        
                <dd>17.664p per kWh</dd>      
              </div>      
              <div>        
                <dt>Standing charge</dt>        
                <dd>24.501p per day</dd>      
              </div>      
              <div>        
                <dt>Price guaranteed until</dt>        
                <dd>Not applicable</dd>      
              </div>      
              <div>        
                <dt>Exit fees</dt>        
                <dd>None</dd>      
              </div>    
            </dl>    
            <ns-cta type="text" href="!#">Gas Tariff Information Label</ns-cta>  
<p></p>
            <h4>Electricity tariff costs</h4>    
            <dl class="dl-row">      
              <div>        
                <dt>Estimated cost per year</dt>        
                <dd>£434</dd>      
              </div>      
              <div>        
                <dt>Estimated cost per quarter</dt>        
                <dd>£108.50</dd>      
              </div>      
              <div>        
                <dt>Estimated cost per month</dt>        
                <dd>£36.16</dd>      
              </div>      
              <div>        
                <dt>Standard unit rate</dt>        
                <dd>3.773p per kWh</dd>      
              </div>      
              <div>        
                <dt>Standing charge</dt>        
                <dd>24.708p per day</dd>      
              </div>      
              <div>        
                <dt>Not applicable</dt>        
                <dd>30/11/2021</dd>      
              </div>      
              <div>        
                <dt>Exit fees</dt>        
                <dd>None</dd>      
              </div>    
            </dl>    
            <ns-cta type="text" href="!#">Tariff Information Label</ns-cta> 
        </ns-expander>  
        <a href="../06-personal-details" slot="cta" onClick="tarrifOne()">
              <ns-cta>Select this tariff</ns-cta>
        </a>
      </ns-product-card>



      <ns-product-card keyline="">  
      <ns-image slot="image" src="https://user-images.githubusercontent.com/53818498/95101754-70f41f80-072a-11eb-8e0c-5cf0127e3dd7.jpg" alt="Description of image" ratio="16x9"></ns-image>  
      <h2 slot="name">The Electric Driver One</h2>  <p slot="subtitle">Charge your car on the cheap while you’re asleep</p>  
      <h3 slot="price-heading">Estimated</h3>  
        <div slot="price">    
          <p><b><ns-price pence="8600"></ns-price></b> / month</p>
          <p><ns-price pence="103200"></ns-price> / year</p>  
        </div>  
        <div slot="description">This may change depending on your usage</div>
        <ns-expander slot="expander">    
          <h3 slot="heading">Tariff overview</h3>    
            <ul class="ul-ticked">      
              <li>Prices guaranteed until Nov 2021</li>      
                <li>Cheaper electricity prices from midnight to 5am</li>
                <li>Prices guaranteed to Sep 2021</li>
                <li>We’ll match all the electricity you use with 100% renewable sources</li>  
            </ul>  
        </ns-expander>  
        <ns-expander slot="expander" showclose="">    
          <h3 slot="heading">Price breakdown</h3>    
            <h4>Gas tariff costs</h4>    
            <dl class="dl-row">      
              <div>        
                <dt>Estimated cost per year</dt>        
                <dd>£532</dd>      
              </div>      
              <div>        
                <dt>Estimated cost per quarter</dt>        
                <dd>£133</dd>      
              </div>      
              <div>        
                <dt>Estimated cost per month</dt>        
                <dd>£44.33</dd>      
              </div>      
              <div>        
                <dt>Standard unit rate</dt>        
                <dd>3.165p per kWh</dd>      
              </div>      
              <div>        
                <dt>Standing charge</dt>        
                <dd>25.216p per day</dd>      
              </div>      
              <div>        
                <dt>Price guaranteed until</dt>        
                <dd>30/09/2021</dd>      
              </div>      
              <div>        
                <dt>Exit fees</dt>        
                <dd>None</dd>      
              </div>    
            </dl>    
            <ns-cta type="text" href="!#">Gas Tariff Information Label</ns-cta>  

            <h4>Electricity tariff costs</h4>    
            <dl class="dl-row">      
              <div>        
                <dt>Estimated cost per year</dt>        
                <dd>£500</dd>      
              </div>      
              <div>        
                <dt>Estimated cost per quarter</dt>        
                <dd>£125</dd>      
              </div>      
              <div>        
                <dt>Estimated cost per month</dt>        
                <dd>£41.67</dd>      
              </div>      
              <div>        
                <dt>Peak unit rate</dt>
                <dd>20.001p per kWh</dd>      
              </div> 
              <div>        
                <dt>Off Peak unit rate</dt>
                <dd>4.700p per kWh</dd>     
              </div>     
              <div>        
                <dt>Standing charge</dt>        
                <dd>24.780p per day</dd>      
              </div>      
              <div>        
                <dt>Price guaranteed until</dt>        
                <dd>30/09/2021</dd>      
              </div>      
              <div>        
                <dt>Exit fees</dt>        
                <dd>None</dd>      
              </div>    
            </dl>    
            <ns-cta type="text" href="!#">Tariff Information Label</ns-cta> 
        </ns-expander>  
        <a href="../06-personal-details" slot="cta" onClick="tarrifOne()">
              <ns-cta>Select this tariff</ns-cta>
        </a>
      </ns-product-card>
  </div>
</ns-panel>

<!--
<ns-panel>
  <div class="splash">
    <ns-accordion>
      <h3 slot="heading">Full tariff information</h3>

      <!-- START TARIFF #1 -->
<!--
      <ns-expander open="false">
        <h4 slot="heading">HomeEnergy Fix Green June 2020</h4>
        <p><b>Price secured</b> until 31st May 2020</p>
        <p><b>Exit fees</b> (if you switch to another supplier) £30 per fuel</p>
        <p><b>100% of your annual electricity use</b> on this tariff matched with renewable electricity through Guarantees of Origin (GoOs)</p>

        <h3>Gas tariff costs</h3>
        <dl class="dl-row">
          <div>
            <dt>Annually</dt>
            <dd>£534.22</dd>
          </div>
          <div>
            <dt>Quarterly</dt>
            <dd>£133.54</dd>
          </div>
          <div>
            <dt>Monthly</dt>
            <dd>£43.27</dd>
          </div>
        </dl>

        <h3>Electricity tariff costs</h3>
        <dl class="dl-row">
          <div>
            <dt>Annually</dt>
            <dd>£645.22</dd>
          </div>
          <div>
            <dt>Quarterly</dt>
            <dd>£160.54</dd>
          </div>
          <div>
            <dt>Monthly</dt>
            <dd>£55.27</dd>
          </div>
        </dl>

        <h3>About this gas tariff</h3>
        <dl class="dl-row">
          <div>
            <dt>Supplier</dt>
            <dd>British Gas</dd>
          </div>
          <div>
            <dt>Tariff name</dt>
            <dd>HomeEnergy Fix Green June 2020</dd>
          </div>
          <div>
            <dt>Tariff type</dt>
            <dd>Fixed</dd>
          </div>
          <div>
            <dt>Payment method</dt>
            <dd>Monthly Direct Debit</dd>
          </div>
          <div>
            <dt>Standard unit rate</dt>
            <dd>3.773p per kWh</dd>
          </div>
          <div>
            <dt>Standing charge</dt>
            <dd>24.780p per day <a href=#caveat>1</a></dd>
          </div>
          <div>
            <dt>Tariff ends on</dt>
            <dd>30/09/2021</dd>
          </div>
          <div>
            <dt>Price guaranteed until</dt>
            <dd>30/09/2021</dd>
          </div>
          <div>
            <dt>Exit fees (if you change supplier before the end date)</dt>
            <dd>£30 per fuel</dd>
          </div>
          <div>
            <dt>Discounts &amp; additional charges</dt>
            <dd>Not applicable</dd>
          </div>
          <div>
            <dt>Additional products or services included</dt>
            <dd>Other offers may be available with this tariff. For details of our full range of offers please visit <a href="https://britishgas.co.uk">britishgas.co.uk</a></dd>
          </div>
        </dl>

        <h3>About this electricity tariff</h3>
        <dl class="dl-row">
          <div>
            <dt>Supplier</dt>
            <dd>British Gas</dd>
          </div>
          <div>
            <dt>Tariff name</dt>
            <dd>HomeEnergy Fix Green June 2020</dd>
          </div>
          <div>
            <dt>Tariff type</dt>
            <dd>Fixed</dd>
          </div>
          <div>
            <dt>Payment method</dt>
            <dd>Monthly Direct Debit</dd>
          </div>
          <div>
            <dt>Standard unit rate</dt>
            <dd>3.773p per kWh</dd>
          </div>
          <div>
            <dt>Standing charge</dt>
            <dd>24.780p per day <a href=#caveat>1</a></dd>
          </div>
          <div>
            <dt>Tariff ends on</dt>
            <dd>30/09/2021</dd>
          </div>
          <div>
            <dt>Price guaranteed until</dt>
            <dd>30/09/2021</dd>
          </div>
          <div>
            <dt>Exit fees (if you change supplier before the end date)</dt>
            <dd>£30 per fuel</dd>
          </div>
          <div>
            <dt>Discounts &amp; additional charges</dt>
            <dd>Not applicable</dd>
          </div>
          <div>
            <dt>Additional products or services included</dt>
            <dd>Other offers may be available with this tariff. For details of our full range of offers please visit <a href="https://britishgas.co.uk">britishgas.co.uk</a></dd>
          </div>
        </dl>

        <p>Please <a href="#!">read our tariff terms and conditions</a>.</p>
        <p>Prices include VAT at the applicable rate and are rounded. The prices appear differently on your bills and statements where we show prices excluding VAT.</p>
        <p>These prices apply to customers using mains gas and to customers using piped propane in Llanfyllin, Llanwrtyd Wells and Stornoway.</p>

      </ns-expander>

      <!-- END TARIFF #1 -->

      <!-- START TARIFF #2 -->
<!--
      <ns-expander open="false">
        <h4 slot="heading">Cap Tracker Plus Sep 2021</h4>
        <p><b>A tracker tariff</b> which is at least £3 cheaper for a dual fuel customer than the default tariff price cap, saving you money compared to our default tariff</p>
        <p><b>No exit fees</b> for ultimate flexibility</p>
        <p><b>100% of your annual electricity use</b> on this tariff matched with renewable electricity through Guarantees of Origin (GoOs)</p>
        <p><b>Prices reviewed every 6 months</b> in line with the default tariff price cap, so your prices could go up or down, but never over the cap</p>

        <h3>Gas tariff costs</h3>
        <dl class="dl-row">
          <div>
            <dt>Annually</dt>
            <dd>£534.22</dd>
          </div>
          <div>
            <dt>Quarterly</dt>
            <dd>£133.54</dd>
          </div>
          <div>
            <dt>Monthly</dt>
            <dd>£43.27</dd>
          </div>
        </dl>

        <h3>Electricity tariff costs</h3>
        <dl class="dl-row">
          <div>
            <dt>Annually</dt>
            <dd>£645.22</dd>
          </div>
          <div>
            <dt>Quarterly</dt>
            <dd>£160.54</dd>
          </div>
          <div>
            <dt>Monthly</dt>
            <dd>£55.27</dd>
          </div>
        </dl>

        <h3>About this gas tariff</h3>
        <dl class="dl-row">
          <div>
            <dt>Supplier</dt>
            <dd>British Gas</dd>
          </div>
          <div>
            <dt>Tariff name</dt>
            <dd>Cap Tracker Plus Sep 2021</dd>
          </div>
          <div>
            <dt>Tariff type</dt>
            <dd>Fixed</dd>
          </div>
          <div>
            <dt>Payment method</dt>
            <dd>Monthly Direct Debit</dd>
          </div>
          <div>
            <dt>Standard unit rate</dt>
            <dd>3.631p per kWh</dd>
          </div>
          <div>
            <dt>Standing charge</dt>
            <dd>25.699p per day <a href=#caveat>1</a></dd>
          </div>
          <div>
            <dt>Tariff ends on</dt>
            <dd>30/09/2021</dd>
          </div>
          <div>
            <dt>Price guaranteed until</dt>
            <dd>30/09/2021</dd>
          </div>
          <div>
            <dt>Exit fees (if you change supplier before the end date)</dt>
            <dd>Not applicable</dd>
          </div>
          <div>
            <dt>Discounts &amp; additional charges</dt>
            <dd>Not applicable</dd>
          </div>
          <div>
            <dt>Additional products or services included</dt>
            <dd>Other offers may be available with this tariff. For details of our full range of offers please visit <a href="https://britishgas.co.uk">britishgas.co.uk</a></dd>
          </div>
        </dl>

        <h3>About this electricity tariff</h3>
        <dl class="dl-row">
          <div>
            <dt>Supplier</dt>
            <dd>British Gas</dd>
          </div>
          <div>
            <dt>Tariff name</dt>
            <dd>Cap Tracker Plus Sep 2021</dd>
          </div>
          <div>
            <dt>Tariff type</dt>
            <dd>Fixed</dd>
          </div>
          <div>
            <dt>Payment method</dt>
            <dd>Monthly Direct Debit</dd>
          </div>
          <div>
            <dt>Standard unit rate</dt>
            <dd>17.510p per kWh</dd>
          </div>
          <div>
            <dt>Standing charge</dt>
            <dd>21.427p per day <a href=#caveat>1</a></dd>
          </div>
          <div>
            <dt>Tariff ends on</dt>
            <dd>30/09/2021</dd>
          </div>
          <div>
            <dt>Price guaranteed until</dt>
            <dd>30/09/2021</dd>
          </div>
          <div>
            <dt>Exit fees (if you change supplier before the end date)</dt>
            <dd>Not applicable</dd>
          </div>
          <div>
            <dt>Discounts &amp; additional charges</dt>
            <dd>Not applicable</dd>
          </div>
          <div>
            <dt>Additional products or services included</dt>
            <dd>Other offers may be available with this tariff. For details of our full range of offers please visit <a href="https://britishgas.co.uk">britishgas.co.uk</a></dd>
          </div>
        </dl>

        <p>Please <a href="#!">read our tariff terms and conditions</a>.</p>
        <p>Prices include VAT at the applicable rate and are rounded. The prices appear differently on your bills and statements where we show prices excluding VAT.</p>
        <p>These prices apply to customers using mains gas and to customers using piped propane in Llanfyllin, Llanwrtyd Wells and Stornoway.</p>

      </ns-expander>

      <!-- END TARIFF #2 -->

      <!-- START TARIFF #3 -->
<!--
      <ns-expander open="false">
        <h4 slot="heading">Electric Drivers Energy Plan Sep 2021</h4>
        <p><b>Designed exclusively for customers who drive Electric Vehicles</b></p>
        <p><b>Lower priced energy to charge your car overnight</b> between 12am-5am each day</p>
        <p><b>Free smart meter installation</b> if you haven’t got one already</p>
        <p><b>Secure your energy prices</b> until 30th September 2021</p>
        <p><b>100% of your annual electricity use</b> on this tariff matched with renewable electricity through Guarantees of Origin (GoOs)</p>

        <h3>Gas tariff costs</h3>
        <dl class="dl-row">
          <div>
            <dt>Annually</dt>
            <dd>£534.22</dd>
          </div>
          <div>
            <dt>Quarterly</dt>
            <dd>£133.54</dd>
          </div>
          <div>
            <dt>Monthly</dt>
            <dd>£43.27</dd>
          </div>
        </dl>

        <h3>Electricity tariff costs</h3>
        <dl class="dl-row">
          <div>
            <dt>Annually</dt>
            <dd>£645.22</dd>
          </div>
          <div>
            <dt>Quarterly</dt>
            <dd>£160.54</dd>
          </div>
          <div>
            <dt>Monthly</dt>
            <dd>£55.27</dd>
          </div>
        </dl>

        <h3>About this gas tariff</h3>
        <dl class="dl-row">
          <div>
            <dt>Supplier</dt>
            <dd>British Gas</dd>
          </div>
          <div>
            <dt>Tariff name</dt>
            <dd>Electric Drivers Energy Plan Sep 2021</dd>
          </div>
          <div>
            <dt>Tariff type</dt>
            <dd>Fixed</dd>
          </div>
          <div>
            <dt>Payment method</dt>
            <dd>Monthly Direct Debit</dd>
          </div>
          <div>
            <dt>Standard unit rate</dt>
            <dd>3.773p per kWh</dd>
          </div>
          <div>
            <dt>Standing charge</dt>
            <dd>24.780p per day <a href=#caveat>1</a></dd>
          </div>
          <div>
            <dt>Tariff ends on</dt>
            <dd>30/09/2021</dd>
          </div>
          <div>
            <dt>Price guaranteed until</dt>
            <dd>30/09/2021</dd>
          </div>
          <div>
            <dt>Exit fees (if you change supplier before the end date)</dt>
            <dd>Not applicable</dd>
          </div>
          <div>
            <dt>Discounts &amp; additional charges</dt>
            <dd>Not applicable</dd>
          </div>
          <div>
            <dt>Additional products or services included</dt>
            <dd>Other offers may be available with this tariff. For details of our full range of offers please visit <a href="https://britishgas.co.uk">britishgas.co.uk</a></dd>
          </div>
        </dl>

        <h3>About this electricity tariff</h3>
        <dl class="dl-row">
          <div>
            <dt>Supplier</dt>
            <dd>British Gas</dd>
          </div>
          <div>
            <dt>Tariff name</dt>
            <dd>Electric Drivers Energy Plan Sep 2021</dd>
          </div>
          <div>
            <dt>Tariff type</dt>
            <dd>Fixed</dd>
          </div>
          <div>
            <dt>Payment method</dt>
            <dd>Monthly Direct Debit</dd>
          </div>
          <div>
            <dt>Peak unit rate</dt>
            <dd>20.001p per kWh</dd>
          </div>
          <div>
            <dt>OFF Peak unit rate</dt>
            <dd>4.700p per kWh</dd>
          </div>
          <div>
            <dt>Standing charge</dt>
            <dd>25.001p per day <a href=#caveat>1</a></dd>
          </div>
          <div>
            <dt>Tariff ends on</dt>
            <dd>30/09/2021</dd>
          </div>
          <div>
            <dt>Price guaranteed until</dt>
            <dd>30/09/2021</dd>
          </div>
          <div>
            <dt>Exit fees (if you change supplier before the end date)</dt>
            <dd>Not applicable</dd>
          </div>
          <div>
            <dt>Discounts &amp; additional charges</dt>
            <dd>Not applicable</dd>
          </div>
          <div>
            <dt>Additional products or services included</dt>
            <dd>Other offers may be available with this tariff. For details of our full range of offers please visit <a href="https://britishgas.co.uk">britishgas.co.uk</a></dd>
          </div>
        </dl>

        <p>Please <a href="#!">read our tariff terms and conditions</a>.</p>
        <p>Prices include VAT at the applicable rate and are rounded. The prices appear differently on your bills and statements where we show prices excluding VAT.</p>
        <p>These prices apply to customers using mains gas and to customers using piped propane in Llanfyllin, Llanwrtyd Wells and Stornoway.</p>

      </ns-expander>

      <!-- END TARIFF #3 -->

      <!-- START TARIFF #4 -->
<!--
      <ns-expander open="false">
        <h4 slot="heading">HomeEnergy Fix Green May 2020</h4>
        <p><b>Price secured</b> until 31st May 2020</p>
        <p><b>Exit fees</b> (if you switch to another supplier) £30 per fuel</p>
        <p><b>100% of your annual electricity use</b> on this tariff matched with renewable electricity through Guarantees of Origin (GoOs)</p>

        <h3>Gas tariff costs</h3>
        <dl class="dl-row">
          <div>
            <dt>Annually</dt>
            <dd>£534.22</dd>
          </div>
          <div>
            <dt>Quarterly</dt>
            <dd>£133.54</dd>
          </div>
          <div>
            <dt>Monthly</dt>
            <dd>£43.27</dd>
          </div>
        </dl>

        <h3>Electricity tariff costs</h3>
        <dl class="dl-row">
          <div>
            <dt>Annually</dt>
            <dd>£645.22</dd>
          </div>
          <div>
            <dt>Quarterly</dt>
            <dd>£160.54</dd>
          </div>
          <div>
            <dt>Monthly</dt>
            <dd>£55.27</dd>
          </div>
        </dl>

        <h3>About this gas tariff</h3>
        <dl class="dl-row">
          <div>
            <dt>Supplier</dt>
            <dd>British Gas</dd>
          </div>
          <div>
            <dt>Tariff name</dt>
            <dd>HomeEnergy Fix Green May 2020</dd>
          </div>
          <div>
            <dt>Tariff type</dt>
            <dd>Fixed</dd>
          </div>
          <div>
            <dt>Payment method</dt>
            <dd>Monthly Direct Debit</dd>
          </div>
          <div>
            <dt>Standard unit rate</dt>
            <dd>3.631p per kWh</dd>
          </div>
          <div>
            <dt>Standing charge</dt>
            <dd>32.274p per day <a href=#caveat>1</a></dd>
          </div>
          <div>
            <dt>Tariff ends on</dt>
            <dd>30/09/2021</dd>
          </div>
          <div>
            <dt>Price guaranteed until</dt>
            <dd>30/09/2021</dd>
          </div>
          <div>
            <dt>Exit fees (if you change supplier before the end date)</dt>
            <dd>Not applicable</dd>
          </div>
          <div>
            <dt>Discounts &amp; additional charges</dt>
            <dd>Not applicable</dd>
          </div>
          <div>
            <dt>Additional products or services included</dt>
            <dd>Other offers may be available with this tariff. For details of our full range of offers please visit <a href="https://britishgas.co.uk">britishgas.co.uk</a></dd>
          </div>
        </dl>

        <h3>About this electricity tariff</h3>
        <dl class="dl-row">
          <div>
            <dt>Supplier</dt>
            <dd>British Gas</dd>
          </div>
          <div>
            <dt>Tariff name</dt>
            <dd>HomeEnergy Fix Green May 2020</dd>
          </div>
          <div>
            <dt>Tariff type</dt>
            <dd>Fixed</dd>
          </div>
          <div>
            <dt>Payment method</dt>
            <dd>Monthly Direct Debit</dd>
          </div>
          <div>
            <dt>Standard unit rate</dt>
            <dd>17.510p per kWh</dd>
          </div>
          <div>
            <dt>Standing charge</dt>
            <dd>24.714p per day <a href=#caveat>1</a></dd>
          </div>
          <div>
            <dt>Tariff ends on</dt>
            <dd>30/09/2021</dd>
          </div>
          <div>
            <dt>Price guaranteed until</dt>
            <dd>30/09/2021</dd>
          </div>
          <div>
            <dt>Exit fees (if you change supplier before the end date)</dt>
            <dd>Not applicable</dd>
          </div>
          <div>
            <dt>Discounts &amp; additional charges</dt>
            <dd>Not applicable</dd>
          </div>
          <div>
            <dt>Additional products or services included</dt>
            <dd>Other offers may be available with this tariff. For details of our full range of offers please visit <a href="https://britishgas.co.uk">britishgas.co.uk</a></dd>
          </div>
        </dl>

        <p>Please <a href="#!">read our tariff terms and conditions</a>.</p>
        <p>Prices include VAT at the applicable rate and are rounded. The prices appear differently on your bills and statements where we show prices excluding VAT.</p>
        <p>These prices apply to customers using mains gas and to customers using piped propane in Llanfyllin, Llanwrtyd Wells and Stornoway.</p>

      </ns-expander>

      <!-- END TARIFF #4 -->
<!--
    </ns-accordion>
  </div>
</ns-panel>
-->
<ns-panel decoration="invert-bridge-green-light">
  <div class="splash triple" role="list">
<!--
    <ns-card role="listitem" type="support">
      <h3 slot="heading" role="heading" aria-level="3">Save your quotes</h3>
      <p slot="paragraph">You can send your energy quotes to an email address of your choice.</p>
      <a slot="cta" href="#!">
        <ns-cta type="text">Email me my quotes</ns-cta>
      </a>
    </ns-card>
    -->
    <ns-card role="listitem" type="support">
      <h3 slot="heading" role="heading" aria-level="3">Terms and conditions</h3>
      <p slot="paragraph">Please take some time to read our tariff terms and conditions.</p>
      <a slot="cta" href="#!">
        <ns-cta type="text">Read our tariff terms and conditions</ns-cta>
      </a>
    </ns-card>
  </div>
</ns-panel>

<ns-panel>
  <div class="splash">
    <ns-accordion>
      <h3 slot="heading">Frequently asked questions</h3>
      <ns-expander open="false">
        <h4 slot="heading">What is a kiliowatt hour (kWh)?</h4>
        <p>A kWh stands for kilowatt hour – the unit used to measure energy use. 1 kWh will power a 40 watt light bulb for 25 hours.</p>
      </ns-expander>
      <ns-expander open="false">
        <h4 slot="heading">What is a tariff information label?</h4>
        <p>The Tariff Information Label (TIL) gives you the key facts about a tariff upfront and in one place. It lets you know any special rewards that may apply to the tariff.</p>
      </ns-expander>
      <ns-expander open="false">
        <h4 slot="heading">What is a personal projection?</h4>
        <p>A Personalised Projection is a personalised quote based on your home and your consumption. It gives you the best estimate on how much you will pay to help you pick the right tariff.</p>
      </ns-expander>
        <ns-expander open="false">
        <h4 slot="heading">How do I switch to British Gas from my current energy supplier?</h4>
        <p>Switching is easy, just take a look at our tariffs and tell us the one you want. We’ll take care of the rest by contacting your current supplier and switching you over. The whole process takes two to three weeks at most. Don’t worry, we’ll let you know when the switch has happened and when to send us your first meter reading.</p>
      </ns-expander>
        <ns-expander open="false">
        <h4 slot="heading">How do I switch between tariffs if I'm already a customer?</h4>
        <p>It’s quick and easy to change tariffs online if you’re already with us. Simply access your account online, go to ‘tariff switch’ and pick your new tariff. It’ll take us 24 hours to switch you over and you won’t have to pay any exit fees.</p>
      </ns-expander>
        <ns-expander open="false">
        <h4 slot="heading">Can I book a smart meter appointment?</h4>
        <p>Yes but if there's anyone in your home who's shielding, self-isolating or has Covid-19 symptoms, we can't offer non-urgent appointments – like Smart Meter installations – until official guidance changes. Please help us all stay safe and cancel or re-schedule any non-urgent appointments you’ve booked if anyone in your household develops symptoms in the two weeks before your appointment. See our <a href"">Covid-19 FAQs</a> for full details.</p>
      </ns-expander>
    </ns-accordion>
  </div>
</ns-panel>
<!--
<ns-caveat>
  <h2 slot="heading">Additional information</h2>
  <div slot="caveat">
    <ol>
      <li>The standing charge is applied on a pence per day basis. It helps cover an energy supplier's fixed costs.</li>
    </ol>
  </div>
</ns-caveat>
-->

<script>
  const setTarrifOne = {
    "get-a-quote":
    {
      "fields": [
        {
          "name": "tarrif-choice",
          "value": "The Green One"
        },
        {
          "name": "tarrif-price-annual",
          "value": "1152"
        },
        {
          "name": "tarrif-price-month",
          "value": "96"
        }
      ]
    }
  }

  function tarrifOne() {
    localStorage.setItem('nf-model', JSON.stringify(setTarrifOne));
  }

  const setTarrifTwo = {
    "get-a-quote":
    {
      "fields": [
        {
          "name": "tarrif-choice",
          "value": "The Fixed One"
        },
        {
          "name": "tarrif-price-annual",
          "value": "1128"
        },
        {
          "name": "tarrif-price-month",
          "value": "94"
        }
      ]
    }
  }

  function tarrifTwo() {
    localStorage.setItem('nf-model', JSON.stringify(setTarrifTwo));
  }

  const setTarrifThree = {
    "get-a-quote":
    {
      "fields": [
        {
          "name": "tarrif-choice",
          "value": "The Variable One"
        },
        {
          "name": "tarrif-price-annual",
          "value": "1092"
        },
        {
          "name": "tarrif-price-month",
          "value": "91"
        }
      ]
    }
  }

  function tarrifThree() {
    localStorage.setItem('nf-model', JSON.stringify(setTarrifThree));
  }


  const setTarrifFour = {
    "get-a-quote":
    {
      "fields": [
        {
          "name": "tarrif-choice",
          "value": "The Electric Driver One"
        },
        {
          "name": "tarrif-price-annual",
          "value": "1032"
        },
        {
          "name": "tarrif-price-month",
          "value": "86"
        }
      ]
    }
  }

  function tarrifFour() {
    localStorage.setItem('nf-model', JSON.stringify(setTarrifFour));
  }

</script>
