<ns-landmark type="lakeside">
  <h1 slot="heading">
    <span class="h5">Place your order.</span>
    <span class="h1">Your details summary</span>
  </h1>
  <div slot="paragraph">
    <dl class="dl-row">
      <div>
        <dt>Name</dt>
        <dd>
          <span nf-model="model.get-a-quote.personal-title">[title]</span>
          <span nf-model="model.get-a-quote.personal-first-name">[first-name]</span>
          <span nf-model="model.get-a-quote.personal-surname">[surname]</span>
        </dd>
      </div>
      <div>
        <dt>Date of birth</dt>
        <dd>
          <span nf-model="model.get-a-quote.personal-date-of-birth">[date-of-birth]</span>
        </dd>
      </div>
      <div>
        <dt>Telephone number</dt>
        <dd>
          <span nf-model="model.get-a-quote.personal-telephone">[telephone]</span>
        </dd>
      </div>
      <div>
        <dt>Email</dt>
        <dd>
          <span nf-model="model.get-a-quote.personal-email">[email]</span>
        </dd>
      </div>
    </dl>
  </div>
  <a slot="cta" href="#!">
    <ns-cta href="../page-06" icon="arrow-left" type="text">Change your details</ns-cta>
  </a>
</ns-landmark>
<!-- START QUESTION SET #2 -->

<ns-panel>
  <ns-form class="splash">
    <nsx-address-selector></nsx-address-selector>
  </ns-form>
</ns-panel>

<!-- END QUESTION SET #2 -->

<ns-panel decoration="">
  <div class="splash triple" role="list">
    <ns-card role="listitem" type="flat">
      <h3 slot="heading" role="heading" aria-level="3">Not happy with your choice?</h3>
      <p slot="paragraph">To choose a different type of energy, change your postcode, or payment method, you’ll need to get another quote </p>
      <a slot="cta" href="#!">
        <ns-cta type="text">Get another quote</ns-cta>
      </a>
    </ns-card>
  </div>
</ns-panel>
