


<ns-landmark type="lakeside">
  <h1 slot="heading">
    <span class="h5">Place your order.</span>
    <span class="h1">Your summary</span>
  </h1>
  <div slot="paragraph">
    <dl class="dl-row">
      <div>
        <dt>Your marketing preferences</dt>
        <dd>You have chosen to be contacted by Email</dd>
      </div>
    </dl>
  </div>
  <a slot="cta" href="#!">
    <ns-cta href="../09-marketing" icon="arrow-left" type="text">Change these details</ns-cta>
  </a>
</ns-landmark>




<!-- START QUESTION SET #2 -->
<ns-panel decoration="">
<ns-form class="splash" nf-model="model.get-a-quote">

<ns-fieldset legend="">
  <h2>Important information</h2>


<ns-inputter mask="" separator="" validation="[&quot;isRequired&quot;]" >

  <input type="checkbox" id="question-tandc" name="question" value="tandc">
  <label for="question-tandc">I have read the Terms and Conditions of signing up to this tariff with British Gas, and I agree with all of them</label>

</ns-inputter>

<ns-inputter mask="" separator="" validation="[&quot;isRequired&quot;]" >

  <input type="checkbox" id="question-dd" name="question" value="dd">
  <label for="question-dd">I have read and agree the Direct Debit Guarantee and confirm that I am the account holder and the only person required to authorise Direct Debits on this account.</label>
</ns-inputter>

  <span>Make sure you've double-checked all your details before you place your order.
You’ve got a 14 cooling off period if you change your mind.</span>
   

 
    
   
   



</ns-fieldset>
 <ns-cta nf-href="../11-confirmation">Place order</ns-cta>
  </ns-form>
 
</ns-panel>



<!-- END QUESTION SET #2 -->


