<ns-panel decoration="">
<div class="splash">
  <h5>Enter your details</h5>
    <h1>Thank you, we’ve got nearly everything we need to start switching your energy</h1>
    <p>Just a couple more things. Please check your details below and then confirm you've read the important information before you place your order.</p> 
  </div>
<ns-form class="splash" >






<!-- START QUESTION SET #2 -->


<ns-fieldset legend="">



<ns-inputter mask="" separator="" validation="[&quot;isRequired&quot;]" >

  <input type="checkbox" id="question-tandc" name="question" value="tandc">
  <label for="question-tandc">I have read the Terms and Conditions of signing up to this tariff with British Gas, and I agree with all of them</label>

</ns-inputter>

<ns-inputter mask="" separator="" validation="[&quot;isRequired&quot;]" >

  <input type="checkbox" id="question-dd" name="question" value="dd">
  <label for="question-dd">I have read and agree the Direct Debit Guarantee and confirm that I am the account holder and the only person required to authorise Direct Debits on this account.</label>
</ns-inputter>

  <span>
You’ve got a 14 cooling off period if you change your mind.</span>
   

 
    
   
   



</ns-fieldset>
 <ns-cta nf-href="../11-confirmation">Place order</ns-cta>
  </ns-form>
 
</ns-panel>



<!-- END QUESTION SET #2 -->

<!-- Summary -->

<ns-panel>
  <div class="splash">
  <h3>Order summary</h3>
    <ns-accordion>
      <ns-expander open="false">
        <h4 slot="heading">Your selected energy tariff</h4>
         <dl class="dl-row">
      <div>
        <dt>Your tariff</dt>
        <dd><span nf-model="model.get-a-quote.tarrif-choice">[TARRIF]</span></dd>
      </div>
      <div>
        <dt>Estimated price per month</dt>
        <dd>£<span nf-model="model.get-a-quote.tarrif-price-month">[PRICE]</span></dd>
      </div>
      <div>
        <dt>Estimated price per year</dt>
        <dd>£<span nf-model="model.get-a-quote.tarrif-price-annual">[YEAR]</span></dd>
      </div>
    </dl>
      </ns-expander>

      <ns-expander open="false">
        <h4 slot="heading">Your personal details</h4>
         <dl class="dl-row">
          <div>
           <dt>Name</dt>
        <dd>
          <span nf-model="model.get-a-quote.personal-title">[title]</span>
          <span nf-model="model.get-a-quote.personal-first-name">[first-name]</span>
          <span nf-model="model.get-a-quote.personal-surname">[surname]</span>
        </dd>
          </div>
          <div>
        <dt>Date of birth</dt>
        <dd>
          <span nf-model="model.get-a-quote.personal-date-of-birth">[date-of-birth]</span>
        </dd>
      </div>
      <div>
        <dt>Telephone number</dt>
        <dd>
          <span nf-model="model.get-a-quote.personal-telephone">[telephone]</span>
        </dd>
      </div>
      <div>
        <dt>Email</dt>
        <dd>
          <span nf-model="model.get-a-quote.personal-email">[email]</span>
        </dd>
      </div>
    </dl>
      <a href="#!">
    <ns-cta href="../06-personal-details" icon="arrow-left" type="text">Change your details</ns-cta>
  </a>
  
      </ns-expander>

      <ns-expander open="false">
        <h4 slot="heading">Anything we should know about?</h4>
         <dl class="dl-row">
      <div>
        <dt>Anything we should know about?</dt>
        <dd>
          There's someone at risk in your home who could be affected by gas and electricity problems and outages.
        </dd>
      </div>
    </dl>
      <a href="#!">
    <ns-cta href="../07-anything" icon="arrow-left" type="text">Change your details</ns-cta>
  </a>
  
      </ns-expander>

       <ns-expander open="false">
        <h4 slot="heading">Your payment details</h4>
         <dl class="dl-row">
          <div>
           <dt>Account number</dt>
        <dd>
          <span nf-model="model.payment.bank-acc-number">[title]</span>
        </dd>
          </div>
          <div>
        <dt>Sort code</dt>
        <dd>
          <span nf-model="model.payment.bank-sort-code">[title]</span>
        </dd>
      </div>
      <div>
        <dt>Name of account holder</dt>
        <dd>
          <span nf-model="model.payment.bank-acc-holder">[telephone]</span>
        </dd>
      </div>
      
    </dl>
      <a href="#!">
    <ns-cta href="../06-personal-details" icon="arrow-left" type="text">Change your details</ns-cta>
  </a>
</ns-expander>

<ns-expander open="false">
        <h4 slot="heading">Your marketing preferences</h4>
         <dl class="dl-row">
      <div>
        <dt>How would you like to be contacted?</dt>
        <dd>
          Email
        </dd>
      </div>
    </dl>
      <a href="#!">
    <ns-cta href="../07-anything" icon="arrow-left" type="text">Change your details</ns-cta>
  </a>
      </ns-expander>

    </ns-accordion>
  </div>
</ns-panel>



<!-- Cancel? -->
<ns-panel decoration="">
  <div class="splash triple" role="list">
    <ns-card role="listitem" type="flat">
      <h3 slot="heading" role="heading" aria-level="3">Not happy with your choice?</h3>
      <p slot="paragraph">To choose a different type of energy, change your postcode, or payment method, you’ll need to get another quote </p>
      <a slot="cta" href="#!">
        <ns-cta type="text">Get another quote</ns-cta>
      </a>
    </ns-card>
  </div>
</ns-panel>

