<!-- Cancel? -->
<ns-panel decoration="">
  <div class="splash triple" role="list">
    <ns-card role="listitem" type="flat">
      <h3 slot="heading" role="heading" aria-level="3">Thank you, the test is now complete.</h3>
      <p slot="paragraph">Hold on here just a moment please</p>
      <a slot="cta" href="../11-confirmation">
        <ns-cta type="text">Go back</ns-cta>
      </a>
    </ns-card>
  </div>
</ns-panel>