---
title: Page two
---
<ns-landmark type="hillside" gradient="invert-ramp-blue">
  <h1 slot="heading">
    <span class="h5">You're ready.</span>
    <span class="h1 enlighten"><b>Thank you {{givenname}}</b>, this is the final page of your prototype</span>
  </h1>
  <div slot="paragraph">
    <p>Conclude prototyping.</p>
  </div>
</ns-landmark>

<ns-panel>
  <div class="splash">
    {% include "./_includes/include-02.njk" %}
    {% include "./_includes/include-01.njk" %}
  </div>
</ns-panel>