<ns-landmark type="lakeside">
  <h1 slot="heading">
    <span class="h5">Meter readings.</span>
    <span class="h1">Smart meter settings</span>
  </h1>
  <p slot="paragraph">You can choose how often your {{ metertype }} take readings.</p>
  <p slot="paragraph">To get the most out of your online account we recommend that you set your smart meters to take readings half-hourly.</p>
</ns-landmark>
