---
title: Email simulation
---

 <ns-panel>
  <div class="splash">

<div class="image-container splash" style="display: block; width:150px;">
      <ns-image background="" backgroundsize="contain" ratio="16x9" src="https://www.britishgas.co.uk/nucleus/images/logo.svg"></ns-image>
</div>
      </div>
</ns-panel>



<ns-landmark type="lakeside">
  <h1 slot="heading">
    <span class="h5">Registration step 2 of 3</span>
    <span class="h1">Check your email</span>
  </h1>
  <p slot="paragraph">Hello Mr Manage,</p>

</ns-landmark>


 <ns-panel>
  <div class="splash">

<p class="p-normal">Click on the link below to access your account.
<strong>It’s available for 10 minutes and can be used just once to get in.</strong></p>

    
<ns-cta type="direct" href="../reg-05" icon="arrow-right" loading="false" loadingmessage="Loading...">Access your account</ns-cta>


<p class="p-normal">If you’re not expecting to get an email from us, we’ll tell you how to spot a genuine British Gas email from a fake one.  Copy and paste this link into your browser to find out more:</p> 


<p class="p-normal">Thanks</p> 
<p class="p-normal"><strong>David Kirwan</strong></p> 
<p class="p-normal">Managing Director, Customer Operations</p> 



</div>
</ns-panel>

