---
title: OAM Manage
eleventyNavigation:
  key: Login and register
  parent: oam
  title: Login and register
  excerpt: Experiment with Login and register
---

<ns-landmark type="lakeside">
  <h1 slot="heading">
    <span class="h5">How cool is this.</span>
    <span class="h1 enlighten">{{teamname}}'s <b>{{title}}</b></span>
  </h1>
  <div slot="paragraph">
    <p>This is the index page of <b>{{title}}</b>.</p>
  </div>
</ns-landmark>

<ns-panel>
  <div class="splash triple">
    <ns-card type="support">
      <h3 slot="heading">Log in to your account</h3>
      <p slot="paragraph">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
      <a slot="cta" href="login-01-landing">
        <ns-cta type="text">Log in</ns-cta>
      </a>
    </ns-card>
    <ns-card type="support">
      <h3 slot="heading">Let's register you</h3>
      <p slot="paragraph">Quisquam debitis sapiente perspiciatis. Omnis qui pariatur nihil animi.</p>
      <a slot="cta" href="reg-01-landing">
        <ns-cta type="text">Register online account</ns-cta>
      </a>
    </ns-card>
  </div>
</ns-panel>
