---
title: Log in to your account
---

<ns-landmark type="lakeside">
  <h1 slot="heading">
    <span class="h5">My Account</span>
    <span class="h1">Log in to your account</span>
  </h1>
  <p slot="paragraph">We’re here to solve and provide extra help where we can.</p>
</ns-landmark>

<ns-panel>
  <div class="splash">
  <ns-form onsubmit="submittedForm(event)">
<ns-fieldset>
<ns-inputter mask="" separator="" validation="[&quot;isRequired&quot;]" value="" helper="" name="email-address">  <label slot="label" for="email-input">Email address</label>  <input type="email" id="email-input"></ns-inputter>
</ns-fieldset>

<ns-cta>Continue</ns-cta>
<ns-cta type="text" href="../login-landing-01" icon="arrow-right" loading="false" loadingmessage="Loading...">Forgotten your password?</ns-cta>
<ns-cta type="text" href="../login-landing-01" icon="arrow-right" loading="false" loadingmessage="Loading...">Email me a login link</ns-cta>


    </ns-form>

</div>
</ns-panel>


<ns-panel>

            <div class="splash">

              <ns-accordion>

                <h3 slot="heading">Having trouble accessing your account?</h3>

                <ns-expander open="false">
                  <h4 slot="heading">I’ve accessed my account online before</h4>
                  <p>Paragraph for the expander content.</p>
                </ns-expander>

                <ns-expander open="false">
                  <h4 slot="heading">I am an existing customer but haven't accessed my account online before</h4>
                  <p>It’s possible that you had joined us pre-digital days or had just never wanted a digital account, but now you do. You’ll need to register for an online account.<br>
                  <ns-cta type="text" href="../reg-landing-01" icon="arrow-right" loading="false" loadingmessage="Loading...">Register for an online account</ns-cta>
                  <br>
                  <ns-cta type="text" href="../login-landing-01" icon="arrow-right" loading="false" loadingmessage="Loading...">Benefits of an online account</ns-cta>
</p>
                </ns-expander>

                <ns-expander open="false">
                  <h4 slot="heading">I am not yet a customer of British Gas </h4>
                  <p>Paragraph for the expander content.</p>
                </ns-expander>

                <ns-expander open="false">
                  <h4 slot="heading">I am moving into a new property already supplied by British Gas</h4>
                  <p>Paragraph for the expander content.</p>
                </ns-expander>

              </ns-accordion>

            </div>

          </ns-panel>
