---
title: Log in to your account
---

<ns-landmark type="lakeside">
  <h1 slot="heading">
    <span class="h5">My Account</span>
    <span class="h1">Log in to your account</span>
  </h1>
  <p slot="paragraph">We’re here to solve and provide extra help where we can.</p>
</ns-landmark>

<ns-panel>
  <div class="splash">
  <ns-form onsubmit="submittedForm(event)">
<ns-fieldset>
<ns-inputter mask="" separator="" validation="[&quot;isRequired&quot;]" value="" helper="" name="email-address">  <label slot="label" for="email-input">Email address</label>  <input type="email" id="email-input"></ns-inputter>
</ns-fieldset>

<ns-cta href="../login-02">Continue</ns-cta>
<ns-cta type="text" href="#" icon="arrow-right" loading="false" loadingmessage="Loading...">Email me a login link</ns-cta>


    </ns-form>

</div>
</ns-panel>


{% include "./_includes/ns-accordion-login.njk" -%}


