---
title: Register for your online account
---

<ns-landmark type="lakeside">
  <h1 slot="heading">
    <span class="h5">My Account Online</span>
    <span class="h1">Let’s register you</span>
  </h1>
  <p slot="paragraph">Registering for an online account will only take a few minutes.</p>
</ns-landmark>

<ns-panel>
  <div class="splash">
  <ns-form onsubmit="submittedForm(event)">
<ns-fieldset>
<ns-inputter mask="" separator="" validation="[&quot;isRequired&quot;]" value="" helper="" name="email-address">  <label slot="label" for="email-input">Email address</label>  <input type="email" id="email-input"></ns-inputter>
</ns-fieldset>
<!-- <ns-cta>Next step</ns-cta> -->
<ns-cta type="direct" href="../reg-02" icon="arrow-right" loading="false" loadingmessage="Loading...">Next step</ns-cta>
    </ns-form>
</div>

 <div class="splash">
       <br><br>
      <h5>Already got an online account?</h5>
<ns-cta type="text" href="../login-landing-01" icon="arrow-right" loading="false" loadingmessage="Loading...">Log in here</ns-cta>
 </div>
</ns-panel>

 <ns-panel decoration="invert-concave-grey-light">
    <div class="splash">
      <h3>Completely new to British Gas?</h3>
      <p>This page is for existing cutomers who don’t yet have an online account.</p>
      <p>If you aren’t yet yet a customer, join us by getting a quotation online.</p>
      <ns-cta type="text" href="" icon="arrow-right" onclick="action()" loading="false" loadingmessage="Loading...">Get a quote for energy</ns-cta>
      <br><br>
      <ns-cta type="text" href="" icon="arrow-right" onclick="action()" loading="false" loadingmessage="Loading...">Get a quote for HomeCare</ns-cta>
    </div>
    
  </ns-panel>
