<ns-landmark type="hillside">
  <h1 slot="heading">
    <span class="h5">Your quote.</span>
    <span class="h1 enlighten">Something you might be interested in</b></span>
  </h1>
 
  <p slot="paragraph">Get peace of mind by covering your home against accidental damage and breakdowns</p>
  <!-- <p slot="paragraph">This may change depending on your usage.</p>-->
</ns-landmark>


<ns-panel>










<ns-editorial image="https://user-images.githubusercontent.com/53818498/98539463-47c43300-2284-11eb-9930-5c32920d1501.png">
  <h2 slot="heading">Boiler & Controls Breakdown Cover £2.50 a month</h2>
  <p>Avoid the cost of future repairs if your boiler and controls break down (£99 Excess)</p>
  <h2>Wayfarers taxidermy shabby chic heirloom</h2>
  <p>Polaroid actually neutra readymade. Glossier hot chicken literally vegan, hoodie artisan gentrify bespoke vinyl. Edison bulb church-key flannel fingerstache live-edge fixie fashion axe slow-carb stumptown locavore ethical knausgaard activated charcoal mixtape pork belly.</p>
  <h2>Sustainable forage lyft</h2>
  <ul class="ul-bullet">
    <li>Edison bulb</li>
    <li>Ethical knausgaard</li>
    <li>Activated</li>
    <li>Charcoal mixtape</li>
  </ul>
  <p>Hashtag cardigan brooklyn selfies blue bottle. Coloring book biodiesel pabst dreamcatcher brooklyn helvetica man braid subway tile. </p>
  <h2>Put a bird on it bespoke authentic</h2>
  <p>Williamsburg chillwave fixie, irony meh tofu jean shorts helvetica trust fund next level vape live-edge cornhole. Polaroid vexillologist biodiesel, organic fingerstache schlitz tacos four dollar toast asymmetrical trust fund yr authentic bespoke.</p>
</ns-editorial>


  <div class="splash triple">


    <ns-product-card keyline="">  
      <ns-image slot="image" src="https://user-images.githubusercontent.com/53818498/98539463-47c43300-2284-11eb-9930-5c32920d1501.png" alt="Description of image" ratio="16x9"></ns-image>  
      <h2 slot="name">Boiler & Controls Breakdown Cover</h2>   
    
        <div slot="price">    
          <p><b><ns-price pence="250"></ns-price></b> / month</p>
          <p><ns-price pence="3000"></ns-price> / year</p>  
        </div>  
        <div slot="description">Avoid the cost of future repairs if your boiler and controls break down (£99 Excess)</div>
        <ns-expander slot="expander">    
          <h3 slot="heading">Things we cover</h3>    
            <ul class="ul-ticked">      
              <li>Repairs to your gas boiler and controls, including your thermostat and programmer</li>      
                <li>All parts and labour</li>     
                <li>Up to £1,000 to gain access and make good for each repair</li>   
            </ul>  
        </ns-expander>  
        <ns-expander slot="expander" showclose="">    
          <h3 slot="heading">Things we don't cover</h3>    
            <h4>Gas tariff costs</h4>    
            <ul class="ul-ticked">      
              <li>Anything that happens within the first 14 days of you taking out the product</li>      
              <li>Removing sludge or scale or repairing the damage it causes if we tell you it might be a problem for your system or boiler</li>     
              <li>Showers or taps</li>
              <li>Annual service of your boiler to make sure it's running safely and efficiently</li> 
              <li>Accidental Damage</li> 
              <li>Repairs to the central heating system, including radiators</li> 
              <li>Faults caused by someone else you used for repairs or design faults</li>    
            </ul>    
            <ns-cta type="text" href="!#">Tariff Information Label</ns-cta>  
<p></p>
            <h4>Electricity tariff costs</h4>    
            <dl class="dl-row">      
              <div>        
                <dt>Estimated cost per year</dt>        
                <dd>£462</dd>      
              </div>          
              <div>        
                <dt>Estimated cost per month</dt>        
                <dd>£38.50</dd>      
              </div>      
              <div>        
                <dt>Standard unit rate</dt>        
                <dd>17.664p per kWh</dd>      
              </div>      
              <div>        
                <dt>Standing charge</dt>        
                <dd>32.721 per day</dd>      
              </div>      
          
            </dl>    
            <ns-cta type="text" href="!#">Tariff Information Label</ns-cta> 
        </ns-expander>  

 

        <a href="../06-personal-details" slot="cta" onClick="tarrifOne()">
              <ns-cta>Select this tariff</ns-cta>
        </a>
        <br><br>
             <a href="../06-personal-details" slot="cta" onClick="tarrifOne()">
              <ns-cta>Select this tariff</ns-cta>
        </a>
      </ns-product-card>



  </div>
</ns-panel>
<br>
<ns-panel decoration="invert-bridge-green-light">
  <div class="splash triple" role="list">
<!--
    <ns-card role="listitem" type="support">
      <h3 slot="heading" role="heading" aria-level="3">Save your quotes</h3>
      <p slot="paragraph">You can send your energy quotes to an email address of your choice.</p>
      <a slot="cta" href="#!">
        <ns-cta type="text">Email me my quotes</ns-cta>
      </a>
    </ns-card>
    -->
    <ns-card role="listitem" type="support">
      <h3 slot="heading" role="heading" aria-level="3">Terms and conditions</h3>
      <p slot="paragraph">Please take some time to read our tariff terms and conditions.</p>
      <a slot="cta" href="#!">
        <ns-cta type="text">Read our tariff terms and conditions</ns-cta>
      </a>
    </ns-card>
  </div>
</ns-panel>

<ns-panel>
  <div class="splash">
    <ns-accordion>
      <h3 slot="heading">Frequently asked questions</h3>
      <ns-expander open="false">
        <h4 slot="heading">What is a kiliowatt hour (kWh)?</h4>
        <p>A kWh stands for kilowatt hour – the unit used to measure energy use. 1 kWh will power a 40 watt light bulb for 25 hours.</p>
      </ns-expander>
      <ns-expander open="false">
        <h4 slot="heading">What is a tariff information label?</h4>
        <p>The Tariff Information Label (TIL) gives you the key facts about a tariff upfront and in one place. It lets you know any special rewards that may apply to the tariff.</p>
      </ns-expander>
      <ns-expander open="false">
        <h4 slot="heading">What is a personal projection?</h4>
        <p>A Personalised Projection is a personalised quote based on your home and your consumption. It gives you the best estimate on how much you will pay to help you pick the right tariff.</p>
      </ns-expander>
        <ns-expander open="false">
        <h4 slot="heading">How do I switch to British Gas from my current energy supplier?</h4>
        <p>Switching is easy, just take a look at our tariffs and tell us the one you want. We’ll take care of the rest by contacting your current supplier and switching you over. The whole process takes two to three weeks at most. Don’t worry, we’ll let you know when the switch has happened and when to send us your first meter reading.</p>
      </ns-expander>
        <ns-expander open="false">
        <h4 slot="heading">How do I switch between tariffs if I'm already a customer?</h4>
        <p>It’s quick and easy to change tariffs online if you’re already with us. Simply access your account online, go to ‘tariff switch’ and pick your new tariff. It’ll take us 24 hours to switch you over and you won’t have to pay any exit fees.</p>
      </ns-expander>
        <ns-expander open="false">
        <h4 slot="heading">Can I book a smart meter appointment?</h4>
        <p>Yes but if there's anyone in your home who's shielding, self-isolating or has Covid-19 symptoms, we can't offer non-urgent appointments – like Smart Meter installations – until official guidance changes. Please help us all stay safe and cancel or re-schedule any non-urgent appointments you’ve booked if anyone in your household develops symptoms in the two weeks before your appointment. See our <a href"">Covid-19 FAQs</a> for full details.</p>
      </ns-expander>
    </ns-accordion>
  </div>
</ns-panel>
<!--
<ns-caveat>
  <h2 slot="heading">Additional information</h2>
  <div slot="caveat">
    <ol>
      <li>The standing charge is applied on a pence per day basis. It helps cover an energy supplier's fixed costs.</li>
    </ol>
  </div>
</ns-caveat>
-->

<script>
  const setTarrifOne = {
    "get-a-quote":
    {
      "fields": [
        {
          "name": "tarrif-choice",
          "value": "The Green One"
        },
        {
          "name": "tarrif-price-annual",
          "value": "1152"
        },
        {
          "name": "tarrif-price-month",
          "value": "96"
        }
      ]
    }
  }

  function tarrifOne() {
    localStorage.setItem('nf-model', JSON.stringify(setTarrifOne));
  }

  const setTarrifTwo = {
    "get-a-quote":
    {
      "fields": [
        {
          "name": "tarrif-choice",
          "value": "The Fixed One"
        },
        {
          "name": "tarrif-price-annual",
          "value": "1128"
        },
        {
          "name": "tarrif-price-month",
          "value": "94"
        }
      ]
    }
  }

  function tarrifTwo() {
    localStorage.setItem('nf-model', JSON.stringify(setTarrifTwo));
  }

  const setTarrifThree = {
    "get-a-quote":
    {
      "fields": [
        {
          "name": "tarrif-choice",
          "value": "The Variable One"
        },
        {
          "name": "tarrif-price-annual",
          "value": "1092"
        },
        {
          "name": "tarrif-price-month",
          "value": "91"
        }
      ]
    }
  }

  function tarrifThree() {
    localStorage.setItem('nf-model', JSON.stringify(setTarrifThree));
  }


  const setTarrifFour = {
    "get-a-quote":
    {
      "fields": [
        {
          "name": "tarrif-choice",
          "value": "The Electric Driver One"
        },
        {
          "name": "tarrif-price-annual",
          "value": "1032"
        },
        {
          "name": "tarrif-price-month",
          "value": "86"
        }
      ]
    }
  }

  function tarrifFour() {
    localStorage.setItem('nf-model', JSON.stringify(setTarrifFour));
  }

</script>
