
<ns-landmark image="https://user-images.githubusercontent.com/53818498/100122940-e7331980-2e71-11eb-965d-7648c8aa7f07.jpg" type="summit">
  <h1 slot="heading">
    <span class="h5">Good news!</span>
    <span class="h1 enlighten"><b>Your order is now confirmed</b></span>
  </h1>
  <p slot="paragraph">We’re so pleased you’ve chosen us. <br>We’ll soon send a confirmation email to <b>email@address.co.uk</b></p>

</ns-landmark>


<ns-panel>
  <ns-form class="splosh" nf-model="model.get-a-quote">

     <h1 slot="heading"><b>Your Gas and Electricity</b></h1>  
   <div>
<h2>You've picked <span nf-model="model.get-a-quote.tarrif-choice">[TARRIF]</span></h2>
<p>Your order number is: <b>1000289943-1000289944</b></p>
<p>You've got a 14 day cooling off period if you change your mind</p>

<h2><span nf-model="model.get-a-quote.conf-cover-title"></span></h2>
<p><span nf-model="model.get-a-quote.conf-cover-text-a"></span></p>
<p><span nf-model="model.get-a-quote.conf-cover-text-b"></span><b><span nf-model="model.get-a-quote.conf-cover-text-c"></span></b>

    </div>
   

</ns-form>
</ns-panel>







 <ns-panel decoration="invert-concave-yellow">
<h1>What happens next?</h1>
                <div role="list" class="splash triple ">

                    <ns-card role="listitem" type="support">
                        <h3 slot="heading" role="heading" aria-level="3">1. Check your email</h3>
                        <div slot="paragraph">
                            <p>You’ll get an email confirming all your details.</p>
                        </div>
                    </ns-card>

                    <ns-card role="listitem" type="support">
                        <h3 slot="heading" role="heading" aria-level="3">2. We'll send a pack</h3>
                        <div slot="paragraph">
<p>We'll send you a copy of your contract pack within 14 days.</p>
                        </div>
                    </ns-card>

                    <ns-card role="listitem" type="support">
                        <h3 slot="heading" role="heading" aria-level="3">3. We'll set you up</h3>
                        <div slot="paragraph">
                            <p>We'll switch your energy tariffs.</p>
                        </div>
                    </ns-card>

                </div>
            </ns-panel>
            
<ns-panel decoration="" class="">
<ns-lockup type="lockbox">  
<h2 slot="heading">    <span class="h5">Connect your home.</span>    
<span class="h1 enlighten">Now register your interest in having <b>smart meters</b></span>  </h2>  <p slot="paragraph">Based on the information that you’ve given to us about your home, we’re unable to offer them to you. If you register on our waiting list we’ll send you updates and let you know when we can fit smart meters at your home.</p>  <a slot="cta" href="#!">    <ns-cta type="direct">Register now</ns-cta>  </a>  <ns-image slot="image" ratio="4x3" src="https://user-images.githubusercontent.com/2879249/95380273-6c706800-08de-11eb-91b1-98ba013d748b.jpg"></ns-image>
</ns-lockup>
 </ns-panel>
 
 <ns-panel decoration="" class="">
<ns-lockup type="lockbox" reverse="">  
<h2 slot="heading">    <span class="h5">Get the app.</span>    
<span class="h1 enlighten"><b>Manage your energy account</b>, whenever, wherever</span>  </h2>  <p slot="paragraph">Our app lets you send meter readings, pay your bills, set budgets and more. You can also book repairs and chat to an adviser when you need help.</p>  <a slot="cta" href="../12-completion">    <ns-cta type="direct" >Download our app</ns-cta>  </a>  <ns-image slot="image" ratio="4x3" src="https://user-images.githubusercontent.com/2879249/95380246-5fec0f80-08de-11eb-8d64-a929d394998e.jpg"></ns-image></ns-lockup>
 </ns-panel>