---
title: GAQ Conversion
eleventyNavigation:
  key: GAQ conversion
  parent: es
  title: Get a quote conversion
  excerpt: Existing customer GAQ journey
---

<ns-landmark type="lakeside">
  <h1 slot="heading">
    <span class="h1">Hi Firstname Lastname</span>
  </h1>
  <p slot="paragraph">Let's find an energy tariff for you.</p>
</ns-landmark>

<ns-panel>
  <ns-form class="splash" nf-model="model.get-a-quote">
    <ns-inputter validation="[&quot;isRequired&quot;]" heading="Which address is your quote for?" name="customer" value="">
      <input type="radio" id="radio-a-1" name="radio-a" value="No" checked>
      <label for="radio-a-1">An existing address</label>
      <input type="radio" id="radio-a-2" name="radio-a" value="Yes">
      <label for="radio-a-2">A new address</label>
    </ns-inputter>

<ns-inputter validation="[&quot;isRequired&quot;]" heading="Your address" helper="This should be the property you'd like us to supply energy to" name="your-address" value="">  
  <label slot="label" for="nsid-xof8h6ihrj-input">Your address</label>  
  <select name="select" id="nsid-xof8h6ihrj-input">    
    <option value="">Mill House, Fire Bell Alley, Ewell Road, Surbiton, Surrey, KT6 6JB</option>    
  </select></ns-inputter>


    <ns-inputter validation="[&quot;isRequired&quot;]" heading="Your address" helper="This should be the property you'd like us to supply energy to" name="moving-home" value="">
      <input type="radio" id="radio-b-1" name="radio-b" value="No" checked>
      <label for="radio-b-1">No</label>
      <input type="radio" id="radio-b-2" name="radio-b" value="Yes">
      <label for="radio-b-2">Yes</label>
    </ns-inputter>
    <ns-cta nf-href="DYNAMIC">Continue</ns-cta>
  </ns-form>
</ns-panel>

<script>
  function getDynamicURL() {
    var data = document.querySelector('ns-inputter[name="customer"]').value;
    if (data === 'No') {
      return '02-quote-type';
    }
    else {
      return 'https://www.britishgas.co.uk/identity/';
    }
  }
</script>
