---
layout: structure.njk
---

<ns-landmark type="lakeside">
  <h1 slot="heading">
    <span class="h5">Nucleus.</span>
    <span class="h1">Structure</span>
  </h1>
  <div slot="paragraph">
    <p>An example page containing the basic structure of the HTML.</p>
  </div>
</ns-landmark>

<ns-panel>
  <div class="splash">
    <h2>Lighthouse report on this page</h2>
    <p class="p-normal">Take a look at how this page performs, here you can see the <a href="https://lighthouse-dot-webdotdevsite.appspot.com//lh/html?url=https%3A%2F%2Fnucleus-prototype.netlify.app%2Fstructure%2F">Nucleus Structure Lighthouse report.</a></p>
  </div>
</ns-panel>
