---
title: make-a-complaint-webform-confirm
---

<ns-landmark type="hillside">
  <h1 slot="heading">
    <span class="h5">Making a complaint.</span>
    <span class="h1 enlighten"><b>Your complaint</b> has been sent</b>
    </span>
  </h1>
  <div slot="paragraph">
    <p>Your reference number is: <b>25823</b>.<br>We have also emailed this to you.</p>
  </div>
</ns-landmark>

<ns-panel>
  <div class="splash">
    <h3 class="h5 enlighten">This month the average time it is taking to resolve a complaint is between <b>{XX}</b> and <b>{XX}</b> days, depending on the complexity of the complaint.</h3>
    <h3 class="h5 enlighten">One of our Customer Service Advisors will be in touch using the contact details you provided.</h3> 
  </div>
</ns-panel>
