<ns-card type="support" image="https://user-images.githubusercontent.com/52657167/75148341-4d2e1d00-56f7-11ea-96a1-a64d9dbef212.jpg">
  <h3 slot="heading">Get 35% off Hive Active Heating</h3>
  <p slot="paragraph">We’ll also send one of our trusted British Gas engineers to do your installation.</p>
  <p slot="paragraph"><b>Ends Thursday 30 April</b></p>
  <div slot="cta">
    <ns-cta type="text" href="../rewards-details-hive">Find out more about Hive Heating offer</ns-cta>
  </div>
</ns-card>