<!doctype html>
<html lang="en">
<head>
  <title>oam-dashboard.html</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
</head>
<body>
  <div class="ndsn">
    <ns-header></ns-header>
    <main>
<!--   ____       _                                _                     -->
<!--  | __ )  ___| |___      _____  ___ _ __      | |__   ___ _ __ ___   -->
<!--  |  _ \ / _ \ __\ \ /\ / / _ \/ _ \ '_ \     | '_ \ / _ \ '__/ _ \  -->
<!--  | |_) |  __/ |_ \ V  V /  __/  __/ | | |    | | | |  __/ | |  __/  -->
<!--  |____/ \___|\__| \_/\_/ \___|\___|_| |_|    |_| |_|\___|_|  \___|  -->


<!-- NOTE @drew 2020-01-23 this mockup for the OAM header is not to be distributed -->
<ns-panel class="ns-panel" decoration="invert-concave-blue">
  <div class="splash">
    <p>61 Rage Road, Ragefield, R4 6ED&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u>Moving home?</u>&nbsp; | &nbsp;<u>Account overview</u></p>
  </div>
</ns-panel>

<ns-tabs>
  <ns-tab icon="gas" slot="tab" selected="true">Gas</ns-tab>
  <ns-panel slot="panel">
    <div class="splash">
      Gas content
    </div>
  </ns-panel>
  <ns-tab icon="electricity" slot="tab">Electricity</ns-tab>
  <ns-panel slot="panel">
    <div class="splash">
      Electricity content
    </div>
  </ns-panel>
  <ns-tab icon="rewards" slot="tab">Rewards</ns-tab>
  <ns-panel slot="panel">
      <ns-lockup type="locknut" decoration="">
  <h2 slot="heading">
    <span class="h5">Your Rewards.</span>
    <span class="h1 enlighten"> Confetti shower? That means <b> you've won!</b></span>
  </h2>
  <p slot="paragraph">Congrats! You’ve won a prize! You’ll need to claim before you can view any other offers.</p>
  <a slot="cta" href="rewards-details-wilbur-event-won.html">
    <ns-cta type="direct">View my prize</ns-cta>
  </a>
  <ns-image slot="image" ratio="4x3" src="https://user-images.githubusercontent.com/49559070/74146816-d888b800-4bf9-11ea-9f66-3362ad4814b9.jpg"></ns-image>
      </ns-lockup>

  </ns-panel>
</ns-tabs>




<!--      _              _      _                     -->
<!--     / \   _ __   __| |    | |__   ___ _ __ ___   -->
<!--    / _ \ | '_ \ / _` |    | '_ \ / _ \ '__/ _ \  -->
<!--   / ___ \| | | | (_| |    | | | |  __/ | |  __/  -->
<!--  /_/   \_\_| |_|\__,_|    |_| |_|\___|_|  \___|  -->

    </main>
    <ns-footer></ns-footer>
  </div>
  <script type="text/javascript" src="https://www.britishgas.co.uk/nucleus/nucleus.min.js"></script>
</body>
</html>





​