---
title: rewards-details-local
---

{% include "./_includes/account-logged-in.njk" -%}


<ns-landmark type="lakeside">
  <h1 slot="heading">
    <span class="h5">British Gas Rewards.</span>
    <span class="h1 enlighten"><b>20% discount</b> on Local Heroes jobs</span>
  </h1>
  <div slot="paragraph">
    <p>Whether it’s a plumber to fix a leak or someone to plaster a wall, there’s a Local Hero for it.</p>
  </div>
  <a slot="cta" href="../rewards-confirm-local">
    <ns-cta type="direct">Claim your discount</ns-cta>
  </a>
</ns-landmark>

<ns-editorial reverse="" image="https://user-images.githubusercontent.com/52657167/75049190-af9dd800-54c1-11ea-97a2-4b077adde7d7.jpg">
  <h2 slot="heading">Need a tradesperson?</h2>
  <p>Get 20% off jobs booked online through Local Heroes, up to a maximum of £50 discount.</p>
  <p>Get your discount code and use it as many times as you like, as long as the work is completed and paid for by the 4th August 2020.</p>

  <h2>What you get</h2>
  <ul class="ul-bullet">
    <li>Local Heroes offer a variety of fully vetted local tradespeople – choose from tilers and plasterers to electricians and locksmiths</li>
    <li>A 12 month guarantee on all work, backed by British Gas</li>
    <li>A service you can trust. Our customers rate us 4.7 out of 5 on Trustpilot (based on 8,675 reviews completed by 20th December 2019)</li>
    <li>Discount not applicable on British Gas Repair and Cover, new boilers with installation or electric vehicle charger installation</li>
  </ul>

  <p>Read the terms and conditions for the <a href="https://www.britishgas.co.uk/aem6/content/dam/britishgas/downloads/rewards/CLUB10131-01-TandC-Local-Heroes-20-off.pdf"><ns-icon style="width: 1em; height: 1em; position: relative; top: 0.15em;" type="download"></ns-icon>Local Heroes discount (<abbr title="Portable Document Format">PDF</abbr> 32<abbr title="Kilobytes">kB</abbr>)</a></p>

</ns-editorial>

<ns-panel decoration="" class="">
  <div class="splash">
    <h2 class="">All your offers</h2>
  </div>

  <div class="splash triple">
  {% include "./_includes/ns-card-cheque.njk" -%}
  {% include "./_includes/ns-card-loyalty.njk" -%}
  {% include "./_includes/ns-card-o2.njk" -%}
  </div>
</ns-panel>
​

<ns-tabs>
  <ns-tab slot="tab">Summary</ns-tab>

  <ns-panel slot="panel">
    <div class="splash">
      <ns-table>
        <table>
          <tbody>
            <tr>
              <td>Offers you've chosen</td>
              <td>0</td>
            </tr>
            <tr>
              <td>Estimated savings so far</td>
              <td>£0</td>
            </tr>
            <tr>
              <td>Free loyalty days</td>
              <td>0</td>
            </tr>
            <tr>
              <td>Prize draws entered</td>
              <td>0</td>
            </tr>
          </tbody>
        </table>
      </ns-table>
    </div>
  </ns-panel>


  <ns-tab slot="tab">Claimed offers</ns-tab>
  <ns-panel slot="panel">
  </ns-panel>


  <ns-tab slot="tab">Expired offers</ns-tab>
  <ns-panel slot="panel">
    <div class="splash triple" role="list">
      <ns-card role="listitem" type="support">
        <h3 slot="heading">20% discount on Local Heroes jobs</h3>
        <div slot="paragraph">
          <p><b>Ended 3 January 2020</b></p>
        </div>
      </ns-card>
      <ns-card role="listitem" type="support">
        <h3 slot="heading">Wilbur giveaway</h3>
        <div slot="paragraph">
          <p><b>Ended 1 Decemeber 2019</b></p>
        </div>
      </ns-card>
      <ns-card role="listitem" type="support">
        <h3 slot="heading">Win 'An evening with Dee' tickets</h3>
        <div slot="paragraph">
          <p><b>Ended 15 November 2019</b></p>
        </div>
      </ns-card>
      <ns-card role="listitem" type="support">
        <h3 slot="heading">Buy one get one Dee</h3>
        <div slot="paragraph">
          <p><b>Ended 3 November 2019</b></p>
        </div>
      </ns-card>
    </div>
  </ns-panel>

</ns-tabs>


{% include "./_includes/ns-card-leave.njk" -%}