<ns-card role="listitem" type="support">
	<h3 slot="heading">Get free electricity with Loyalty Days</h3>
	<div slot="paragraph">
	  <p><a href="https://www.britishgas.co.uk/aem6/content/dam/britishgas/downloads/rewards/CLUB10131-01-TandC-Local-Heroes-20-off.pdf"><ns-icon style="width: 1em; height: 1em; position: relative; top: 0.15em;" type="download"></ns-icon>Terms and conditions (<abbr title="Portable Document Format">PDF</abbr> 32<abbr title="Kilobytes">kB</abbr>)</a></p>
	  <p>To thank you for being a customer we're giving you 6 days of free daytime electricity, over a year.</p>
	  <p><b>Ends Friday 28 February</b></p>
	</div>
</ns-card>