---
title: Hi Rob
eleventyNavigation:
key: Hello World
parent: rob
excerpt: Sandbox for rob
---

<ns-landmark type="hillside">
  <h1 slot="heading">
    <span class="h5">He's going to break stuff.</span>
    <span class="h1 enlighten">Rob is<b> fiddling about</b> with things!</span>
  </h1>
  <div slot="paragraph">
    <p>This is the index page of <b>{{title}}</b>. It is working now.</p>
  </div>
</ns-landmark>
<ns-editorial image="/aem6/content/dam/britishgas/images/ns/image4_3.png">
  <h2 slot="heading">Black Typewriter seitan chartreuse mustache</h2>
  <p>Cornhole woke literally aesthetic tacos raclette. Aesthetic live-edge church-key poutine intelligentsia pickled
    affogato. Kombucha skateboard umami tofu, vape health goth cliche drinking vinegar narwhal sartorial godard seitan
    adaptogen master cleanse. Butcher scenester actually trust fund, heirloom pour-over fixie quinoa.</p>
  <h2>Wayfarers taxidermy shabby chic heirloom</h2>
  <p>Polaroid actually neutra readymade. Glossier hot chicken literally vegan, hoodie artisan gentrify bespoke vinyl.
    Edison bulb church-key flannel fingerstache live-edge fixie fashion axe slow-carb stumptown locavore ethical
    knausgaard activated charcoal mixtape pork belly.</p>
  <h2>Sustainable forage lyft</h2>
  <ul class="ul-bullet">
    <li>Edison bulb</li>
    <li>Ethical knausgaard</li>
    <li>Activated</li>
    <li>Charcoal mixtape</li>
  </ul>
  <p>Hashtag cardigan brooklyn selfies blue bottle. Coloring book biodiesel pabst dreamcatcher brooklyn helvetica man
    braid subway tile. </p>
  <h2>Put a bird on it bespoke authentic</h2>
  <p>Williamsburg chillwave fixie, irony meh tofu jean shorts helvetica trust fund next level vape live-edge cornhole.
    Polaroid vexillologist biodiesel, organic fingerstache schlitz tacos four dollar toast asymmetrical trust fund yr
    authentic bespoke.</p>
  <a href="#!">
    <ns-cta type="direct" href="" icon="arrow-right" onclick="action()" loading="false" loadingmessage="Loading...">
      Gentrify forage flexitarian</ns-cta>
  </a>
</ns-editorial>
<ns-panel>
  <ns-form>
    <ns-inputter heading="Which do you want to bring to your new home?" value="gas" name="gas">
      <ns-column hockeypitch="3">
        <ns-selector decoration="gas">
          <input type="radio" id="question-gas" name="question" value="gas"
            aria-describedby="selector-nsid-ekthyeskzt5">
          <label for="question-gas">Gas</label>
          <div slot="description" id="selector-nsid-ekthyeskzt5">
            <ns-pill colour="yellow" icon="tag">500% off</ns-pill>
            <h3 class="h5 enlighten">About gas tariff</h3>
            <ul class="ul-ticked">
              <li>Wolf plaid crucifix hammock</li>
              <li>Kale chips live-edge</li>
              <li>Subway tile squid godard occupy shabby chic blog hell</li>
            </ul>
          </div>
        </ns-selector>
        <ns-selector decoration="bulb"> <input type="radio" id="question-electricity" name="question"
            value="electricity" aria-describedby="selector-nsid-8024ipf7fj8"> <label
            for="question-electricity">Electricity</label>
          <div slot="description" id="selector-nsid-8024ipf7fj8">
            <h3 class="h5 enlighten">About electricity tariff</h3>
            <ul class="ul-ticked">
              <li>Wolf plaid crucifix hammock</li>
              <li>Kale chips live-edge</li>
              <li>Subway tile squid godard occupy shabby chic blog hell</li>
            </ul>
          </div>
        </ns-selector>
        <ns-selector decoration="protect"> <input type="radio" id="question-home" name="question" value="home"
            aria-describedby="selector-nsid-36mxtqromvr"> <label for="question-home">HomeCare</label>
          <div slot="description" id="selector-nsid-36mxtqromvr">
            <h3 class="h5 enlighten">Included in HomeCare 3</h3>
            <ul class="ul-ticked">
              <li>Wolf plaid crucifix hammock</li>
              <li>Kale chips live-edge</li>
              <li>Subway tile squid godard occupy shabby chic blog hell</li>
            </ul>
          </div>
        </ns-selector>
      </ns-column>
    </ns-inputter>

  </ns-form>
</ns-panel>
  <ns-panel decoration="invert-bridge-cyan">
<ns-lockup type="lockbox">
  <h2 slot="heading"> <span class="h5">Our Home Services.</span> <span class="h1 enlighten"><b>OK then,</b> where is my
      image?</span> </h2>
  <p slot="paragraph">Here it is to the left at 16:9 ratio. When to use 4:3.</p> <a slot="cta" href="#!">
    <ns-cta type="direct">Ask Drew</ns-cta>
  </a>
  <ns-image slot="image" ratio="16x9"
    src="https://user-images.githubusercontent.com/78355810/107644431-54836900-6c6f-11eb-8f01-96ff5bc0686c.jpg">
  </ns-image>
</ns-lockup>
</ns-panel>
<ns-panel>
  <ns-article>
    <ns-content>
      <h2>Typewriter seitan chartreuse mustache</h2>
      <p>Cornhole woke literally aesthetic tacos raclette. Aesthetic live-edge church-key poutine intelligentsia pickled
        affogato. Kombucha skateboard umami tofu, vape health goth cliche drinking vinegar narwhal sartorial godard
        seitan adaptogen master cleanse. Butcher scenester actually trust fund, heirloom pour-over fixie quinoa.</p>
      <p>Williamsburg chillwave fixie, irony meh tofu jean shorts helvetica trust fund next level vape live-edge
        cornhole. Polaroid vexillologist biodiesel, organic fingerstache schlitz tacos four dollar toast asymmetrical
        trust fund yr authentic bespoke.</p>
      <h3>Wayfarers taxidermy shabby chic heirloom</h3>
      <ol class="ul-bullet">
        <li>Edison bulb</li>
        <li>Ethical knausgaard</li>
        <li>Activated</li>
        <li>Charcoal mixtape</li>
      </ol>
      <ns-table>
        <table>
          <caption hidden="">Financial Report</caption>
          <thead>
            <tr>
              <th scope="col">Column - 0</th>
              <th scope="col">Column - 1</th>
              <th scope="col">Column - 2</th>
              <th scope="col">Column - 3</th>
              <th scope="col">Column - 4</th>
              <th scope="col">Column - 5</th>
              <th scope="col">Column - 6</th>
              <th scope="col">Column - 7</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Column - 0</td>
              <td>Column - 1</td>
              <td>Column - 2</td>
              <td>Column - 3</td>
              <td>Column - 4</td>
              <td>Column - 5</td>
              <td>Column - 6</td>
              <td>Column - 7</td>
            </tr>
            <tr>
              <td>Column - 0</td>
              <td>Column - 1</td>
              <td>Column - 2</td>
              <td>Column - 3</td>
              <td>Column - 4</td>
              <td>Column - 5</td>
              <td>Column - 6</td>
              <td>Column - 7</td>
            </tr>
          </tbody>
        </table>
      </ns-table>
      <figure>
        <ns-video id="dQw4w9WgXcQ" ratio="16x9" title="Rick Astley, Never going to give you up music video"></ns-video>
        <figcaption>Coloring book biodiesel pabst</figcaption>
      </figure>
      <ol class="ol-numbered">
        <li>Edison bulb</li>
        <li>Ethical knausgaard</li>
        <li>Activated</li>
        <li>Charcoal mixtape</li>
      </ol>
    </ns-content>

    <ns-accordion>
      <h3 slot="heading">Frequently asked questions</h3>
      <ns-expander open="false">
        <h4 slot="heading">Can I manage my account online?</h4>
        <p> Yes, with an online account you can arrange a service visit, find out whatʼs happening with your
          appointment,
          submit a meter reading and book an engineer. Weʼve even got a free smartphone app. </p>
      </ns-expander>
      <ns-expander open="false">
        <h4 slot="heading">Can I manage my account online 2?</h4>
        <p> Yes, with an online account you can arrange a service visit, find out whatʼs happening with your
          appointment,
          submit a meter reading and book an engineer. Weʼve even got a free smartphone app. </p>
      </ns-expander>
      <ns-expander open="false">
        <h4 slot="heading">Can I manage my account online 3?</h4>
        <p> Yes, with an online account you can arrange a service visit, find out whatʼs happening with your
          appointment,
          submit a meter reading and book an engineer. Weʼve even got a free smartphone app. </p>
      </ns-expander>
      <ns-expander open="false">
        <h4 slot="heading">Can I manage my account online 4?</h4>
        <p> Yes, with an online account you can arrange a service visit, find out whatʼs happening with your
          appointment,
          submit a meter reading and book an engineer. Weʼve even got a free smartphone app. </p>
      </ns-expander>
    </ns-accordion>
  </ns-article>
</ns-panel>
<ns-panel>
  <!-- Only here to keep the decoration -->
</ns-panel>
<ns-panel decoration="">
  <h2>Want something more?</h2>
  <ns-column hockeypitch="3" role="list">
    <ns-card role="listitem" type="support" image="/aem6/content/dam/britishgas/images/ns/homepage/fp-home-card1.jpg">
      <h3 slot="heading" role="heading" aria-level="3">Discounts</h3>
      <p slot="paragraph">Get big discounts on things like family days out and great restaurants, plus some of our other
        products and services.</p>
    </ns-card>
    <ns-card role="listitem" type="support" image="/aem6/content/dam/britishgas/images/ns/homepage/fp-home-card2.jpg">
      <h3 slot="heading" role="heading" aria-level="3">Giveaways</h3>
      <p slot="paragraph">We love treating our customers to things like movie nights, drinks and ice cream, plus more
        practical gifts like free energy with Loyalty Days.</p>
    </ns-card>
    <ns-card role="listitem" type="support"
      image="https://www.britishgas.co.uk/nucleus/aem6/content/dam/britishgas/images/ns/homepage/fp-home-card3.jpg">
      <h3 slot="heading" role="heading" aria-level="3">Prize Draws</h3>
      <p slot="paragraph">Win tickets to see your favourite acts live at The O2, free holidays, Wilbur toys and more.
        <b>Come see what's up for grabs!</b></p>
    </ns-card>
  </ns-column>
</ns-panel>