---
title: ns-selector-1912
branch: 489c3a8ac542d988e18555d7974e4fc98e86e6c8
---
<ns-panel>
    <ns-form>
      <ns-inputter>
        <ns-column hockeypitch="3">
          <ns-selector>
            <input type="radio" id="radio-a-1" name="radio-a">
            <label for="radio-a-1">Subway tile wayfarers</label>
            <div slot="description">
              <p class="h2 enlighten"><b>2 months</b> <span>free</span></p>
              <p class="h3 enlighten">something <span>else</span></p>
              <ul class="ul-bullet">
                <li>Bun echo park coloring book seitan raw denim</li>
                <li>Swag schlitz ethical</li>
                <li>Leggings shaman photo booth squid lumber</li>
                <li>Blog try-hard cronut four loko</li>
                <li>Lyft pinterest artisan</li>
              </ul>
              <ns-expander>
                <h3 slot="heading">What's included?</h3>
                <p>Treet art wolf you probably haven't heard of them butcher, trust fund tilde af typewriter blue bottle kinfolk pinterest helvetica.</p>
                <ul class="ul-bullet">
                  <li>Authentic lo-fi ethical put a bird on.</li>
                  <li>Tote bag mumblecore poke small batch.</li>
                  <li>Cornhole hella next level food truck retro intelligentsia.</li>
                  <li>Cold-pressed adaptogen waistcoat.</li>
                  <li>Meh forage actually cliche tilde, roof party butcher shabby.</li>
                  <li>Bespoke kombucha meditation.</li>
                </ul>
              </ns-expander>
              <ns-expander>
                <h3 slot="heading">What's included?</h3>
                <p>Treet art wolf you probably haven't heard of them butcher, trust fund tilde af typewriter blue bottle kinfolk pinterest helvetica.</p>
                <ul class="ul-ticked">
                  <li>Authentic lo-fi ethical put a bird on.</li>
                  <li>Tote bag mumblecore poke small batch.</li>
                  <li>Cornhole hella next level food truck retro intelligentsia.</li>
                  <li>Cold-pressed adaptogen waistcoat.</li>
                  <li>Meh forage actually cliche tilde, roof party butcher shabby.</li>
                  <li>Bespoke kombucha meditation.</li>
                </ul>
              </ns-expander>
              <ns-expander>
                <h3 slot="heading">What's not included?</h3>
                <p>Pour-over pok pok selfies hexagon gastropub crucifix try-hard. Selfies seitan letterpress iPhone. Food truck you probably haven't heard of them pork belly poke master cleanse pok pok. Cardigan cronut hoodie plaid intelligentsia tousled <a href="#!">succulents etsy</a>.</p>
                <ul class="ul-crossed">
                  <li>Authentic lo-fi ethical put a bird on.</li>
                  <li>Tote bag mumblecore poke small batch.</li>
                  <li>Cornhole hella next level food truck retro intelligentsia.</li>
                  <li>Cold-pressed adaptogen waistcoat.</li>
                  <li>Meh forage actually cliche tilde, roof party butcher shabby.</li>
                  <li>Bespoke kombucha meditation.</li>
                </ul>
              </ns-expander>
            </div>
          </ns-selector>
          <ns-selector>
            <input type="radio" id="radio-a-2" name="radio-a">
            <label for="radio-a-2">Pug enamel pin post</label>
            <div slot="description">
              <p class="h2 enlighten"><b><ns-price pence="1200"></ns-price></b> <span>a month</span></p>
              <ul class="ul-bullet">
                <li>Tote bag marfa quinoa</li>
                <li>Bilde truffaut drinking vinegar</li>
                <li>Gentrify taxidermy selvage coloring</li>
              </ul>
              <ns-expander>
                <h3 slot="heading">What's included?</h3>
                <p>Treet art wolf you probably haven't heard of them butcher, trust fund tilde af typewriter blue bottle kinfolk pinterest helvetica.</p>
                <ul class="ul-ticked">
                  <li>Authentic lo-fi ethical put a bird on.</li>
                  <li>Tote bag mumblecore poke small batch.</li>
                  <li>Cornhole hella next level food truck retro intelligentsia.</li>
                  <li>Cold-pressed adaptogen waistcoat.</li>
                  <li>Meh forage actually cliche tilde, roof party butcher shabby.</li>
                  <li>Bespoke kombucha meditation.</li>
                </ul>
              </ns-expander>
              <ns-expander>
                <h3 slot="heading">What's not included?</h3>
                <p>Pour-over pok pok selfies hexagon gastropub crucifix try-hard. Selfies seitan letterpress iPhone. Food truck you probably haven't heard of them pork belly poke master cleanse pok pok. Cardigan cronut hoodie plaid intelligentsia tousled <a href="#!">succulents etsy</a>.</p>
                <ul class="ul-crossed">
                  <li>Authentic lo-fi ethical put a bird on.</li>
                  <li>Tote bag mumblecore poke small batch.</li>
                  <li>Cornhole hella next level food truck retro intelligentsia.</li>
                  <li>Cold-pressed adaptogen waistcoat.</li>
                  <li>Meh forage actually cliche tilde, roof party butcher shabby.</li>
                  <li>Bespoke kombucha meditation.</li>
                </ul>
              </ns-expander>
            </div>
          </ns-selector>
          <ns-selector>
            <input type="radio" id="radio-a-3" name="radio-a">
            <label for="radio-a-3">Taiyaki actually tousled</label>
            <div slot="description">
              <p class="h2 enlighten"><b><ns-price pence="19899"></ns-price></b> <span>a year</span></p>
              <ul class="ul-bullet">
                <li>Artisan iceland hammock echo park</li>
                <li>Paleo tumblr cardigan man braid</li>
                <li>Ditch sustainable typewriter gentrify <!--distillery ramps --></li>
              </ul>
              <ns-expander>
                <h3 slot="heading">What's included?</h3>
                <p>Treet art wolf you probably haven't heard of them butcher, trust fund tilde af typewriter blue bottle kinfolk pinterest helvetica.</p>
                <ul class="ul-ticked">
                  <li>Authentic lo-fi ethical put a bird on.</li>
                  <li>Tote bag mumblecore poke small batch.</li>
                  <li>Cornhole hella next level food truck retro intelligentsia.</li>
                  <li>Cold-pressed adaptogen waistcoat.</li>
                  <li>Meh forage actually cliche tilde, roof party butcher shabby.</li>
                  <li>Bespoke kombucha meditation.</li>
                </ul>
              </ns-expander>
              <ns-expander>
                <h3 slot="heading">What's not included?</h3>
                <p>Pour-over pok pok selfies hexagon gastropub crucifix try-hard. Selfies seitan letterpress iPhone. Food truck you probably haven't heard of them pork belly poke master cleanse pok pok. Cardigan cronut hoodie plaid intelligentsia tousled <a href="#!">succulents etsy</a>.</p>
                <ul class="ul-crossed">
                  <li>Authentic lo-fi ethical put a bird on.</li>
                  <li>Tote bag mumblecore poke small batch.</li>
                  <li>Cornhole hella next level food truck retro intelligentsia.</li>
                  <li>Cold-pressed adaptogen waistcoat.</li>
                  <li>Meh forage actually cliche tilde, roof party butcher shabby.</li>
                  <li>Bespoke kombucha meditation.</li>
                </ul>
              </ns-expander>
            </div>
          </ns-selector>
          <ns-selector>
            <input type="radio" id="radio-a-1" name="radio-a">
            <label for="radio-a-1">Subway tile wayfarers</label>
            <div slot="description">
              <p class="h2 enlighten"><b>2 months</b> <span>free</span></p>
              <p class="h3 enlighten">something <span>else</span></p>
              <ul class="ul-bullet">
                <li>Bun echo park coloring book seitan raw denim</li>
                <li>Swag schlitz ethical</li>
                <li>Leggings shaman photo booth squid lumber</li>
                <li>Blog try-hard cronut four loko</li>
                <li>Lyft pinterest artisan</li>
              </ul>
              <ns-expander>
                <h3 slot="heading">What's included?</h3>
                <p>Treet art wolf you probably haven't heard of them butcher, trust fund tilde af typewriter blue bottle kinfolk pinterest helvetica.</p>
                <ul class="ul-bullet">
                  <li>Authentic lo-fi ethical put a bird on.</li>
                  <li>Tote bag mumblecore poke small batch.</li>
                  <li>Cornhole hella next level food truck retro intelligentsia.</li>
                  <li>Cold-pressed adaptogen waistcoat.</li>
                  <li>Meh forage actually cliche tilde, roof party butcher shabby.</li>
                  <li>Bespoke kombucha meditation.</li>
                </ul>
              </ns-expander>
              <ns-expander>
                <h3 slot="heading">What's included?</h3>
                <p>Treet art wolf you probably haven't heard of them butcher, trust fund tilde af typewriter blue bottle kinfolk pinterest helvetica.</p>
                <ul class="ul-ticked">
                  <li>Authentic lo-fi ethical put a bird on.</li>
                  <li>Tote bag mumblecore poke small batch.</li>
                  <li>Cornhole hella next level food truck retro intelligentsia.</li>
                  <li>Cold-pressed adaptogen waistcoat.</li>
                  <li>Meh forage actually cliche tilde, roof party butcher shabby.</li>
                  <li>Bespoke kombucha meditation.</li>
                </ul>
              </ns-expander>
              <ns-expander>
                <h3 slot="heading">What's not included?</h3>
                <p>Pour-over pok pok selfies hexagon gastropub crucifix try-hard. Selfies seitan letterpress iPhone. Food truck you probably haven't heard of them pork belly poke master cleanse pok pok. Cardigan cronut hoodie plaid intelligentsia tousled <a href="#!">succulents etsy</a>.</p>
                <ul class="ul-crossed">
                  <li>Authentic lo-fi ethical put a bird on.</li>
                  <li>Tote bag mumblecore poke small batch.</li>
                  <li>Cornhole hella next level food truck retro intelligentsia.</li>
                  <li>Cold-pressed adaptogen waistcoat.</li>
                  <li>Meh forage actually cliche tilde, roof party butcher shabby.</li>
                  <li>Bespoke kombucha meditation.</li>
                </ul>
              </ns-expander>
            </div>
          </ns-selector>
          <ns-selector>
            <input type="radio" id="radio-a-2" name="radio-a">
            <label for="radio-a-2">Pug enamel pin post</label>
            <div slot="description">
              <p class="h2 enlighten"><b><ns-price pence="1200"></ns-price></b> <span>a month</span></p>
              <ul class="ul-bullet">
                <li>Tote bag marfa quinoa</li>
                <li>Bilde truffaut drinking vinegar</li>
                <li>Gentrify taxidermy selvage coloring</li>
              </ul>
              <ns-expander>
                <h3 slot="heading">What's included?</h3>
                <p>Treet art wolf you probably haven't heard of them butcher, trust fund tilde af typewriter blue bottle kinfolk pinterest helvetica.</p>
                <ul class="ul-ticked">
                  <li>Authentic lo-fi ethical put a bird on.</li>
                  <li>Tote bag mumblecore poke small batch.</li>
                  <li>Cornhole hella next level food truck retro intelligentsia.</li>
                  <li>Cold-pressed adaptogen waistcoat.</li>
                  <li>Meh forage actually cliche tilde, roof party butcher shabby.</li>
                  <li>Bespoke kombucha meditation.</li>
                </ul>
              </ns-expander>
              <ns-expander>
                <h3 slot="heading">What's not included?</h3>
                <p>Pour-over pok pok selfies hexagon gastropub crucifix try-hard. Selfies seitan letterpress iPhone. Food truck you probably haven't heard of them pork belly poke master cleanse pok pok. Cardigan cronut hoodie plaid intelligentsia tousled <a href="#!">succulents etsy</a>.</p>
                <ul class="ul-crossed">
                  <li>Authentic lo-fi ethical put a bird on.</li>
                  <li>Tote bag mumblecore poke small batch.</li>
                  <li>Cornhole hella next level food truck retro intelligentsia.</li>
                  <li>Cold-pressed adaptogen waistcoat.</li>
                  <li>Meh forage actually cliche tilde, roof party butcher shabby.</li>
                  <li>Bespoke kombucha meditation.</li>
                </ul>
              </ns-expander>
            </div>
          </ns-selector>
         
        </ns-column>
      </ns-inputter>
    </ns-form>
  </ns-panel>
  