---
title: Editorial 2.0 Experiments 
eleventyNavigation:
  key: Editorial
  parent: pete
  title: Editorial
  excerpt: Experimentation with the editorial
---

  <ns-landmark type="summit" image="https://britishgas.co.uk/aem6/content/dam/britishgas/images/home-services/New-Soap-Face-Home-Servicesv2.jpg">
    <h1 slot="heading">
      <span class="h5">ns-editorial &amp; long-form content.</span>
      <span class="h1">Exploration</span>
    </h1>
    <p slot="paragraph">Content types and stress-testing.</p>
  </ns-landmark>

  <!---- PLACEHOLDER WRAPPER FOR MANAGING THE BREAKPOINTS ---->


      <!---- INTRO ---->
      <section class="editorial_2 intro ">
        <p class="p-large">Varius ornare est a convallis. Donec mollis lectus sem, vel sagittis mauris sollicitudin et. Pellentesque placerat augue nec viverra condimentum. Quisque ornare dictum interdum. Fusce commodo nibh sit amet risus dictum, nec fringilla nisi vestibulum. Fusce aliquet lorem vitae sodales finibus. Aliquam erat volutpat. Aenean tempus dapibus ornare.</p>
      </section>

      <!---- VIDEO ONLY WITH CAPTION ---->
      <section class="editorial_2">
        <div class="video-container">
          <iframe class="responsive-iframe" src="https://www.youtube.com/embed/D1sGFZhFFPw"></iframe>
        </div>
        <p class="p-caption media-caption">This is the video caption</p>
      </section>


      <!---- VIDEO WITH CAPTION & CONTENT ---->
      <section class="editorial_2">
        <h2>Video and content section.</h2>
        <div class="video-container">
          <iframe class="responsive-iframe" src="https://www.youtube.com/embed/D1sGFZhFFPw"></iframe>
        </div>
        <p class="p-caption media-caption">This is the video caption</p>
        <p class="p-normal">Donec mollis lectus sem, vel sagittis mauris sollicitudin et. Pellentesque placerat augue nec viverra condimentum.
          Quisque ornare dictum interdum. Fusce commodo nibh sit amet risus dictum, nec fringilla nisi vestibulum. Fusce aliquet lorem vitae sodales finibus. Aliquam erat volutpat. Aenean tempus dapibus ornare.</p>
      </section>

      <!---- COPY BLOCK WITH MIXED STYLES ---->
      <section class="editorial_2">
        <h2>Copy and a list section.</h2>
        <p class="p-normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi laoreet luctus enim at dignissim. Aliquam a tortor tempor, faucibus nulla sed, facilisis mi. Integer sem massa, venenatis non nisi commodo, dictum laoreet odio. In ex ligula, porta non ante nec, finibus scelerisque ipsum.</p>
        <ul class="ul-bullet">
          <li class="p-normal">Pellentesque id ante vel sapien varius consequat et in quam.</li>
          <li class="p-normal">Cras dapibus convallis massa eu tincidunt. </li>
          <li class="p-normal">Nunc id porta ante.</li>
          <li class="p-normal">Curabitur sagittis gravida erat in faucibus.</li>
          <li class="p-normal">Suspendisse eget viverra dui.</li>
        </ul>
        <h3>This is an H3 heading.</h3>
        <p class="p-normal">In varius ornare est a convallis. Donec mollis lectus sem, vel sagittis mauris sollicitudin et. Pellentesque placerat augue nec viverra condimentum. Quisque ornare dictum interdum. Fusce commodo nibh sit amet risus dictum, nec fringilla nisi vestibulum. Fusce aliquet lorem vitae sodales finibus. Aliquam erat volutpat. Aenean tempus dapibus ornare.</p>
      </section>

      <!---- IMAGE WITH COPY ---->
      <section class="editorial_2">
        <h2>Heading and image with content.</h2>
        <img src="https://via.placeholder.com/1600x900.png" alt="">
        <p class="p-caption media-caption">This is the image caption</p>
        <p class="p-normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi laoreet luctus enim at dignissim. Aliquam a tortor tempor, faucibus nulla sed, facilisis mi. Integer sem massa, venenatis non nisi commodo, dictum laoreet odio. In ex ligula, porta non ante nec, finibus scelerisque ipsum. In varius ornare est a convallis.</p>
        <p class="p-normal">Donec mollis lectus sem, vel sagittis mauris sollicitudin et. Pellentesque placerat augue nec viverra condimentum.
          Quisque ornare dictum interdum. Fusce commodo nibh sit amet risus dictum, nec fringilla nisi vestibulum. Fusce aliquet lorem vitae sodales finibus. Aliquam erat volutpat. Aenean tempus dapibus ornare.</p>
      </section>

      <!---- COPY BLOCK WITH MIXED STYLES ---->
      <section class="editorial_2">
        <h2>Section with smaller snippets.</h2>
        <p class="p-normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit:</p>
        <h3>This is an H3 heading.</h3>
        <p class="p-normal">In varius ornare est a convallis. Donec mollis lectus sem, vel sagittis mauris sollicitudin et. Pellentesque placerat augue nec viverra condimentum. Quisque ornare dictum interdum.</p>
        <h3>This is an H3 heading.</h3>
        <p class="p-normal">Fusce commodo nibh sit amet risus dictum, nec fringilla nisi vestibulum. Fusce aliquet lorem vitae sodales finibus. Aliquam erat volutpat. Aenean tempus dapibus ornare.</p>
        <h3>This is an H3 heading.</h3>
        <p class="p-normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi laoreet luctus enim at dignissim. Aliquam a tortor tempor, faucibus nulla sed, facilisis mi. </p>
      </section>

      <!---- COPY BLOCK WITH MIXED STYLES ---->
      <section class="editorial_2">
        <h2>Just a heading and content.</h2>
        <p class="p-normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi laoreet luctus enim at dignissim. Aliquam a tortor tempor, faucibus nulla sed, facilisis mi. Integer sem massa, venenatis non nisi commodo, dictum laoreet odio. In ex ligula, porta non ante nec, finibus scelerisque ipsum. In varius ornare est a convallis.</p>
        <p class="p-normal">Donec mollis lectus sem, vel sagittis mauris sollicitudin et. Pellentesque placerat augue nec viverra condimentum.
          Quisque ornare dictum interdum. Fusce commodo nibh sit amet risus dictum, nec fringilla nisi vestibulum. Fusce aliquet lorem vitae sodales finibus. Aliquam erat volutpat. Aenean tempus dapibus ornare.</p>
        <ns-cta type="direct" href="" icon="arrow-right" onclick="action()" loading="false" loadingmessage="Loading...">Gentrify forage flexitarian</ns-cta>
      </section>


      <ns-panel decoration="">
        <div class="splash">
          <h2>Methods for displaying 2 things.</h2>
        </div>
        <ns-column class="splash" hockeypitch="2" role="list">
          <ns-card role="listitem" type="support" image="https://britishgas.co.uk/aem6/content/dam/britishgas/images/ns/homepage/fp-home-card1.jpg">
            <h3 slot="heading" role="heading" aria-level="3">A heading for a card.</h3>
            <p slot="paragraph">Suspendisse id facilisis quam, finibus tincidunt risus. Nulla augue dolor, aliquam a est et, ultrices tempus dolor. Nam nunc velit, pharetra at consectetur eu, pharetra ut justo. Nullam facilisis bibendum elit, at dignissim nulla consectetur ac. Sed convallis tincidunt augue, at iaculis risus luctus quis. </p>
          </ns-card>
          <ns-card role="listitem" type="support" image="https://britishgas.co.uk/aem6/content/dam/britishgas/images/ns/homepage/fp-home-card2.jpg">
            <h3 slot="heading" role="heading" aria-level="3">To display content variety.</h3>
            <p slot="paragraph">Duis leo nulla, aliquam a pellentesque at, ultricies non metus. Morbi luctus quam magna, lacinia pharetra eros eleifend in. Integer sollicitudin scelerisque urna a placerat. Sed ac tincidunt lorem. Donec ullamcorper convallis dignissim. Aliquam nec urna at magna tincidunt consectetur vestibulum vel dui. </p>
          </ns-card>

        </ns-column>
      </ns-panel>

      <ns-panel decoration="">
        <div class="splash">
          <h2>Methods for displaying 2 things.</h2>
        </div>
        <ns-column class="splash" hockeypitch="2" role="list">
          <ns-card role="listitem" type="flat" image="https://britishgas.co.uk/aem6/content/dam/britishgas/images/ns/homepage/fp-home-card1.jpg">
            <h3 slot="heading" role="heading" aria-level="3">A heading for a card.</h3>
            <p slot="paragraph">Suspendisse id facilisis quam, finibus tincidunt risus. Nulla augue dolor, aliquam a est et, ultrices tempus dolor. Nam nunc velit, pharetra at consectetur eu, pharetra ut justo. Nullam facilisis bibendum elit, at dignissim nulla consectetur ac. Sed convallis tincidunt augue, at iaculis risus luctus quis. </p>
          </ns-card>
          <ns-card role="listitem" type="flat" image="https://britishgas.co.uk/aem6/content/dam/britishgas/images/ns/homepage/fp-home-card2.jpg">
            <h3 slot="heading" role="heading" aria-level="3">To display content variety.</h3>
            <p slot="paragraph">Duis leo nulla, aliquam a pellentesque at, ultricies non metus. Morbi luctus quam magna, lacinia pharetra eros eleifend in. Integer sollicitudin scelerisque urna a placerat. Sed ac tincidunt lorem. Donec ullamcorper convallis dignissim. Aliquam nec urna at magna tincidunt consectetur vestibulum vel dui. </p>
          </ns-card>

        </ns-column>
      </ns-panel>


      <!---- EXPANDERS ---->
      <section class="editorial_2">
        <h2>This is could be for FAQs.</h2>
        <p class="p-normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi laoreet luctus enim at dignissim. Aliquam a tortor tempor, faucibus nulla sed, facilisis mi. Integer sem massa, venenatis non nisi commodo, dictum laoreet odio:</p>
        <h3>Frequently asked questions:</h3>
        <ns-expander open="false">
          <h3 slot="heading">Can I manage my account online?</h3>
          Yes, with an online account you can arrange a service visit,
          find out whatʼs happening with your appointment, submit a meter reading and book an engineer.
          Weʼve even got a free smartphone app.
          <a href="#">online account</a>
        </ns-expander>
        <ns-expander open="false">
          <h3 slot="heading">Can I manage my account online?</h3>
          Yes, with an online account you can arrange a service visit,
          find out whatʼs happening with your appointment, submit a meter reading and book an engineer.
          Weʼve even got a free smartphone app.
          <a href="#">online account</a>
        </ns-expander>
        <ns-expander open="false">
          <h3 slot="heading">Can I manage my account online?</h3>
          Yes, with an online account you can arrange a service visit,
          find out whatʼs happening with your appointment, submit a meter reading and book an engineer.
          Weʼve even got a free smartphone app.
          <a href="#">online account</a>
        </ns-expander>
      </section>

      <section class="editorial_2">
        <h2>Using ns-highlighter.</h2>
        <p class="p-normal">Donec mollis lectus sem, vel sagittis mauris sollicitudin et. Pellentesque placerat augue nec viverra condimentum.
          Quisque ornare dictum interdum. Fusce commodo nibh sit amet risus dictum, nec fringilla nisi vestibulum. Fusce aliquet lorem vitae sodales finibus. Aliquam erat volutpat. Aenean tempus dapibus ornare.</p>
        <ns-highlighter type="info">
          <h2 slot="heading">
            Priority Services Register
          </h2>
          <p>You may be able to receive free priority support, <a href="#!">find out if you qualify</a>.</p>
        </ns-highlighter>
      </section>


      <ns-panel decoration="">
        <div class="splash">
          <h2>Method for displaying 4 things.</h2>
        </div>
        <ns-column class="splash" hockeypitch="2" rugbypitch="4" role="list">
          <ns-card role="listitem" type="flat">
            <h3 slot="heading" role="heading" aria-level="3">A heading for a card.</h3>
            <p slot="paragraph">
              Suspendisse id facilisis quam, finibus tincidunt risus. Nulla augue dolor, aliquam a est et, ultrices tempus dolor. Nam nunc velit, pharetra at consectetur.
            </p>
          </ns-card>
          <ns-card role="listitem" type="flat">
            <h3 slot="heading" role="heading" aria-level="3">To display content variety.</h3>
            <p slot="paragraph">
              Duis leo nulla, aliquam a pellentesque at, ultricies non metus. Morbi luctus quam magna, lacinia pharetra eros eleifend in. Integer sollicitudin scelerisque.
            </p>
          </ns-card>
          <ns-card role="listitem" type="flat">
            <h3 slot="heading" role="heading" aria-level="3">This is 4 pieces of information.</h3>
            <p slot="paragraph">

              Pharetra ut justo. Nullam facilisis bibendum elit, at dignissim nulla consectetur ac. Sed convallis tincidunt augue, at iaculis risus luctus quis.
            </p>
          </ns-card>
          <ns-card role="listitem" type="flat">
            <h3 slot="heading" role="heading" aria-level="3">Only to display snippets</h3>
            <p slot="paragraph">

              Urna a placerat. Sed ac tincidunt lorem. Donec ullamcorper convallis dignissim. Aliquam nec urna at magna tincidunt consectetur vestibulum vel dui. </p>
          </ns-card>
        </ns-column>
      </ns-panel>



      <section class="editorial_2 tldr">
        <p class="p-large">Donec mollis lectus sem, vel sagittis mauris sollicitudin et. Pellentesque placerat augue nec viverra condimentum. Quisque ornare dictum interdum. Fusce commodo nibh sit amet risus dictum, nec fringilla nisi vestibulum. Fusce aliquet lorem vitae sodales finibus. Aliquam erat volutpat. Aenean tempus dapibus ornare.</p>
        <ns-cta type="direct" href="" icon="arrow-right" onclick="action()" loading="false" loadingmessage="Loading...">Gentrify forage flexitarian</ns-cta>
      </section>